<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portal Management</title>

    <script src="/static/js/common/vue.min.js"></script>

    <script src="/static/element-ui/index.js"></script>
    <link rel="stylesheet" href="/static/element-ui/theme-chalk/index.css">

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <style>
        /*基本边距*/
        html,
        body,
        #manage_app {
            margin: 0;
            height: 100%;
            width: 100%;
        }

        /*全局滚动条*/
        ::-webkit-scrollbar{
            width: 5px;
        }
        ::-webkit-scrollbar-thumb{
            border-radius: 4px;
            height: 50px;
            background: rgba(93, 92, 92,0.2);
        }
        ::-webkit-scrollbar-track{
            box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
            border-radius: 2px;
            background: rgba(253, 250, 250, 0.4);
        }


        .el-header, .el-footer {
            background-color: rgba(0, 0, 0, 0.1);
            color: #333;
            text-align: center;
            line-height: 60px;
        }
        .top_head{
            display: flex;
            justify-content: space-between;
        }
        .table_head {
            display: flex;
            justify-content: space-between;
            height: 40px;
            margin-bottom: 10px;
        }
        .table_head_item1{
            flex-grow:1;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        .table_head_item2{
            flex-grow:2;
            display: flex;

        }
        .table_head_item3{
            flex-grow:1;
            display: flex;
            justify-content: flex-end;
        }

        .historyDiv{
            height: 245px;
            overflow: auto;
        }


        .GeoItemLeftMenu{
            border:1px solid rgba(0, 0, 0, 0.3);
            width: 240px;
        }

        .flexRowCenter{
            display: flex;
            justify-content: center;

        }
        .flexRowEnd{
            display: flex;
            justify-content:flex-end;
        }

        .flexRowBetween{
            display: flex;
            justify-content:space-between;
        }

        .flexColumnStart{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }



    </style>
</head>
<body>

<div id="manage_system">
    <el-container class="container">

<!--        顶部-->
        <el-header class="top_head">
            <div>
                <h2 style="font-family:微软雅黑;margin:0px 0px 0px 20px">门户后台管理</h2>
            </div>
            <el-link href="/managementSystem/home" :underline="false" style="margin-right:20px">
                <h2>返回首页</h2>
            </el-link>

        </el-header>
        <el-container>

<!--            左侧导航栏-->
            <el-aside width="200px" >
                <el-menu
                        default-active="1"
                        class="el-menu-vertical-demo">
                    <el-menu-item index="1"  @click="pageChange(1)">
                        <i class="el-icon-menu"></i>
                        <span slot="title">模型管理</span>
                    </el-menu-item>
                    <el-menu-item index="2" @click="pageChange(2)">
                        <i class="el-icon-document"></i>
                        <span slot="title">用户管理</span>
                    </el-menu-item>
                    <el-menu-item index="3" @click="pageChange(3)">
                        <i class="el-icon-menu"></i>
                        <span slot="title">条目管理</span>
                    </el-menu-item>
                    <el-menu-item index="4" @click="pageChange(4)">
                        <i class="el-icon-document"></i>
                        <span slot="title">版本审核</span>
                    </el-menu-item>


                </el-menu>
            </el-aside>
            <el-main>

<!--====================================================================================================================================-->
<!--            模型管理页面-->
                <div v-if="pageShow==1" class="model_list_container">
                    <div class="model_list_container">
<!--                        表格上部菜单-->
                        <div class="table_head">
                            <div class="table_head_item1" >
                                <h2  >模型列表</h2>
                            </div>

<!--                            搜索-->
                            <div class="table_head_item2">
                                <el-input
                                        placeholder="请输入内容"
                                        prefix-icon="el-icon-search"
                                        v-model="searchInput"
                                        @keyup.enter.native="getModelList()"
                                >
                                </el-input>
                                &nbsp;&nbsp;
                                <el-button  type="success" icon="el-icon-search" @click="searchModel()" >搜索</el-button>
                            </div>

<!--                            表格头部菜单-->
                            <div class="table_head_item3" >
                                    <el-button type="primary" icon="el-icon-refresh" @click="UpdateStatus()"></el-button>
                                    <el-button type="primary" @click="getHistoryList()">检测历史</el-button>

                                <el-popover
                                        placement="bottom"
                                        width="330"
                                        trigger="hover"
                                        style="margin-left: 10px">
                                    <el-table :data="waitCheckModels" :show-header="false" max-height="330" stripe>
                                        <el-table-column type="index" width="25"></el-table-column>
                                        <el-table-column width="255" property="modelName" label="名称"></el-table-column>
                                        <el-table-column  label="操作" width="50">
                                            <template slot-scope="scope" >
                                                <el-button size="mini" type="danger" icon="el-icon-delete" @click="deleteCheckModel(scope.row.modelId)" circle></el-button>
                                            </template>
                                        </el-table-column>
                                    </el-table>
                                    <el-button  slot="reference"   type="success" >待检测模型</el-button>
                                    <div class="flexRowEnd">
                                        <el-button  size="medium" type="success" @click="checkSelectedModels()" >检测</el-button>
                                    </div>
                                </el-popover>
                            </div>
                            <div >
                            </div>
                        </div>

                        <!-- 历史记录弹出框 -->
                        <el-dialog title="检测历史记录" :visible.sync="historyTableVisible">

                            <el-collapse v-model="activeHistoryItem" class="historyDiv" accordion>
                                <el-collapse-item v-for="(item, index) in historyList"  :name="index">
                                    <template slot="title">
                                        <h4>{{item.draftName}}</h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <el-button
                                                size="mini"
                                                type="primary"
                                                @click.stop="checkHistoryModels(item.modelList)">Check</el-button>
                                        <el-button
                                                size="mini"
                                                type="success"
                                                @click.stop="loadCheckedModel(item.modelList)">Load</el-button>
                                        <el-button
                                                size="mini"
                                                type="warning"
                                                @click.stop="deleteHistoryItem(item.id)">Delete</el-button>
                                    </template>
                                    <el-table :data="item.modelList" :show-header="false">
                                        <el-table-column width="400" property="name" ></el-table-column>
                                    </el-table>

                                </el-collapse-item>
                            </el-collapse>


                            <el-pagination
                                    layout="total,prev, pager, next"
                                    :total="historyTotal"
                                    @current-change="handleHistoryCurrentChange"
                                    :current-page="historyNowPage"
                                    :page-size="5"
                                    class="flexRowCenter"
                                >
                            </el-pagination>

                        </el-dialog>

<!--                        模型列表-->
                        <el-table
                                ref="modelTable"
                                @select="handelCheckbox"
                                @select-all="handelAllCheck"
                                :data="tableData"
                                stripe
                                style="width: 100%"
                                height="500"
                                :default-sort="{ prop: 'viewCount', order: 'descending' }"
                        >
                            <el-table-column type="selection" width="55">
                            </el-table-column>
                            <el-table-column sortable prop="accessId" label="名称" width="280">
                            </el-table-column>

                            <el-table-column sortable prop="author" label="作者" width="150">
                            </el-table-column>

                            <el-table-column sortable prop="viewCount" label="访问量"></el-table-column>

                            <el-table-column  label="操作">
                                <template slot-scope="scope">
                                    <el-button
                                            size="mini"
                                            type="primary"
                                            @click="checkModel(scope.row.id)">Check</el-button>
                                </template>
                            </el-table-column>

                            <el-table-column  prop="status" label="状态">
                                <template slot-scope="scope">
                                    <el-tag
                                            v-if="scope.row.status ==='Public'"
                                            type='primary'
                                            disable-transitions>{{scope.row.status}}</el-tag>
<!--                                    <el-tag-->
<!--                                            v-if="scope.row.status ==='xxxx'"-->
<!--                                            type='danger info warning danger'-->
<!--                                            disable-transitions>{{scope.row.status}}</el-tag>-->
                                </template>
                            </el-table-column>

                        </el-table>
                        <el-divider></el-divider>
<!--                            模型列表分页-->
                            <el-pagination
                                    background
                                    @size-change="handleSizeChange"
                                    @current-change="handleCurrentChange"
                                    :current-page="currentPage"
                                    :page-sizes="[10, 20, 30, 40]"
                                    :page-size="PageSize"
                                    layout="total, sizes, prev, pager, next, jumper"
                                    :total="totalModel"
                                    class="flexRowCenter"
                            >
                            </el-pagination>
                    </div>
                </div>


<!--====================================================================================================================================-->
<!--             用户管理页面-->
                <div v-if="pageShow==2" >
                    <el-main class="middle_content">
                        <!--                    <h2>测试</h2>-->
                        <div class="table_head">
                            <div class="table_head_item1" >
                                <h2  >用户列表</h2>
                            </div>

                            <!--                            搜索-->
                            <div class="table_head_item2">
                                <el-input
                                        placeholder="请输入内容"
                                        prefix-icon="el-icon-search"
                                        v-model="searchInputUser"
                                        @keyup.enter.native="getUserList()"
                                >
                                </el-input>
                                &nbsp;&nbsp;
                                <el-button  type="success" icon="el-icon-search" @click="getUserList()" >搜索</el-button>
                            </div>

                            <!--                            表格头部菜单-->
                            <div class="table_head_item3" >

                            </div>

                        </div>

                        <el-table
                                ref="userTable"
                                :data="userTableData"
                                stripe
                                style="width: 100%"
                                height="500"
                                :default-sort="{ prop: 'viewCount', order: 'descending' }"
                        >
                            <el-table-column type="selection" width="55">
                            </el-table-column>
                            <el-table-column sortable prop="name" label="姓名" width="280">
                            </el-table-column>

                            <el-table-column sortable prop="email" label="邮箱" width="280">
                            </el-table-column>

                            <el-table-column  label="操作">
                                <template slot-scope="scope">
                                    <el-button
                                            size="mini"
                                            type="primary"
                                            @click="setRole(scope.row.id)">权限设置</el-button>
                                </template>
                            </el-table-column>


                        </el-table>
                        <el-divider></el-divider>

                        <el-pagination
                                background
                                @size-change="handleSizeChangeUser"
                                @current-change="handleCurrentChangeUser"
                                :current-page="currentPageUser"
                                :page-sizes="[10, 20, 30, 40]"
                                :page-size="PageSizeUser"
                                layout="total, sizes, prev, pager, next, jumper"
                                :total="totalUser"
                                class="flexRowCenter"
                        >
                        </el-pagination>


                    </el-main>
                </div>


<!--====================================================================================================================================-->
<!--             条目展示页面-->
                <div v-if="pageShow==3">
                    <el-main>

                        <div class="GeoItemManagement flexRowBetween" >
                            <div class="GeoItemLeftMenu">
                                <div>Data item classification</div>
                                <el-tree :data="geoItemMenuData" :props="defaultPropsGeoItem" @node-click="handleNodeClickGeoItem" default-expand-all></el-tree>
                            </div>

                            <div class="GeoItemRightMenu flexColumnStart">
                                <div class="geoSubTopMenu ">
                                    <div class="flexRowBetween">
                                        <el-input
                                                placeholder="请输入内容"
                                                prefix-icon="el-icon-search"
                                                v-model="searchInputGeo"
                                                @keyup.enter.native="getGeoItemList()"
                                        >
                                        </el-input>
                                        &nbsp;&nbsp;
                                        <el-button  type="success" icon="el-icon-search" @click="getGeoItemList()" >搜索</el-button>
                                    </div>

                                </div>
                                <div class="geoItemMainContent" style="width: 950px">
                                    <el-table
                                            ref="geoItemTable"
                                            :data="geoItemTableData"
                                            stripe
                                            style="width: 100%"
                                            height="500"
                                            :default-sort="{ prop: 'viewCount', order: 'descending' }"
                                    >
                                        <el-table-column type="selection" width="55">
                                        </el-table-column>
                                        <el-table-column sortable prop="name" label="名称" width="300">
                                        </el-table-column>

                                        <el-table-column sortable prop="author" label="贡献者" width="250">
                                        </el-table-column>
                                        <el-table-column sortable prop="viewCount" label="查看次数" width="100">
                                        </el-table-column>

                                        <el-table-column  label="操作">
                                            <template slot-scope="scope">
                                                <el-button
                                                        size="mini"
                                                        type="primary"
                                                        @click="changeStatus(scope.row.id)">状态切换</el-button>
                                                &nbsp;
                                                <el-button
                                                        size="mini"
                                                        type="primary"
                                                        @click="setAdmin(scope.row.id)">管理员设置</el-button>
                                            </template>

                                        </el-table-column>
                                    </el-table>
                                    <el-divider></el-divider>

                                    <el-pagination
                                            background
                                            @size-change="handleSizeChangeGeo"
                                            @current-change="handleCurrentChangeGeo"
                                            :current-page="currentPageGeo"
                                            :page-sizes="[10, 20, 30, 40]"
                                            :page-size="PageSizeGeo"
                                            layout="total, sizes, prev, pager, next, jumper"
                                            :total="totalGeo"
                                            class="flexRowCenter"
                                    >
                                    </el-pagination>
                                </div>
                            </div>
                        </div>
                    </el-main>
                </div>


<!--====================================================================================================================================-->
<!--             版本审核页面-->
                <div v-if="pageShow==4">
                    <el-main class="middle_content" style="height: 80%" >
                        <el-tabs tab-position="left" stretch="true" type="border-card" >

                            <el-tab-pane label="未审核版本">
                                <div class=" flexColumnStart">
                                    <div class="">
                                        <div class="flexRowBetween">
                                            <el-input
                                                    placeholder="请输入内容"
                                                    prefix-icon="el-icon-search"
                                                    v-model="searchInputWaitVersion"
                                                    @keyup.enter.native="getWaitVersionList()"
                                            >
                                            </el-input>
                                            &nbsp;&nbsp;
                                            <el-button  type="success" icon="el-icon-search" @click="getWaitVersionList()" >搜索</el-button>
                                        </div>
                                    </div>

                                    <div class="geoItemMainContent">
                                        <el-table
                                                ref="waitVersionTable"
                                                :data="waitVersionTableData"
                                                stripe
                                                style="width: 100%"
                                                height="500"
                                                :default-sort="{ prop: 'viewCount', order: 'descending' }"
                                        >
                                            <el-table-column sortable prop="date" label="日期" width="300">
                                            </el-table-column>
                                            <el-table-column sortable prop="name" label="名称" width="300">
                                            </el-table-column>

                                            <el-table-column sortable prop="type" label="类型" width="200">
                                            </el-table-column>
                                            <el-table-column sortable prop="modifier" label="修改者" width="200">
                                            </el-table-column>

                                            <el-table-column  label="操作">
                                                <template slot-scope="scope">
                                                    <el-button
                                                            size="mini"
                                                            type="primary"
                                                            @click="viewVersion(scope.row.id)">查看</el-button>
                                                </template>
                                            </el-table-column>

                                            <el-table-column  label="操作">
                                                <template slot-scope="scope">
                                                    <el-button
                                                            size="mini"
                                                            type="primary"
                                                            @click="acceptVersion(scope.row.id)">接受</el-button>
                                                    &nbsp;
                                                    <el-button
                                                            size="mini"
                                                            type="primary"
                                                            @click="rejectVersion(scope.row.id)">拒绝</el-button>
                                                </template>

                                            </el-table-column>

                                        </el-table>
                                        <el-divider></el-divider>

                                        <el-pagination
                                                background
                                                @size-change="handleSizeChangeWaitVersion"
                                                @current-change="handleCurrentChangeWaitVersion"
                                                :current-page="currentPageWaitVersion"
                                                :page-sizes="[10, 20, 30, 40]"
                                                :page-size="PageSizeWaitVersion"
                                                layout="total, sizes, prev, pager, next, jumper"
                                                :total="totalWaitVersion"
                                                class="flexRowCenter"
                                        >
                                        </el-pagination>
                                    </div>
                                </div>

                            </el-tab-pane>

                            <el-tab-pane label="接受版本">
                                接受版本

                            </el-tab-pane>

                            <el-tab-pane label="拒接版本">
                                拒接版本
                            </el-tab-pane>
                        </el-tabs>
                    </el-main>
                </div>


            </el-main>
        </el-container>

    </el-container>


</div>


</body>
<script src="/static/js/managementSystem/manage_system.js"></script>
</html>