
.wrap * { margin: 0; padding: 0; font-size: 14px}
.wrap{
     width: 100%;
     margin: 0 auto;
}

#mainBar ul {
    /*width:100%;*/
    /*height: 55px;*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #080a0e;
}

#geodataLogo{
    height: 70px;
    width: 70px;
}

/*.logo li{*/
/*    width: 160px;*/
/*    height: 53px;*/
/*    padding: 0px;*/
/*}*/

/*.mainBarLogo{*/
    /*width: 220px !important;*/
    /*height: 52px !important;*/
    /*margin-left: 20px;*/
    /*margin-right: auto;*/
    /*background-image: url("/static/img/logo/logo.png");*/
    /*background-size: auto 45px !important;*/
    /*background-repeat: no-repeat;*/
    /*padding: 0px !important;*/

/*}*/

.mainBarLogo{

    margin-left: 15px;
    margin-right: 10px;
    padding-top: 5px !important;
    /*background-image: url("/static/img/logo/logo.png");*/
    /*background-size: auto 55px !important;*/
    /*background-repeat: no-repeat;*/
    /*padding: 0px !important;*/

}

.mainBarLogo img{
    width: 180px;
}

.mainBarLogo>a{
    width: 140px;
    height: 10px;
}

.mainNav{
    /*font-family: sans-serif;*/
    font-size:14px;
    /*transition: .2s;*/
    /*font-weight: 600;*/
}

/*.mainNav li{*/
    /*float: left;*/
    /*width: 8%;*/
    /*height: 52px;*/
    /*margin-top: 10px;*/
    /*transition:.4s;*/
    /*border-bottom:2px solid transparent;*/
    /*!*border-bottom-color:#080a0e;*!*/
/*}*/
.mainNav li{
    float: left;
    /*width: 8%;*/
    /*padding-top: 15px;*/
    padding-top: 10px;
    height: 80px;
    margin-top: 10px;
    transition:.4s;
    border-bottom:2px solid transparent;
    /*border-bottom-color:#080a0e;*/
}

.mainNav li a{
    display: block;
    color: whitesmoke;
    text-align: center;
    padding:16px 2px;
    text-decoration: none;
    overflow: hidden;
    transition: color .4s;
    font-size: 14px;

    /*background-color: #080a0e;*/
}

/*.mainmenu a{*/
/*    font-weight: 600;*/
/*}*/

.mainmenu{
    display: block;

}

.indentmenu{
    display: none;
}

.arrow{
    display: inline-block;
    position: absolute;

    margin-top:5px;
    margin-left: 10px;
    border-top: 1.2px solid;
    border-right: 1.2px solid;
    width: 6.5px;
    height: 6.5px;
    color: white;
    transform: rotate(135deg);
    z-index: 1;
}

/*.sub{*/

    /*height: 0;*/
    /*position: absolute;*/
    /*top: 62px;*/
    /*transition: .5s;*/
    /*!*overflow: hidden;*!*/
    /*!*left: 30%;*!*/
    /*!*padding-top:1px;*!*/
    /*!*z-index: 2057;*!*/
    /*!*background-color: blanchedalmond;*!*/
/*}*/

.sub{

    height: 0;
    position: absolute;
    top: 88px;
    transition: .5s;
    /*overflow: hidden;*/
    /*left: 30%;*/
    /*padding-top:1px;*/
    /*z-index: 2057;*/
    /*background-color: blanchedalmond;*/
}

.clickMenu a{
    cursor: pointer;
}

.sub>ul{
    width: 100%;
    height: 0;
    background-color: rgba(5, 5, 5, 0.81) !important;
    margin-top: 2.5px !important;
    box-shadow: 1px 2px 12px 0 rgba(0, 0, 0, 0.5) ;
    border-radius: 2px;
    overflow: hidden;
    backdrop-filter: blur(5px);
}

.sub li{
    /*display: none;*/
    width: 200px;
    height: 45px;
    transition:.5s;

}

.sub li a{
    display: block;
    color: whitesmoke;
    text-align: left;
    /*width: 170px;*/
    padding:14px 0px;
    margin-left:30px;
    text-decoration: none;
    overflow: hidden;
    transition:.5s;
    font-family: sans-serif;
    font-size:14px;
}

/*.subLog{*/
    /*!*display: none;*!*/
    /*height: 0;*/
    /*position: absolute;*/
    /*top: 62px;*/
/*}*/

.subLog{
    /*display: none;*/
    height: 0;
    position: absolute;
    top: 88px;
}

.subLog>ul{
    height: 0;
    width: 160px;
    background-color: rgba(5, 5, 5, 0.81) !important;
    margin-top: 2px !important;
    box-shadow: 1px 2px 12px 0 rgba(0, 0, 0, 0.4) ;
    overflow: hidden;
    backdrop-filter: blur(5px);
}

.subLog li{
    /*display: none;*/
    width: 150px;
    height: 45px;
    transition:.5s;

}

.subLog li a{
    display: block;
    color: whitesmoke;
    text-align: center;
    width: 140px;
    padding:14px 0px;
    margin-left:5px;
    text-decoration: none;
    overflow: hidden;
    transition:.5s;
    font-family: sans-serif;
    font-size: 14px;
}

#subls li{
    width: 115px;
}

.zmax{
    z-index: 99999;
}

.lsubComm{
    display: none;
    position: relative;
    background-color: #111111;
}

.lsubComm>li{
    background-color: #111111;
}

.lsubHelp{
    display: none;
    position: relative;
    background-color: #111111;
}

.lsubHelp>li{
    background-color: #111111;
}

.fullSub{
    height: 0;
    position: relative;
    width:100%;
}

.fullSub li{
    display: none;
    width: 100%;
    height: 50px;
    transition:.2s;
    background-color: rgba(0,0,0,1);
}

.fullSub li a{
    display: block;
    color: whitesmoke;
    text-align: center;
    width: 100%;
    padding:16px 22px;
    text-decoration: none;
    overflow: hidden;
    transition:.5s;
    font-family: sans-serif;
    font-size: 14px;
}

#phonesub ul{

}

.phoneSubSUb{
    height: 0;
}

.phoneSubSUb ul{
    z-index: -1;
    transition:.2s;
    overflow-y: hidden;
    backdrop-filter: blur(10px);
}

.phoneSubSUb li{
    display: none;
    transition:.2s;
    background-color: rgba(0,0,0,0.9);
}

.lsubComm>li{
    background-color: rgba(0,0,0,0.1)
}
.lsubHelp>li{
    background-color: rgba(0,0,0,0.1)
}



.login{
    display: block;
}

.login>li{
    display: block;
    float: right;
    width: 95px;
    height: 62px;
    margin-top: 0;
    /*background-color: rgb(0,171,255);*/
    /*border-bottom:3px solid;*/
    /*border-bottom-color:rgb(0,171,255);*/
    transition:.5s;
}

.login>li a{
    display: block;
    color: whitesmoke;
    text-align: center;
    margin-top: 10px;
    padding:16px 2px;
    text-decoration: none;
    overflow: hidden;
    transition: .5s;
    /*background-color: #080a0e;*/
}

.login a{
    display: block;
    color: #f5f5f5;
    text-align: center;
    padding: 16px 2px;
    text-decoration: none;
    overflow: hidden;
    transition: .4s;
    font-size: 16px;
    font-weight: 600;
    /*background-color: #080a0e;*/
}

.login a:hover{
    color: #428bca
}

.login2{
    display: none;
}

.login2>li{
    display: block;
    float: right;
    width: 64px;
    /*height: 62px;*/
    height: 90px;
    margin-top: 0;
    background-color: #00abff;
    border-bottom:3px solid;
    border-bottom-color:rgb(0,192,255)
}
.login2>li a{
    display: block;
    color: whitesmoke;
    text-align: center;
    padding:16px 2px;
    text-decoration: none;
    overflow: hidden;
    transition: .5s;
    /*background-color: #080a0e;*/
}

.loged{
    display: none;
}

.loged>li{
    display: block;
    float: right;
    width: 165px;
    height: 62px;
    margin-top: 0;
    /*background-color: rgb(0,171,255);*/
    /*border-bottom:3px solid;*/
    /*border-bottom-color:rgb(0,171,255);*/
    transition:.4s;
}
.loged>li a{
    display: block;
    color: whitesmoke;
    font-weight: 400;
    text-align: center;
    margin-top: 0px;
    padding:23px 0px 2px 2px;
    text-decoration: none;
    overflow: hidden;
    transition: .4s;
    /*background-color: #080a0e;*/
}

.strip{
    display: none;
    float: right;
    margin-right: 10px;
}

.innerBorder{
    align-self: center;
    width: 95.5%;
    border-bottom: 1px solid #cccccc;
}



/*设置悬停样式，除了命名为.login组件*/
.main li:hover:not(.mainBarLogo){
    border-bottom-color: rgb(0,170,255);
}

.main a:hover{
    color: rgb(0,188,255) !important;
}

.logo:hover{
    border-bottom-color:#080a0e ;
}

.sub a:hover{
    color: rgb(0,188,255);
}


.login li:hover{
    /*background-color: #0AD15D;*/
    /*border-bottom-color: #00c1de;*/
}
.login a:hover{
    font-size: 16px;
    /*color: rgb(255,255,255) !important;*/
    /*padding:anto 17px !important;*/
}

.login2 a:hover{
    font-size: 16px;
    color: rgb(255,255,255) !important;
    /*padding:anto 17px;*/

}

.loged{
    cursor: pointer;
}

.loged a:hover{
    font-weight: 500;
    color: rgb(255,255,255) !important;
    /*padding:anto 17px;*/
}

.loged a:hover .subLog{
    display: block;
    /*padding:anto 17px;*/
}

.phoneLoged{
    display:none;
}

#phoneLogin{
    height: 0px;
    width: 100%;
    display: block;
    position: absolute;
    overflow: hidden;
    background-color: #000000;
}

#phoneLogin>li{
    display: block;
    width: 100%;
    transition: .4s;
    background-color: rgba(0,0,0,1);
}

#phoneLogin>li:hover #phoneLogin a{
    color: whitesmoke !important;
}

#phoneLogin>li a{
    color: whitesmoke !important;

}

.notice_num{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 18px;
}

.userBorder {
    height: 20px;
    border-left: 4px dotted #dcd6d6;
}

#subCommunityUl{
    width: 100%;
}

#subCommunityUl li{
    width: 100%;
}
/* .fullsub a:hover{
    color: rgb(0,192,255);
} */

/*自适应*/
/*@media only screen and (max-width: 975px){*/
@media only screen and (max-width: 1037px) {
    .login {
        display: none;
    }

    /*.loged{*/
    /*    display: none;*/
    /*}*/
    .login2 {
        display: block;
    }

    .mainBarLogo {
        /*width: 170px !important;*/
        width: 180px !important;
    }

    #menuHome, #menuModel {
        width: 71px !important;
    }

    #menuData {
        width: 62px !important;
    }

    #drop1 {
        width: 115px;
    }

    #drop1 a {
        padding-left: 8px !important;
    }

    #drop2 {
        width: 68px !important;
    }

    #menuAbout {
        width: 83px !important;
    }

    #subModel {
        left: 348px !important;

    }

    #subData {
        left: 420px !important;

    }

    #subCommunity {
        left: 482px !important;

    }

    #subHelp {
        left: 575px !important;
    }

    .mainBarLogo img{
        width: 180px;height: 56px;
    }
}



/*@media only screen and (max-width: 841px){*/
@media only screen and (max-width: 944px){
    .mainmenu{
        display: none;
    }



    .indentmenu{
        display: block;
    }

    .mainBarLogo {
        /*width: 150px !important;*/
        width: 180px !important;
    }


}

/*@media only screen and (min-width: 501px){*/
@media only screen and (min-width: 528px){
    .loged{
        display: block;
    }

    .phoneLoged{
        display: none;
    }

    .mainNav{
        /*background-color: transparent;*/
    }
}

/*@media only screen and (max-width: 501px){*/
@media only screen and (max-width: 528px){
    .indentmenu{
        display: none;
    }
    .fullSub{
        display: none;
    }

    .login2{
        display: none;
    }

    .strip{
        display: block;
    }

    #geoDateLogoLi{
        width: 100px;
        padding: 0px 10px 0px 5px;
        position: absolute !important;
        left: 0 !important;
        right: 0 !important;
        top: 45px;
        /* margin: auto !important; */
        margin: auto !important;
        margin-top: 6px !important;
    }

    .mainBarLogo{
        position: absolute !important;
        left: 0 !important;
        right: 0 !important;
        /*top: 10px;*/
        /*margin: auto !important;*/
        margin: auto !important;
        margin-top: 24px !important;
        display: flex;
        justify-content: center;
    }

    .mainBarLogo img{
        width: 120px;
        height: 36px;
        margin-top: -26px;
    }

    #mainBar ul {
        background-color: #0f0f0f;
    }

    .loged{
        display: none;
    }

    .phoneLoged{
        display: block;
    }

    .mainBarLogo{
        background-size: auto 45px !important;
    }

    #geodataLogo{
        margin-top: 18px !important;
        width: 35px;
        height: 35px;
    }
}


.clickBlue{
    border-bottom-color: rgb(0, 170, 255) !important;
    transition:none;
}

.clickBlue>a{
    color: rgb(0, 188, 255) !important;
    transition:none;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexRowSpaceBetween {
    display: flex;
    justify-content: space-between;
}

.flexRowCenter {
    display: flex;
    justify-content: center;
}

.flexColCenter {
    display: flex;
    align-items: center;
}
 sup.el-badge__content.is-fixed{
     top: 30%!important;
     right: 65%!important;
 }

/*sup.el-badge__content.is-fixed {*/
    /*width: 20px;*/
/*}*/