html,
body {
  height: 100%;
}

body {
  width: 100%;
  /*min-width: 1000px;*/
  margin: 0px;
  /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
  font-size: 14px;
  color: #444;

}

input:focus{
  outline: 0;
}

button:focus{
  outline: 0;
}

.loading{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top:0;
  background: #00001e;
  opacity: 1;
  z-index: 99;
  opacity: 1.0;
  transition:  all 1.0s 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
a,
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  /*color: #c8c8ca;*/
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.logo>img {
  max-width: 120px;
  padding: 9px;
}

.header {
  background: #00001e;
  margin: 0px;
  padding: 0px 20px 0px;
  box-shadow: 0px 4px 30px 4px #00001e;
  z-index: 10;
  display: inline-block;
  width: 100%;
}

.carousel_container{
  margin-top:-4px;
  background: #00001e;
}
.light-dark {
  background: #eef4f9;
}

.el-menu--horizontal {
  border: none;
}

/** è°ƒæ•´å¯¼èˆªèœå•çš„é«˜åº¦å’Œå­—ä½“å¤§å° **/

.el-menu--horizontal>.el-menu-item,
.el-menu--horizontal>.el-submenu>.el-submenu__title {
  height: 60px;
  font-size: 1em;
}

.el-submenu__title i {
  color: white;
}

.el-submenu__title:hover,
.el-submenu:hover,
.el-menu-item:hover {
  color: #00c0ff !important;
  background: none !important;
}

/** è½®æ’­å›¾è®¾ç½®**/

/*
.el-carousel__item{
  box-shadow: 0px 4px -10px 0px red;
} */

/* .el-carousel__container {
    height: 440px;
} */

.el-carousel__container img {
  width: 100%;
}

.carousel-img-mask {
  position: absolute;
  left: 0;
  top:0;
  height: 100%;
  /**åŒè¾¹é˜´å½±**/
  box-shadow: 50px 0px 100px 0px #00001e80 inset, -50px 0px 100px 0px #00001e80 inset;
  width: 100%;

}

#carousel-img{
  position: relative;
  width: 100%;
}

.title {
  width: 100%;
  font-size: 40px;
  font-weight: 400;
  color: #000;
  line-height: 2;
  text-align: center;
}

/*h1,*/
/*h2,*/
/*h3 {*/
/*  font-weight: 400;*/
/*}*/

.footer {
  padding: 10px 10px 10px;

  background: #2e3033;
  color: white;
  line-height: 2;
}

.footer-content {
  padding: 40px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  max-width: 1200px;
  min-width: 320px;
  margin: auto;
}

.footer-content:first-child {
  padding-left: 50px;
}


.list-title {
  font-weight: 700;
}

.list-item {
  /*color: #c8c8ca;*/
}


.list-line {

  color: #c8c8ca;
  margin-left: 5px;
  font-size: 16px;
}

.copyright {
  margin-top: 20px;
  border-top: solid 1px #c8c8ca;
  color: #c8c8ca;
  text-align: center;
}

.copyright span {
  display: inline-block;
}

.copyright-title {
  margin-bottom: 15px;
  font-style: italic;
}

.nav-right {
  line-height: 3.5;
  color: #dbdbdb;
}

.nav-right span {
  margin-right: 10px;
}

.dot-mask {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: url(../images/dot.png) top repeat rgba(0, 0, 0, 0.123);
  text-align: center;
}

.carousel-content {
  font-family: Lora, serif;
  color: white;
  font-size: 43px;
  padding: 17% 0px;
}

.carousel-content>h1,
.carousel-content>p {
  margin: 0px;
}

.start-btn {
  position: absolute;
  top: 80%;
  left: 46.8%;
  z-index: 10;
  background: white;
  border: none;
  color: rgb(36, 127, 202);
  font-size: 18px;
}

.start-btn:hover {
  color: white;
  background: rgb(36, 127, 202);

}



.item>.content {
  text-align: center;
  padding: 20px;
  /*width: 25%;*/
}

.item>.content .el-card {
  height: 300px;
  border: none;
  box-shadow: none;
}

.item>.content .el-card h3 {
  margin: 0;
  color: #42464b;
  padding-bottom: 10px;
}

.item>.content .el-card .icon {
  position: relative;
  font-size: 9em;
  color: #33cccc;
}

#partner {
  text-align: center;
  padding: 35px 40px 45px;
  background-color: #f6f6f6;
}

#partner #inner {
  width: 1000px;
  margin: auto;
}

#partner img {
  transition: all 0.3s ease;
  /* filter: grayscale(100%); */
  opacity: 0.66;
  width: 100%;
}

#partner img:hover {
  transition: all 0.3s ease;
  filter: grayscale(0%);
  opacity: 1;
  max-width: 110%;
  width: 110%;
}

#partner a {
  /* display: inline-block; */
  vertical-align: middle;
  margin: 20px 15px 0;
  position: relative;
}

/*****æ‹–åŠ¨**********/

.swiper-container {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  cursor: move;
  margin-top:30px;
}

.swiper-slide,
.swiper-content {
  text-align: left;
  font-size: 18px;
  height: 300px;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  align-items: center;
  background-color: #f5f7fa;
  overflow: hidden;
  margin-bottom: 10px;
}

.swiper-content {
  width: inherit;
  height: inherit;
  background-size: cover;
  background-position: 50% 20%;
  background-repeat: no-repeat;
  transition: transform 2s 0s;
}

/**  çˆ¶çº§å…ƒç´ çš„hoverè§¦å‘å­çº§å…ƒç´ æ ·å¼çš„æ”¹å˜ï¼Œå¦‚æžœæ˜¯å…„å¼ŸèŠ‚ç‚¹åˆ™ä¸­é—´ç”¨åŠ å·  **/

.swiper-slide:hover>.swiper-content {
  transform: scale(1.1);
}

.swiper-slide a {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-family: Lora, serif;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: all .3s cubic-bezier(0.6, .1, .3, .8);
  -moz-transition: all .3s cubic-bezier(0.6, .1, .3, .8);
  -ms-transition: all .3s cubic-bezier(0.6, .1, .3, .8);
  -o-transition: all .3s cubic-bezier(0.6, .1, .3, .8);
  transition: all .3s cubic-bezier(0.6, .1, .3, .8);
  padding: 10px;
  line-height: 1.4;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.swiper-slide a:before {
  content: "";
  position: absolute;
  top: 0;
  left: -10%;
  width: 200%;
  height: 300%;
  outline: 1px solid transparent;
  -webkit-transition: all .3s cubic-bezier(0.6, .1, .3, .8);
  -moz-transition: all .3s cubic-bezier(0.6, .1, .3, .8);
  -ms-transition: all .3s cubic-bezier(0.6, .1, .3, .8);
  -o-transition: all .3s cubic-bezier(0.6, .1, .3, .8);
  transition: all .3s cubic-bezier(0.6, .1, .3, .8);
  background-color: #fff;
}

.swiper-slide:hover a:hover:before {
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  transform: rotate(10deg);
}

.swiper-slide:hover a:before {

  top: -80%;
  /* -webkit-transform: rotate(7deg); */
  -moz-transform: rotate(7deg);
  -ms-transform: rotate(7deg);
  -o-transform: rotate(7deg);
  transform: rotate(7deg);
}

.swiper-slide:hover a span,
.swiper-slide:hover a i {
  color: #000;

  font-size: 22px;
  -webkit-transition: all .3s cubic-bezier(0.6, .1, .3, .8) .2s;
  -moz-transition: all .3s cubic-bezier(0.6, .1, .3, .8) .2s;
  -ms-transition: all .3s cubic-bezier(0.6, .1, .3, .8) .2s;
  -o-transition: all .3s cubic-bezier(0.6, .1, .3, .8) .2s;
  transition: all .3s cubic-bezier(0.6, .1, .3, .8) .2s;
}

.swiper-slide a span,
.swiper-slide a i {
  color: #000;
  display: block;
  position: relative;
  opacity: 0;
}

.swiper-slide:hover a span,
.swiper-slide:hover a i {
  opacity: 1;
  -webkit-transform: translateY(-80px);
  -moz-transform: translateY(-80px);
  -ms-transform: translateY(-80px);
  -o-transform: translateY(-80px);
  transform: translateY(-80px);
}

.gallery-container {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0 5%;
  padding-top: 50px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  overflow: hidden;
}

.gallery-item {
  position: relative;
  width: 16.66%;
  height: 0;
  padding-bottom: 30%;
;
  float: left;
  box-shadow: 0px 40px 40px 5px rgba(0, 0, 0, 0.5);
  margin-right: -10px;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
  bottom: 0px;
  margin-bottom: -60px;
  border-radius: 3px;
}

.gallery-item:hover {
  cursor: pointer !important;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
  -webkit-transform: translateZ(5px) translateY(-50px);
  transform: translateY(-50px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cursorPointer{
  cursor: pointer;
}

.gallery-item div {
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
}

.gallery-item:hover .inner {
  opacity: 1;
}

.gallery-item .inner {
  color: #fff;
  font-size: 12px;
  opacity: 0;
  letter-spacing: 0;
  font-family: 'Open Sans Bold', sans-serif;
  font-weight: normal;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 13;
  background: rgba(0, 0, 0, 0.25);
  text-align: center;
  border-radius: 3px 3px 0 0;
}

.gallery-title {
  background: rgba(0, 0, 0, 0.432);
  padding: 5% 0px;
  font-size: 1.3em;
}

.gallery-content {
  padding: 70% 0px;
  font-size: 1.9em;
}

.block {
  position: relative;
  padding: 1% 0px;
  transition: all 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
  transform: translateY(100px);
  opacity: 0;
}

.block-visited{
  opacity: 1;
  transform: translateY(0px);
}


.use-item {
  background: white;
  overflow: hidden;
  height: auto;
}

.use-item-content>.content-head {
  text-align: center;
  color: #dcdce2;
  font-size: 10.0em;
  line-height: 1.5;
  font-family: 'Courier New', Courier, monospace;
  /* border-right: solid 1px#dbdbdb; */
}


.use-item-content>.content-body {
  text-align: left;
  /* border: solid 1px#dbdbdb; */
  line-height: 2;
  margin-top:20px;
  padding: 30px 0px 15px 15px;
}


.content-body > span{
  display: inline-block;
  font-size: 1.4em;
  vertical-align:middle;
}

.content-body > span > i{
  font-size: 2.0em;
  margin-right: 15px;
  vertical-align:middle;
}

.share-content{
  /* border:solid 1px #c8c8ca; */
  padding: 2% 0px;
}

.share-left> p{
  text-align:left;
  line-height: 3.2;
}
.share-left> h1{
  font-size: 1.8em;
}

.share-content>.el-col{
  /* border:solid 1px #c8c8ca; */
  /*padding: 20px;*/
}

.share-content .share-item{
  margin-bottom: 20px;
}
.share-content .share-item .icon{
  font-size: 4.5em;
}
.share-content .share-item .head{

  font-size: 1.2em;
}

.share-content .share-item .des{
  color:#949596;
  font-size: 1.2em;
  line-height: 2.2;
}

.to-top{
  position: fixed;
  z-index: 11;
  right:10px;
  bottom: 10px;
  font-size: 1.5em;
  font-weight: 400;

}
.el-button.is-circle{
  padding: 10px;
}

.producer{
  overflow: hidden;
}
.producerImg{

  max-width: 150px;
  max-height: 200px;
}



.ec-tooltip{
  display: flex;
  justify-content: center;
  white-space:normal;
  padding: 20px;
}
.ec-tooltip>.left{
  text-align: center;
  min-width: 180px;
}
.ec-tooltip>.right{
  min-width: 300px;
  max-width: 300px;
}

.contributors{
  display: flex;
  justify-content: center;
}
.contributor-info{
  position: relative;;
  width: 40%;
  height:600px;
  padding: 0px 20px;
  overflow:auto;
  line-height: 2;
}
.contributor-info span{
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.contributor{
  margin-bottom: 10px;
}


.badge.badge-primary{
  background: #8075c4;
}
.badge.badge-success{
  background: #a9d86e;
}
.badge.badge-info {
  background: #95a0ba;
}
.badge.badge-info-ori{
  background: #41cac0;
}
.badge.badge-inverse{
  background: #2a3542;
}
.badge.badge-warning{
  background: #fcb322;
}
.badge.badge-important{
  background: #ff6c60;
}
.h600Dialog .el-dialog{
  height: 600px;
}

/*** è‡ªé€‚åº” ***/

@media screen and (min-width: 1220px) {
  .to-use {
    padding: 0% 10% 2% 10%;
  }
  .share-left h1{
    line-height: 3.2;
  }

  .use-item {
    margin: 2% 0 2% 0;
  }
}

@media (min-width:1301px) and (max-width:1500px){
  .item>.content .el-card .icon {
    position: relative;
    font-size: 8em;
    color: #33cccc;
  }
}

@media screen and (max-width:1300px){
  .item>.content {
    text-align: center;
    width: 25%;
    padding: 0;
  }

  .item>.content .el-card h3 {
    margin: 0;
    color: #42464b;
    font-size: 20px;
    padding-bottom: 10px;
  }

  .item>.content .el-card .icon {
    position: relative;
    font-size: 7em;
    color: #33cccc;
  }
}

