<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>itemInfoModule</title>
</head>
<body>
<div th:fragment="description" id="description" th:if="${detailLanguage!=''}" class="detail_block">
    <div class="block_head">
        <div class="head_text">
            <h4 translateId="detailedDescription">Detailed Description</h4>
        </div>
        <el-dropdown v-cloak style="float:right;padding:0 10px;background-color: white;cursor:pointer;" trigger="click" @command="changeDetailLanguage" >

                        <span v-if="currentDetailLanguage==''" class="el-dropdown-link" >
                            <span th:text="${detailLanguage}"></span><i class="el-icon-arrow-down el-icon--right"></i>
                        </span>
            <span v-else class="el-dropdown-link" >
                            {{currentDetailLanguage}}<i class="el-icon-arrow-down el-icon--right"></i>
                        </span>

            <el-dropdown-menu slot="dropdown">
                <el-dropdown-item th:each="language:${languageList}" th:text="${language}" th:attr="command=${language}">View Count</el-dropdown-item>
                <!--<el-dropdown-item command="Name">Name</el-dropdown-item>-->
                <!--<el-dropdown-item command="Create Time">Create Time</el-dropdown-item>-->

            </el-dropdown-menu>
        </el-dropdown>
        <span class="fa fa-language" style="background-color:white;padding-left:10px;float:right;font-size:23px;"></span>
        <span class="blockEdit">
                         <el-tooltip popper-class="fontsize-15" content="Edit" effect="light" placement="top">
                            <el-button th:if="${itemInfo.status=='Public'&&history!=true&&itemInfo.lock!=true}"
                                       type="primary" icon="el-icon-edit" @click="getDescription" circle></el-button>
                        </el-tooltip>
                        <el-tooltip popper-class="fontsize-15"
                                    :content="htmlJSON.anotherVersion"
                                    effect="light" placement="top">
                            <el-button th:if="${itemInfo.status=='Public'&&history!=true&&itemInfo.lock==true}"
                                       icon="el-icon-edit" plain circle></el-button>
                        </el-tooltip>
                    </span>
    </div>
    <div th:fragment="descriptionContent" class="block_content">
        <div v-if="detail==''" th:utext="${detail}" id="detail" class="detailIntroducePanel">
        </div>
        <div v-else v-html="detail" id="detail" class="detailIntroducePanel">
        </div>
    </div>
    <div class="fullPaper text-center hide">
        <a id="fullPaper" style="cursor:pointer;font-size:16px;" ><span translateId="viewFullText">View Full Text</span><i class="fa fa-angle-down"
                                                                                  style="margin-left: 10px;color:red;font-weight: bold"
                                                                                  aria-hidden="true"></i></a>
    </div>
</div>

<div th:fragment="contributor_sm">
    <div class="block_head">
        <div class="head_text" style="padding-left: 10px;padding-right: 15px;display: inline-flex">
            <h4 th:if="${history!=true}" translateId="Contributor">Contributor(s)</h4>
            <h4 th:if="${history==true}" translateId="Modifier">Modifier(s)</h4>
            <el-tooltip popper-class="fontsize-15" effect="light"
                        content="Contributor is the person who contributes the item to OpenGMS, may not be the author of the item."
                        placement="top">
                <i class="fa fa-question-circle-o" aria-hidden="true" style="margin-top:4px;cursor:help;"></i>
            </el-tooltip>
        </div>
    </div>
    <div th:fragment="contributorContent" class="block_content">
        <div class="el-row"
             style="margin-bottom: 3px;height: 40px;display: flex;justify-content: center;align-items: center;">
            <div class="el-col ">
                <user-avatar ref="mainContributorAvatar"
                             style="width:40px;height: 40px;float:left;">
                </user-avatar>
            </div>
            <div class="el-col">
                <div class="pull-left" style="display: block;margin-left: 15px;">
                    <a :href="'/profile/'+lightenContributor.accessId"><h4 style="padding: 0;" v-text="lightenContributor.name"></h4></a>
                </div>
            </div>
        </div>
        <div class="el-row">
            <div class="text-center">
                <h5 th:if="${history!=true}" ><span translateId="InitialContribute">Initial contribute: </span><span th:text="${date}"></span></h5>
                <h5 th:if="${history==true}" ><span translateId="ModifyTime">Modify Time: </span><span th:text="${date}"></span></h5>
            </div>
        </div>
        <div th:if="${modularType.name} eq 'ModelItem'" class="flexAlignEnd flexJustCenter">
            <div class="wzhScrollbar " style="max-height: 135px">
                <div v-if="contributors!=null&&contributors.length>0" v-for="(contributor,index) in contributors" :key="contributor.accessId"
                     class="inlineBlock cursorPointer" style="margin: 10px 5px;">
                    <el-tooltip effect="dark"
                                :content="contributor.name"
                                placement="bottom">
                        <img :src="contributor.image==''?'/static/img/icon/default.png':contributor.image"
                             @click="riseUser(contributor,index)"
                             class="round_icon iconImg">
                    </el-tooltip>
                </div>

            </div>
        </div>
    </div>
</div>

<div th:fragment="contributor_lg">
    <div class="block_head" style="border-left-color: #00d083;">
        <div class="head_text" style="padding-left: 10px;padding-right: 15px;display: inline-flex">
            <h4 th:if="${history!=true}" translateId="Contributor">Contributor(s)</h4>
            <h4 th:if="${history==true}" translateId="Modifier">Contributor(s)</h4>
            <el-tooltip popper-class="fontsize-15" effect="light"
                        :content="htmlJSON.ContributorMayNotAuthor"
                        placement="top">
                <i class="fa fa-question-circle-o" aria-hidden="true" style="margin-top:4px;cursor:help;"></i>
            </el-tooltip>
        </div>
    </div>
    <div class="block_content" style="padding-left:10px;">
        <div class="el-row"
             style="margin-bottom: 3px;height: 40px;display: flex;align-items: center;">
            <div class="el-col ">
                <a :href="'/profile/'+lightenContributor.accessId" target="_blank">
                    <!--                            <img :src="lightenContributor.avatar==''?'/static/img/icon/default.png':lightenContributor.avatar"-->
                    <!--                                 class="round_icon" style="width:35px;height: 35px;">-->
                    <user-avatar ref="mainContributorAvatar1" style="width:35px;height: 35px;"></user-avatar>
                </a>
            </div>
            <div class="el-col">
                <div class="pull-left" style="display: block;margin-left: 15px;">
                    <a :href="'/profile/'+lightenContributor.accessId" target="_blank"><h4 style="padding: 0;" v-text="lightenContributor.name"></h4></a>
                </div>
            </div>
        </div>
        <div class="el-row">
            <div>
                <h5 th:if="${history!=true}"><span translateId="InitialContribute">Initial contribute : </span>
                    <span th:if="${itemType} eq 'Data'" th:text="${#dates.format(itemInfo.createTime,'yyyy-MM-dd')}"></span>
                    <span th:text="${date}"></span>
                </h5>
                <h5 th:if="${history==true}"><span translateId="ModifyTime">Modify Time : </span><span th:text="${date}"></span></h5>
            </div>
        </div>

    </div>
</div>

<div th:fragment="authorship(pos)" th:if="${itemInfo.authorships!=null&&#lists.size(itemInfo.authorships)!=0}">
    <div class="block_head">
        <div class="head_text" style="padding-left: 10px;padding-right: 15px;display: inline-flex">
            <h4 translateId="Authorship">Authorship</h4>
            <el-tooltip popper-class="fontsize-15" effect="light"
                        :content="htmlJSON.FeedbackBelow"
                        placement="top">
                <i class="fa fa-question-circle-o" aria-hidden="true" style="margin-top:4px;cursor:help;"></i>
            </el-tooltip>
        </div>
    </div>
    <div th:fragment="authorContent" class="block_content text-center" style="padding-left:10px" >

        <div th:if="${itemInfo.authorships!=null&&#lists.size(itemInfo.authorships)!=0}"
             style="text-align: left;" th:each="author,key:${itemInfo.authorships}">
                        <span role="button" tabindex="0" class="ab" style="float: right;"
                              th:class="${key.index==0?'ab':'ab transform180'}"><a
                                data-toggle="collapse" th:href="'#authorship_'+${pos}+${key.index}" class="detail-toggle"
                                aria-expanded="true"><i class="fa fa-caret-up" style="font-size: 21px"></i></a></span>
            <li class="NavHead" style="font-size: 16px;" th:text="${author.name}"></li>
            <div th:id="'authorship_'+${pos}+${key.index}" class="panel-collapse" name="authorshipContent"
                 th:class="${key.index==0?'in':'collapse'}" aria-expanded="true"
                 style="">
                <div class="panel-body" style="padding-left: 20px; padding-top: 7px; padding-right: 0px;">
                    <dl>
                        <dt th:if="${author.ins!=''}"><span translateId="Affiliation"></span>: &nbsp</dt>
                        <dd th:if="${author.ins!=''}" th:text="${author.ins}"></dd>
                        <dt th:if="${author.email!=''}"><span translateId="Email"></span>: &nbsp</dt>
                        <dd th:if="${author.email!=''}" th:text="${author.email}"></dd>
                        <dt th:if="${author.homepage!=''}"><span translateId="Homepage"></span>: &nbsp</dt>
                        <dd th:if="${author.homepage!=''}"><a th:href="${author.homepage}" target="_blank" ><span translateId="View">View</span></a></dd>
                    </dl>
                </div>
            </div>
        </div>
        <div th:if="${itemInfo.authorships==null||#lists.size(itemInfo.authorships)==0}">
            <el-tag type="info">
                <span translateId="authorshipUnclear1">Authorship is unclear, you can</span>
                <a href="javascript:void(0)" translateId="claim" @click="claim" style="text-decoration: underline">claim</a>
                <span translateId="authorshipUnclear2">the item.</span>
            </el-tag>
        </div>
        <div th:if="${history!=true && #lists.size(itemInfo.authorships)>0}">
            <el-tag type="info"><span translateId="authorshipCorrect">Is authorship not correct? </span>
                <a href="javascript:void(0)" @click="feedBack" translateId="Feedback" style="text-decoration: underline">Feed back</a>
            </el-tag>
        </div>
    </div>
</div>

<div th:fragment="itemTitle" class="detail" >
    <div class="detail_title">
        <h2 th:utext="${itemInfo.name}"
            style="display: inline-block;word-wrap:break-word; word-break:break-all;width:90%;"></h2>
        <div class="pull-right">
            <el-tooltip popper-class="fontsize-15" content="Edit" effect="light" placement="top">
                <a th:if="${itemInfo.status=='Public'&&history!=true&&itemInfo.lock!=true}" href="javascript:void(0);"
                   class='fa fa-pencil fa-2x' aria-hidden='true' @click="edit"></a>
            </el-tooltip>
            <el-tooltip popper-class="fontsize-15"
                        :content="htmlJSON.anotherVersion"
                        effect="light" placement="top">
                <li th:if="${itemInfo.status=='Public'&&history!=true&&itemInfo.lock==true}" class='fa fa-pencil fa-2x'
                    style="color:#cccccc" aria-hidden='true'></li>
            </el-tooltip>
            <el-tooltip popper-class="fontsize-15" th:content="${itemInfo.status}" effect="light"
                        placement="top">
                <i th:if="${itemInfo.status=='Public'}" class="el-icon-unlock public fontsize-2em "></i>
                <i th:if="${itemInfo.status=='Discoverable'}"
                   class="el-icon-unlock discoverable fontsize-2em "></i>
                <i th:if="${itemInfo.status=='Private'}" class="el-icon-lock private fontsize-2em "></i>
            </el-tooltip>

        </div>
    </div>
    <div class="detail_overview">

        <div th:if="${modularType.name} eq'ModelItem'"  th:switch="${itemInfo.image}" class="img">
            <img th:case="''" src="/static/img/model/model.png">
            <img th:case="null" src="/static/img/model/model.png">
            <img th:case="*" th:src="${itemInfo.image}">
        </div>

        <div th:if="${modularType.name} eq'LogicalModel'" th:switch="${#lists.size(itemInfo.imageList)}" class="img">
            <img th:case="0" src="/static/img/model/logical.png">
            <img th:case="*" th:src="${loadPath}+${itemInfo.imageList[0]}">
        </div>

        <div th:if="${itemType} eq'Data'" class="img" th:object="${itemInfo}">
            <div th:if="${#strings.isEmpty(itemInfo.image)}">
                <avatar th:username="${itemInfo.name}" :size="90" :rounded="false"></avatar>
            </div>
            <div th:unless="${#strings.isEmpty(itemInfo.image)}">
                <img th:src="${itemInfo.image}" class="image">
            </div>
        </div>

        <div th:if="${modularType.name} eq'DataMethod'" class="img">
            <div th:unless="${itemInfo.image}">
                <avatar th:username="${itemInfo.name}" :size="90" :rounded="false"></avatar>
            </div>
            <div th:if="${itemInfo.image}">
                <img th:src="'/static'+${itemInfo.image}" class="image">
            </div>
        </div>

        <div th:if="(${modularType.name} eq 'Concept') or (${modularType.name} eq 'SpatialReference') or (${modularType.name} eq 'Template') or (${modularType.name} eq 'Unit')"
             class="img">
            <div th:switch="${itemInfo.image}" class="img">
                <avatar th:case="''" th:username="${itemInfo.name}" :size="90" :rounded="false"></avatar>
                <avatar th:case="null" th:username="${itemInfo.name}" :size="90" :rounded="false"></avatar>
                <img th:case="*" th:src="${image}">
            </div>
        </div>

        <div class="info">
            <p th:text="${itemInfo.overview}"></p>
            <div class="tags" th:switch="${modularType.name}">
                <span th:case="'Concept'" class="badge badge-info" translateId="ConceptSemantic"></span>
                <span th:case="'SpatialReference'"  class="badge badge-info" translateId="SpatialReference"></span>
                <span th:case="'Template'" class="badge badge-info" translateId="DataTemplate"></span>
                <span th:case="'Unit'" class="badge badge-info" translateId="UnitMetric"></span>
                <span th:case="'LogicalModel'" class="label label-info" translateId="logicalModel"></span>
                <span th:case="'ComputableModel'" class="label label-info" translateId="computableModel"></span>
                <span th:case="'ConceptualModel'" class="label label-info" translateId="conceptualModel"></span>
                <span th:case="*" th:each="keyword:${itemInfo.keywords}" th:text="${keyword}" class="badge badge-info"></span>
            </div>
        </div>
    </div>
</div>

<!--相关模型条目-->
<div th:fragment="related_models" id="related_models" class="detail_block">
    <div class="block_head">
        <div class="head_text">
            <h4 translateId="relateModelItem">Related Model Item</h4>
        </div>
    </div>
    <div class="block_content flex">
        <div class="list_panel clearfix" th:each="relateModelItem:${relateModelItemList}">
            <a th:href="'/modelItem/'+${relateModelItem.id}" class="img">
                <div th:switch="${relateModelItem.img}">
                    <img th:case="null" src="/static/img/model/model.png">
                    <img th:case="*" th:src="${relateModelItem.img}">
                </div>

            </a>

            <div class="info" style="margin-top:0px;">
                <a th:href="'/modelItem/'+${relateModelItem.id}"
                   th:text="${relateModelItem.name}"></a>
                <p style="margin-top: 0px" th:text="${relateModelItem.description}"></p>
            </div>

        </div>

    </div>

</div>

<div th:fragment="classifications">
        <div th:if="${#lists.size(classifications)>0}" id="classification" class="detail_block">
            <div class="block_head">
                <div class="head_text">
                    <h4 translateId="Classification">Classification(s)</h4>
                </div>
                <span class="blockEdit">
                            <el-tooltip popper-class="fontsize-15" content="Edit" effect="light" placement="top">
                                <el-button th:if="${itemInfo.status=='Public'&&history!=true&&itemInfo.lock!=true}"
                                           type="primary" icon="el-icon-edit" @click="getClassifications" circle></el-button>
                            </el-tooltip>
                            <el-tooltip popper-class="fontsize-15"
                                        :content="htmlJSON.anotherVersion"
                                        effect="light" placement="top">
                                <el-button th:if="${itemInfo.status=='Public'&&history!=true&&itemInfo.lock==true}"
                                           icon="el-icon-edit" plain circle></el-button>
                            </el-tooltip>
                        </span>
            </div>
            <div th:fragment="classificationsContent" class="block_content" style="margin-top:20px;" >
                <div  >
                    <div   th:each="classS:${classifications}">
                        <span style="font-size:24px;margin-right: 8px">●</span>
                        <el-breadcrumb separator-class="el-icon-arrow-right" >

                            <el-breadcrumb-item  th:if="${modularType.name} eq'ModelItem'" th:each="class:${classS}" th:text="${class.name}"
                                                 th:onclick="window.open('/modelItem/repository?category='+[[${class.id}]])"
                                                 :to="{ path: '/' }">
                            </el-breadcrumb-item>
                            <el-breadcrumb-item  th:if="${modularType.name} eq'Concept'" th:each="class:${classS}" th:text="${class.name}"
                                                 th:onclick="window.open('/repository/concept?category='+[[${class.id}]])"
                                                 :to="{ path: '/' }">
                            </el-breadcrumb-item>
                            <el-breadcrumb-item  th:if="${modularType.name} eq'SpatialReference'" th:each="class:${classS}" th:text="${class.name}"
                                                 th:onclick="window.open('/repository/spatialReference?category='+[[${class.id}]])"
                                                 :to="{ path: '/' }">
                            </el-breadcrumb-item>
                            <el-breadcrumb-item  th:if="${modularType.name} eq'Template'" th:each="class:${classS}" th:text="${class.name}"
                                                 th:onclick="window.open('/repository/template?category='+[[${class.id}]])"
                                                 :to="{ path: '/' }">
                            </el-breadcrumb-item>
                            <el-breadcrumb-item  th:if="${modularType.name} eq'Unit'" th:each="class:${classS}" th:text="${class.name}"
                                                 th:onclick="window.open('/repository/unit?category='+[[${class.id}]])"
                                                 :to="{ path: '/' }">
                            </el-breadcrumb-item>

                        </el-breadcrumb>
                    </div>
                </div>

            </div>
        </div>
</div>

<div th:fragment="alias" id="alias" class="detail_block"
     th:if="${itemInfo.alias!=null&&#lists.size(itemInfo.alias)>0}">
    <div class="block_head">
        <div class="head_text">
            <h4 translateId="Alias">Alias</h4>
        </div>
        <span class="blockEdit">
                 <el-tooltip popper-class="fontsize-15" content="Edit" effect="light" placement="top">
                    <el-button th:if="${itemInfo.status=='Public'&&history!=true&&itemInfo.lock!=true}"
                               type="primary" icon="el-icon-edit" @click="getAlias" circle></el-button>
                </el-tooltip>
                <el-tooltip popper-class="fontsize-15"
                            :content="htmlJSON.anotherVersion"
                            effect="light" placement="top">
                    <el-button th:if="${itemInfo.status=='Public'&&history!=true&&itemInfo.lock==true}"
                               icon="el-icon-edit" plain circle></el-button>
                </el-tooltip>
        </span>
    </div>
    <div th:fragment="aliasContent" class="block_content" style="margin-bottom:10px;">

        <el-tag th:each="alias:${itemInfo.alias}" th:text="${alias}"
                style="margin: 0 10px 10px 0;font-weight: bold;color: #3396ef"></el-tag>

    </div>

</div>

<!--resource资源-->
<div th:fragment="Resource" id="Resource" class="detail_block" style="padding: 10px 20px 0 0;"
     th:if="${(itemInfo.contentType=='Code'||itemInfo.contentType=='Library'||itemInfo.contentType=='Package')&&(itemInfo.resources!=null&&#lists.size(itemInfo.resources)>0)}">
    <div class="block_head">
        <div class="head_text">
            <h4 v-text="htmlJSON.Resource"></h4>
        </div>
    </div>
    <div class="block_content" style="margin-right: 0;">
        <div class="el-card filecontent is-always-shadow" id="browsercont"
             style=" overflow-y: auto;">
            <div class="el-card dataitemisol is-never-shadow"
                 th:each="data,key:${resources}"
                 th:title="${data.name}" shadow="never" th:id="${key.index}"
                 th:key="${key.index}" @click.native="getid(id)"
                 style="width: 150px;">
                <i class="fas fa-file-download"></i>
                <a target="_blank"
                   th:href="'/static'+'/dataMethod/'+${itemInfo.contentType}+${data.path}"
                   style="color:black">
                    <div class="resouceFile el-card__body">
                        <div class="el-row">
                            <!--                                        <div class="el-col el-col-6">&nbsp;</div>-->
                            <div class="fileIcon el-col el-col-12" style="margin-left: 30px;">
                                <img
                                        th:src="'/static/img/filebrowser/'+${data.suffix}+'.svg'"
                                        onerror="this.onerror='';src='/static/img/filebrowser/unknow.svg'"
                                        style="width: 100%;">
                            </div>
                            <div style="margin-left: 15px;display: none" class="downloadIcon" >
                                <img
                                        th:src="'/static/img/filebrowser/download.png'"
                                        onerror="this.onerror='';src='/static/img/filebrowser/unknow.svg'">
                            </div>
                            <div class="el-col el-col-6">&nbsp;</div>
                        </div>
                        <div class="el-row" style="height: 45px;">
                            <div class="el-col el-col-2">&nbsp;</div>
                            <div class="el-col el-col-20 fileIcon">
                                <p th:text="${data.name}" style="overflow: hidden;
                                        overflow-wrap: break-word; word-break: break-all; text-align: center;
                                        display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;line-height: 1.5">
                                </p>
                            </div>
                            <div class="el-col el-col-2">&nbsp;</div>
                        </div>
                    </div>

                </a>
            </div>

        </div>
    </div>
</div>


<!--Copyright and Disclaimer 版权及免责声明-->
<div th:fragment="copyright" id="copyright" class="detail_block">
    <div class="block_head">
        <div class="head_text">
            <h4 translateId="CopyrightAndDisclaimer">Copyright and Disclaimer</h4>
        </div>
    </div>
    <div class="block_content">
        <div class="copyright_text" translateId="CopyrightAndDisclaimerInfo">
            All copyrights of a material (model, data, article, etc.) in the OpenGMS fully belong to its author/developer/designer (or any other wording about the owner). The OpenGMS takes every care to avoid copyright infringement, contributor(s) should carefully employ materials from other sources and give proper citations.
        </div>
    </div>
</div>

<!--history 历史-->
<div th:fragment="History" id="History" class="detail_block">
<!--     th:if="${history!=true&&itemInfo.versions!=null&&#lists.size(itemInfo.versions)!=0}">-->
    <div class="block_head">
        <div class="head_text" style="padding-left: 10px;">
            <h4 translateId="History">History</h4>
        </div>
    </div>
    <div class="block_content text-center" style="padding-left:10px">

        <div style="text-align: left;">

            <div class="panel-body" style="padding-left: 0px; padding-top: 7px; padding-right: 0px;">
                <dl>
                    <dt th:if="${lastModifier}"><span translateId="Lastmodifier">Last modifier</span>:&nbsp</dt>
                    <dd><a th:if="${lastModifier}" th:text="${lastModifier.name}"  th:href="${'/profile/'+lastModifier.accessId}"
                           target="_blank"></a></dd>
                    <dt th:if="${lastModifyTime}"><span translateId="Lastmodifytime" >Last modify time</span>:&nbsp</dt>
                    <dd th:if="${lastModifyTime}" th:text="${lastModifyTime}"></dd>
                    <dt th:if="${itemInfo} and ${#lists.size(itemInfo.versions)} lt 0"><span translateId="Modifytimes">Modify times</span>:&nbsp</dt>
                    <dd><span th:if="${itemInfo} and ${#lists.size(itemInfo.versions)} lt 0" th:text="${#lists.size(itemInfo.versions)+'&nbsp'}"></span>
                        <a th:if="${itemInfo} and ${#lists.size(itemInfo.versions)} lt 0"th:href="'/version/historyList/modelItem/'+${itemInfo.id}" target="_blank" translateId="viewHistory">View History</a></dd>
                </dl>
            </div>

        </div>
    </div>
</div>

<!--qrcode 网页二维码大屏-->
<div th:if="${history!=true}" th:fragment="QR_lg" id="QR" class="detail_block">
    <div class="block_head">
        <div class="head_text" style="padding-left: 10px;">
            <h4 translateId="QRCode">QR Code</h4>
        </div>
    </div>
    <div class="block_content">
        <div class="qrcode" style="width:200px;height:200px;margin:0 auto"></div>
    </div>
</div>
<!--qrcode 网页二维码小屏-->
<div th:if="${history!=true}" th:fragment="QR_sm" id="QR0" class="detail_block minScreen">
    <div class="block_head">
        <div class="head_text" style="padding-left: 10px;">
            <h4 v-text="htmlJSON.QRCode"></h4>
        </div>
    </div>
    <div class="block_content">
        <div class="qrcode"  style="width:200px;height:200px;margin:0 auto"></div>
    </div>
</div>

<!--Co-contributor(s) 共同创建者-->
<div th:if="${modularType.name} eq 'ModelItem'" v-if="contributors!=null&&contributors.length>0" th:fragment="coContributor" id="coContributor" class="detail_block">
    <div class="block_head" style="border-left-color: #00d083;">
        <div class="head_text" style="padding-left: 10px;padding-right: 15px;display: inline-flex">
            <h4 translateId="CoContributor">{{htmlJSON.CoContributor}}</h4>
        </div>
    </div>
    <div class="block_content" style="padding-left:10px;">

        <div class="flexCenter" style=" white-space: nowrap; justify-content: normal;">
            <div class="wzhScrollbar">
                <div  v-for="(contributor,index) in contributors" :key="contributor.accessId"
                      class="inlineBlock cursorPointer" style="margin: 10px 5px;">
                    <el-tooltip effect="dark"
                                :content="contributor.name"
                                placement="bottom">
                        <a :href="'/profile/'+contributor.accessId" target="_blank">
                            <user-avatar ref="coContributorAvatar1" style="width:35px;height: 35px;"></user-avatar>
                        </a>
                    </el-tooltip>
                </div>

            </div>

        </div>
    </div>
</div>
</body>
</html>