<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Cite OpenGMS | OpenGMS</title>
    <meta name="keywords" content="引用OpenGMS,地理模型,地理分析模型,地理建模,地理模拟,地理建模与模拟,地理数据,cite OpenGMS,opengms,geographic modeling and simulation,geographic model,geographic analysis model,geo-analysis model,geographic simulation model,geographic data">
    <meta name="description" content="In this page you will find references to cite when referring to or making use of OpenGMS tools.">
    <link rel="stylesheet" href="/static/lib/element-ui/theme-chalk/index.css">
    <link rel="stylesheet" href="/static/css/base/bootstrap.min.css">
    <link rel="stylesheet" href="/static//css/base/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/base/fluent/fluent.css">
    <link rel="stylesheet" href="/static/css/base/style.css">
    <link rel="stylesheet" href="/static/css/base/universal.css">
    <link rel="stylesheet" href="/static/css/base/wzhStyle.css">
    <link rel="stylesheet" href="/static/css/base/wzhFlexContainer.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/navbar.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/footerResponse.css" />

    <style>
        .fixed{
            position: fixed;
            top: 30px;
        }

        #contentsTree{
            max-height:calc(100vh - 195px) ;
        }
    </style>

</head>
<body>
<div v-cloak id="app">
    <div th:replace="fragments/navbar :: unlog"></div>
    <div th:replace="fragments/backToTop :: backtop-down"></div>
    <div class="clearfix" style="position: relative;"
         :style="{'min-height':ScreenMinHeight}">
        <div class="clearfix" style="height: 100%;">
            <div class="clearfix titleImg_small fontWhite" style="background-image: url('/static/img/italy_clip.jpg');background-position-y: 510px;">
                <h3 style="text-align: center;margin-top: 30px"><span class="h_lite">Cite </span>OpenGMS</h3>
                <h5 style="text-align: center;margin-top: 20px">Below you will find references to cite when referring to or making use of OpenGMS tools.</h5>
            </div>

            <div class="col-lg-10 col-lg-offset-1 col-md-12 clearfix" style="padding: 5px 0">
                <el-row :gutter="40" >

                    <el-col id="leftPanel" :span="sectionTitleSpan" style="position: sticky;top:0px">
                        <div class="treeContainer" id="sidebarMenu">
                            <div class=" lineButton" style="margin: 15px 15px 25px 13px;width: 63px;cursor: default;" >
                                <div type="info">Catalogue</div>
                                <div class="hoverLine"></div>
                            </div>
                            <el-tree
                                    id="contentsTree"
                                    class="wzhScrollbar"
                                    :data="sectionData"
                                    :default-expand-all="true"
                                    :expand-on-click-node="false"
                                    @node-click="anchorClick"
                                    ref="tree">
                            </el-tree>
                        </div>
                    </el-col>
                    <el-col :span="sectionSpan" style="margin-bottom: 30px;">
                        <div th:each="block,index:${cites}" style="margin-bottom: 20px;">
                            <h3 style="padding: 0 20px 0 20px; color: #0a6999" th:id="${block.id}" th:text="${block.block}"> </h3>
                            <hr style="margin:0;">
                            <div class="clearfix docSection " style="background-color: white;padding: 0 20px 0px" >
                                <section class="wordSpace" th:each="section,index2:${block.children}" th:if="${section.head != ''}" th:id="${section.id}" >
                                    <h3 class="h_lite" th:text="${section.head}"></h3>
                                    <ul>
                                        <li th:each="cite,index3:${section.content}" th:if="${cite.refer != ''}" style="list-style: disc; margin-bottom:8px;">
                                            <span th:text="${cite.refer}"></span>
                                            <a th:href="${cite.link}" th:text="${cite.link}" target="_blank"></a><span th:if="${cite.link != ''}">.</span>
                                        </li>
                                    </ul>
                                </section>
                            </div>
                        </div>
                        <li>
                            <a href="http://opengmsteam.com/publications" target="_blank">
                                View all papers contributed by OpenGMS members.
                            </a>
                        </li>
                    </el-col>
                </el-row>
                <!--<h5 class="phoneCenter"><a class="cursorPointer">Download</a> this support document.</h5>-->
                <!--<div class="flexAlignCenter phoneCenter">-->
                    <!--<h5 style="margin-right: 15px">Still have problems?</h5>-->
                    <!--<el-button round size="mini" type="primary" @click="" plain>Contact us</el-button>-->
                <!--</div>-->
            </div>

        </div>


    </div>
    <div th:replace="fragments/footer :: footer"></div>

</div>
</body>

<script th:inline="javascript">
    var cites = [[${cites}]]

</script>

<script src="/static/js/common/jquery-3.3.1.min.js"></script>
<script src="/static/js/common/vue.min.js"></script>
<script src="/static/js/index/bootstrap.min.js"></script>
<script src="/static/js/common/axios.min.js"></script>
<script src="/static/element-ui/index.js"></script>
<script src="/static/element-ui/umd/locale/en.js"></script>

<script src="/static/js/page/citeOpenGMS.js"></script>
<script src="/static/js/common/navbar.js"></script>
</html>
