<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" >
    <title>Computable Model Repository | OpenGMS</title>


    <link rel="stylesheet" href="/static/lib/element-ui/theme-chalk/index.css">
    <link rel="stylesheet" href="/static/css/base/bootstrap.min.css">
    <link rel="stylesheet" href="/static//css/base/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/base/style.css">
    <link rel="stylesheet" href="/static/css/base/universal.css">
    <link rel="stylesheet" href="/static/css/base/list.css">
    <link rel="stylesheet" href="/static/css/base/tree.css">
    <link rel="stylesheet" href="/static/css/other/bootstrap-select.css">
    <link rel="stylesheet" href="/static/css/page/model_items.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/navbar.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/footerResponse.css" />

    <style>
        .info{
            padding-top:0px;
        }
    </style>
</head>
<body>
<div id="app">
    <div th:replace="fragments/navbar :: unlog"></div>

    <div class="clearfix" style="margin:40px 0px;height: auto;">
        <el-col :span="20" :offset="2" style="min-width: 1250px;">
            <el-row>
                <h2 class="main-title">Computable Model Repository</h2>
                <h5 class="sub-title">The repository of geographic models.</h5>
                <hr>
            </el-row>

            <!--<el-col :span="8" style="margin-top:29px;">-->
                <!--<el-card class="box-card" style="margin-right:20px">-->
                    <!--<div slot="header" class="clearfix text-center">-->
                        <!--<span style="font-size: 20px;color:#444">Classification</span>-->
                    <!--</div>-->
                    <!--<el-tree-->
                            <!--ref="tree"-->
                            <!--:data="treeData"-->
                            <!--show-checkbox-->
                            <!--node-key="id"-->
                            <!--:default-expanded-keys="[1, 2, 3]"-->
                            <!--@check-change="handleCheckChange"-->
                            <!--:props="defaultProps">-->
                    <!--</el-tree>-->
                <!--</el-card>-->
            <!--</el-col>-->

            <el-col :span="24">
                <div class="searcherPanel">
                    <div class="searcherInputPanel" @keydown.enter="search()">
                        <input id="searchBox" type="text" placeholder="Computabel Model Name..." v-model="searchText">
                        <button @click="search()">Search</button>
                        <a id="expend" href="javascript:void(0)" class="fa fa-angle-double-down fa-3x hidden" aria-hidden="true"></a>
                    </div>
                </div>

                <div class="advancedSearch" style="margin-top:30px;position:relative;min-height:1px;display: none;">
                    <div class="criteriaPanel">
                        <label class="col-md-12" style="padding-left:0px;"><Strong>Please Enter Search
                            Criteria:</Strong></label>
                        <div class="lines">
                            <div class="line">
                            <span class="tools col-md-1 pull-left" style="padding:0px">
                                 <a class="fa fa-plus" style="" href="javascript:;"></a>
                                 <a class="fa fa-minus" style="" href="javascript:;"></a>
                            </span>

                                <div class="input-group col-md-5 pull-left">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default dropdown-toggle prop"
                                                data-toggle="dropdown">Model Name<span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <li><a class="propName" href="javascript:void(0);">Model Name</a></li>
                                            <li><a class="propName" href="javascript:void(0);">Keyword</a></li>
                                            <li><a class="propName" href="javascript:void(0);">Overview</a></li>
                                            <li><a class="propName" href="javascript:void(0);">Description</a></li>
                                            <li><a class="propName" href="javascript:void(0);">Provider</a></li>
                                            <li><a class="propName" href="javascript:void(0);">Reference</a></li>
                                        </ul>
                                    </div>
                                    <input type="text" class="form-control value">
                                </div>
                                <div class="input-group col-md-1 pull-left">
                                    <select class="form-control connect">
                                        <option>AND</option>
                                        <option>OR</option>
                                        <option>NOT</option>
                                    </select>
                                </div>
                                <div class="input-group col-md-5 pull-left">
                                    <input type="text" class="form-control value">
                                </div>

                            </div>
                            <div class="line">
                                <div class="input-group col-md-1 pull-left">
                                    <select class="form-control connect">
                                        <option>AND</option>
                                        <option>OR</option>
                                        <option>NOT</option>
                                    </select>

                                </div>
                                <div class="input-group col-md-5 pull-left">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default dropdown-toggle prop"
                                                data-toggle="dropdown">Keyword<span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <li><a class="propName" href="javascript:void(0);">Model Name</a></li>
                                            <li><a class="propName" href="javascript:void(0);">Keyword</a></li>
                                            <li><a class="propName" href="javascript:void(0);">Overview</a></li>
                                            <li><a class="propName" href="javascript:void(0);">Description</a></li>
                                            <li><a class="propName" href="javascript:void(0);">Provider</a></li>
                                            <li><a class="propName" href="javascript:void(0);">Reference</a></li>
                                        </ul>
                                    </div>
                                    <input type="text" class="form-control value">
                                </div>
                                <div class="input-group col-md-1 pull-left">
                                    <select class="form-control connect">
                                        <option>AND</option>
                                        <option>OR</option>
                                        <option>NOT</option>
                                    </select>
                                </div>
                                <div class="input-group col-md-5 pull-left">

                                    <input type="text" class="form-control value">
                                </div>
                            </div>
                        </div>

                        <div class="line pull-right">

                            <a id="drawback" href="javascript:void(0)" class="fa fa-angle-double-up fa-3x" style="display:inline-block"></a>
                            <button id="query" class="" style="display: inline-block;margin-top:-18px;margin-right:4px;" type="button" @click="search()">Search</button>

                        </div>
                    </div>
                </div>

                <div class="progressPanel">
                    <span class="barControl">
                        <div class="barContro_space">
                            <span class="progress_line" :class="{active:pageOption.progressBar}"></span>
                        </div>
                    </span>
                </div>

                <div class="modelPanel">
                    <div class="content-body">
                        <div class="list-item" v-for="computableModel in pageOption.searchResult">
                            <div class="detail_title">
                                <a :class="computableModel.viewCount>500?'hot':''" :href="'/computableModel/'+computableModel.oid" target="_blank">{{computableModel.name}}&nbsp&nbsp</a>
                            </div>
                            <div class="detail_overview">
                                <a class="img" :href="'/computableModel/'+computableModel.oid" target="_blank">
                                    <img :src="computableModel.image==null?'/static/img/model/calcModel.png':computableModel.image">
                                </a>

                                <div class="info">
                                    <p>{{computableModel.description}}</p>
                                    <!--<div class="tags" v-if="computableModel.keywords.length>0">-->
                                        <!--<span class="badge badge-info" v-for="keyword in computableModel.keywords">{{keyword.toUpperCase()}}</span>-->
                                    <!--</div>-->
                                </div>
                            </div>
                            <hr>
                            <div class="detail_bottom">
                                <div style="display:inline-block;float: left;">
                                    <img src="/static/img/icon/default.png" class="round_icon" style="margin-top:-5px;width:30px;height: 30px;display: inline-block;">
                                    <a href="javascript:void(0)" style="display: inline-block;margin-left: 5px;"><h4>{{computableModel.author.toUpperCase()}}</h4></a>
                                    <h4 style="display: inline-block;margin-left: 10px">contributed at {{computableModel.createTime.substring(0,10)+' '+computableModel.createTime.substring(11,19)}} </h4>
                                </div>
                                <div class="detail_option">


                                    <a class="fa fa-eye" aria-hidden="true"></a>&nbsp&nbsp{{computableModel.viewCount}}
                                    <!--<a href="javascript:void(0)" class="fa fa-thumbs-o-up" aria-hidden="true"></a>&nbsp&nbsp{{computableModel.thumbsUpCount}}-->
                                </div>
                                <br>
                            </div>
                        </div>

                    </div>
                    <el-pagination style="text-align: center;margin-top:20px"
                            @current-change="handleCurrentChange"
                            :current-page="pageOption.currentPage"
                            layout="total, prev, pager, next, jumper"
                            :total="pageOption.total">
                    </el-pagination>
                </div>
            </el-col>
        </el-col>
    </div>

    <div th:replace="fragments/footer :: footer"></div>

</div>

</body>

<script src="/static/js/common/jquery-3.3.1.min.js"></script>
<script src="/static/js/common/vue.min.js"></script>
<script src="/static/js/common/axios.min.js"></script>
<script src="/static/js/common/bootstrap.js"></script>
<script src="/static/js/common/bootstrap-select.js"></script>
<script src="/static/element-ui/index.js"></script>
<script src="/static/js/page/computable_models.js"></script>

<script src="/static/element-ui/umd/locale/en.js"></script> <script src="/static/element-ui/umd/locale/zh-CN.js"></script>
<script src="/static/js/common/navbar.js"></script>

</html>