<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${itemInfo.name}+' | Computable Model | OpenGMS'">Computable Model | OpenGMS</title>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">


    <link rel="stylesheet" th:href="@{/static/lib/element-ui/theme-chalk/index.css}">
    <link rel="stylesheet" th:href="@{/static/css/base/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/base/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/base/style.css}">
    <link rel="stylesheet" href="/static/css/base/universal.css">
    <link rel="stylesheet" th:href="@{/static/css/base/itemInfo.css}">
    <link rel="stylesheet" th:href="@{/static/css/components/file-manager.css}">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/other/jquery-steps.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/other/jquery.tag-editor.css"/>
    <link rel="stylesheet" th:href="@{/static/css/page/model_item_info.css}">
    <link rel="stylesheet" type="text/css" href="/static/js/mxGraph/css/common.css">
    <link rel="stylesheet" href="/static/css/base/userModule.css">
    <link rel="stylesheet" href="/static/css/base/wzhStyle.css">
    <link rel="stylesheet" href="/static/css/base/wzhFlexContainer.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/navbar.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/footerResponse.css"/>
    <link rel="stylesheet" href="/static/css/base/relate_item.css">

    <style>
        .img img {
            width: 90px;
            height: 90px;
        }

        .el-dialog__header {
            /*padding: 0px;*/
        }

        .mxWindowPane {
            /*overflow-x: hidden !important;*/
            overflow: unset !important;
        }

    </style>
</head>
<body>
<div id="app" v-cloak>
    <div th:replace="fragments/navbar :: unlog"></div>

    <div th:replace="fragments/backToTop :: backtop-down"></div>

    <div class="clearfix" style="padding:40px 0px;height: auto;position: relative;">
        <translation-bar
                json-file="all_model_info"
                @translate-page="translatePage"
                with-comments="true"
                initial-lang="en-us"
                with-item-info-modules="true"
                theme="dark"
                style="position: absolute;top: 10px;right:15px">
        </translation-bar>
        <div class="left-panel el-col">

            <div th:replace="fragments/itemInfoModules :: itemTitle(${itemInfo},true)"></div>

            <div th:replace="fragments/itemInfoModules :: contributor_sm"></div>

            <div th:replace="fragments/itemInfoModules :: computable_Authorship0"></div>

            <div th:replace="fragments/itemInfoModules :: Resource(${resources},'computableModel')"
                 th:if="${(itemInfo.contentType=='Code'||itemInfo.contentType=='Library'||itemInfo.contentType=='Package')&&(itemInfo.resources!=null&&#lists.size(itemInfo.resources)>0)}">
            </div>

            <div th:replace="fragments/itemInfoModules :: computable_Link"></div>

            <div  th:if="${itemInfo.mdlJson}!=null">
                <div th:replace="fragments/itemInfoModules :: computable_MDL"></div>
            </div>

            <div  th:replace="fragments/itemInfoModules :: TaskExample(${relateTaskRunRecord})"></div>

            <div th:replace="fragments/itemInfoModules :: description(${itemInfo}, ${detailLanguage}, True)"></div>

            <div  th:replace="fragments/itemInfoModules :: related_models(${relateModelItemList})"></div>


            <div id="cite" class="detail_block">
                <div class="block_head">
                    <div class="head_text">
                        <h4>{{htmlJSON.HowtoCite}}</h4>
                    </div>
                </div>
                <div class="block_content">
                    <div id="cite-text" class="width:100%">
                        <span th:if="${authorship!=''}"
                              th:text="${authorship}+' ('+${year}+'). '+${itemInfo.name}+', Computable Model, OpenGMS, '"></span>
                        <span th:if="${authorship==''}"
                              th:text="${user.name}+' ('+${year}+'). '+${itemInfo.name}+', Computable Model, OpenGMS, '">
                            Tom Marvolo Riddle.(2018).Integrated stand growth model data,
                            </span>
                        <a style="word-break:break-all;"
                           th:href="'https://geomodeling.njnu.edu.cn/computableModel/'+${itemInfo.id}"
                           th:text="'https://geomodeling.njnu.edu.cn/computableModel/'+${itemInfo.id}">
                            https://geomodeling.njnu.edu.cn/computableModel/4e028983-c8c0-4d98-86cd-85fc16a00d21
                        </a>
                    </div>
                    <div id="copy" class="btn btn-info">
                        {{htmlJSON.Copy}}
                    </div>
                </div>
            </div>

            <div th:replace="fragments/itemInfoModules :: copyright"></div>


            <div id="Modifier0" class="detail_block minScreen"
                 th:if="${history!=true&&itemInfo.contributors!=null&&#lists.size(itemInfo.contributors)!=0}">
                <div th:replace="fragments/itemInfoModules :: History(${lastModifier}, ${lastModifyTime}, 'computableModel')"></div>
            </div>

            <div th:replace="fragments/itemInfoModules :: QR_sm"></div>


            <div id="comment" class="detail_block">
                <comments :html-Json="htmlJSON"></comments>
            </div>
        </div>
        <div class="right-panel el-col" style="border-left: #d2d2d2 solid 1px;margin-left:-1px">
            <div th:replace="fragments/itemInfoModules :: contributor_lg"></div>

            <div id="Authorship" class="detail_block" th:if="${history!=true && #lists.size(itemInfo.authorships)>0}">
                <div th:replace="fragments/itemInfoModules :: authorship(1,${itemInfo},true)"></div>

            </div>

            <div id="Modifier" class="detail_block" style="margin: 0px"
                 th:if="${history!=true&&itemInfo.contributors!=null&&#lists.size(itemInfo.contributors)!=0}">
                <div th:replace="fragments/itemInfoModules :: History(${lastModifier}, ${lastModifyTime}, 'computableModel')"></div>

            </div>
            <div th:replace="fragments/itemInfoModules :: QR_lg"></div>


        </div>

        <div th:if="${history==true}"
             style="pointer-events:none;position: absolute;top:0;bottom: 0;left: 0;right: 0;background-image: url('/static/img/historyBackground.png')"></div>

    </div>

    <div v-cloak id="ModelShow" style="display: none;">
        <iframe src="/common/ModelShow"
                style="width: 100%; height: 100%;z-index: 990; position:absolute;  top:0px;"></iframe>
        <el-button style="z-index: 999; position: absolute;left: 20px;top: 10px;" @click="hideMxGraph"> Close
        </el-button>
    </div>

    <el-dialog v-cloak
               title=""
               :visible.sync="dialogVisible"
               width="30%"
               :close-on-click-modal="false"
               :close-on-press-escape="false"
               :show-close="dialogShowClose">
        <span v-if="contentBeforeDeploy">
            <h4>This computable model has not been deployed, do you want to deploy it now?</h4>
        </span>
        <span v-if="contentDeploying">
            <h4 style="padding-bottom: 15px;">Deploying...</h4>
            <div class="progress progress-striped active progress-sm">
                <div style="width: 100%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="100" role="progressbar"
                     class="progress-bar progress-bar-info">
                    <span class="sr-only"></span>
                </div>
            </div>
        </span>
        <span v-if="contentAfterDeploy_suc">
            <h4>Deploy successfully!</h4>
        </span>
        <span v-if="contentAfterDeploy_fail">
            <h4>Deploy failed! Please try again.</h4>
        </span>
        <span v-if="footerBeforeDeploy" slot="footer" class="dialog-footer">
            <el-button @click="dialogVisible = false">Cancel</el-button>
            <el-button type="primary" @click="deployToGivenServer">OK</el-button>
        </span>
        <span v-if="footerAfterDeploy" slot="footer" class="dialog-footer">
            <el-button type="primary" @click="window.location.reload();">OK</el-button>
        </span>
    </el-dialog>
    <!-- edit -->
    <el-dialog title="Edit Computable Model" class="responseDialog" :visible.sync="editComputableModelDialog" width="65%">
        <edit-computable-model-module :model-edit-oid="modelOid"></edit-computable-model-module>
    </el-dialog>

    <el-dialog title="Select Model Server" center :visible.sync="selectModelServerDialog">
        <div style="flex: 1.5;margin-left: 5px">
            <p style="text-align: center;font-style: italic;color: #999999">We have provided several servers of different platforms for model deploying.</p>
            <p style="text-align: center;font-style: italic;color: #999999">If this model was contributed by you, and you want to deploy this model only on your model server, please change its content type to 'md5' in your space.</p>
            <div class="wzhScrollbar"
                     style="height: 340px;min-height: 350px">
                <div style="width: 100%;margin-bottom: 10px">
                    <div class="col-sm-12 col-md-6 col-lg-6"
                         v-if="publicModelContainerList.length!=0"

                         v-for="(container,index) in publicModelContainerList">
                        <el-card class="box-card serverCard"
                                 :class="container.status?'cursorPointer':''"
                                 :style="container.ip==modelServerUrl.split(':')[0]?'border-top:8px solid #36c94f':''"
                                 @click.native="selectModelServer(container)"
                        >
                            <div class="content">
                                <div class="clearfix">
                                    <div class="pull-left">
                                        <h4>
                                            {{container.hardware.hostName}}

                                        </h4>
                                        <p style="margin-bottom:5px">
                                            {{container.hardware.system}}
                                            {{container.hardware.version}}</p>
                                        <p>{{container.hardware.cpu_Core}}
                                            Core -
                                            {{container.hardware.totalMemory}}
                                            RAM -
                                            {{container.hardware.diskAll}}
                                            Hard Disk</p>
                                    </div>
                                </div>
                                <div class="clearfix"
                                     style="margin-top:10px">
                                    <div class="serverStatus pull-left"
                                         v-if="container.status">
                                        <span style="background: #6FCE7F;display:inline-block;width:10px;height:10px;border-radius: 50%;"></span>
                                        Running
                                    </div>
                                    <div class="serverStatus pull-left"
                                         v-else>
                                        <span style="background: #929994;display:inline-block;width:10px;height:10px;border-radius: 50%;"></span>
                                        Offline
                                    </div>
                                </div>
                            </div>
                        </el-card>
                    </div>

                </div>
            </div>
        </div>
        <span slot="footer" class="dialog-footer">
            <el-button style="float: right;margin-right: 5px" size="small" type="primary" @click="deploy">Deploy</el-button>
            <el-button style="float: right" size="small" @click="selectModelServerDialog=false">Cancel</el-button>
        </span>
    </el-dialog>
    <div th:replace="fragments/footer :: footer"></div>

    <el-dialog title="任务列表" :visible.sync="dialogTableVisible">
        <el-table :data="gridData">
            <el-table-column type="index" width="50"></el-table-column>
            <el-table-column property="computableName" label="Model Name" width="250"></el-table-column>
            <el-table-column property="runTime" label="Run Time" width="250"></el-table-column>
            <el-table-column label="permission" width="150">
                <template slot-scope="scope">
                    <span v-if="scope.row.permission == 'public'">Public</span>
                    <span v-else>Private</span>
                </template>
            </el-table-column>
            <el-table-column label="Operation">
                <template slot-scope="scope">
                    <el-button v-if="scope.row.permission != 'public'" @click="publicTask(scope.row.id, scope.row)" type="text" size="small">Public</el-button>
                    <el-button v-if="scope.row.permission == 'public'" @click="editTask(scope.row.id, scope.row)" type="text" size="small">Edit</el-button>
                </template>
            </el-table-column>
        </el-table>
    </el-dialog>

    <el-dialog title="任务信息编辑" :visible.sync="taskDialogFormVisible">
        <el-form :model="taskInfo">
            <el-form-item label="时间范围" :label-width="formLabelWidth" prop="taskDateRange" :rules="[{ required: true, message: '请输入时间范围', trigger: 'blur' }]">
                <el-input v-model="taskInfo.taskDateRange" autocomplete="off"></el-input>
            </el-form-item>

            <el-form-item label="应用区域" :label-width="formLabelWidth" prop="taskApplyArea" :rules="[{ required: true, message: '请输入应用区域', trigger: 'blur' }]">
                <el-input v-model="taskInfo.taskApplyArea" autocomplete="off"></el-input>
            </el-form-item>

            <el-form-item label="任务描述" :label-width="formLabelWidth" prop="taskDesc" :rules="[{ required: true, message: '请输入任务描述', trigger: 'blur' }]">
                <el-input v-model="taskInfo.taskDesc" autocomplete="off"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="taskDialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="taskInfoConfirm">确 定</el-button>
        </div>
    </el-dialog>

    <el-dialog title="任务信息编辑" :visible.sync="taskDialogFormVisible2">
        <el-form :model="taskInfo">
            <el-form-item label="时间范围" :label-width="formLabelWidth" prop="taskDateRange" :rules="[{ required: true, message: '请输入时间范围', trigger: 'blur' }]">
                <el-input v-model="taskInfo.taskDateRange" autocomplete="off"></el-input>
            </el-form-item>

            <el-form-item label="应用区域" :label-width="formLabelWidth" prop="taskApplyArea" :rules="[{ required: true, message: '请输入应用区域', trigger: 'blur' }]">
                <el-input v-model="taskInfo.taskApplyArea" autocomplete="off"></el-input>
            </el-form-item>

            <el-form-item label="任务描述" :label-width="formLabelWidth" prop="taskDesc" :rules="[{ required: true, message: '请输入任务描述', trigger: 'blur' }]">
                <el-input v-model="taskInfo.taskDesc" autocomplete="off"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="taskDialogFormVisible2 = false">取 消</el-button>
            <el-button type="primary" @click="taskInfoConfirm2">确 定</el-button>
        </div>
    </el-dialog>

    <el-dialog title="任务信息编辑" :visible.sync="taskDialogFormVisible3">
        <el-form :model="taskInfo">
            <el-form-item label="时间范围" :label-width="formLabelWidth" prop="taskDateRange" :rules="[{ required: true, message: '请输入时间范围', trigger: 'blur' }]">
                <el-input v-model="taskInfo.taskDateRange" autocomplete="off"></el-input>
            </el-form-item>

            <el-form-item label="应用区域" :label-width="formLabelWidth" prop="taskApplyArea" :rules="[{ required: true, message: '请输入应用区域', trigger: 'blur' }]">
                <el-input v-model="taskInfo.taskApplyArea" autocomplete="off"></el-input>
            </el-form-item>

            <el-form-item label="任务描述" :label-width="formLabelWidth" prop="taskDesc" :rules="[{ required: true, message: '请输入任务描述', trigger: 'blur' }]">
                <el-input v-model="taskInfo.taskDesc" autocomplete="off"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="taskDialogFormVisible3 = false">取 消</el-button>
            <el-button type="primary" @click="taskInfoConfirm3">确 定</el-button>
        </div>
    </el-dialog>
</div>
<template th:replace="modules/editComputableModelModule :: editComputableModelModule"></template>
<template th:replace="fragments/comments :: comments"></template>
<template th:replace="modules/userAvatar :: userAvatar"></template>

</body>

<script th:inline="javascript">
    var Behavior = [[${behavior}]];
    var author=[[${user}]];
</script>
<!--翻译组件，本页面组件js引入位置不能靠后-->
<template th:replace="modules/translationBar :: translationBar"></template>
<script src="/static/js/common/vue.min.js"></script>
<script src="/static/element-ui/index.js"></script>
<script src="/static/element-ui/umd/locale/en.js"></script> <script src="/static/element-ui/umd/locale/zh-CN.js"></script>
<script src="/static/js/modules/translationBar.js"></script>

<script src="/static/js/common/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/static/js/common/jquery.tag-editor.js"></script>
<script type="text/javascript" src="/static/js/common/jquery-steps.js"></script>
<script type="text/javascript" src="/static/iCheck/jquery.icheck.min.js"></script>
<script src="/static/js/common/md5.js"></script>


<script src="/static/js/tinymce_5.3.2/tinymce/js/tinymce/tinymce.min.js"></script>


<script src="/static/js/common/axios.min.js"></script>

<script src="/static/js/common/qrcode.min.js"></script>
<script src="/static/js/modules/userAvatar.js"></script>

<script src="/static/js/modules/editComputableModelModule.js"></script>
<script src="/static/js/modules/comments.js"></script>
<script src="/static/js/common/copy.js"></script>
<script src="/static/js/common/bootstrap.min.js"></script>



<script>
    mxBasePath = "/static/js/mxGraph";
</script>

<script type="text/javascript" src="/static/js/mxGraph/js/mxClient.js"></script>
<script type="text/javascript" src="/static/js/mxGraph/js/ogmsDiagram.js"></script>

<script src="/static/js/page/computable_model.js"></script>
<!--<script src="/static/js/common/navbar.js"></script>-->


<script>

    if (Behavior != null){
        var behavior = {};

        if (Behavior.StateGroup[0].States === '') {
            behavior.states = [];
        }
        else {
            behavior.states = Behavior.StateGroup[0].States[0].State;
        }

        if (Behavior.StateGroup[0].StateTransitions === "") {
            behavior.transition = [];
        }
        else {
            behavior.transition = Behavior.StateGroup[0].StateTransitions[0].Add;
        }

        if (Behavior.RelatedDatasets === "") {
            behavior.dataRef = [];
        }
        else {
            behavior.dataRef = Behavior.RelatedDatasets[0].DatasetItem;
        }

        function getLoadJson() {
            return JSON.stringify(behavior).replace(new RegExp("\"Event\":", "gm"), "\"events\":");
        }
    }



</script>

<script src="/static/js/common/navbar.js"></script>
</html>