<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title th:text="${itemInfo.name}+' | Conceptual Model | OpenGMS'">Conceptual Model | OpenGMS</title>


    <link rel="stylesheet" th:href="@{/static/lib/element-ui/theme-chalk/index.css}">
    <link rel="stylesheet" th:href="@{/static/css/base/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/base/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/base/style.css}">
    <link rel="stylesheet" th:href="@{/static/css/base/universal.css}">
    <link rel="stylesheet" th:href="@{/static/css/base/itemInfo.css}">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/iCheck/skins/flat/green.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/other/jquery-steps.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/other/jquery.tag-editor.css"/>
    <link rel="stylesheet" th:href="@{/static/css/page/model_item_info.css}">
    <link rel="stylesheet" href="/static/css/base/userModule.css">
    <link rel="stylesheet" href="/static/css/base/wzhStyle.css">
    <link rel="stylesheet" type="text/css" href="/static/js/graphEditor/styles/grapheditor.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/navbar.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/footerResponse.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/wzhFlexContainer.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/wzhStyle.css" />
    <style>
        .img img {
            width: 90px;
            height: 90px;
        }

        img{
            max-width: 100%;
        }

        .el-tabs__header {
            position: unset;
        }

        /**
            张硕
            2019.11.14
            控制 format 面板的样式
         */
        .geSidebarContainer.geFormatContainer * {
            -webkit-box-sizing: unset;
            -moz-box-sizing: unset;
            box-sizing: unset;
        }
    </style>
</head>
<body>
<div id="app">
    <div th:replace="fragments/navbar :: unlog"></div>

    <div th:replace="fragments/backToTop :: backtop-down"></div>

    <div class="clearfix" style="padding:40px 0px;height: auto;position: relative;">
        <translation-bar
                json-file="all_model_info"
                @translate-page="translatePage"
                with-comments="true"
                initial-lang="en-us"
                with-item-info-modules="true"
                theme="dark"
                style="position: absolute;top: 10px;right:15px">
        </translation-bar>
        <div class="left-panel el-col">
            <div th:replace="fragments/itemInfoModules :: itemTitle(${itemInfo},true)"></div>

            <div th:replace="fragments/itemInfoModules :: contributor_sm"></div>

            <div th:replace="fragments/itemInfoModules :: computable_Authorship0"></div>

            <div th:replace="fragments/itemInfoModules :: conceptual_graph"></div>

            <div th:replace="fragments/itemInfoModules :: description(${itemInfo}, ${detailLanguage}, True)"></div>

            <div th:replace="fragments/itemInfoModules :: related_models" ></div>

            <div id="cite" class="detail_block">
                <div class="block_head">
                    <div class="head_text">
                        <h4>{{htmlJSON.HowtoCite}}</h4>
                    </div>
                </div>
                <div class="block_content">
                    <div id="cite-text" class="width:100%-50px">
                        <span th:if="${authorship!=''}" th:text="${authorship}+' ('+${year}+'). '+${itemInfo.name}+', Conceptual Model, OpenGMS, '"></span>
                            <span th:if="${authorship==''}" th:text="${user.name}+' ('+${year}+'). '+${itemInfo.name}+', Conceptual Model, OpenGMS, '">
                            Tom Marvolo Riddle.(2018).Integrated stand growth model data,
                            </span>

                        <a style="word-break:break-all;" th:href="'https://geomodeling.njnu.edu.cn/conceptualModel/'+${itemInfo.id}"
                           th:text="'https://geomodeling.njnu.edu.cn/conceptualModel/'+${itemInfo.id}">
                            https://geomodeling.njnu.edu.cn/conceptualModel/4e028983-c8c0-4d98-86cd-85fc16a00d21
                        </a>
                    </div>
                    <div id="copy" class="btn btn-info">
                        {htmlJSON.Copy}
                    </div>
                </div>
            </div>

            <div th:replace="fragments/itemInfoModules :: copyright"></div>

            <div id="Modifier0" class="detail_block minScreen"
                 th:if="${history!=true&&itemInfo.contributors!=null&&#lists.size(itemInfo.contributors)!=0}">
                <div th:replace="fragments/itemInfoModules :: History(${lastModifier}, ${lastModifyTime})(${itemInfo.lastModifier}, ${itemInfo.lastModifyTime})"></div>

            </div>

            <div th:replace="fragments/itemInfoModules :: QR_sm"></div>

            <div id="comment" class="detail_block">
                <comments></comments>
            </div>

        </div>

        <div class="right-panel el-col">

            <div id="Contributor" class="detail_block">
                <div th:replace="fragments/itemInfoModules :: contributor_lg"></div>
            </div>

            <div id="Authorship" class="detail_block" th:if="${history!=true && #lists.size(itemInfo.authorships)>0}">
                <div th:replace="fragments/itemInfoModules :: authorship(pos=1)"></div>

            </div>

            <div id="Modifier" class="detail_block"
                 th:if="${history!=true&&itemInfo.contributors!=null&&#lists.size(itemInfo.contributors)!=0}">
                <div th:replace="fragments/itemInfoModules :: History(${lastModifier}, ${lastModifyTime})(${itemInfo.lastModifier}, ${itemInfo.lastModifyTime})"></div>

            </div>

            <div th:replace="fragments/itemInfoModules :: QR_lg"></div>


        </div>

        <div th:if="${history==true}" style="pointer-events:none;position: absolute;top:0;bottom: 0;left: 0;right: 0;background-image: url('/static/img/historyBackground.png')"></div>
    </div>

    <div id="mxgraph_popup" :style="{display: graphVisible}" style="width: 100%;height:100%;z-index: 999; position:absolute;  top:0px;">
        <el-button style="z-index: 999; position: absolute;left: 20px;top: 10px;" @click="hideMxGraph()"> Close </el-button>
        <div id="container_top" th:if="${itemInfo.contentType}=='MxGraph'"
             style="position: initial;border: 2px solid rgb(223, 223, 223);border-width: 0 1px">
            <div id="container" class="geEditor"
                 style="left: 0; top:0;right: 0;bottom: 0;position: absolute;"
                 th:content="${itemInfo.cXml}"></div>
        </div>
    </div>

    <el-dialog title="Bind Model Item" :visible.sync="modelItemFormVisible">
        <el-form :model="form">
            <el-form-item label="Model Item Name" :label-width="400">
                <el-input v-model="form.name" autocomplete="off"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible = false">Cancel</el-button>
            <el-button type="primary" @click="bindModelItem">Bind</el-button>
        </div>
    </el-dialog>
    <!-- edit -->
    <el-dialog title="Edit Conceptual Model" class="responseDialog" :visible.sync="editConceptualModelDialog" width="65%">
        <edit-conceptual-model-module :model-edit-oid="modelOid"></edit-conceptual-model-module>
    </el-dialog>
    <div th:replace="fragments/footer :: footer"></div>


</div>
<template th:replace="modules/editConceptualModelModule :: editConceptualModelModule"></template>
<template th:replace="fragments/comments :: comments"></template>
<template th:replace="modules/userAvatar :: userAvatar"></template>
</body>

<script src="/static/js/common/vue.min.js"></script>
<script src="/static/js/common/axios.min.js"></script>
<script src="/static/element-ui/index.js"></script>

<!--翻译组件，本页面组件js引入位置不能靠后-->
<template th:replace="modules/translationBar :: translationBar"></template>
<script src="/static/element-ui/umd/locale/en.js"></script> <script src="/static/element-ui/umd/locale/zh-CN.js"></script>
<script src="/static/js/modules/translationBar.js"></script>

<script src="/static/js/common/jquery-3.3.1.min.js"></script>

<script type="text/javascript">
    // Parses URL parameters. Supported parameters are:
    // - lang=xy: Specifies the language of the user interface.
    // - touch=1: Enables a touch-style user interface.
    // - storage=local: Enables HTML5 local storage.
    // - chrome=0: Chromeless mode.
    var urlParams = (function (url) {
        var result = new Object();
        var idx = url.lastIndexOf('?');

        if (idx > 0) {
            var params = url.substring(idx + 1).split('&');

            for (var i = 0; i < params.length; i++) {
                idx = params[i].indexOf('=');

                if (idx > 0) {
                    result[params[i].substring(0, idx)] = params[i].substring(idx + 1);
                }
            }
        }

        return result;
    })(window.location.href);

    // Default resources are included in grapheditor resources
    mxLoadResources = false;
    mxBasePath = "/static/js/mxGraph/";
    STYLE_PATH = "/static/js/graphEditor/styles";
    RESOURCES_PATH = "/static/js/graphEditor/resources";
    IMAGE_PATH = "/static/js/graphEditor/images";
    STENCIL_PATH = "/static/js/graphEditor/stencils";
    // EXPORT_URL = "https://geomodeling.njnu.edu.cn/GeoModelingNew/MyTestServlet";
    // SAVE_URL = "https://geomodeling.njnu.edu.cn/GeoModelingNew/MyTestServlet";

    editModel = false;
</script>
<script type="text/javascript" src="/static/js/graphEditor/js/Init.js"></script>
<script type="text/javascript" src="/static/js/graphEditor/deflate/pako.min.js"></script>
<script type="text/javascript" src="/static/js/graphEditor/deflate/base64.js"></script>
<script type="text/javascript" src="/static/js/graphEditor/jscolor/jscolor.js"></script>
<script type="text/javascript" src="/static/js/graphEditor/sanitizer/sanitizer.min.js"></script>
<script type="text/javascript" src="/static/js/mxGraph/js/mxClient.js"></script>
<script type="text/javascript" src="/static/js/graphEditor/js/EditorUi.js"></script>
<script type="text/javascript" src="/static/js/graphEditor/js/Editor.js"></script>
<script type="text/javascript" src="/static/js/graphEditor/js/Sidebar.js"></script>
<script type="text/javascript" src="/static/js/graphEditor/js/Graph.js"></script>
<script type="text/javascript" src="/static/js/graphEditor/js/Shapes.js"></script>
<script type="text/javascript" src="/static/js/graphEditor/js/Actions.js"></script>
<script type="text/javascript" src="/static/js/graphEditor/js/Menus.js"></script>
<script type="text/javascript" src="/static/js/graphEditor/js/Format.js"></script>
<script type="text/javascript" src="/static/js/graphEditor/js/Toolbar.js"></script>
<script type="text/javascript" src="/static/js/graphEditor/js/Dialogs.js"></script>
<script type="text/javascript">
    // Extends EditorUi to update I/O action states based on availability of backend
    (function () {

        var editorUiInit = EditorUi.prototype.init;

        EditorUi.prototype.init = function () {
            editorUiInit.apply(this, arguments);
            this.actions.get('export').setEnabled(false);

            // Updates action states which require a backend
            if (!Editor.useLocalStorage)
            {
                mxUtils.post(OPEN_URL, '', mxUtils.bind(this, function (req)
                {
                    var enabled = req.getStatus() != 404;
                    this.actions.get('open').setEnabled(enabled || Graph.fileSupport);
                    this.actions.get('import').setEnabled(enabled || Graph.fileSupport);
                    this.actions.get('save').setEnabled(enabled);
                    this.actions.get('saveAs').setEnabled(enabled);
                    this.actions.get('export').setEnabled(enabled);
                }));
            }
        };

        // Adds required resources (disables loading of fallback properties, this can only
        // be used if we know that all keys are defined in the language specific file)
        mxResources.loadDefaultBundle = false;
        var bundle = mxResources.getDefaultBundle( RESOURCE_BASE, mxLanguage) ||
            mxResources.getSpecialBundle(RESOURCE_BASE, mxLanguage);

        // Fixes possible asynchronous requests
        mxUtils.getAll([bundle, STYLE_PATH + '/default.xml'], function (xhr) {
            // Adds bundle text to resources
            mxResources.parse(xhr[0].getText());

            // Configures the default graph theme
            var themes = new Object();
            themes[Graph.prototype.defaultThemeName] = xhr[1].getDocumentElement();

            // Main
            if ($("#container").length != 0) {
                mainUI = new EditorUi(new Editor(urlParams['chrome'] == '0', themes), document.getElementById("container"));

                var xml_doc = mxUtils.parseXml($("#container").attr("content"));
                xml_doc.documentElement.setAttribute("page", 0);
                mainUI.editor.setGraphXml(xml_doc.documentElement);
                window.onbeforeunload = null;

            }
        }, function () {
            document.body.innerHTML = '<center style="margin-top:10%;">Error loading resource files. Please check browser console.</center>';
        });
    })();
</script>
<script th:inline="javascript">
    var author=[[${user}]];
</script>

<script src="/static/js/common/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/common/jquery.tag-editor.js"></script>
<script type="text/javascript" src="/static/js/common/jquery-steps.js"></script>
<script type="text/javascript" src="/static/iCheck/jquery.icheck.min.js"></script>
<script src="/static/js/common/md5.js"></script>




<script src="/static/js/common/qrcode.min.js"></script>
<script src="/static/js/tinymce_5.3.2/tinymce/js/tinymce/tinymce.min.js"></script>
<script src="/static/js/modules/userAvatar.js"></script>
<script src="/static/js/page/conceptual_model.js"></script>
<script src="/static/js/modules/comments.js"></script>
<script src="/static/js/common/copy.js"></script>
<script src="/static/element-ui/umd/locale/en.js"></script> <script src="/static/element-ui/umd/locale/zh-CN.js"></script>
<script src="/static/js/common/navbar.js"></script>
<script src="/static/js/modules/editConceptualModelModule.js"></script>

</html>