<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" >
    <title th:text="${itemInfo.name}+' | Concept & Semantic | OpenGMS'">Concept & Semantic | OpenGMS</title>

    <link href="/static/css/base/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/lib/element-ui/theme-chalk/index.css">
    <link rel="stylesheet" th:href="@{/static/css/base/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/base/style.css}">
    <link rel="stylesheet" th:href="@{/static/css/base/universal.css}">
    <link rel="stylesheet" th:href="@{/static/css/base/itemInfo.css}">
    <link rel="stylesheet" th:href="@{/static/css/page/model_item_info.css}">
    <link rel="stylesheet" th:href="@{/static/css/page/repositoryInfo.css}">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/navbar.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/footerResponse.css" />

    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/wzhFlexContainer.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/wzhStyle.css" />


    <style>
        .blockEdit{
            display:none;
            margin-top:-5px;
            background-color:white;
            float:right;
            padding-left:10px;
            padding-right:5px;
        }
        #description h1{
            font-size: 24px;
        }
        #description h2{
            font-size: 22px;
        }
        #description h3{
            font-size: 20px;
        }
        #description h4{
            font-size: 18px;
        }

        .fullPaper{
            position:relative;
            padding-top:100px;
            margin-top:-110px;
            background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(255,255,255,0)),color-stop(90%, #fff));
            background-image: linear-gradient(-180deg,rgba(255,255,255,0) 0%,#fff 90%);
            margin-bottom:20px;
        }

        .el-tabs--border-card{
            box-shadow:none;
            -webkit-box-shadow:none;
        }

        .modal-content{
            border-radius: 0!important;
        }

        .form-control{
            border-radius: 0!important;
        }

    </style>
</head>
<body>
<div id="app">
    <div th:replace="fragments/navbar :: unlog"></div>

    <div th:replace="fragments/backToTop :: backtop-down"></div>

    <div class="clearfix" style="padding:40px 0px;height: auto;position: relative;">
        <translation-bar
                json-file="conceptInfo"
                @translate-page="translatePage"
                with-comments="true"
                initial-lang="en-us"
                with-item-info-modules="true"
                theme="dark"
                style="position: absolute;top: 10px;right:15px">
        </translation-bar>
        <div class="left-panel el-col">
            <div th:replace="fragments/itemInfoModules :: itemTitle(${itemInfo},true)"></div>

            <div th:replace="fragments/itemInfoModules :: alias(${itemInfo})"></div>

            <div id="Contributor0" class="detail_block minScreen">
                <div th:replace="fragments/itemInfoModules :: contributor_sm" ></div>
            </div>
            <div th:replace="fragments/itemInfoModules :: classifications(${classifications}, true)"></div>

            <div id="Related_Concepts0" class="detail_block minScreen">
                <div th:replace="fragments/itemInfoModules :: concept_Related_Concepts0(${related})"></div>
            </div>

            <div th:replace="fragments/itemInfoModules :: community_description"></div>


            <div id="cite" class="detail_block">
                <div class="block_head">
                    <div class="head_text">
                        <h4>{{htmlJSON.HowtoCite}}</h4>
                    </div>
                </div>
                <div class="block_content">
                    <div id="cite-text">
                        <span th:text="${user.name}+' ('+${year}+'). '+${itemInfo.name}+', Concept & Semantic, OpenGMS, '">
                        Tom Marvolo Riddle.(2018).Integrated stand growth model data,
                        </span>
                        <a style="word-break:break-all;" th:href="'https://geomodeling.njnu.edu.cn/repository/concept/'+${itemInfo.id}"
                           th:text="'https://geomodeling.njnu.edu.cn/repository/concept/'+${itemInfo.id}">
                            https://geomodeling.njnu.edu.cn/modelitem/4e028983-c8c0-4d98-86cd-85fc16a00d21
                        </a>
                    </div>
                    <div id="copy" class="btn btn-info">
                        Copy
                    </div>
                </div>
            </div>

            <div th:replace="fragments/itemInfoModules :: copyright"></div>


            <div id="Modifier0" class="detail_block minScreen"
                 th:if="${history!=true&&itemInfo.contributors!=null&&#lists.size(itemInfo.contributors)!=0}">
                <div th:replace="fragments/itemInfoModules :: History(${lastModifier}, ${lastModifyTime})"></div>
            </div>

            <div th:replace="fragments/itemInfoModules :: QR_sm"></div>

            <div id="comment" class="detail_block">
                <comments></comments>
            </div>

        </div>

        <div class="right-panel el-col">

            <div th:replace="fragments/itemInfoModules :: contributor_lg" ></div>

            <div id="Related_Concepts" class="detail_block">
                <div th:replace="fragments/itemInfoModules :: concept_Related_Concepts0(${related})"></div>
            </div>
<!--            <div id="Related_Concepts" class="detail_block" th:if="${#lists.size(related)!=0}">-->
<!--                <div class="block_head">-->
<!--                    <div class="head_text" style="padding-left: 10px;">-->
<!--                        <h4>{{htmlJSON.RelatedConcept}}</h4>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="block_content">-->
<!--                    <span class="el-tag" style="margin:0 0px 10px 10px" th:each="item:${related}" >-->
<!--                        <a th:href="'/repository/concept/'+${item.id}" th:text="${item.name}" style="display: block"></a>-->
<!--                    </span>-->
<!--                </div>-->
<!--            </div>-->

            <div id="Modifier" class="detail_block"
                 th:if="${history!=true&&itemInfo.contributors!=null&&#lists.size(itemInfo.contributors)!=0}">
                <div th:replace="fragments/itemInfoModules :: History(${lastModifier}, ${lastModifyTime})"></div>
            </div>
            <div th:replace="fragments/itemInfoModules :: QR_lg"></div>

        </div>

        <div th:if="${history==true}"
             style="pointer-events:none;position: absolute;top:0;bottom: 0;left: 0;right: 0;background-image: url('/static/img/historyBackground.png')"></div>

    </div>

    <el-dialog title="Add Localization Description" :visible.sync="addLocalVisible">
        <el-form :model="localization">
            <el-form-item label="Language" >
                <br/>
                <el-select v-model="localization.language" placeholder="Please select language" style="width:315px;">
                    <el-option
                            v-for="item in languageList"
                            :key="item.value"
                            :label="item.label"
                            :value="item">
                        <span style="float: left">{{ item.label }}</span>
                        <span style="float: right; color: #8492a6; font-size: 13px">{{ item.value }}</span>
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="Name">
                <el-input v-model="localization.name" autocomplete="off"  placeholder="Please enter name"></el-input>
            </el-form-item>
            <el-form-item label="Description">
                <el-input type="textarea" :autosize="{ minRows: 4}" v-model="localization.desc" autocomplete="off"  placeholder="Please enter description"></el-input>
            </el-form-item>

        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="addLocalVisible = false">Cancel</el-button>
            <el-button type="primary" @click="submitLocalization">Submit</el-button>
        </div>
    </el-dialog>


    <div th:replace="fragments/footer :: footer"></div>

</div>
<template th:replace="fragments/comments :: comments"></template>
<template th:replace="modules/userAvatar :: userAvatar"></template>
</body>

<script th:inline="javascript">
    var author=[[${user}]];
    var classifications = [[${classifications}]];
</script>

<script type="text/javascript" src="/static/js/common/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/static/js/common/bootstrap.min.js"></script>
<script src="/static/js/common/vue.min.js"></script>
<script src="/static/js/common/axios.min.js"></script>
<script src="/static/element-ui/index.js"></script>
<script src="/static/js/modules/userAvatar.js"></script>
<script src="/static/js/modules/comments.js"></script>
<script src="/static/js/common/copy.js"></script>
<script src="/static/js/common/vue-avatar.min.js"></script>
<script src="/static/js/common/qrcode.min.js"></script>

<!--翻译组件，本页面组件js引入位置不能靠后-->
<template th:replace="modules/translationBar :: translationBar"></template>
<script src="/static/element-ui/umd/locale/en.js"></script> <script src="/static/element-ui/umd/locale/zh-CN.js"></script>
<script src="/static/js/modules/translationBar.js"></script>

<script type="text/javascript" src="/static/js/page/repositoryInfo.js"></script>

<script src="/static/js/common/navbar.js"></script>


</html>