<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title>Contributors & Participants | OpenGMS</title>
    <script src="/static/js/common/vue.min.js"></script>
    <script src="/static/js/common/vue-avatar.min.js"></script>
    <script src="/static/element-ui/index.js"></script>

    <link rel="stylesheet" href="/static/lib/element-ui/theme-chalk/index.css">

    <link rel="stylesheet" href="/static/css/base/bootstrap.min.css">
    <link rel="stylesheet" href="/static//css/base/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/base/style.css">
    <link rel="stylesheet" href="/static/css/base/universal.css">
    <link rel="stylesheet" href="/static/css/base/list.css">
    <link rel="stylesheet" href="/static/css/base/tree.css">
    <link rel="stylesheet" href="/static/css/other/bootstrap-select.css">
    <link rel="stylesheet" href="/static/css/page/model_items.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/navbar.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/footerResponse.css" />
    <style>
        .el-card__body a:hover {
            color: #0886E9;
        }
        .el-card__body a {
            color: black;
        }
    </style>
</head>
<body>
<div id="app">
    <div th:replace="fragments/navbar :: unlog"></div>

    <div class="clearfix" style="margin:40px 0px;height: auto;">
        <div class="el-col el-col-20 el-col-offset-2">

            <div class="el-row">
                <h2 class="main-title">Contributors & Participants</h2>
                <h4 class="sub-title">OpenGMS</h4>

                <hr>
            </div>
            <div class="el-row" style="margin-top:29px; margin-bottom:20px;">
                <div class="el-col el-col-3 pull-left" style="width:200px;margin:0 15px 20px 0;">
                    <el-card shadow="hover">
                        <a href="https://www.grm.cuhk.edu.hk/eng/people/ppl/fac_HuangBo.html" target="_blank">
                            <img src="/static/img/contributers/HuangBo.jpg" style="width:200px;height: 266px;" class="image">
                        </a>
                        <div style="text-align: center;padding: 15px 0">
                            <a href="https://www.grm.cuhk.edu.hk/eng/people/ppl/fac_HuangBo.html" target="_blank" style="font-size: 20px;font-weight: bold">Bo Huang</a>
                            <div class="bottom clearfix" style="padding:10px 0 0 0;">
                                Professor
                            </div>
                        </div>
                    </el-card>
                </div>

                <div class="el-col pull-left" style="width:200px;margin:0 15px 20px 0;">
                    <el-card shadow="hover">
                        <a href="http://gs.hhu.edu.cn/2013/1128/c3509a43625/page.htm">
                            <img src="/static/img/contributers/wch.jpg" style="width:200px;height: 266px;" class="image">
                        </a>
                        <div style="text-align: center;padding: 15px 0">
                            <a href="http://gs.hhu.edu.cn/2013/1128/c3509a43625/page.htm" target="_blank" style="font-size: 19px;font-weight: bold">Chuanhai Wang</a>
                            <div class="bottom clearfix" style="padding:10px 0 0 0;">
                                Professor
                            </div>
                        </div>
                    </el-card>
                </div>

                <div class="el-col pull-left" style="width:200px;margin:0 15px 20px 0;">
                    <el-card shadow="hover">
                        <a href="http://www.nhri.cn/art/2014/9/3/art_79_344.html" target="_blank">
                            <img src="/static/img/contributers/zhangjs.jpg" style="width:200px;height: 266px;" class="image">
                        </a>
                        <div style="text-align: center;padding: 15px 0">
                            <a href="http://www.nhri.cn/art/2014/9/3/art_79_344.html" target="_blank" style="font-size: 20px;font-weight: bold">Jinshan Zhang</a>
                            <div class="bottom clearfix" style="padding:10px 0 0 0;">
                                Professor
                            </div>
                        </div>
                    </el-card>
                </div>

                <div class="el-col pull-left" style="width:200px;margin:0 15px 20px 0;">
                    <el-card shadow="hover">
                        <a href="http://people.ucas.ac.cn/~0001344" target="_blank">
                            <img src="/static/img/contributers/ytx.jpg" style="width:200px;height: 266px;" class="image">
                        </a>
                        <div style="text-align: center;padding: 15px 0">
                            <a href="http://people.ucas.ac.cn/~0001344" target="_blank" style="font-size: 20px;font-weight: bold">Tianxiang Yue</a>
                            <div class="bottom clearfix" style="padding:10px 0 0 0;">
                                Professor
                            </div>
                        </div>
                    </el-card>
                </div>

                <div class="el-col pull-left" style="width:200px;margin:0 15px 20px 0;">
                    <el-card shadow="hover">
                        <a href="http://atmos.sysu.edu.cn/User/146.html" target="_blank">
                            <img src="/static/img/contributers/yuanwp.jpg" style="width:200px;height: 266px;" class="image">
                        </a>

                        <div style="text-align: center;padding: 15px 0">
                            <a href="http://atmos.sysu.edu.cn/User/146.html" target="_blank" style="font-size: 20px;font-weight: bold">Wenping Yuan</a>
                            <div class="bottom clearfix" style="padding:10px 0 0 0;">
                                Professor
                            </div>
                        </div>
                    </el-card>
                </div>

                <div class="el-col pull-left" style="width:200px;margin:0 15px 20px 0;">
                    <el-card shadow="hover">
                        <a href="https://www.kent.edu/geography/profile/xinyue-ye" target="_blank">
                            <img src="/static/img/contributers/xinyueye.jpg" style="width:200px;height: 266px;" class="image">
                        </a>

                        <div style="text-align: center;padding: 15px 0">
                            <a href="https://www.kent.edu/geography/profile/xinyue-ye" target="_blank" style="font-size: 20px;font-weight: bold">Xinyue Ye</a>
                            <div class="bottom clearfix" style="padding:10px 0 0 0;">
                                Professor
                            </div>
                        </div>
                    </el-card>
                </div>

                <div class="el-col pull-left" style="width:200px;margin:0 15px 20px 0;">
                    <el-card shadow="hover">
                        <a href="http://www.sysu.edu.cn/2012/en/academics/academics03/289.htm" target="_blank">
                            <img src="/static/img/contributers/lixia.jpg" style="width:200px;height: 266px;" class="image">
                        </a>

                        <div style="text-align: center;padding: 15px 0">
                            <a href="http://www.sysu.edu.cn/2012/en/academics/academics03/289.htm" target="_blank" style="font-size: 20px;font-weight: bold">Xia Li</a>
                            <div class="bottom clearfix" style="padding:10px 0 0 0;">
                                Professor
                            </div>
                        </div>
                    </el-card>
                </div>

                <div class="el-col pull-left" style="width:200px;margin:0 15px 20px 0;">
                    <el-card shadow="hover">
                        <a href="http://schools.njnu.edu.cn/geog/person/fei-guo-0" target="_blank">
                            <img src="/static/img/contributers/gf.jpg" style="width:200px;height: 266px;" class="image">
                        </a>

                        <div style="text-align: center;padding: 15px 0">
                            <a href="http://schools.njnu.edu.cn/geog/person/fei-guo-0" target="_blank" style="font-size: 20px;font-weight: bold">Fei Guo</a>
                            <div class="bottom clearfix" style="padding:10px 0 0 0;">
                                Assc. Professor
                            </div>
                        </div>
                    </el-card>
                </div>

                <div class="el-col pull-left" style="width:200px;margin:0 15px 20px 0;">
                    <el-card shadow="hover">
                        <a href="http://dky.njnu.edu.cn/info/1213/2742.htm" target="_blank">
                            <img src="/static/img/contributers/ljz.jpg" style="width:200px;height: 266px;" class="image">
                        </a>

                        <div style="text-align: center;padding: 15px 0">
                            <a href="http://dky.njnu.edu.cn/info/1213/2742.htm" target="_blank" style="font-size: 20px;font-weight: bold">Junzhi Liu</a>
                            <div class="bottom clearfix" style="padding:10px 0 0 0;">
                                Assc. Professor
                            </div>
                        </div>
                    </el-card>
                </div>

                <div class="el-col pull-left" style="width:200px;margin:0 15px 20px 0;">
                    <el-card shadow="hover">
                        <a href="http://dky.njnu.edu.cn/info/1213/2740.htm" target="_blank">
                            <img src="/static/img/contributers/ningliang.jpg" style="width:200px;height: 266px;" class="image">
                        </a>

                        <div style="text-align: center;padding: 15px 0">
                            <a href="http://dky.njnu.edu.cn/info/1213/2740.htm" target="_blank" style="font-size: 20px;font-weight: bold">Liang Ning</a>
                            <div class="bottom clearfix" style="padding:10px 0 0 0;">
                                Assc. Professor
                            </div>
                        </div>
                    </el-card>
                </div>

                <div class="el-col pull-left" style="width:200px;margin:0 15px 20px 0;">
                    <el-card shadow="hover">
                        <a href="http://sourcedb.egi.cas.cn/zw/zjrc/bssds/201311/t20131104_3967275.html" target="_blank">
                            <img src="/static/img/contributers/llh.jpg" style="width:200px;height: 266px;" class="image">
                        </a>

                        <div style="text-align: center;padding: 15px 0">
                            <a href="http://sourcedb.egi.cas.cn/zw/zjrc/bssds/201311/t20131104_3967275.html" target="_blank" style="font-size: 20px;font-weight: bold">Longhui Li</a>
                            <div class="bottom clearfix" style="padding:10px 0 0 0;">
                                Professor
                            </div>
                        </div>
                    </el-card>
                </div>

                <div class="el-col pull-left" style="width:200px;margin:0 15px 20px 0;">
                    <el-card shadow="hover">
                        <a href="http://schools.njnu.edu.cn/geog/person/min-cao" target="_blank">
                            <img src="/static/img/contributers/cm.jpg" style="width:200px;height: 266px;" class="image">
                        </a>

                        <div style="text-align: center;padding: 15px 0">
                            <a href="http://schools.njnu.edu.cn/geog/person/min-cao" target="_blank" style="font-size: 20px;font-weight: bold">Min Cao</a>
                            <div class="bottom clearfix" style="padding:10px 0 0 0;">
                                Assc. Professor
                            </div>
                        </div>
                    </el-card>
                </div>

                <div class="el-col pull-left" style="width:200px;margin:0 15px 20px 0;">
                    <el-card shadow="hover">
                        <a href="http://schools.njnu.edu.cn/geog/person/qiang-dai-0" target="_blank">
                            <img src="/static/img/contributers/dq.jpg" style="width:200px;height: 266px;" class="image">
                        </a>

                        <div style="text-align: center;padding: 15px 0">
                            <a href="http://schools.njnu.edu.cn/geog/person/qiang-dai-0" target="_blank" style="font-size: 20px;font-weight: bold">Qiang Dai</a>
                            <div class="bottom clearfix" style="padding:10px 0 0 0;">
                                Assc. Professor
                            </div>
                        </div>
                    </el-card>
                </div>

                <div class="el-col pull-left" style="width:200px;margin:0 15px 20px 0;">
                    <el-card shadow="hover">
                        <a href="http://dky.njnu.edu.cn/info/1216/1825.htm" target="_blank">
                            <img src="/static/img/contributers/ls.jpg" style="width:200px;height: 266px;" class="image">
                        </a>

                        <div style="text-align: center;padding: 15px 0">
                            <a href="http://dky.njnu.edu.cn/info/1216/1825.htm" target="_blank" style="font-size: 20px;font-weight: bold">Shuo Li</a>
                            <div class="bottom clearfix" style="padding:10px 0 0 0;">
                                Professor
                            </div>
                        </div>
                    </el-card>
                </div>

                <div class="el-col pull-left" style="width:200px;margin:0 15px 20px 0;">
                    <el-card shadow="hover">
                        <a href="http://schools.njnu.edu.cn/geog/person/zhiyao-song" target="_blank">
                            <img src="/static/img/contributers/szy.jpg" style="width:200px;height: 266px;" class="image">
                        </a>

                        <div style="text-align: center;padding: 15px 0">
                            <a href="http://schools.njnu.edu.cn/geog/person/zhiyao-song" target="_blank" style="font-size: 20px;font-weight: bold">Zhiyao Song</a>
                            <div class="bottom clearfix" style="padding:10px 0 0 0;">
                                Professor
                            </div>
                        </div>
                    </el-card>
                </div>

                <div class="el-col pull-left" style="width:200px;margin:0 15px 20px 0;">
                    <el-card shadow="hover">
                        <a href="http://schools.njnu.edu.cn/geog/person/zhuotong-nan" target="_blank">
                            <img src="/static/img/contributers/nzt.jpg" style="width:200px;height: 266px;" class="image">
                        </a>

                        <div style="text-align: center;padding: 15px 0">
                            <a href="http://schools.njnu.edu.cn/geog/person/zhuotong-nan" target="_blank" style="font-size: 20px;font-weight: bold">Zhuotong Nan</a>
                            <div class="bottom clearfix" style="padding:10px 0 0 0;">
                                Professor
                            </div>
                        </div>
                    </el-card>
                </div>

            </div>
            <center>
            <el-pagination
                    :page-size="20"
                    :pager-count="6"
                    layout="prev, pager, next"
                    :total="246">
            </el-pagination>
            </center>



        </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>

</div>

</body>

<script src="/static/js/common/jquery-3.3.1.min.js"></script>
<script src="/static/js/common/axios.min.js"></script>
<script src="/static/js/common/bootstrap.js"></script>
<script src="/static/js/common/bootstrap-select.js"></script>
<script src="/static/js/page/spatialReferenceRepository.js"></script>


<script src="/static/element-ui/umd/locale/en.js"></script> <script src="/static/element-ui/umd/locale/zh-CN.js"></script> <script src="/static/js/common/navbar.js"></script>

</html>