<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create Model Item</title>

    <link rel="stylesheet" type="text/css" media="screen"
          href="/static/css/font-awesome/css/font-awesome.min.css"
    />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/page/create-modelitemSingle.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/other/jquery-steps.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/other/jquery.tag-editor.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/other/modelItemEditor.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/style.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/lib/element-ui/theme-chalk/index.css"/>
    <link rel="stylesheet" href="/static/css/base/universal.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/other/bootstrap-select.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/data-tables/DT_bootstrap.css"/>

    <style>
        .btn-block {
            padding: 6px 12px;
        }

        tbody tr td {
            word-wrap: break-word;
            word-break: break-all;
            overflow: hidden;
        }
    </style>
</head>

<body class="scrollbar">
<div id="app">
    <div id="loading" v-if="load">
        <div class="loading-center">
            <div class="loading-center-absolute">
                <div class="object"></div>
            </div>
        </div>
    </div>
    <div class="page-container">

        <div class="page-content clearfix scrollbar"
             :style="{'min-height':ScreenMaxHeight,'max-height':ScreenMaxHeight}" style="overflow-x: hidden;">

            <div class="page-content-wrap container-fluid">
                <!-- START WIDGETS -->
                <div class="row">

                </div>
                <!-- END WIDGETS -->

                <div class="row">
                    <div class="container-fluid" id="mainInfo">
                        <div class="row">
                            <div class="col-md-12 nopadding">
                                <div class="panel panel-success" style="border: none">
                                    <div class="panel-body">
                                        <div id="step">
                                            <div class="step-app">
                                                <ul class="step-steps text-center">
                                                    <li>
                                                        <a href="#step1">Basic Info</a>
                                                    </li>
                                                    <li>
                                                        <a href="#step2">Content</a>
                                                    </li>
                                                    <li>
                                                        <a href="#step3">Authorship</a>
                                                    </li>

                                                </ul>
                                                <div class="step-content">
                                                    <div class="step-tab-panel" id="step1">
                                                        <div class="col-sm-4 tree" style="margin-top:10px">
                                                            <el-card>
                                                                <div slot="header" class="clearfix text-center">
                                                                    <span style="font-size: 20px;color:#444">Model Classifications</span>
                                                                </div>
                                                                <el-tree style="height: 300px;overflow: auto"
                                                                         id="tree2"
                                                                         ref="tree2"
                                                                         :data="treeData"
                                                                         show-checkbox
                                                                         node-key="id"
                                                                         :default-expanded-keys="[]"
                                                                         :current-node-key="100"
                                                                         @check-change="handleCheckChange"
                                                                         :props="defaultProps">
                                                                </el-tree>
                                                            </el-card>
                                                        </div>
                                                        <div class="col-sm-8">
                                                            <div id="RepositoryParentsPanel">
                                                                <div class="form-horizontal">
                                                                    <div class="form-group">
                                                                        <label for="parentNode"
                                                                               class="col-sm-2 control-label">Classifications</label>
                                                                        <div class="col-sm-10">
                                                                            <textarea class="form-control"
                                                                                      id="parentNode"
                                                                                      v-model="clsStr"
                                                                                      readonly></textarea>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-horizontal">
                                                                    <div class="form-group">
                                                                        <label for="nameInput"
                                                                               class="col-sm-2 control-label">Name</label>
                                                                        <div class="col-sm-10">
                                                                            <input type="text" class="form-control"
                                                                                   id="nameInput"/>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-horizontal">
                                                                    <div class="form-group">
                                                                        <label for="tagInput"
                                                                               class="col-sm-2 control-label">Keywords</label>
                                                                        <div class="col-sm-10">
                                                                            <textarea class="form-control"
                                                                                      id="tagInput"></textarea>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="form-horizontal">
                                                                    <div class="form-group">
                                                                        <label for="descInput"
                                                                               class="col-sm-2 control-label">Overview</label>
                                                                        <div class="col-sm-10">
                                                                            <textarea class="form-control"
                                                                                      id="descInput"></textarea>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="form-horizontal">
                                                                    <div class="form-group">
                                                                        <label for="nameInput"
                                                                               class="col-sm-2 control-label">Image</label>
                                                                        <div class="col-sm-10">
                                                                            <img id="imgShow" src=""/>
                                                                            <div id="imgChange">
                                                                                <i class="fa fa-plus fa-5x"></i>
                                                                            </div>
                                                                            <input id="imgFile" type="file"
                                                                                   style="display: none"
                                                                                   accept="image/*"/>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="form-horizontal">
                                                                    <div class="form-group">
                                                                        <label for="parentNode"
                                                                               class="col-sm-2 control-label">References</label>
                                                                        <div class="col-sm-10">
                                                                            <table class="display table table-bordered table-striped dataTable"
                                                                                   id="dynamic-table"
                                                                                   aria-describedby="dynamic-table_info">
                                                                                <thead>
                                                                                <tr role="row">
                                                                                    <th class="sorting"
                                                                                        role="columnheader" tabindex="0"
                                                                                        aria-controls="dynamic-table"
                                                                                        rowspan="1" colspan="1"
                                                                                        aria-label="Title: activate to sort column ascending"
                                                                                        width="200px">
                                                                                        Title
                                                                                    </th>
                                                                                    <th class="sorting"
                                                                                        role="columnheader" tabindex="0"
                                                                                        aria-controls="dynamic-table"
                                                                                        rowspan="1" colspan="1"
                                                                                        aria-label="Author: activate to sort column ascending"
                                                                                        width="200px">
                                                                                        Author
                                                                                    </th>
                                                                                    <th class="sorting"
                                                                                        role="columnheader" tabindex="0"
                                                                                        aria-controls="dynamic-table"
                                                                                        rowspan="1" colspan="1"
                                                                                        aria-label="Date: activate to sort column ascending"
                                                                                        width="100px">
                                                                                        Date
                                                                                    </th>
                                                                                    <th class="hidden-phone sorting"
                                                                                        role="columnheader" tabindex="0"
                                                                                        aria-controls="dynamic-table"
                                                                                        rowspan="1" colspan="1"
                                                                                        aria-label="Journal: activate to sort column ascending"
                                                                                        width="100px">
                                                                                        Journal
                                                                                    </th>
                                                                                    <th class="hidden-phone sorting"
                                                                                        role="columnheader" tabindex="0"
                                                                                        aria-controls="dynamic-table"
                                                                                        rowspan="1" colspan="1"
                                                                                        aria-sort="descending"
                                                                                        aria-label="Pages: activate to sort column ascending"
                                                                                        width="100px">
                                                                                        Pages
                                                                                    </th>
                                                                                    <th class="hidden-phone sorting"
                                                                                        role="columnheader" tabindex="0"
                                                                                        aria-controls="dynamic-table"
                                                                                        rowspan="1" colspan="1"
                                                                                        aria-sort="descending"
                                                                                        aria-label="Links: activate to sort column ascending"
                                                                                        width="100px">
                                                                                        Links
                                                                                    </th>
                                                                                    <th class="hidden-phone sorting"
                                                                                        role="columnheader" tabindex="0"
                                                                                        aria-controls="dynamic-table"
                                                                                        rowspan="1" colspan="1"
                                                                                        aria-sort="descending"
                                                                                        aria-label="CSS grade: activate to sort column ascending"
                                                                                        width="82px">
                                                                                        Operation
                                                                                    </th>
                                                                                </tr>
                                                                                </thead>

                                                                                <tbody role="alert" aria-live="polite"
                                                                                       aria-relevant="all">

                                                                                </tbody>
                                                                            </table>
                                                                            <button id="addref"
                                                                                    class="btn btn-success btn-lg btn-block"
                                                                                    data-toggle="modal"
                                                                                    data-target="#refinfo"
                                                                                    type="button">Add Reference
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--<div class="form-horizontal">-->
                                                                <!--<div class="form-group">-->
                                                                <!--<label for="parentNode"-->
                                                                <!--class="col-sm-2 control-label">Show On-->
                                                                <!--Index</label>-->
                                                                <!--<div class="col-sm-10">-->
                                                                <!--<div class="radioPanel">-->
                                                                <!--<input id="item1" type="radio"-->
                                                                <!--name="item" value=1>-->
                                                                <!--<label for="item1">-->
                                                                <!--<span>Yes</span>-->
                                                                <!--</label>-->
                                                                <!--</div>-->
                                                                <!--<div class="radioPanel">-->
                                                                <!--<input id="item2" type="radio"-->
                                                                <!--name="item" value=0 checked>-->
                                                                <!--<label for="item2">-->
                                                                <!--<span>No</span>-->
                                                                <!--</label>-->
                                                                <!--</div>-->
                                                                <!--</div>-->
                                                                <!--</div>-->
                                                                <!--</div>-->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="step-tab-panel" id="step3">
                                                        <div class="panel panel-success" style="border:none">

                                                            <div class="panel-body">
                                                                <div class="col-md-10 col-md-offset-1">

                                                                    <div class="panel-group " id="accordion2">
                                                                        <div id="providersPanel" class="panel"
                                                                             style="border-color:#424f63">
                                                                            <div class="panel-heading"
                                                                                 style="background-color: #eee">
                                                                                <h4 class="panel-title"
                                                                                    style="color:black">
                                                                                    <a class="accordion-toggle"
                                                                                       data-parent="#accordion2">
                                                                                        Authorship
                                                                                    </a>
                                                                                </h4>
                                                                            </div>
                                                                            <div id="provider_body"
                                                                                 class="panel-collapse collapse in"
                                                                                 style="height: auto;">
                                                                                <div class="panel-body providers"
                                                                                     style="border-top: #424f63; padding:0px">
                                                                                    <div class='panel panel-default'>
                                                                                        <div class='panel-heading info-head' style="background-color:#C9C9C9">
                                                                                            <h4 class='panel-title'>
                                                                                                <a class='accordion-toggle collapsed'
                                                                                                   style="color:black"
                                                                                                   data-toggle='collapse'
                                                                                                   data-target='#user1'
                                                                                                   href="javascript:;">
                                                                                                    New
                                                                                                </a>
                                                                                            </h4>
                                                                                            <a href="javascript:;"
                                                                                               class="fa fa-times author_close"
                                                                                               style="float:right;margin-top:8px;color:white"></a>
                                                                                        </div>
                                                                                        <div id='user1'
                                                                                             class='panel-collapse collapse in'>
                                                                                            <div class='panel-body user-contents'>
                                                                                                <div class='user-attr'>
                                                                                                    <div>
                                                                                                        <lable class='control-label col-sm-2 text-center'
                                                                                                               style='font-weight: bold;'>
                                                                                                            Name:
                                                                                                        </lable>
                                                                                                        <div class='input-group col-sm-10'>
                                                                                                            <input type='text'
                                                                                                                   name="name"
                                                                                                                   class='form-control'>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div style="margin-top:10px">
                                                                                                        <lable class='control-label col-sm-2 text-center'
                                                                                                               style='font-weight: bold;'>
                                                                                                            Affiliation:
                                                                                                        </lable>
                                                                                                        <div class='input-group col-sm-10'>
                                                                                                            <input type='text'
                                                                                                                   name="ins"
                                                                                                                   class='form-control'>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div style="margin-top:10px">
                                                                                                        <lable class='control-label col-sm-2 text-center'
                                                                                                               style='font-weight: bold;'>
                                                                                                            Email:
                                                                                                        </lable>
                                                                                                        <div class='input-group col-sm-10'>
                                                                                                            <input type='text'
                                                                                                                   name="email"
                                                                                                                   class='form-control'>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div style="margin-top:10px">
                                                                                                        <lable class='control-label col-sm-2 text-center'
                                                                                                               style='font-weight: bold;'>
                                                                                                            Homepage:
                                                                                                        </lable>
                                                                                                        <div class='input-group col-sm-10'>
                                                                                                            <input type='text'
                                                                                                                   name="homepage"
                                                                                                                   class='form-control'>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <button type="bAuthorshiputton"
                                                                                        class="btn btn-success btn-lg btn-block user-add"
                                                                                        style="border-radius: 3px;border-top-left-radius: 0px;border-top-right-radius: 0px">
                                                                                    Add
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="step-tab-panel" id="step2">
                                                        <textarea id="myText"></textarea>
                                                    </div>

                                                </div>
                                                <div class="step-footer text-right">
                                                    <button class="btn btn-warning prev" data-direction="prev">
                                                        Previous
                                                    </button>
                                                    <button class="btn btn-primary next" data-direction="next">Next
                                                    </button>
                                                    <button class="btn btn-success finish" data-direction="finish">
                                                        Finish
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.panel -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="refinfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background: deepskyblue">
                <h4 class="modal-title" id="myModalLabel" style="color:aliceblue">
                    Reference Info
                </h4>
            </div>
            <div class="modal-body" style="font-size: 20px;overflow: hidden">
                <section class="panel">
                    <header class="panel-heading custom-tab ">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#manually" data-toggle="tab" style="font-size:14px;"><strong><em>Manually</em></strong>&nbsp;&nbsp;enter
                                    Reference</a>
                            </li>
                            <li class="">
                                <a href="#automatically" data-toggle="tab" style="font-size:14px;"><strong><em>Automatically</em></strong>&nbsp;&nbsp;enter
                                    Reference by DOI</a>
                            </li>
                        </ul>
                    </header>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="manually">
                                <div class="form-group">
                                    <label for="nameInput"
                                           class="col-sm-2 control-label">Title</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control"
                                               id="refTitle"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="nameInput"
                                           class="col-sm-2 control-label">Author</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control"
                                               id="refAuthor"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="nameInput"
                                           class="col-sm-2 control-label">Date</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control"
                                               id="refDate"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="nameInput"
                                           class="col-sm-2 control-label">Journal</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control"
                                               id="refJournal"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="nameInput"
                                           class="col-sm-2 control-label">Pages</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control"
                                               id="refPages"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="nameInput"
                                           class="col-sm-2 control-label">Link</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control"
                                               id="refLink"/>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="automatically">
                                <div class="form-group"
                                     style="border-bottom:1px solid #CCC;padding-top:20px;padding-bottom:20px;margin-bottom:20px;">
                                    <lable class="control-label col-md-2">
                                        DOI :
                                    </lable>
                                    <div class="input-group col-md-10">
                                        <input id="doi_searchBox" type="text"
                                               class="form-control">
                                        <span class="input-group-btn">
                                            <button id="doiSearch"
                                                    class="btn btn-default"
                                                    type="button">Search</button>
                                        </span>
                                    </div>
                                </div>
                                <div id="doiDetails" style="display:none">
                                    <div class="form-group">
                                        <lable class="control-label col-md-2">Title</lable>
                                        <div class="col-md-10">
                                            <textarea id="doiTitle" class="form-control" style="width:100%;"
                                                      readonly></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="nameInput"
                                               class="col-sm-2 control-label">Author</label>
                                        <div class="col-sm-10">
                                            <textarea id="doiAuthor" class="form-control" style="width:100%;"
                                                      readonly></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="nameInput"
                                               class="col-sm-2 control-label">Date</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control"
                                                   id="doiDate" readonly/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="nameInput"
                                               class="col-sm-2 control-label">Journal</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control"
                                                   id="doiJournal" readonly/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="nameInput"
                                               class="col-sm-2 control-label">Pages</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control"
                                                   id="doiPages" readonly/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="nameInput"
                                               class="col-sm-2 control-label">Link</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control"
                                                   id="doiLink" readonly/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <a href="#">
                    <button id="modal_save" type="button" class="btn btn-success" style="font-size:15px">
                        Save
                    </button>
                    <button id="modal_cancel" type="button" class="btn btn-default" data-dismiss="modal"
                            style="font-size:15px">
                        Cancel
                    </button>
                </a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
</body>

<script src="/static/js/common/jquery-3.3.1.min.js"></script>
<script src="/static/js/common/bootstrap.min.js"></script>
<script src="/static/js/common/vue.min.js"></script>
<script type="text/javascript" src="/static/js/common/bootstrap-treeview.js"></script>
<script type="text/javascript" src="/static/js/common/jquery-steps.js"></script>

<script type="text/javascript" src="/static/js/common/pageEn.js"></script>
<script type="text/javascript" src="/static/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="/static/data-tables/jquery.dataTables.js"></script>
<script type="text/javascript" src="/static/data-tables/DT_bootstrap.js"></script>



<script>
    $(document).ready(function () {


        $("#step").steps({
            onFinish: function () {
                alert('Wizard Completed');
            }
        });


        $('#tagInput').tagEditor({
            forceLowercase: false
        });
        $("#refAuthor").tagEditor({
            forceLowercase: false
        })

        $("#imgChange").click(function () {
            $("#imgFile").click();
        });
        $("#imgFile").change(function () {
            //获取input file的files文件数组;
            //$('#filed')获取的是jQuery对象，.get(0)转为原生对象;
            //这边默认只能选一个，但是存放形式仍然是数组，所以取第一个元素使用[0];
            var file = $('#imgFile').get(0).files[0];
            //创建用来读取此文件的对象
            var reader = new FileReader();
            //使用该对象读取file文件
            reader.readAsDataURL(file);
            //读取文件成功后执行的方法函数
            reader.onload = function (e) {
                //读取成功后返回的一个参数e，整个的一个进度事件
                //选择所要显示图片的img，要赋值给img的src就是e中target下result里面
                //的base64编码格式的地址
                $('#imgShow').get(0).src = e.target.result;
                $('#imgShow').show();
            }
        });



    });
</script>
<script src="/static/js/common/bootstrap-select.js"></script>
<script src="/static/element-ui/index.js"></script>
<script type="text/javascript" src="/static/js/common/jquery.tag-editor.js"></script>
<script src="/static/js/page/create-modelitem.js"></script>

</html>