<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create Conceptual Model</title>


    <link rel="stylesheet" type="text/css" media="screen" href="/static/lib/element-ui/theme-chalk/index.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" media="screen"
          href="/static/css/font-awesome-4.7.0/css/font-awesome.min.css"
    />

    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/style.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/other/jquery-steps.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/jquery-ui-1.12.1/jquery-ui.min.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/iCheck/skins/flat/green.css"/>
    <!--<style>-->
    <!--#step .step-steps li.active:before, #step .step-steps li.active:after, #step .step-steps li.done:before, #step .step-steps li.done:after {-->
    <!--background: #27AE60!important;-->
    <!--color: white;-->
    <!--}-->

    <!--#step .step-steps li:before {-->
    <!--content: counter(step);-->
    <!--counter-increment: step;-->
    <!--width: 20px;-->
    <!--line-height: 20px;-->
    <!--display: block;-->
    <!--font-size: 14px;-->
    <!--color: #333;-->
    <!--background: white;-->
    <!--border-radius: 3px;-->
    <!--margin: 0 auto 5px auto;-->
    <!--}-->

    <!--#step .step-steps li:not(:first-child):after, #step .step-steps li:not(:first-child):after {-->
    <!--content: '';-->
    <!--width: 90%;-->
    <!--height: 2px;-->
    <!--background: white;-->
    <!--position: absolute;-->
    <!--left: -45%;-->
    <!--top: 18px;-->
    <!--}-->
    <!--</style>-->

    <link rel="stylesheet" href="/static/css/create-conceptual-model/page.css">
    <link rel="stylesheet"
          href="/static/css/create-conceptual-model/conceptModelEditor/ownCss/treeView-Bootstrap.css">
    <link rel="stylesheet" href="/static/css/create-conceptual-model/conceptModelEditor/conceptBuild.css">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="../../assets/css/basic.css" /> -->


    <script type="text/javascript">
        // Parses URL parameters. Supported parameters are:
        // - lang=xy: Specifies the language of the user interface.
        // - touch=1: Enables a touch-style user interface.
        // - storage=local: Enables HTML5 local storage.
        // - chrome=0: Chromeless mode.
        var urlParams = (function (url) {
            var result = new Object();
            var idx = url.lastIndexOf('?');
            console.log(idx);

            if (idx > 0) {
                var params = url.substring(idx + 1).split('&');

                for (var i = 0; i < params.length; i++) {
                    idx = params[i].indexOf('=');

                    if (idx > 0) {
                        result[params[i].substring(0, idx)] = params[i].substring(idx + 1);
                    }
                }
            }

            return result;
        })(window.location.href);

        // Default resources are included in grapheditor resources
        mxLoadResources = false;
        mxBasePath = "/static/MxGraph/";
        window.STYLE_PATH = "/static/js/create-conceptual-model/conceptModelEditor2/styles";
        window.RESOURCES_PATH = "/static/js/create-conceptual-model/conceptModelEditor2/resources";
        window.IMAGE_PATH = "/static/js/create-conceptual-model/conceptModelEditor2/images";
        window.STENCIL_PATH = "/static/js/create-conceptual-model/conceptModelEditor2/stencils";
        EXPORT_URL = "/GeoModeling/MyTestServlet";
        SAVE_URL = "/GeoModeling/MyTestServlet";

        editMode = true;
    </script>
    <link rel="stylesheet" type="text/css"
          href="/static/js/create-conceptual-model/conceptModelEditor2/styles/grapheditor.css">
    <link rel="stylesheet" type="text/css" media="screen"
          href="/static/css/create-conceptual-model/create-conceptual-model.css"/>
    <script type="text/javascript">var language = "en";</script>
    <script type="text/javascript" src="/static/js/create-conceptual-model/conceptModelEditor2/js/Init.js"></script>
    <script type="text/javascript"
            src="/static/js/create-conceptual-model/conceptModelEditor2/jscolor/jscolor.js"></script>
    <script type="text/javascript"
            src="/static/js/create-conceptual-model/conceptModelEditor2/sanitizer/sanitizer.min.js"></script>
    <script type="text/javascript" src="/static/MxGraph/js/mxClient.js"></script>
    <script type="text/javascript"
            src="/static/js/create-conceptual-model/conceptModelEditor2/js/EditorUi.js"></script>
    <script type="text/javascript" src="/static/js/create-conceptual-model/conceptModelEditor2/js/Editor.js"></script>
    <script type="text/javascript"
            src="/static/js/create-conceptual-model/conceptModelEditor2/js/Sidebar.js"></script>
    <script type="text/javascript" src="/static/js/create-conceptual-model/conceptModelEditor2/js/Graph.js"></script>
    <script type="text/javascript" src="/static/js/create-conceptual-model/conceptModelEditor2/js/Shapes.js"></script>
    <script type="text/javascript"
            src="/static/js/create-conceptual-model/conceptModelEditor2/js/Actions.js"></script>
    <script type="text/javascript" src="/static/js/create-conceptual-model/conceptModelEditor2/js/Menus.js"></script>
    <script type="text/javascript" src="/static/js/create-conceptual-model/conceptModelEditor2/js/Format.js"></script>
    <script type="text/javascript"
            src="/static/js/create-conceptual-model/conceptModelEditor2/js/Toolbar.js"></script>
    <script type="text/javascript"
            src="/static/js/create-conceptual-model/conceptModelEditor2/js/Dialogs.js"></script>

    <script src="/static/js/common/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/static/js/create-conceptual-model/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/create-conceptual-model/bootstrap-treeview.js"></script>
    <script type="text/javascript" src="/static/js/create-conceptual-model/pageEn.js"></script>
    <script type="text/javascript" src="/static/js/create-conceptual-model/resetTree.js"></script>
    <script type="text/javascript"
            src="/static/js/create-conceptual-model/conceptModelEditor2/js/conceptualEditorPlugin.js"></script>
    <style>
        * {
            -webkit-box-sizing: content-box;
            box-sizing: content-box;
        }
    </style>
</head>

<body class="scrollbar">
<div id="app">
    <div id="loading" v-if="load">
        <div class="loading-center">
            <div class="loading-center-absolute">
                <div class="object"></div>
            </div>
        </div>
    </div>
    <div class="page-container">

        <div th:replace="fragments/sidebar :: create1"></div>

        <div class="page-content clearfix scrollbar"
             :style="{'min-height':ScreenMaxHeight,'max-height':ScreenMaxHeight}" style="overflow: hidden;">
            <!--<ul class="x-navigation x-navigation-horizontal x-navigation-panel">-->
            <!--<li class="xn-icon-button pull-right" style="width:auto;height: 49px;">-->
            <!--<a href="/home" class="mb-control" data-box="#mb-signout">-->
            <!--<span class="fa fa-home" title="Home"></span>-->
            <!--</a>-->
            <!--</li>-->
            <!--</ul>-->
            <div class="page-content-wrap container-fluid" style="padding-left:0px;">

                <div class="el-steps el-steps--simple">
                    <div class="el-step is-simple" style="flex-basis: 50%; margin-right: 0px;">
                        <div class="el-step__head">
                            <div class="el-step__line" style="margin-right: 0px;"><i class="el-step__line-inner"
                                                                                     style="transition-delay: 0ms; border-width: 0px; width: 0%;"></i>
                            </div>
                            <a href="javascript:void(0)" class="step1 el-step__title el-icon-edit is-success"></a>
                        </div>
                        <div class="el-step__main">
                            <a href="javascript:void(0)" class="step1 el-step__title is-success">Step 1</a>
                            <div class="el-step__arrow"></div>
                        </div>
                    </div>
                    <div class="el-step is-simple" style="flex-basis: 50%; margin-right: 0px;">
                        <div class="el-step__head">
                            <div class="el-step__line" style="margin-right: 0px;"><i class="el-step__line-inner"
                                                                                     style="transition-delay: -150ms; border-width: 0px; width: 0%;"></i>
                            </div>
                            <a href="javascript:void(0)" class="step2 el-step__title el-icon-picture is-process"></a>
                        </div>
                        <div class="el-step__main">
                            <a href="javascript:void(0)" class="step2 el-step__title is-process">Step 2</a>
                            <div class="el-step__arrow"></div>
                        </div>
                    </div>
                    <div class="el-step is-simple is-flex" style="flex-basis: 50%; max-width: 33.3333%;">
                        <div class="el-step__head">
                            <div class="el-step__line"><i class="el-step__line-inner"></i></div>
                            <a href="javascript:void(0)" class="step3 el-step__title el-icon-upload is-wait"><!---->
                            </a>
                        </div>
                        <div class="el-step__main">
                            <a href="javascript:void(0)" class="step3 el-step__title is-wait">Step 3</a>
                            <div class="el-step__arrow"></div>
                        </div>
                    </div>
                </div>


                <div id="step1">
                    <div class="form-group" style="margin-top:50px">
                        <label data-original-title="Tooltip on top"
                               class="control-label col-md-2 col-md-offset-2 tooltips"
                               data-toggle="tooltip" data-placement="top" title="">
                            Bind Model Item
                        </label>
                        <div class="input-group col-md-5">
                            <input id="search-box" type="text"
                                   class="form-control"
                                   v-model="conceptualModel.bindModelItem">
                            <span class="input-group-btn">
                                   <button id="bind" class="btn btn-success" type="button">bind</button>
                            </span>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2 col-md-offset-2">
                            Name
                        </label>
                        <div class="input-group col-md-5">
                            <input type="text" class="form-control"
                                   v-model="conceptualModel.name">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2 col-md-offset-2">
                            Overview
                        </label>
                        <div class="input-group col-md-5">
                            <textarea class="form-control" id="descInput" v-model="conceptualModel.description"></textarea>
                        </div>
                    </div>

                    <div class="form-group" style="margin-top:50px">
                        <label class="control-label col-md-2 col-md-offset-2">
                            Content Type
                        </label>
                        <div class="input-group col-md-5">
                            <label style="margin-right: 20px; font-size: 20px">
                                <input type="radio" name="ContentType" value="MxGraph" checked="checked"/>
                                <label style="float:left; margin-left: 5px;margin-top:-5px">MxGraph</label>
                            </label>
                            <label style="margin-right: 20px; font-size: 20px">
                                <input type="radio" name="ContentType" value="Image"/>
                                <label style="float:left; margin-left: 5px;margin-top:-5px">Image</label>
                            </label>
                        </div>
                    </div>

                </div>

                <div id="step2" style="margin-top:1000px">
                    <!-- START WIDGETS -->
                    <div class="row">
                    </div>
                    <!-- END WIDGETS -->

                    <div class="row">
                        <div width="100%" :style="{height:IframeHeight}" style="border:none">
                            <script type="text/javascript">
                                // Extends EditorUi to update I/O action states based on availability of backend
                                (function () {
                                    // var url = location.href;
                                    // var first = url.indexOf("=");
                                    // var last = url.indexOf("#");
                                    // var uid = "";
                                    // if (url.indexOf("=") >= 0) {
                                    //     if (first > 0) {
                                    //         if (last > 0) {
                                    //             uid = url.substring(url.indexOf("=") + 1, last);
                                    //         } else {
                                    //             uid = url.substring(url.indexOf("=") + 1, url.length);
                                    //         }
                                    //     }
                                    // }

                                    var uid = window.sessionStorage.getItem("editConceptualModel_id");

                                    var editorUiInit = EditorUi.prototype.init;

                                    EditorUi.prototype.init = function () {
                                        editorUiInit.apply(this, arguments);

                                        // Updates action states which require a backend
                                        if (!Editor.useLocalStorage) {
                                            mxUtils.post(OPEN_URL, '', mxUtils.bind(this, function (req) {
                                                var enabled = req.getStatus() != 404;
                                                this.actions.get('open').setEnabled(enabled || Graph.fileSupport);
                                                this.actions.get('import').setEnabled(enabled || Graph.fileSupport);
                                                this.actions.get('save').setEnabled(enabled);
                                                this.actions.get('saveAs').setEnabled(enabled);
                                                this.actions.get('export').setEnabled(enabled);
                                            }));
                                        }
                                        else {
                                            var enabled = true;
                                            //					this.actions.get('open').setEnabled(enabled || Graph.fileSupport);
                                            //					this.actions.get('import').setEnabled(enabled || Graph.fileSupport);
                                            //					this.actions.get('save').setEnabled(enabled);
                                            //					this.actions.get('saveAs').setEnabled(enabled);
                                            //					this.actions.get('export').setEnabled(enabled);
                                        }
                                    };

                                    // Adds required resources (disables loading of fallback properties, this can only
                                    // be used if we know that all keys are defined in the language specific file)
                                    mxResources.loadDefaultBundle = false;
                                    var bundle = mxResources.getDefaultBundle(RESOURCE_BASE, mxLanguage) ||
                                        mxResources.getSpecialBundle(RESOURCE_BASE, mxLanguage);

                                    // Fixes possible asynchronous requests
                                    mxUtils.getAll([bundle, STYLE_PATH + '/default.xml'], function (xhr) {
                                        // Adds bundle text to resources
                                        mxResources.parse(xhr[0].getText());

                                        // Configures the default graph theme
                                        var themes = new Object();
                                        themes[Graph.prototype.defaultThemeName] = xhr[1].getDocumentElement();

                                        // Main
                                        var mainUI = new EditorUi(new Editor(urlParams['chrome'] == '0', themes), document.getElementById("container"));
                                        /*				mainUI.editor.graph.connectionArrowsEnabled=false;
                                                        mainUI.editor.graph.connectionHandler.setEnabled(false);*/

                                        mainUI.setPageVisible(false);

                                        // mainUI.editor.graph.setCellsLocked(true);
                                        // mainUI.editor.graph.setCellsEditable(false);
                                        // mainUI.editor.graph.setCellsResizable(false);
                                        // mainUI.editor.graph.setCellsDeletable(false);
                                        // mainUI.editor.graph.setCellsMovable(false);
                                        // mainUI.editor.graph.setCellsBendable(false);
                                        // mainUI.editor.graph.setCellsCloneable(false);
                                        // mainUI.editor.graph.setCellsDisconnectable(false);

                                        //mainUI.editor.graph.setEnabled(false);
                                        mainUI.editor.graph.setCellsSelectable(true);
                                        mainUI.editor.graph.connectionArrowsEnabled = false;
                                        mainUI.editor.graph.connectionHandler.setEnabled(false);

                                        //  mainUI.setStatusText("Load OK");
                                        if (uid != null && uid != "" && uid != "0") {
                                            $.ajax({
                                                url: "http://localhost:8081/GeoModelingNew/ConceptModelInfoServlet",
                                                type: "get",
                                                data: {"mid": uid},
                                                success: function (result) {
                                                    var data = JSON.parse(result);
                                                    console.log(data)
                                                    var xml_doc = mxUtils.parseXml(data.cxml);
                                                    xml_doc.documentElement.setAttribute("page", 0);
                                                    mainUI.editor.setGraphXml(xml_doc.documentElement);
                                                    window.onbeforeunload = null;
                                                }
                                            })
                                        }
                                    }, function () {
                                        document.body.innerHTML = '<center style="margin-top:10%;">Error loading resource files. Please check browser console.</center>';
                                    });
                                })();
                            </script>
                            <!--导航条开始-->
                            <iframe id="myIfm" name="myIfm" style="display: none"></iframe>
                            <!--导航条结束-->
                            <div id="container" class="geEditor" style="left: 0px; top:0px; "></div>
                        </div>
                    </div>
                </div>

                <div id="step3" style="display: none">
                    <div class="form-group" style="margin-top:50px">
                        <label class="control-label col-md-offset-2 pull-left" style="padding-left:15px">
                            Are you the conceptual model's author?
                        </label>
                        <div class="input-group" style="padding-left:30px">
                            <label style="margin-right: 20px; font-size: 20px">
                                <input type="radio" name="author_confirm" value="true" checked="checked"/>
                                <label style="float:left; margin-left: 5px;margin-top:-5px">Yes</label>
                            </label>
                            <label style="margin-right: 20px; font-size: 20px">
                                <input type="radio" name="author_confirm" value="false"/>
                                <label style="float:left; margin-left: 5px;margin-top:-5px">No</label>
                            </label>
                        </div>
                    </div>

                    <div class="form-group" style="margin-top:50px;display: none;" id="author_info">
                        <div class="form-group">
                            <label class="control-label col-md-10 col-md-offset-2">
                                Please enter the conceptual model's author's infomation.
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2 col-md-offset-2">
                                Name:
                            </label>
                            <div class="input-group col-md-5">
                                <input type="text" class="form-control" id="author_name" v-model="conceptualModel.author.name"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2 col-md-offset-2">
                                Affiliation/Institution:
                            </label>
                            <div class="input-group col-md-5">
                                <input type="text" class="form-control" id="author_ins"v-model="conceptualModel.author.ins"/>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</body>

<script src="/static/js/common/vue.min.js"></script>
<script src="/static/element-ui/index.js"></script>
<script type="text/javascript" src="/static/jquery-ui-1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/iCheck/jquery.icheck.min.js"></script>
<script type="text/javascript" src="/static/js/common/jquery-steps.js"></script>

<script src="/static/js/page/create-conceptual-model.js"></script>

</html>