<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create Data Item | OpenGMS</title>
    <link rel="stylesheet" type="text/css" media="screen"
          href="/static/css/font-awesome/css/font-awesome.min.css"
    />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/page/create-modelitem.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/other/jquery-steps.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/other/jquery.tag-editor.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/other/modelItemEditor.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/common/fabric/fabric.min.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/style.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/iCheck/skins/flat/green.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/lib/element-ui/theme-chalk/index.css"/>
    <link rel="stylesheet" href="/static/css/base/universal.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/other/bootstrap-select.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/data-tables/DT_bootstrap.css"/>
    <link rel="stylesheet" href="/static/css/base/bootstrap-tagsinput.css">
    <link rel="stylesheet" type="text/css" href="/static/css/page/user_space.css">
    <link rel="stylesheet" href="/static/css/common/newSideBar.css">

    <style>
        input.spinner {
            background: url(/static/img/input-spinner.gif) right no-repeat !important;
        }

        .btn-block {
            padding: 6px 12px;
        }

        .tag-editor{
            border-radius: 4px  ;
        }
        tbody tr td {
            word-wrap: break-word;
            word-break: break-all;
            overflow: hidden;
        }
        font {
            vertical-align: middle;
        }
    </style>
</head>

<body class="scrollbar">
<div id="app">
    <div id="loading" v-if="load">
        <div class="loading-center">
            <div class="loading-center-absolute">
                <div class="object"></div>
            </div>
        </div>
    </div>

    <div class="page-container" style="height: 2000px">

        <head-side-bar :user-infoin-parent="userInfo"></head-side-bar>
        <template id="createDataItem" th:fragment="createDataItem">
            <div class="innerShadowCol">
                <div class="page-content clearfix scrollbar el-col-lg-21 el-col-md-20 pageContent acrylicBack"
                     style="margin-left: 240px;overflow-x: hidden"
                     :style="{'height':ScreenMinHeight,'min-height':ScreenMinHeight,'max-height':ScreenMaxHeight}"
                     id="pageContent">
                    <section role="description" class="flexJustBetween flexColCenter contentSection"
                             style="max-width: 1050px;margin: 15px 10px;">
                        <div class="flexRowContainer flexColCenter" style="margin-left: 18px">
                            <img class="square_40" style="margin-top: 10px" src="../../../static/img/model/model.png">
                            <h3 style="margin-left: 10px"><a class="itemTitle" href="/user/userSpace#/data">Data </a>
                                <span id="subRteTitle"></span></h3>
                        </div>
                    </section>

                    <div class="page-content-wrap container-fluid">
                        <div class="col-md-12 col-sm-12">
                            <div class="panel panel-success" style="border: none;height: 680px;">
                                <div class="panel-body">
                                    <!--                                    以下使用step步骤插件-->
                                    <div class="step2">
                                        <div class="step-app">
                                            <ul class="step-steps text-center">
                                                <li><a id="start_step" href="#step21">Basic Info</a></li>
                                                <li><a href="#step22">Data</a></li>
                                                <li><a href="#step23">Overview & Detail</a></li>
                                                <li><a href="#step24">Authorship</a></li>
                                            </ul>
                                            <div class="step-content">
                                                <div class="step-tab-panel" id="step21">
                                                    <div class="col-md-3 col-sm-4"
                                                         style="overflow-y: auto;height: 450px;width: auto">
                                                        <el-card>
                                                            <div slot="header" class="clearfix text-center">
                                                                <span style="font-size: 20px;color:#444">Data Classifications</span>
                                                            </div>
                                                            <el-tree style="height: 320px;overflow: auto"
                                                                     id="tree2"
                                                                     ref="tree2"
                                                                     :data="treeData"
                                                                     show-checkbox
                                                                     node-key="id"
                                                                     :default-expanded-keys="[]"
                                                                     :current-node-key="100"
                                                                     @check-change="handleCheckChange"
                                                                     :props="defaultProps">
                                                            </el-tree>
                                                        </el-card>
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <div class="form-group">
                                                            <!--classificaation-->
                                                            <label for="classification"><span class="star">* </span>Category:</label><br>
                                                            <input type="text" class="form-control" v-model="clsStr"
                                                                   placeholder="Please choose the catgory of the data which you are ready to upload"
                                                                   id="classification" required="required" readonly/><br>
                                                            <!--<small id="catgoryHelp" class="form-text text-muted">Please choose the catgory of the data which you are ready to upload.</small>-->

                                                            <label for="classification"><span class="star">* </span>Status:</label><br>
                                                            <el-radio-group v-model="dataItemAddDTO.status" size="medium" >
                                                                <el-tooltip popper-class="fontsize-15" effect="light" content="This item can be retrieved, shared and edited." placement="top">
                                                                    <el-radio-button label="Public"></el-radio-button>
                                                                </el-tooltip>
                                                                <el-tooltip popper-class="fontsize-15" class="item" effect="light" content="This item can be retrieved and shared, can ONLY be edited by creator." placement="top">
                                                                    <el-radio-button label="Discoverable"></el-radio-button>
                                                                </el-tooltip>
                                                                <el-tooltip popper-class="fontsize-15" class="item" effect="light" content="This item can NOT be retrieved and shared, can ONLY be edited by creator." placement="top">
                                                                    <el-radio-button label="Private"></el-radio-button>
                                                                </el-tooltip>

                                                            </el-radio-group><br><br>

                                                            <!--name-->
                                                            <label for="dataname"><span class="star">* </span>Name:</label><br>
                                                            <input type="text" class="form-control" id="dataname"
                                                                   aria-describedby="emailHelp"
                                                                   placeholder="Please input the name of the data which you are ready to upload."
                                                                   required="required"/><br>
                                                            <!--<small id="nameHelp" class="form-text text-muted">Please input the name of the data which you are ready to upload.<font color="red">*Not Empty</font></small>-->

                                                            <!--keywords-->
                                                            <label for="keywords">Keywords:</label><br>
                                                            <!--<div class="bootstrap-tagsinput" >-->
                                                            <input type="text"  id="keywords" placeholder="input key words.."
                                                                   required="required" style="border-radius: 4px;"/><br>
                                                            <!--<small id="keywordsHelp" class="form-text text-muted">Please input  keywords of the data which you are ready to upload.<font color="red">*Not Empty</font></small>-->

                                                            <!--img type-->
                                                            <!--todo 依据类型选择图片-->

                                                            <!--<small   class="form-text text-muted">Please choose your data type.</small>-->


                                                            <!--data resources url-->
                                                            <label><span class="star">* </span>Data Type:</label><br>
                                                            <div class="input-group col-md-5" style="width: 400px;">
                                                                <el-radio-group v-model="dataItemAddDTO.dataType">
                                                                    <el-radio label="Url">Resources Url</el-radio>
                                                                    <el-radio label="File">Resource</el-radio>
                                                                </el-radio-group>
                                                            </div><br>
                                                            <label
                                                                    class="col-sm-2 control-label" style="margin-left: 20px;padding-bottom: 5px">Image:</label>
                                                            <div class="col-sm-10">
                                                                        <!--                                                                                        <img id="imgShow" v-show="itemInfo.image"/>-->
                                                                        <img id="imgShow" style="display: inline" v-show="itemInfo.image!=undefined&&itemInfo.image!=''" :src="itemInfo.image"/>
                                                                        <div id="imgMask" class="flexCenter" v-if="itemInfo.image!=undefined&&itemInfo.image!=''"
                                                                             style="position: absolute;width: 100px;height: 100px">
                                                                            <div class="fa fa-times imgDelete" @click="deleteImg"></div>
                                                                            <div class="fa fa-pencil imgEditBlock flexCenter" style="" @click="imgFile"></div>
                                                                        </div>
                                                                        <div v-if="itemInfo.image==''||itemInfo.image==undefined" class="cursorPointer loadImg" @click="imgFile">
                                                                            <i class="fa fa-plus fa-5x"></i>
                                                                        </div>
                                                                        <input type="file" id="imgOne" @change="preImg()"
                                                                               style="display: none" accept="image/*"/>
                                                                        <!--                                                                                        <input id="imgFile" type="file"-->
                                                                        <!--                                                                                               style="display: none"-->
                                                                        <!--                                                                                               accept="image/*"/>-->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="step-tab-panel" id="step22">
                                                    <!--非作者用户编辑，展示作者选择的data，当前用户不是作者时此div可见-->
                                                    <div id="ResourcesUrl" v-if="dataItemAddDTO.dataType=='Url'">
                                                        <label>Please Input Your Resource Url:</label><br><br><br>
                                                        <input type="text" class="form-control" id="ResourcesUrlText"
                                                               aria-describedby="emailHelp"
                                                               placeholder="Please input the url of the data which you are ready to select."
                                                               required="required"/>
                                                    </div>
                                                    <div id="Resource" v-if="dataItemAddDTO.dataType=='File'">
                                                        <label for="classification">You can select some data from you
                                                            data space:</label><br><br>
                                                        <el-button type="primary" @click="openDataSpace()">+ Add
                                                        </el-button>
                                                        <el-button type="danger" @click="removeFile()">- Remove
                                                        </el-button>
                                                        <!--<el-button type="success" @click="replaceFile()">Replace</el-button>-->

                                                        <el-card :body-style="{ padding:'9px'}"
                                                                 style="margin-top: 10px">
                                                            <span><i class="el-icon-document"></i>&nbsp&nbsp contents</span>
                                                        </el-card>


                                                        <el-card style="height: 300px;overflow-y:auto"
                                                                 id="browsercont" class="filecontent">

                                                            <div @click="resClick"
                                                                 v-for="(resource, index) in selectedFile">
                                                                <!--</el-row>-->
                                                                <el-card style="width:10%"
                                                                         :key="index"
                                                                         :align="index"
                                                                         :title="resource.label"
                                                                         class="dataitemisol"
                                                                         shadow="never">

                                                                    <el-row>
                                                                        <el-col :span="6">&nbsp</el-col>
                                                                        <el-col :span="12"><a><img :src="'/static/img/filebrowser/'+resource.suffix+'.svg'"
                                                                         onerror="this.onerror='';src='/static/img/filebrowser/unknow.svg'"
                                                                         style="height: 60%;width:100%"></a>
                                                                        </el-col>
                                                                        <el-col :span="6">&nbsp</el-col>
                                                                    </el-row>
                                                                    <el-row>
                                                                        <el-col :span="2">&nbsp</el-col>
                                                                        <el-col :span="20">

                                                                            <p style="word-wrap: break-word;word-break: break-all;text-align: center">{{resource.label}}.{{resource.suffix}}</p>
                                                                        </el-col>
                                                                        <el-col :span="2">&nbsp</el-col>

                                                                    </el-row>

                                                                    <!--menu item -->


                                                                </el-card>

                                                            </div>
                                                        </el-card>
                                                    </div>
                                                </div>
                                                <div class="step-tab-panel" id="step23">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <!--description-->
                                                            <label for="description"><span class="star">* </span>Overview:</label>
                                                            <textarea class="form-control" id="description"
                                                                      placeholder="Input description about the data here."
                                                                      required="required"></textarea><br/>
                                                            <label for="detail">Detail Description:</label>
                                                            <textarea id="detail"
                                                                      placeholder="Input detail about the data here."></textarea>
                                                        </div>
                                                    </div>
                                                    <br/>
                                                </div>
                                                <div class="step-tab-panel" id="step24">
                                                    <!--detail-->
                                                    <div class="panel panel-success" style="border:none">

                                                        <div class="panel-body">
                                                            <div class="col-md-10 col-md-offset-1">

                                                                <div class="panel-group " id="accordion2">
                                                                    <div id="providersPanel" class="panel"
                                                                         style="border-color:#424f63">
                                                                        <div class="panel-heading"
                                                                             style="background-color: #424f63">
                                                                            <h4 class="panel-title"
                                                                                style="color:white">
                                                                                <a class="accordion-toggle"
                                                                                   data-parent="#accordion2">
                                                                                    Authorship
                                                                                </a>
                                                                            </h4>
                                                                        </div>
                                                                        <div id="provider_body"
                                                                             class="panel-collapse collapse in"
                                                                             style="height: auto;">
                                                                            <div class="panel-body providers"
                                                                                 style="border-top: #424f63; padding:0px">
                                                                                <div class='panel panel-primary newAuthorHeader'>
                                                                                    <!--                                                                                    <div class='panel-heading info-head'  style="">-->
                                                                                    <!--                                                                                        <h4 class='panel-title'>-->
                                                                                    <!--                                                                                            <a class='accordion-toggle collapsed'-->
                                                                                    <!--                                                                                               style="color:white"-->
                                                                                    <!--                                                                                               data-toggle='collapse'-->
                                                                                    <!--                                                                                               data-target='#user1'-->
                                                                                    <!--                                                                                               href="javascript:;">-->
                                                                                    <!--                                                                                                NEW-->
                                                                                    <!--                                                                                            </a>-->
                                                                                    <!--                                                                                        </h4>-->
                                                                                    <!--                                                                                        <a href="javascript:;"-->
                                                                                    <!--                                                                                           class="fa fa-times author_close"-->
                                                                                    <!--                                                                                           style="float:right;margin-top:8px;color:white"></a>-->
                                                                                    <!--                                                                                    </div>-->
                                                                                    <!--                                                                                    <div id='user1'-->
                                                                                    <!--                                                                                         class='panel-collapse collapse in'>-->
                                                                                    <!--                                                                                        <div class='panel-body user-contents'>-->
                                                                                    <!--                                                                                            <div class='user-attr'>-->
                                                                                    <!--                                                                                                <div>-->
                                                                                    <!--                                                                                                    <lable class='control-label col-sm-2 text-center'-->
                                                                                    <!--                                                                                                           style='font-weight: bold;'>-->
                                                                                    <!--                                                                                                        Name:-->
                                                                                    <!--                                                                                                    </lable>-->
                                                                                    <!--                                                                                                    <div class='input-group col-sm-10'>-->
                                                                                    <!--                                                                                                        <input type='text'-->
                                                                                    <!--                                                                                                               name="name"-->
                                                                                    <!--                                                                                                               class='form-control'>-->
                                                                                    <!--                                                                                                    </div>-->
                                                                                    <!--                                                                                                </div>-->
                                                                                    <!--                                                                                                <div style="margin-top:10px">-->
                                                                                    <!--                                                                                                    <lable class='control-label col-sm-2 text-center'-->
                                                                                    <!--                                                                                                           style='font-weight: bold;'>-->
                                                                                    <!--                                                                                                        Email:-->
                                                                                    <!--                                                                                                    </lable>-->
                                                                                    <!--                                                                                                    <div class='input-group col-sm-10'>-->
                                                                                    <!--                                                                                                        <input type='text'-->
                                                                                    <!--                                                                                                               name="email"-->
                                                                                    <!--                                                                                                               class='form-control'>-->
                                                                                    <!--                                                                                                    </div>-->
                                                                                    <!--                                                                                                </div>-->
                                                                                    <!--                                                                                                <div style="margin-top:10px">-->
                                                                                    <!--                                                                                                    <lable class='control-label col-sm-2 text-center'-->
                                                                                    <!--                                                                                                           style='font-weight: bold;'>-->
                                                                                    <!--                                                                                                        Homepage:-->
                                                                                    <!--                                                                                                    </lable>-->
                                                                                    <!--                                                                                                    <div class='input-group col-sm-10'>-->
                                                                                    <!--                                                                                                        <input type='text'-->
                                                                                    <!--                                                                                                               name="homepage"-->
                                                                                    <!--                                                                                                               class='form-control'>-->
                                                                                    <!--                                                                                                    </div>-->
                                                                                    <!--                                                                                                </div>-->
                                                                                    <!--                                                                                            </div>-->
                                                                                    <!--                                                                                        </div>-->
                                                                                    <!--                                                                                    </div>-->
                                                                                </div>
                                                                            </div>
                                                                            <button type="button"
                                                                                    class="btn btn-success btn-lg btn-block user-add"
                                                                                    style="border-radius: 3px;border-top-left-radius: 0px;border-top-right-radius: 0px">
                                                                                Add
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="step-footer" style="margin: 0 100px 0 0;">
                                                <button id="next" class="btn btn-primary next pull-right"
                                                        data-direction="next">
                                                    Next
                                                </button>
                                                <button class="btn btn-warning prev pull-left" data-direction="prev">
                                                    Previous
                                                </button>
                                                <button class="btn btn-info finish pull-right" data-direction="finish"
                                                        @click="createDataItem()"><strong>Finish</strong></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <el-dialog
                        title="Data Select"
                        :visible.sync="dialogVisible"
                        width="80%"
                        :before-close="handleClose">
                    <user-data @com-selectfile="selectDataspaceFile" ref="userDataSpace" style="height: 505px;"></user-data>
                    <span slot="footer" class="dialog-footer">
                      <el-button @click="dialogVisible = false">Cancel</el-button>
                      <el-button type="primary" @click="dialogVisible = false">Confirm</el-button>
                    </span>
                </el-dialog>
            </div>
            <!--user-data模块-->

        </template>
        </div>
    </div>
</div>
</body>

<script src="/static/js/common/jquery-3.3.1.min.js"></script>
<script src="/static/js/common/bootstrap.min.js"></script>
<script src="/static/js/common/vue.min.js"></script>
<script src="/static/js/common/axios.min.js"></script>
<script type="text/javascript" src="/static/js/common/jquery.tag-editor.js"></script>
<script type="text/javascript" src="/static/js/common/bootstrap-treeview.js"></script>
<script type="text/javascript" src="/static/js/common/jquery-steps.js"></script>
<script type="text/javascript" src="/static/js/common/pageEn.js"></script>
<script type="text/javascript" src="/static/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="/static/data-tables/jquery.dataTables.js"></script>
<script type="text/javascript" src="/static/data-tables/DT_bootstrap.js"></script>

<script src="/static/js/common/bootstrap-select.js"></script>
<script src="/static/element-ui/index.js"></script>
<script type="text/javascript" src="/static/iCheck/jquery.icheck.min.js"></script>
<script src="/static/js/common/vue-router.js"></script>
<script th:replace="fragments/newSideBar :: headSideBar"></script>
<script th:replace="fragments/newSideBar :: sideBarComponent"></script>

<script src="/static/js/page/create-dataItem.js"></script>


</html>
