<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create Spatiotemporal Reference | OpenGMS</title>


    <link rel="stylesheet" type="text/css" media="screen"
          href="/static/css/base/font-awesome/css/font-awesome.min.css"
    />

    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/page/create-modelitem.css"/>

    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/other/jquery-steps.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/other/jquery.tag-editor.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/other/modelItemEditor.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/style.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/fabric/fabric.min.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/lib/element-ui/theme-chalk/index.css"/>
    <link rel="stylesheet" href="/static/css/base/universal.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/other/bootstrap-select.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/data-tables/DT_bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/page/user_space.css">
    <link rel="stylesheet" href="/static/css/module/newSideBar.css">

    <style>
        .btn-block {
            padding: 6px 12px;
        }

        tbody tr td {
            word-wrap: break-word;
            word-break: break-all;
            overflow: hidden;
        }
    </style>
</head>

<body class="scrollbar">
<div id="app">
    <div id="loading" v-if="load">
        <div class="loading-center">
            <div class="loading-center-absolute">
                <div class="object"></div>
            </div>
        </div>
    </div>

    <div class="page-container" style="height: 2000px">
        <head-side-bar :user-infoin-parent="userInfo"></head-side-bar>
        <template id="createSpatialReference" th:fragment="createSpatialReference">
            <div class="innerShadowCol">
                <div class="page-content clearfix scrollbar el-col-lg-21 el-col-md-20 pageContent acrylicBack"
                     style="margin-left: 240px;overflow-x: hidden"
                     :style="{'height':ScreenMinHeight,'min-height':ScreenMinHeight,'max-height':ScreenMaxHeight}"
                     id="pageContent">
                    <section role="description" class="flexJustBetween flexColCenter contentSection"
                             style="max-width: 100%;margin: 15px 10px;">
                        <div class="flexRowContainer flexColCenter" style="margin-left: 18px">
                            <img class="square_40" style="margin-top: 10px" src="../../../static/img/model/model.png">
                            <h3 style="margin-left: 10px"><a class="itemTitle" href="/user/userSpace#/community">{{htmlJson.Community}} </a><span
                                    id="subRteTitle"></span></h3>
                        </div>
                        <draft-box ref="draftBox"
                                   @insert-draft="insertDraft"
                                   @get-draft="getDraft"
                                   @get-content="getItemContent"
                                   @draft-jump="draftJump"
                                   :item-type="'spatialReference'"></draft-box>
                    </section>

                    <div class="page-content-wrap container-fluid">
                        <!-- START WIDGETS -->
                        <div class="row">

                        </div>
                        <!-- END WIDGETS -->

                        <div class="row">
                            <div class="container-fluid" id="mainInfo">
                                <div class="row">
                                    <div class="col-md-12 nopadding">
                                        <div class="panel panel-success" style="border: none">
                                            <div class="panel-body">
                                                <div id="step">
                                                    <div class="step-app">
                                                        <ul class="step-steps text-center">
                                                            <li>
                                                                <a href="#step1">{{htmlJson.BasicInfo}}</a>
                                                            </li>
                                                            <li>
                                                                <a href="#step2">{{htmlJson.Content}}</a>
                                                            </li>

                                                        </ul>

                                                        <div class="step-content">
                                                            <div class="step-tab-panel" id="step1">
                                                                <div class="col-sm-4 tree" style="margin-top:10px">
                                                                    <el-card>
                                                                        <div slot="header" class="clearfix text-center">
                                                                            <span style="font-size: 20px;color:#444">{{htmlJson.SpatiotemporalReferenceClassifications}}</span>
                                                                        </div>
                                                                        <el-tree style="height: 320px;overflow: auto"
                                                                                 id="tree2"
                                                                                 ref="tree2"
                                                                                 :data="treeData"
                                                                                 show-checkbox
                                                                                 node-key="id"
                                                                                 :default-expanded-keys="[1,2]"
                                                                                 :current-node-key="100"
                                                                                 @check-change="handleCheckChange"
                                                                                 :props="defaultProps">
                                                                        </el-tree>
                                                                    </el-card>
                                                                </div>

                                                                <div class="col-sm-8" style="margin-top:10px">
                                                                    <div id="RepositoryParentsPanel">
                                                                        <div class="form-horizontal">
                                                                            <div class="form-group" >
                                                                                <label for="parentNode"
                                                                                       class="col-sm-2 control-label"><span class="xing">* </span>{{htmlJson.Classifications}}</label>
                                                                                <div class="col-sm-10">
                                                                            <textarea class="form-control"
                                                                                      id="parentNode"
                                                                                      v-model="clsStr"
                                                                                      readonly></textarea>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <div class="form-horizontal">
                                                                            <div class="form-group">
                                                                                <label for="nameInput"
                                                                                       class="col-sm-2 control-label"><span class="xing">* </span>{{htmlJson.Status}}</label>
                                                                                <div class="col-sm-10">
                                                                                    <el-radio-group v-model="status" size="medium">
                                                                                        <el-tooltip popper-class="fontsize-15" effect="light" :content="htmlJson.Public.content" placement="top">
                                                                                            <el-radio-button label="Public">{{htmlJson.Public.label}}</el-radio-button>
                                                                                        </el-tooltip>
                                                                                        <el-tooltip popper-class="fontsize-15" class="item" effect="light" :content="htmlJson.Discoverable.content" placement="top">
                                                                                            <el-radio-button label="Discoverable">{{htmlJson.Discoverable.label}}</el-radio-button>
                                                                                        </el-tooltip>
                                                                                        <el-tooltip popper-class="fontsize-15" class="item" effect="light" :content="htmlJson.Private.content" placement="top">
                                                                                            <el-radio-button label="Private">{{htmlJson.Private.label}}</el-radio-button>
                                                                                        </el-tooltip>

                                                                                    </el-radio-group>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <div class="form-horizontal" >
                                                                            <div class="form-group">
                                                                                <label for="nameInput"
                                                                                       class="col-sm-2 control-label"><span class="xing">* </span>{{htmlJson.Name}}</label>
                                                                                <div class="col-sm-10">
                                                                                    <input type="text" class="form-control"
                                                                                           id="nameInput" @input="onInputName"/>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <div class="form-horizontal">
                                                                            <div class="form-group">
                                                                                <label for="aliasInput"
                                                                                       class="col-sm-2 control-label">{{htmlJson.Alias}}</label>
                                                                                <div class="col-sm-10">
                                                                            <textarea class="form-control"
                                                                                      id="aliasInput"></textarea>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <div class="form-horizontal" >
                                                                            <div class="form-group">
                                                                                <label for="descInput"
                                                                                       class="col-sm-2 control-label"><span class="xing">* </span>{{htmlJson.Overview}}</label>
                                                                                <div class="col-sm-10">
                                                                            <textarea rows="4" class="form-control"
                                                                                      id="descInput"></textarea>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <div class="form-horizontal" >
                                                                            <div class="form-group">
                                                                                <label for="wknameInput"
                                                                                       class="col-sm-2 control-label">wkname</label>
                                                                                <div class="col-sm-10">
                                                                                    <input type="text" class="form-control"
                                                                                           id="wknameInput"/>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <div class="form-horizontal" >
                                                                            <div class="form-group">
                                                                                <label for="wktInput"
                                                                                       class="col-sm-2 control-label">wkt</label>
                                                                                <div class="col-sm-10">
                                                                                    <input type="text" class="form-control"
                                                                                           id="wktInput"/>
                                                                                </div>
                                                                            </div>
                                                                        </div>



                                                                        <div class="form-horizontal" >
                                                                            <div class="form-group">
                                                                                <label for="nameInput"
                                                                                       class="col-sm-2 control-label">{{htmlJson.Image}}</label>
                                                                                <div class="col-sm-10">
                                                                                    <img id="imgShow" style="display: inline" v-show="itemInfoImage!=undefined&&itemInfoImage!=''" :src="itemInfoImage"/>
                                                                                    <div id="imgMask" class="flexCenter" v-if="itemInfoImage!=undefined&&itemInfoImage!=''"
                                                                                         style="position: absolute;width: 100px;height: 100px">
                                                                                        <div class="fa fa-times imgDelete" @click="deleteImg"></div>
                                                                                        <div class="fa fa-pencil imgEditBlock flexCenter" style="" @click="imgFile"></div>
                                                                                    </div>
                                                                                    <div v-if="itemInfoImage==''||itemInfoImage==undefined" class="cursorPointer loadImg" @click="imgFile">
                                                                                        <i class="fa fa-plus fa-5x"></i>
                                                                                    </div>
                                                                                    <input id="imgOne" type="file" @change="preImg()"
                                                                                           style="display: none"
                                                                                           accept="image/*"/>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="step-tab-panel" id="step2">
                                                                <div v-if="editType=='create'" class="singleLocalization">
                                                                    <div style="margin:15px 0;width:15%;float: left;">
                                                                        <div>
                                                                            <b>{{htmlJson.Language.label}}:</b>
                                                                            <el-tooltip
                                                                                    popper-class="fontsize-15"
                                                                                    effect="light"
                                                                                    :content="htmlJson.Language.content"
                                                                                    placement="top">
                                                                                <i class="fa fa-question-circle-o" aria-hidden="true" style="cursor:help;"></i>
                                                                            </el-tooltip>
                                                                        </div>
                                                                        <el-select v-model="languageAdd.local" filterable placeholder="Please select language">
                                                                            <el-option
                                                                                    v-for="item in languageList"
                                                                                    :key="item.value"
                                                                                    :label="item.label"
                                                                                    :value="item">
                                                                                <span style="float: left">{{ item.label }}</span>
                                                                                <span style="float: right; color: #8492a6; font-size: 13px">{{ item.value }}</span>
                                                                            </el-option>
                                                                        </el-select>
                                                                    </div>
                                                                    <div style="margin:15px 0;padding-left:10px;width:85%;float: left;">
                                                                        <div>
                                                                            <b>{{htmlJson.LocalName.label}}:</b>
                                                                            <el-tooltip
                                                                                    popper-class="fontsize-15"
                                                                                    effect="light"
                                                                                    :content="htmlJson.LocalName.content"
                                                                                    placement="top">
                                                                                <i class="fa fa-question-circle-o" aria-hidden="true" style="cursor:help;"></i>
                                                                            </el-tooltip>
                                                                        </div>
                                                                        <el-input v-model="currentLocalization.name" :placeholder="htmlJson.LocalName.placeholder"></el-input>
                                                                    </div>
                                                                    <div style="margin-bottom:10px;">
                                                                        <div><b>{{htmlJson.Description}} :</b> </div>
                                                                        <textarea id="singleDescription"></textarea>
                                                                    </div>
                                                                </div>
                                                                <div v-if="editType=='modify'" class="localization">
                                                                    <el-card style="width: 15%;float:left">
                                                                        <div slot="header" class="clearfix">
                                                                            <span style="font-weight: bold">Localizations</span>
                                                                            <el-button
                                                                                    style="float: right; padding: 3px 0"
                                                                                    type="text" @click="addLocalization">+
                                                                                {{htmlJson.authorshipPart.Add}}
                                                                            </el-button>
                                                                        </div>
                                                                        <el-collapse-transition>
                                                                            <div v-show="languageAdd.show">
                                                                                <el-select v-model="languageAdd.local" filterable placeholder="Please select language" style="width:80%;float: left;">
                                                                                    <el-option
                                                                                            v-for="item in languageList"
                                                                                            :key="item.value"
                                                                                            :label="item.label"
                                                                                            :value="item">
                                                                                        <span style="float: left">{{ item.label }}</span>
                                                                                        <span style="float: right; color: #8492a6; font-size: 13px">{{ item.value }}</span>
                                                                                    </el-option>
                                                                                </el-select>
                                                                                <el-button @click="confirmAddLocal" type="success" style="width:10%;float: left;"><i class="el-icon-check"></i></el-button>
                                                                                <el-button @click="cancelAddLocal" type="danger" style="width:10%;"><i class="el-icon-close"></i></el-button>
                                                                            </div>
                                                                        </el-collapse-transition>
                                                                        <div class="clearfix" style="height:400px;overflow: auto;">
                                                                            <el-table
                                                                                    :data="localizationList"
                                                                                    :show-header="false"
                                                                            >
                                                                                <el-table-column>
                                                                                    <template slot-scope="props">
                                                                                        <el-tooltip class="item" effect="light" :content="props.row.localCode" placement="top">
                                                                                            <el-button
                                                                                                    :class="{localizationSelected:props.row.selected}"
                                                                                                    style="width:90%;float:left;"
                                                                                                    @click="changeLocalization(props.row)">
                                                                                                {{props.row.localName}}
                                                                                            </el-button>
                                                                                        </el-tooltip>

                                                                                        <el-button style="width:10%;" @click="deleteLocalization(props.row)"><i
                                                                                                class="el-icon-close"></i>
                                                                                        </el-button>

                                                                                    </template>
                                                                                </el-table-column>
                                                                            </el-table>
                                                                        </div>
                                                                    </el-card>
                                                                    <el-card style="width: 85%;">
                                                                        <div slot="header" class="clearfix">
                                                                            <span>{{htmlJson.SpatioTemporalReferenceName}} : </span>
                                                                            <el-input v-model="currentLocalization.name" placeholder="Please enter the item's localized name"></el-input>

                                                                        </div>
                                                                        <textarea id="conceptText" style="float:left">

                                                        </textarea>
                                                                    </el-card>
                                                                </div>
                                                            </div>

                                                        </div>

                                                        <div class="step-footer text-right">
                                                            <button class="btn btn-danger prev" @click="cancelEditClick()" style="">
                                                                {{htmlJson.Exit}}
                                                            </button>
                                                            <div class="innerBorderCol btn btn-warning"
                                                                 style="padding: 0;margin: 0 10px;height: 20px;background-color: #cccccc !important;cursor: auto">
                                                            </div>
                                                            <button class="btn btn-warning prev" data-direction="prev">
                                                                {{htmlJson.Previous}}
                                                            </button>
                                                            <button class="btn btn-primary next" data-direction="next">
                                                                {{htmlJson.Next}}
                                                            </button>
                                                            <button class="btn btn-success finish" data-direction="finish">
                                                                {{htmlJson.Finish}}
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.panel -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </template>

</div>
</div>
</body>

<script src="/static/js/common/jquery-3.3.1.min.js"></script>
<script src="/static/js/common/bootstrap.min.js"></script>
<script src="/static/js/common/vue.min.js"></script>
<script type="text/javascript" src="/static/js/common/bootstrap-treeview.js"></script>
<script type="text/javascript" src="/static/js/common/jquery-steps.js"></script>
<script type="text/javascript" src="/static/js/common/jquery.tag-editor.js"></script>
<script type="text/javascript" src="/static/js/common/pageEn.js"></script>

<script type="text/javascript" src="/static/data-tables/jquery.dataTables.js"></script>
<script type="text/javascript" src="/static/data-tables/DT_bootstrap.js"></script>

<script src="/static/js/common/axios.min.js"></script>
<script src="/static/js/common/vue.min.js"></script>
<script src="/static/js/common/vue-router.js"></script>
<script src="/static/js/common/bootstrap-select.js"></script>
<script src="/static/element-ui/index.js"></script>

<script th:replace="fragments/newSideBar :: headSideBar"></script>
<script th:replace="fragments/newSideBar :: sideBarComponent"></script>
<script src="/static/js/page/create-spatialReference.js"></script>

</html>