<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${itemInfo.name}+' | Data Item Info | OpenGMS'"></title>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <link rel="icon" type="image/x-icon" th:href="@{/static/img/logo/favicon.ico}">
    <link rel="stylesheet" th:href="@{/static/lib/element-ui/theme-chalk/index.css}">

    <link rel="stylesheet" href="../static/css/base/bootstrap.min.css"
          th:href="@{/../static/css/base/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/base/font-awesome/css/font-awesome.min.css"
          th:href="@{/../static/css/base/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" href="../static/css/font-awesome/fonts/fontawesome-webfont.woff"
          th:href="@{/../static/css/font-awesome/fonts/fontawesome-webfont.woff}">

    <link rel="stylesheet" href="/static/css/base/relate_item.css">

    <link rel="stylesheet" href="../static/css/base/style.css" th:href="@{/../static/css/base/style.css}">
    <link rel="stylesheet" href="../static/css/base/universal.css" th:href="@{/../static/css/base/universal.css}">
    <link rel="stylesheet" href="/static/css/base/itemInfo.css">
    <link rel="stylesheet" href="../static/css/page/data_item_info.css"
          th:href="@{/../static/css/page/data_item_info.css}">
    <link rel="stylesheet" href="../static/css/components/file-manager.css"
          th:href="@{/../static/css/components/file-manager.css}">

    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/footerResponse.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/navbar.css"/>

    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/wzhFlexContainer.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/wzhStyle.css" />


    <style type="text/css" th:inline="css">
        .col-md-5 {
            float: none;
        }

        .align-right {
            font-weight: bold;
            text-align: right;
        }

        .custom-tree-node {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 17px;
            padding-right: 8px;
        }
    </style>
</head>
<body>
<div id="data_item_info">
    <div th:replace="fragments/navbar :: unlog"></div>


    <div class="clearfix" style="padding:40px 0px;height: auto;position: relative;">
        <translation-bar
                json-file="dataItemInfo"
                @translate-page="translatePage"
                with-comments="true"
                initial-lang="en-us"
                with-item-info-modules="true"
                theme="dark"
                style="position: absolute;top: 10px;right:15px">
        </translation-bar>

        <div class="left-panel el-col">
            <div th:replace="fragments/itemInfoModules :: itemTitle(${itemInfo},true)"></div>

            <div th:replace="fragments/itemInfoModules :: contributor_sm"></div>

            <div id="Authorship0" class="detail_block minScreen"
                 th:if="${itemInfo.authorships!=null&&#lists.size(itemInfo.authorships)!=0}">
                <div th:replace="fragments/itemInfoModules :: authorship(0,${itemInfo},true)"></div>
            </div>

            <div id="data_classification0" class="detail_block minScreen">
                <div th:replace="fragments/itemInfoModules :: data_classification(${classifications})"></div>
            </div>


            <!--data resource url-->
            <div th:replace="fragments/itemInfoModules :: data_url(${itemInfo})"></div>

            <!--Data Resource-->
            <div th:replace="fragments/itemInfoModules :: data_userDataList"></div>

            <!--Distributed Node Data-->
            <div th:replace="fragments/itemInfoModules :: data_distributedNodeData"></div>

            <!--Distributed Node Data2-->
            <div th:replace="fragments/itemInfoModules :: data_distributedNodeData2"></div>

            <!--description-->
            <div th:replace="fragments/itemInfoModules :: data_description"></div>

            <!--resources-->
            <div th:replace="fragments/itemInfoModules :: data_resources"></div>

            <el-dialog :visible.sync="forkDialogVisible" title="Select Folder" width="35%">

                <el-card style="min-height: 300px;">
                    <el-tree
                            :data="folderTree"
                            ref="folderTree"
                            node-key="id"
                            highlight-current
                            default-expand-all
                            :expand-on-click-node="false"
                            >
                      <span class="custom-tree-node" slot-scope="{ node, data }">
                        <span>{{ node.label }}</span>
                      </span>
                    </el-tree>
                </el-card>

                <span slot="footer" class="dialog-footer">
                    <el-button class="pull-left" type="primary" icon="el-icon-folder-add" @click="addFolder()">Add new folder</el-button>
                    <el-button @click="forkDialogVisible = false">Cancel</el-button>
                    <el-button type="primary" @click="confirmFolder()">OK</el-button>
                </span>

            </el-dialog>

            <!--related models-->
            <div th:replace="fragments/itemInfoModules :: data_relatedmodels(${relatedModels}, true)"></div>

            <!--relatedProcessing-->
            <div th:replace="fragments/itemInfoModules :: data_related_processing"></div>

            <!--relatedVisualization-->
            <div th:replace="fragments/itemInfoModules :: data_related_processing"></div>

            <!--how to Cite-->
            <div id="cite" class="detail_block">
                <div class="block_head">
                    <div class="head_text">
                        <h4>{{htmlJSON.HowtoCite}}</h4>
                    </div>
                </div>
                <div class="block_content" th:object="${itemInfo}">
                    <div id="cite-text" class="">
                        <span th:if="${authorship!=''}"
                              th:text="${authorships}+' ('+${#dates.format(itemInfo.createTime,'yyyy')}+'). '+${itemInfo.name}+', Data Item, OpenGMS, '"></span>
                        <span th:if="${authorship==''}"
                              th:text="${user.name}+' ('+${#dates.format(itemInfo.createTime,'yyyy')}+'). '+${itemInfo.name}+', Data Item, OpenGMS, '"></span>
                        <a style="word-break:break-all;"
                           th:href="'https://geomodeling.njnu.edu.cn/dataItem/'+${itemInfo.id}"
                           th:text="'https://geomodeling.njnu.edu.cn/dataItem/'+${itemInfo.id}"></a>
                    </div>
                    <div id="copy" class="btn btn-info">
                        Copy
                    </div>
                </div>
            </div>

            <div th:replace="fragments/itemInfoModules :: copyright"></div>

            <div th:replace="fragments/itemInfoModules :: QR_sm"></div>

            <div id="comment" class="detail_block">
                <comments></comments>
            </div>

        </div>

        <div class="right-panel el-col">
            <!--categorys-->
            <div id="data_classification" class="detail_block">
                <div th:replace="fragments/itemInfoModules :: data_classification(${classifications})"></div>
            </div>

            <div id="Contributor" class="detail_block">
                <div th:replace="fragments/itemInfoModules :: contributor_lg" ></div>
            </div>

            <div id="Authorship" class="detail_block"
                 th:if="${itemInfo.authorships!=null&&#lists.size(itemInfo.authorships)!=0}">
                <div th:replace="fragments/itemInfoModules :: authorship(1,${itemInfo},true)" ></div>
            </div>

            <div th:replace="fragments/itemInfoModules :: QR_lg"></div>

        </div>

        <div th:if="${history==true}"
             style="pointer-events:none;position: absolute;top:0;bottom: 0;left: 0;right: 0;background-image: url('/static/img/historyBackground.png')"></div>

        <!--Relation 弹出框-->
        <el-dialog style="float:left" :visible.sync="dialogTableVisible" title="Add Related Model Item"
                   width="70%" top="40px">

            <link-related-item-module
                    in-dialog
                    ref="linkRelatedItemModule"
                    @close-father-dialog="dialogTableVisible=false"
                    @receive-msg="receiveModuleMsg"
            ></link-related-item-module>

        </el-dialog>
        <el-dialog
                v-loading="loading2"
                title="Invoke"
                :visible.sync="dialogVisible"
                width="80%"
                :before-close="handleClose">
            <el-card>
                <div class="xmlDisplay" style="display: inline-block;width: 60%;">
                    <p v-if="processingType =='process'" style="font-weight: 600">XML description of processing:</p><br>
                    <p v-if="processingType == 'visual'" style="font-weight: 600">XML description of visualization:</p><br>
                    <pre v-if="xml" lang="xml">{{xml}}</pre>
                </div>
                <div class="parameterInput" style="display: inline-block;float: right;width: 35%">
                    <p style="font-weight: 600">Parameters to be filled in:</p><br>
                    <div class="parameter" v-for = "(para,i) in parameters">
                        <p>{{para}}</p>
                        <input type="text" autocomplete="off" placeholder="Please enter the content" :id ="para" class="el-input__inner">
                    </div>
                </div>
            </el-card>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisible = false">Cancel</el-button>
                <el-button type="primary" @click="invokeProcessingNow();dialogVisible = false">Invoke Now</el-button>
            </span>
        </el-dialog>

    </div>

    <div th:replace="fragments/footer :: footer"></div>

</div>
<!--翻译组件，本页面组件js引入位置不能靠后-->
<template th:replace="modules/translationBar :: translationBar"></template>
<template th:replace="modules/linkRelatedItemModule :: linkRelatedItemModule"></template>
<template th:replace="fragments/comments :: comments"></template>
<template th:replace="modules/userAvatar :: userAvatar"></template>

</body>
<script th:inline="javascript">
    var author=[[${user}]];
</script>

<script th:src="@{/static/js/common/vue.min.js}"></script>
<script th:src="@{/static/element-ui/index.js}"></script>
<script th:src="@{/static/js/common/jquery-3.3.1.min.js}"></script>
<script th:src="@{/static/js/common/jquery.rotate.min.js}"></script>
<script src="/static/js/common/bootstrap.min.js"></script>
<script src="/static/js/modules/userAvatar.js"></script>
<script src="/static/js/modules/comments.js"></script>
<script src="/static/js/common/vue-avatar.min.js"></script>

<script src="/static/js/common/axios.min.js"></script>
<script src="/static/js/modules/linkRelatedItemModule.js"></script>
<script src="/static/element-ui/umd/locale/en.js"></script> <script src="/static/element-ui/umd/locale/zh-CN.js"></script>
<script src="/static/js/modules/translationBar.js"></script>


<script src="/static/js/common/qrcode.min.js"></script>
<script src="/static/js/apidoc/dataApi.js"></script>
<script src="/static/js/page/data_item_info.js"></script>

<script src="/static/js/common/copy.js"></script>


<script src="/static/js/common/navbar.js"></script>

</html>