<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${itemInfo.name}+' | Data Application | OpenGMS'">Data Application | OpenGMS</title>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" th:href="@{/static/lib/element-ui/theme-chalk/index.css}">
    <link rel="stylesheet" th:href="@{/static/css/base/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/base/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/base/style.css}">
    <link rel="stylesheet" th:href="@{/static/css/base/universal.css}">
    <link rel="stylesheet" th:href="@{/static/css/base/itemInfo.css}">
    <link rel="stylesheet" th:href="@{/static/css/components/file-manager.css}">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/other/jquery-steps.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/other/jquery.tag-editor.css"/>
    <link rel="stylesheet" th:href="@{/static/css/page/model_item_info.css}">
    <link rel="stylesheet" type="text/css" href="/static/js/mxGraph/css/common.css">
    <link rel="stylesheet" href="/static/css/base/userModule.css">
    <link rel="stylesheet" href="/static/css/base/wzhStyle.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/navbar.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/footerResponse.css"/>

    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/wzhFlexContainer.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/wzhStyle.css" />


    <style>
        .img img {
            width: 90px;
            height: 90px;
        }

        .el-dialog__header {
            /*padding: 0px;*/
        }

        /*.mxWindowPane {*/
        /*    !*overflow-x: hidden !important;*!*/
        /*    overflow: unset !important;*/
        /*}*/

    </style>
</head>
<body>
<div id="data_application_info" v-cloak>
    <div th:replace="fragments/navbar :: unlog"></div>

    <div class="clearfix" style="padding:40px 0px;height: auto;position: relative;">
        <translation-bar
                json-file="data_application_info"
                @translate-page="translatePage"
                with-comments="true"
                initial-lang="en-us"
                with-item-info-modules="true"
                theme="dark"
                style="position: absolute;top: 10px;right:15px">
        </translation-bar>
        <div class="left-panel el-col">
            <div th:replace="fragments/itemInfoModules :: itemTitle(${itemInfo},true)"></div>

            <div th:replace="fragments/itemInfoModules :: contributor_sm"></div>

            <div id="Authorship0" class="detail_block minScreen"
                 th:if="${itemInfo.authorships!=null&&#lists.size(itemInfo.authorships)!=0}">
                <div th:replace="fragments/itemInfoModules :: authorship(0,,${itemInfo}, true)"></div>

            </div>

            <!--description-->
            <div th:replace="fragments/itemInfoModules :: data_description"></div>

            <div th:replace="fragments/itemInfoModules :: Resource(${resources},'dataMethod')"
                 th:if="${(itemInfo.contentType=='Code'||itemInfo.contentType=='Library'||itemInfo.contentType=='Package')&&(itemInfo.resources!=null&&#lists.size(itemInfo.resources)>0)}">
            </div>

            <div th:replace="fragments/itemInfoModules :: data_link"></div>

            <div th:replace="fragments/itemInfoModules :: data_invoke"></div>

            <!--related models-->
            <div th:replace="fragments/itemInfoModules :: data_relatedmodels(${relatedModels}, true)"></div>

            <div th:replace="fragments/itemInfoModules :: model_related_material(${relation}, true)"></div>

            <el-dialog v-cloak :visible.sync="relatedResourceVisible" :title="'Link Material to '+ itemInfo.name" width="72%"
                       style="min-height: 450px">

                <el-card shadow="never" class="box-card" style="width:40%;margin-right: 1%;float: left;">
                    <div slot="header" class="clearfix">
                        <span>{{htmlJSON.RelatedItems}}</span>

                    </div>
                    <el-table
                      :data="tableData"
                      :max-height="tableMaxHeight">
                        <el-table-column
                          :label="htmlJSON.Name"
                        >
                            <template slot-scope="props">
                                <a class="cursorPointer ellipsis" @click="checkContent(props.row)"
                                   target="_blank">{{props.row.name}}</a>
                            </template>
                        </el-table-column>

                        <el-table-column
                          :label="htmlJSON.Type"
                          width="120"
                        >
                            <template slot-scope="props">
                                <el-tooltip class="item" effect="dark" :content="getTypeExpress(props.row)"
                                            placement="bottom-start">
                                    <i class="fa fa-file-o" style="font-size: 26px;color: #11c2fd;"
                                       v-if="props.row.type=='dataSpaceFile'"></i>
                                    <i class="fa fa-link" style="font-size: 26px;color: #11c2fd;"
                                       v-else-if="props.row.type=='exLink'"></i>
                                    <img class="ellipsis" :src="getTypeImg(props.row)" v-else target="_blank"
                                         style="width: 27px;">{{props.row.name}}</img>
                                </el-tooltip>
                            </template>
                        </el-table-column>

                        <el-table-column fixed="right" label=" " width="70">
                            <template slot-scope="scope">
                                <el-button
                                  size="mini"
                                  type="danger"
                                  icon="el-icon-close" circle
                                  @click="handleDelete(scope.$index, scope.row)">
                                </el-button>


                            </template>
                        </el-table-column>
                    </el-table>
                </el-card>

                <div class="flexJustStart" style="width:59%;float: left;">
                    <ul class="sideSelect">
                        <li class="sideSelectLi" @click="changeRelateType('concept')"
                            :class="relateType!='concept'?'':'active'">
                            <div class="sideSelectCell flexCenter">
                                <el-tooltip content="Concept & Semantic" placement="right-start">
                                    <img src="/static/img/model/semantics.png">
                                </el-tooltip>
                            </div>
                        </li>
                        <li class="sideSelectLi" @click="changeRelateType('spatialReference')"
                            :class="relateType!='spatialReference'?'':'active'">
                            <div class="sideSelectCell flexCenter">
                                <el-tooltip content="Spatiotemporal Reference" placement="right-start">
                                    <img style="width: 30px" src="/static/img/model/spatialreference.png">
                                </el-tooltip>
                            </div>
                        </li>
                        <li class="sideSelectLi" @click="changeRelateType('template')"
                            :class="relateType!='template'?'':'active'">
                            <div class="sideSelectCell flexCenter">
                                <el-tooltip content="Data Template" placement="right-start">
                                    <img src="/static/img/model/template.png">
                                </el-tooltip>
                            </div>
                        </li>
                        <li class="sideSelectLi" @click="changeRelateType('unit')" :class="relateType!='unit'?'':'active'">
                            <div class="sideSelectCell flexCenter">
                                <el-tooltip content="Unit & Metric" placement="right-start">
                                    <img src="/static/img/model/unit.png">
                                </el-tooltip>
                            </div>
                        </li>
                        <li class="sideSelectLi" @click="changeRelateType('dataSpaceFile')"
                            :class="relateType!='dataSpaceFile'?'':'active'">
                            <div class="sideSelectCell flexCenter">
                                <el-tooltip content="File" placement="right-start">
                                    <i class="fa fa-file-o" style="font-size: 26px; color: rgb(17, 194, 253);"></i>
                                </el-tooltip>
                            </div>
                        </li>
                        <li class="sideSelectLi" @click="changeRelateType('exLink')" :class="relateType!='exLink'?'':'active'">
                            <div class="sideSelectCell flexCenter">
                                <el-tooltip content="External Link" placement="right-start">
                                    <i class="fa fa-link" style="font-size: 26px; color: rgb(17, 194, 253);"></i>
                                </el-tooltip>
                            </div>
                        </li>
                    </ul>
                    <el-tabs type="border-card" :stretch="true" v-model="activeName_dialog" v-if="relateType=='concept'||relateType=='spatialReference'
            ||relateType=='template'||relateType=='unit'">
                        <div style="padding: 8px 16px;
                        background-color: #ecf8ff;
                        border-radius: 4px;
                        border-left: 5px solid #50bfff;
                        margin: 0 0 10px;">
                            <p style="font-size: 14px;color: #5e6d82;line-height: 1.5em;margin:0;">
                                {{htmlJSON.LinkResourceFromRepositoryOrCreate}}<a
                              style="cursor:pointer;text-decoration: underline"
                              @click="jump">{{htmlJSON.create}}</a>.
                            </p>
                        </div>
                        <el-tab-pane name="my" label="My Repository"
                                     v-if="relateType!='concept'&&relateType!='spatialReference'&&relateType!='template'&&relateType!='unit'">

                            <el-input placeholder="Please enter name..." v-model="pageOption_my.relateSearch"
                                      class="input-with-select"
                                      clearable="true" @keyup.enter.native="searchInit">
                                <el-button slot="append" icon="el-icon-search" @click="searchInit"></el-button>
                            </el-input>
                            <el-table
                              :data="pageOption_my.searchResult"
                              style="margin-top:17px;"
                              show-overflow-tooltip
                              :max-height="tableMaxHeight">
                                <el-table-column type="expand">
                                    <template slot-scope="props">
                                        <el-form label-position="left" inline class="demo-table-expand">
                                            <el-form-item label="Overview">
                                                <span>{{ props.row.overview }}</span>
                                            </el-form-item>

                                        </el-form>
                                    </template>
                                </el-table-column>
                                <el-table-column sortable='custom'
                                                 :label="htmlJSON.Name">
                                    <template slot-scope="props">
                                        <a :href="'/repository/'+relateType+'/'+props.row.id"
                                           target="_blank">{{props.row.name}}</a>
                                    </template>
                                </el-table-column>
                                <!--<el-table-column-->
                                <!--label="Contributor"-->
                                <!--prop="author">-->
                                <!--</el-table-column>-->
                                <el-table-column fixed="right" label=" " width="60">
                                    <template slot-scope="scope">
                                        <el-button
                                          v-if="!isCurrentItem(scope.row)&&!hasAdded(scope.row)"
                                          size="mini"
                                          type="success"
                                          icon="el-icon-plus" circle
                                          @click="handleEdit(scope.$index, scope.row)">
                                        </el-button>
                                        <el-button
                                          v-if="hasAdded(scope.row)"
                                          size="mini"
                                          type="danger"
                                          icon="el-icon-close" circle
                                          @click="handleDelete(scope.$index, scope.row)">
                                        </el-button>

                                    </template>
                                </el-table-column>
                            </el-table>
                            <el-pagination style="text-align: center;margin-top:20px"
                                           @current-change="handlePageChange"
                                           :current-page="pageOption_my.currentPage"
                                           layout="total, prev, pager, next, jumper"
                                           :page-size="pageOption_my.pageSize"
                                           :total="pageOption_my.total">
                            </el-pagination>
                        </el-tab-pane>
                        <el-tab-pane name="all" :label="htmlJSON.AllRepository">

                            <el-input :placeholder="htmlJSON.PleaseEnterName" v-model="pageOption_all.relateSearch"
                                      class="input-with-select"
                                      clearable="true" @keyup.enter.native="searchInit('all')">
                                <el-button slot="append" icon="el-icon-search" @click="searchInit('all')"></el-button>
                            </el-input>
                            <el-table
                              :data="pageOption_all.searchResult"
                              style="margin-top:17px;"
                              show-overflow-tooltip
                              @sort-change="relationSortChange"
                              :max-height="tableMaxHeight">
                                <el-table-column type="expand">
                                    <template slot-scope="props">
                                        <el-form label-position="left" inline class="demo-table-expand">
                                            <el-form-item label="Overview">
                                                <span>{{ props.row.overview }}</span>
                                            </el-form-item>

                                        </el-form>
                                    </template>
                                </el-table-column>
                                <el-table-column sortable='custom'
                                                 :label="htmlJSON.Name">
                                    <template slot-scope="props">
                                        <a :href="'/repository/'+relateType+'/'+props.row.id"
                                           target="_blank">{{props.row.name}}</a>
                                    </template>
                                </el-table-column>
                                <!--<el-table-column-->
                                <!--label="Contributor"-->
                                <!--prop="author">-->
                                <!--</el-table-column>-->
                                <el-table-column fixed="right" label=" " width="60">
                                    <template slot-scope="scope">
                                        <el-button
                                          v-if="!isCurrentItem(scope.row)&&!hasAdded(scope.row)"
                                          size="mini"
                                          type="success"
                                          icon="el-icon-plus" circle
                                          @click="handleEdit(scope.$index, scope.row)">
                                        </el-button>
                                        <el-button
                                          v-if="hasAdded(scope.row)"
                                          size="mini"
                                          type="danger"
                                          icon="el-icon-close" circle
                                          @click="handleDelete(scope.$index, scope.row)">
                                        </el-button>
                                    </template>
                                </el-table-column>
                            </el-table>
                            <el-pagination style="text-align: center;margin-top:20px"
                                           @current-change="handlePageChange"
                                           :current-page="pageOption_all.currentPage"
                                           layout="total, prev, pager, next, jumper"
                                           :page-size="pageOption_all.pageSize"
                                           :total="pageOption_all.total">
                            </el-pagination>
                        </el-tab-pane>
                    </el-tabs>
                    <el-card v-if="relateType=='localFile'">
                        <div class="">
                            <el-upload
                              class="uploadCenter"
                              drag
                              ref="upload"
                              :on-change="uploadChange"
                              :on-remove="uploadRemove"
                              :auto-upload="false"
                              :show-file-list="false"
                              :multiple="false">
                                <i class="el-icon-upload"></i>
                                <div class="el-upload__text">Drop the file here, or<em>click </em>to upload.</div>
                                <template #tip>
                                    <div class="el-upload__tip">
                                        File size should not exceed 10m.
                                    </div>
                                </template>
                            </el-upload>
                        </div>
                    </el-card>
                    <el-card v-if="relateType=='dataSpaceFile'" class="flexCenter" style="min-height: 260px;flex:1">
                        <el-button round size="mini" @click='checkPersonData()' type="primary">Select From My Space</el-button>
                    </el-card>
                    <el-card v-if="relateType=='exLink'" v-loading="checkUrlValidLoading" style="min-height: 260px;flex:1">
                        <div class="flexCol flexAlignCenter">
                            <el-input
                              :rows="2"
                              placeholder="please input the name of the external link"
                              v-model="exLink.name"
                              style="margin-top:15px"
                            >
                            </el-input>
                            <el-input
                              type="textarea"
                              :rows="2"
                              placeholder="please input the content the external link"
                              v-model="exLink.content"
                              style="margin-top:15px">
                            </el-input>
                            <el-button round size="mini" @click='addExLink' type="success" style="margin-top:15px">+ add
                            </el-button>
                        </div>

                    </el-card>
                </div>


                <div slot="footer" class="dialog-footer">
                    <!--<span style="float:left;font-size: 16px">Or you can click <a style="cursor:pointer" @click="jump">here</a> to create a new one.</span>-->
                    <el-button @click="relatedResourceVisible = false;">{{htmlJSON.Cancel}}</el-button>
                    <el-popconfirm
                      confirm-button-text='Yes'
                      cancel-button-text='No'
                      title="Are you sure to submit changes?"
                      @confirm="addRelateResources()"
                    >
                        <el-button type="primary" slot="reference">{{htmlJSON.OK}}</el-button>
                    </el-popconfirm>
                </div>
            </el-dialog>

            <div id="cite" class="detail_block">
                <div class="block_head">
                    <div class="head_text">
                        <h4>{{htmlJSON.HowtoCite}}</h4>
                    </div>
                </div>
                <div class="block_content">
                    <div id="cite-text" class="width:100%">
                        <span th:if="${authorship!=''}"
                              th:text="${authorship}+' ('+${year}+'). '+${itemInfo.name}+', Data Application, OpenGMS, '"></span>
                        <span th:if="${authorship==''}"
                              th:text="${user.name}+' ('+${year}+'). '+${itemInfo.name}+', Data Application, OpenGMS, '">
                            Tom Marvolo Riddle.(2018).Integrated stand growth model data,
                            </span>
                        <a style="word-break:break-all;"
                           th:href="'https://geomodeling.njnu.edu.cn/dataMethod/'+${itemInfo.id}"
                           th:text="'https://geomodeling.njnu.edu.cn/dataMethod/'+${itemInfo.id}">
                            https://geomodeling.njnu.edu.cn/computableModel/4e028983-c8c0-4d98-86cd-85fc16a00d21
                        </a>
                    </div>
                    <div id="copy" class="btn btn-info">
                        {{htmlJSON.Copy}}
                    </div>
                </div>
            </div>

            <div th:replace="fragments/itemInfoModules :: copyright"></div>

            <div id="Modifier0" class="detail_block minScreen"
                 th:if="${history!=true}">
                <div th:replace="fragments/itemInfoModules :: History(${lastModifier}, ${lastModifyTime}, 'dataMethod')"></div>

            </div>
            <div th:replace="fragments/itemInfoModules :: QR_sm"></div>

            <div id="comment" class="detail_block">
                <comments :html-Json="htmlJSON"></comments>
            </div>
        </div>
        <div class="right-panel el-col" style="border-left: #d2d2d2 solid 1px;margin-left:-1px">
            <div th:replace="fragments/itemInfoModules :: contributor_lg" ></div>

            <div id="Authorship" class="detail_block">
                <div th:replace="fragments/itemInfoModules :: authorship(1,${itemInfo}, true)"></div>
            </div>

            <div th:replace="fragments/itemInfoModules :: History(${lastModifier}, ${lastModifyTime}, 'dataMethod')"></div>

            <div th:replace="fragments/itemInfoModules :: QR_lg"></div>

        </div>

        <div th:if="${history==true}"
             style="pointer-events:none;position: absolute;top:0;bottom: 0;left: 0;right: 0;background-image: url('/static/img/historyBackground.png')"></div>

    </div>
    <el-dialog
            title="Notice"
            :visible.sync="addNewDialog"
            width="30%">
        <h5>{{htmlJSON.TwoWaysCreateServices}}</h5>
        <h5>{{htmlJSON.OnedownloadthenBind}}</h5>
        <h5>{{htmlJSON.TheOtherCreateApplicationServices}} </h5>
        <h5>{{htmlJSON.ClickConfirm}} </h5>
        <h5 slot="footer" class="dialog-footer">
            <el-button @click="addNewDialog = false">{{htmlJSON.Cancel}}</el-button>
            <el-button type="primary" @click="createService()">{{htmlJSON.Confirm}}</el-button>
        </h5>
    </el-dialog>

    <div th:replace="fragments/footer :: footer"></div>

</div>
<template th:replace="fragments/comments :: comments"></template>
<template th:replace="modules/userAvatar :: userAvatar"></template>
</body>

<script th:inline="javascript">
    var author=[[${user}]];
</script>

<script src="/static/js/common/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/static/js/common/jquery.tag-editor.js"></script>
<script type="text/javascript" src="/static/js/common/jquery-steps.js"></script>
<script type="text/javascript" src="/static/iCheck/jquery.icheck.min.js"></script>
<script src="/static/js/common/md5.js"></script>
<script src="/static/js/tinymce_5.3.2/tinymce/js/tinymce/tinymce.min.js"></script>
<script src="/static/js/common/vue.min.js"></script>
<script src="/static/js/common/axios.min.js"></script>
<script src="/static/element-ui/index.js"></script>
<script src="/static/js/common/qrcode.min.js"></script>
<script src="/static/js/modules/comments.js"></script>
<script src="/static/js/modules/editComputableModelModule.js"></script>
<script src="/static/js/modules/userAvatar.js"></script>
<script src="/static/js/common/copy.js"></script>
<script src="/static/js/common/bootstrap.min.js"></script>
<script src="/static/element-ui/umd/locale/en.js"></script> <script src="/static/element-ui/umd/locale/zh-CN.js"></script>
<script src="/static/js/common/vue-avatar.min.js"></script>

<!--翻译组件，本页面组件js引入位置不能靠后-->
<template th:replace="modules/translationBar :: translationBar"></template>
<script src="/static/js/modules/translationBar.js"></script>

<script src="/static/js/page/data_application_info.js"></script>
<script src="/static/js/common/navbar.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $(".resouceFile").hover(function(){
            $(".fileIcon").hide();
            $(".downloadIcon").show();
        },function(){
            $(".fileIcon").show();
            $(".downloadIcon").hide();
        });
    });
</script>
</html>
