<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Model Running Output | OpenGMS</title>

    <script src="/static/js/common/vue.min.js"></script>
    <script src="/static/element-ui/index.js"></script>

    <link rel="stylesheet" href="/static/lib/element-ui/theme-chalk/index.css">
    <!--<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">-->
    <link rel="stylesheet" href="/static/css/base/bootstrap.min.css">
    <link rel="stylesheet" href="/static//css/base/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/static//css/base/fabric/fabric.min.css"/>
    <link rel="stylesheet" href="/static/css/base/style.css">
    <link rel="stylesheet" href="/static/css/base/universal.css">
    <link rel="stylesheet" href="/static/css/base/wzhStyle.css">
    <link rel="stylesheet" href="/static/css/base/wzhFlexContainer.css">
    <!--<link rel="stylesheet" href="/static/css/other/computable-test.css">-->
    <!--<link rel="stylesheet" href="/static/css/other/jquery.gritter.css">-->
    <!--<link rel="stylesheet" href="/static/css/page/logical_model.css">-->
    <link rel="stylesheet" href="/static/haha/css/style.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/navbar.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/footerResponse.css" />
    <style>

        input[type=file] {
            display: none;
        }

        [v-cloak] {
            display: none;
        }

        .el-input.is-disabled .el-input__inner{
            background-color: #ecf5ff;
            color: #8d8d8d;
            cursor: default;
        }

    </style>
</head>
<body>
<div id="app" v-cloak>
    <div th:replace="fragments/navbar :: unlog"></div>
    <div class="taskMain">
        <el-row type="flex" justify="space-around">


            <el-col :span="22" style="margin-left: 8px">
                <div class="content">
                    <div>
                        <div class="introHeader" style="border-bottom:1px dashed #777777 ;justify-content: normal; padding-bottom:20px;">
                            <div class="image" style="padding:0 20px;">
                                <i class="fa fa-cogs"></i>
                                <!--<img src="/static/haha/img/default.png">-->
                            </div>
                            <div>
                                <h3 class="model_title"> {{info.modelInfo.name}}</h3>
                                <span  >Contributed by <span  style="cursor: pointer; font-size: 2rem;"
                                                              @click="goPersonCenter(info.userInfo.compute_model_user_oid)">{{info.userInfo.compute_model_user_name}}</span></span>
                                <br>
                            </div>
                        </div>
                    </div>

                    <el-row class="_main">
                        <el-row class="_title" >
                            <el-row type="flex" justify="space-between" align="middle">
                                <el-row type="flex" align="middle">
                                    <i class="fa fa-database"></i>
                                    <p style="font-size: 18px;margin-bottom: 0">&nbsp&nbsp<span style="font-style: italic;">Data</span> of this caculation</p>
                                </el-row>
                                <div v-cloak style="margin-right: 5px;font-style: italic">
                                    <span style="font-size: 15px">Run by </span><span @click="window.open('/profile/'+info.userInfo.userOid)" style="color: #389bdb;font-size: 22px;cursor: pointer">{{info.userInfo.name}}</span>
                                    <span style="font-size: 15px">at</span> <span style="margin-right: 15px">{{dateFormat(info.taskInfo.createTime)}}</span>
                                    <!--<span style="font-style: normal">-->
                                    <!--<i style="font-size: 18px!important;" class="fa fa-bar-chart"></i> 0 &nbsp-->
                                    <!--</span>-->
                                </div>

                            </el-row>
                            <el-row type="flex" justify="space-between" align="middle" >
                                <div class="containerShallowBlue"
                                     style="font-size: 16px;min-width: 60%;max-height: 110px;flex: 1;margin-right: 15px">
                                    <p>Description:<br></p>
                                    <div style="width: 99%;word-wrap: break-word" v-if="info.taskInfo.description!=''">{{this.info.taskInfo.description}}</div>


                                </div>
                                <div v-cloak class="btn-list">
                                    <el-button v-if="info.userInfo.userName==info.taskInfo.creater" plain type="primary" @click="addTaskDescription()" :disabled="!info.modelInfo.hasTest"
                                               style="min-width: 120px" >
                                        <span v-if="info.taskInfo.description==''">Add</span><span v-else>Edit</span> Description
                                    </el-button>
                                    <el-button v-if="info.userInfo.userName==info.taskInfo.creater" type="primary" @click="publishTask()" :disabled="!info.modelInfo.hasTest"
                                               style="min-width: 120px;margin-left: 5px;">
                                        <span v-if="info.taskInfo.permission=='public'" >Set Private</span>
                                        <span v-else>Publish</span>
                                    </el-button>
                                </div>
                            </el-row>
                            <el-dialog :visible.sync="addDescriptionVisible" title="Data Description" width="40%" style="margin-top: 120px">
                                <el-input type="textarea" v-model="taskDescription" placeholder="you can input the description of data in this page" :rows="5"  >

                                </el-input>
                                <div slot="footer" class="dialog-footer">
                                    <el-button type="primary"  @click="addTaskDescriptionConfirm">confirm</el-button>
                                    <el-button @click="addDescriptionVisible = false">cancel</el-button>
                                </div>
                            </el-dialog>
                        </el-row>

                        <el-row >

                            <el-row type="flex" class="state-container"
                                    justify="start" style="flex-wrap:wrap">
                                <div class="leftContainer">
                                    <div class="modelState">
                                        <p class="state-name"> {{info.modelInfo.name}}</p>
                                        <p class="state-desc"> {{info.modelInfo.desc}}</p>

                                    </div>
                                </div>
                                <div class="dataContainer">
                                    <div class="_params-group">
                                        <el-row class="_title">Input</el-row>
                                        <div class="_items">
                                            <el-row  class="_item">
                                                <el-row>
                                                    <el-col :span="9" class="_event-desc">
                                                    </el-col>
                                                    <el-col :span="6" :offset="1" v-for="input in info.taskInfo.inputs">
                                                        <el-input id="dataNameInput" disabled class="model-input"
                                                                  :value="(input.tag+'.'+input.suffix)" readonly>
                                                        </el-input>
                                                    </el-col>
                                                    <el-col :span="5">
                                                        <div class="_btn-group" v-for="input in info.taskInfo.inputs">
                                                            <el-button plain round type="success"
                                                                       @click="share(input.url)" >
                                                                <i class="fa fa-share-square-o"></i>
                                                            </el-button>
                                                            <el-button plain round type="warning"
                                                                       @click="download(input)" >
                                                                <i class="fa fa-download"></i>
                                                            </el-button>
                                                            <!--<el-button v-if="input.event==modelInEvent.eventName&&input.visual" plain round type="primary"-->
                                                            <!--@click="visualize(input)">-->
                                                            <!--<i class="fa fa-eye"></i>-->
                                                            <!--</el-button>-->
                                                        </div>
                                                    </el-col>
                                                </el-row>
<!--                                                <el-row>-->
<!--                                                    <p class="event-desc" :title="modelInEvent.eventDesc">-->
<!--                                                        {{modelInEvent.eventDesc}}</p>-->
<!--                                                </el-row>-->
                                            </el-row>
                                        </div>
                                    </div>

                                    <div class="_params-group">
                                        <el-row class="_title">Output</el-row>
                                        <div class="_items">
                                            <el-row class="_item">
                                                <el-row>
                                                    <el-col :span="9" class="_event-desc">
<!--                                                      <span class="event-name" title="modelOutEvent.eventName">-->
<!--                                                        {{modelOutEvent.eventName}}-->
<!--                                                    </span>-->
                                                    </el-col>
                                                    <el-col  v-if="info.taskInfo.status==2" :span="6" :offset="1" v-for="output in info.taskInfo.outputs">
                                                        <el-input id="dataNameInput" disabled class="model-input"
                                                                  :value="(output.tag+'.'+output.suffix)" readonly>
                                                        </el-input>
                                                        <el-tag  @click="checkMultiContent(output)"
                                                                style="margin-top: 7px;width: 100%">
                                                            <div class="flexCenter cursorPointer">
                                                                <i class="ms-Icon ms-Icon--StackIndicator" style="font-size: 14px;margin-right: 5px"></i>
                                                                Multiple File
                                                            </div>

                                                        </el-tag>
                                                    </el-col>
                                                    <el-col  v-if="info.taskInfo.status==2" :span="5">
                                                        <div class="_btn-group" v-for="output in info.taskInfo.outputs">
                                                            <el-button  plain round type="success"
                                                                       @click="share(output.url)" >
                                                                <i class="fa fa-share-square-o"></i>
                                                            </el-button>
                                                            <el-button  plain round type="warning"
                                                                       @click="download(output)" >
                                                                <i class="fa fa-download"></i>
                                                            </el-button>
                                                            <!--<el-button plain round type="primary"-->
                                                            <!--v-if="output.event==modelOutEvent.eventName&&!output.multiple&&output.visual"-->
                                                            <!--@click="visualize(output)">-->
                                                            <!--<i class="fa fa-eye"></i>-->
                                                            <!--</el-button>-->
                                                            <!--                                                            <el-button plain round type="success"-->
                                                            <!--                                                                       v-if="output.event==modelOutEvent.eventName&&!output.multiple&&output.visual"-->
                                                            <!--                                                                       @click="visualize(output)">-->
                                                            <!--                                                                <i class="fa fa-eye"></i>-->
                                                            <!--                                                            </el-button>-->
                                                        </div>
                                                    </el-col>
                                                </el-row>

<!--                                                <el-row>-->
<!--                                                    <p class="event-desc" :title="modelOutEvent.eventDesc">-->
<!--                                                        {{modelOutEvent.eventDesc}}</p>-->
<!--                                                </el-row>-->

                                            </el-row>
                                        </div>
                                    </div>
                                </div>

                            </el-row>

                        </el-row>


                        <!--                        <el-dialog title="Rename Output Data Tag" :visible.sync="renameIndex" width="40%">-->
                        <!--                            <h4>Data Tag: </h4>-->
                        <!--                            <el-input id="outputRenameInput" v-model="outputTag"></el-input>-->
                        <!--                            <span slot="footer" class="dialog-footer">-->
                        <!--                                <el-button slot="trigger" type="primary" @click="renameTag">Confirm</el-button>-->
                        <!--                                <el-button slot="trigger" type="warning" @click="renameIndex=false">Cancel</el-button>-->
                        <!--                            </span>-->
                        <!--                        </el-dialog>-->
                        <!-- 多文件展示-->
                        <el-dialog :visible.sync="multiFileDialog" class="wzhScrollbar h600Dialog">
                            <el-table
                                    :data="outputMultiFile" style="width: 100%;min-width: 725px">
                                <el-table-column
                                        type="index"
                                        label="No."
                                        width="50">
                                </el-table-column>
                                <el-table-column
                                        prop="name"
                                        label="file"
                                        width="215">
                                </el-table-column>
                                <el-table-column
                                        prop="url"
                                        label="url"
                                        width="225">
                                </el-table-column>
                                <el-table-column
                                        prop=""
                                        label="operation">
                                    <template slot-scope="scope">
                                        <el-button plain circle type="success"
                                                   @click="share(scope.row.url)">
                                            <i class="fa fa-share-square-o"></i>
                                        </el-button>
                                        <el-button plain circle type="warning"
                                                   @click="download(scope.row)">
                                            <i class="fa fa-download"></i>
                                        </el-button>
                                        <!--<el-button plain circle type="primary"-->
                                        <!--v-if="scope.row.visual"-->
                                        <!--@click="visualize(scope.row)">-->
                                        <!--<i class="fa fa-eye"></i>-->
                                        <!--</el-button>-->
                                    </template>

                                </el-table-column>
                            </el-table>
                            <span slot="footer" class="dialog-footer">
                                <el-button slot="trigger" @click="multiFileDialog=false">Cancel</el-button>
                            </span>
                        </el-dialog>
                        <!-- 数据可视化窗口-->
                        <el-dialog
                                title="Visualization"
                                :visible.sync="visualVisible"
                                width="70%"
                                style="text-align: center"
                        >
                            <img :src="visualSrc"/>

                        </el-dialog>

                        <el-dialog title="Share My Output Data" :visible.sync="shareIndex" width="40%">
                            <h4>url: </h4>
                            <el-input :value="downloadUrl" type="textarea">
                            </el-input>
                            <span slot="footer" class="dialog-footer">
                                <el-button slot="trigger" type="primary" @click="copyLink" :data-clipboard-text="downloadUrl"
                                           class="copyLinkBtn">Copy Link</el-button>
                                <el-button slot="trigger" type="warning" @click="shareIndex=false">Cancel</el-button>
                            </span>
                        </el-dialog>
                    </el-row>
                </div>

            </el-col>
            <!--            <div class="colBorder"></div>-->
            <!--            <el-col :span="5" role="modelIntro" style="min-width: 220px" id="modelSider">-->
            <!--                <div id="introContainer" class="slider scrollbar">-->
            <!--                    <div class="introHeader">-->
            <!--                        <div>-->
            <!--                            <h3>Publish This Page</h3>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                    <div class="introContent">-->
            <!--                        <p style="margin-top: 15px;margin-left: 5px">Who can see this page?</p>-->
            <!--                    </div>-->
            <!--                    <div class="btn-list">-->
            <!--                        <el-button plain type="primary" @click="resetPermission" :disabled="!info.modelInfo.hasTest"&ndash;&gt;-->
            <!--                            style="min-width: 120px">-->
            <!--                            Reset <br> Permission-->
            <!--                        </el-button>-->
            <!--                        <el-button plain type="primary" @click="resetPermission" :disabled="!info.modelInfo.hasTest"-->
            <!--                                   style="min-width: 120px">-->
            <!--                            Reset <br> Permission-->
            <!--                        </el-button>-->


            <!--                        <el-button plain type="primary" @click="sharePermissionKey" style="min-width: 121px">-->
            <!--                            Share <br>Permission Key-->
            <!--                        </el-button>-->

            <!--                    </div>-->
            <!--                </div>-->
            <!--            </el-col>-->
        </el-row>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
<script th:inline="javascript">
    var info=[[${info}]]
    info = info;
    console.log(info)
</script>
<!--<script src="/static/js/common/knockout-3.4.2.js"></script>-->
<script src="/static/js/common/jquery-3.3.1.min.js"></script>


<!--<script src="/static/js/common/jquery.gritter.min.js"></script>-->
<!--<script src="/static/js/common/lodash.js"></script>-->
<script src="/static/js/common/bootstrap.js"></script>
<!--<script src="/static/js/common/bootstrap-treeview.js"></script>-->

<!--<script type="text/javascript">-->
<!--mxBasePath = '/static/MxGraph/'-->
<!--</script>-->
<!--<script type="text/javascript" src="/static/MxGraph/js/mxClient.js"></script>-->
<!--<script type="text/javascript" src="/static/js/common/computableEditorTest.js"></script>-->
<script src="/static/js/common/axios.min.js"></script>
<script src="/static/js/common/clipboard.min.js"></script>
<!--<script src="https://unpkg.com/element-ui/lib/index.js"></script>-->

<script src="/static/js/page/dataTaskOutput.js"></script>
<script src="/static/element-ui/umd/locale/en.js"></script>
<script src="/static/js/common/navbar.js"></script>

</html>
