<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${itemInfo.name}+' | Data Application | OpenGMS'">Data Application | OpenGMS</title>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">


    <link rel="stylesheet" th:href="@{/static/lib/element-ui/theme-chalk/index.css}">
    <link rel="stylesheet" th:href="@{/static/css/base/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/base/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/base/style.css}">
    <link rel="stylesheet" th:href="@{/static/css/base/universal.css}">
    <link rel="stylesheet" th:href="@{/static/css/base/itemInfo.css}">
    <link rel="stylesheet" th:href="@{/static/css/components/file-manager.css}">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/other/jquery-steps.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/other/jquery.tag-editor.css"/>
    <link rel="stylesheet" th:href="@{/static/css/page/model_item_info.css}">
    <link rel="stylesheet" type="text/css" href="/static/js/mxGraph/css/common.css">
    <link rel="stylesheet" href="/static/css/base/userModule.css">
    <link rel="stylesheet" href="/static/css/base/wzhStyle.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/navbar.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/footerResponse.css"/>

    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/wzhFlexContainer.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/wzhStyle.css" />


    <style>
        .img img {
            width: 90px;
            height: 90px;
        }

        .el-dialog__header {
            /*padding: 0px;*/
        }

        /*.mxWindowPane {*/
        /*    !*overflow-x: hidden !important;*!*/
        /*    overflow: unset !important;*/
        /*}*/

    </style>
</head>
<body>
<div id="data_application_info">
    <div th:replace="fragments/navbar :: unlog"></div>

    <div class="clearfix" style="padding:40px 0px;height: auto;position: relative;">
        <translation-bar
                json-file="data_application_info"
                @translate-page="translatePage"
                with-comments="true"
                initial-lang="en-us"
                with-item-info-modules="true"
                theme="dark"
                style="position: absolute;top: 10px;right:15px">
        </translation-bar>
        <div class="left-panel el-col">
            <div th:replace="fragments/itemInfoModules :: itemTitle"></div>

            <div id="Contributor0" class="detail_block minScreen">
                <div th:replace="fragments/itemInfoModules :: contributor_sm"></div>
            </div>

            <div id="Authorship0" class="detail_block minScreen"
                 th:if="${itemInfo.authorships!=null&&#lists.size(itemInfo.authorships)!=0}">
                <div th:replace="fragments/itemInfoModules :: authorship(pos=0)"></div>

            </div>

            <div id="description" class="detail_block" th:if="${#lists.size(itemInfo.localizationList)} lt 0">
                <div class="block_head">
                    <div class="head_text">
                        <h4>Detailed Description</h4>
                    </div>
                </div>
                <div class="block_content">
                    <div th:utext="${itemInfo.localizationList[0].description}" id="detail" class="detailIntroducePanel">
                    </div>
                </div>
                <div class="fullPaper text-center hide">
                    <a id="fullPaper" style="cursor:pointer;font-size:16px;">View Full Content<i
                            class="fa fa-angle-down"
                            style="margin-left: 10px;color:red;font-weight: bold"
                            aria-hidden="true"></i></a>
                </div>
            </div>

            <div th:replace="fragments/itemInfoModules :: Resource"></div>

            <div id="link" class="detail_block"
                 th:if="${itemInfo.contentType=='Link'||(itemInfo.contentType=='Service')}">
                <div class="block_head">
                    <div class="head_text">
                        <h4>Link</h4>
                    </div>
                </div>
                <div class="block_content flex">
                    <div id="link-text" class="width:100%">
                        <a th:href="${itemInfo.url}" th:text="${itemInfo.url}" target="_blank">
                            https://geomodeling.njnu.edu.cn/conceptualmodel/4e028983-c8c0-4d98-86cd-85fc16a00d21
                        </a>
                    </div>
                </div>
            </div>

            <div id="invoke" class="detail_block">
                <div class="block_head">
                    <div class="head_text">
                        <h4>{{htmlJSON.ServiceInstance}}</h4>
                    </div>
                </div>
                <div style="padding: 30px;margin-left:20px">
                     <el-table :data="methodsData" style="width: 100%">
                            <el-table-column prop="name" :label="htmlJSON.TableName"></el-table-column>
                            <el-table-column prop="method" :label="htmlJSON.TableMethodType"></el-table-column>
<!--                            <el-table-column prop="serviceId" label = "suiyi" style="display: none"></el-table-column>-->
                            <el-table-column :label="htmlJSON.Operation">
                                <template slot-scope="scope">
                                    <el-tooltip class="item" effect="light" content="You can try to invoke the service" placement="top-start">
                                        <el-button @click = "gotoTask($event)" type="success" class="invokeBtn">
                                            {{htmlJSON.TableInvoke}}
                                        </el-button>
                                    </el-tooltip>
                                </template>
                            </el-table-column>
                             <el-table-column
                                     prop="isPortal"
                                     :label="htmlJSON.TableOrigin"
                                     width="100"
                                    >
                                 <template slot-scope="scope">
                                     <el-tag
                                             :type="scope.row.isPortal == true ? 'primary' : 'success'"
                                             disable-transitions v-if="scope.row.isPortal == true">{{htmlJSON.TablePortal}}</el-tag>
                                     <el-tag
                                             :type="scope.row.isPortal == true ? 'primary' : 'success'"
                                             disable-transitions v-if="scope.row.isPortal == false">{{htmlJSON.TableOtherNode}}</el-tag>
                                 </template>
                             </el-table-column>
                     </el-table>
                    <div class="addNew" style="text-align: center;margin: 10px">
                        <span style="margin-right: 20px">{{htmlJSON.TableInfo}}</span>
<!--                        <el-tooltip class="item" style="margin: 4px" effect="light" content="There are two ways to create services. One is to download-->
<!--                        the deployment package, create services in the personal container, and then bind them.-->
<!--                        The other is to create application services in the personal center. Click the plus sign to jump to-->
<!--                        the personal center to create a service" placement="top-start">-->
                            <el-button  icon="el-icon-plus" @click="addNewDialog=true"></el-button>
<!--                        </el-tooltip>-->
                    </div>
                </div>
            </div>

            <div id="cite" class="detail_block">
                <div class="block_head">
                    <div class="head_text">
                        <h4>{{htmlJSON.HowtoCite}}</h4>
                    </div>
                </div>
                <div class="block_content">
                    <div id="cite-text" class="width:100%">
                        <span th:if="${authorship!=''}"
                              th:text="${authorship}+' ('+${year}+'). '+${itemInfo.name}+', Data Application, OpenGMS, '"></span>
                        <span th:if="${authorship==''}"
                              th:text="${user.name}+' ('+${year}+'). '+${itemInfo.name}+', Data Application, OpenGMS, '">
                            Tom Marvolo Riddle.(2018).Integrated stand growth model data,
                            </span>
                        <a style="word-break:break-all;"
                           th:href="'https://geomodeling.njnu.edu.cn/dataMethod/'+${itemInfo.id}"
                           th:text="'https://geomodeling.njnu.edu.cn/dataMethod/'+${itemInfo.id}">
                            https://geomodeling.njnu.edu.cn/computableModel/4e028983-c8c0-4d98-86cd-85fc16a00d21
                        </a>
                    </div>
                    <div id="copy" class="btn btn-info">
                        Copy
                    </div>
                </div>
            </div>

            <div th:replace="fragments/itemInfoModules :: copyright"></div>

            <div id="Modifier0" class="detail_block minScreen"
                 th:if="${history!=true}">
                <div th:replace="fragments/itemInfoModules :: History"></div>

            </div>
            <div th:replace="fragments/itemInfoModules :: QR_sm"></div>

            <div id="comment" class="detail_block">
                <comments :html-Json="htmlJSON"></comments>
            </div>
        </div>
        <div class="right-panel el-col" style="border-left: #d2d2d2 solid 1px;margin-left:-1px">
            <div id="Contributor" class="detail_block">
                <div th:replace="fragments/itemInfoModules :: contributor_lg" ></div>
            </div>

            <div id="Authorship" class="detail_block">
                <div th:replace="fragments/itemInfoModules :: authorship(pos=1)"></div>
            </div>

            <div th:replace="fragments/itemInfoModules :: History"></div>

            <div th:replace="fragments/itemInfoModules :: QR_lg"></div>

        </div>

        <div th:if="${history==true}"
             style="pointer-events:none;position: absolute;top:0;bottom: 0;left: 0;right: 0;background-image: url('/static/img/historyBackground.png')"></div>

    </div>
    <el-dialog
            title="Notice"
            :visible.sync="addNewDialog"
            width="30%">
        <h5>{{htmlJSON.TwoWaysCreateServices}}</h5>
        <h5>{{htmlJSON.OnedownloadthenBind}}</h5>
        <h5>{{htmlJSON.TheOtherCreateApplicationServices}} </h5>
        <h5>{{htmlJSON.ClickConfirm}} </h5>
        <h5 slot="footer" class="dialog-footer">
            <el-button @click="addNewDialog = false">{{htmlJSON.Cancel}}</el-button>
            <el-button type="primary" @click="createService()">{{htmlJSON.Confirm}}</el-button>
        </h5>
    </el-dialog>

    <div th:replace="fragments/footer :: footer"></div>

</div>
<template th:replace="fragments/comments :: comments"></template>
<template th:replace="modules/userAvatar :: userAvatar"></template>
</body>

<script th:inline="javascript">
    var author=[[${user}]];
</script>

<script src="/static/js/common/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/static/js/common/jquery.tag-editor.js"></script>
<script type="text/javascript" src="/static/js/common/jquery-steps.js"></script>
<script type="text/javascript" src="/static/iCheck/jquery.icheck.min.js"></script>
<script src="/static/js/common/md5.js"></script>
<script src="/static/js/tinymce_5.3.2/tinymce/js/tinymce/tinymce.min.js"></script>
<script src="/static/js/common/vue.min.js"></script>
<script src="/static/js/common/axios.min.js"></script>
<script src="/static/element-ui/index.js"></script>
<script src="/static/js/common/qrcode.min.js"></script>
<script src="/static/js/modules/comments.js"></script>
<script src="/static/js/modules/editComputableModelModule.js"></script>
<script src="/static/js/modules/userAvatar.js"></script>
<script src="/static/js/common/copy.js"></script>
<script src="/static/js/common/bootstrap.min.js"></script>
<script src="/static/element-ui/umd/locale/en.js"></script> <script src="/static/element-ui/umd/locale/zh-CN.js"></script>
<script src="/static/js/common/vue-avatar.min.js"></script>

<!--翻译组件，本页面组件js引入位置不能靠后-->
<template th:replace="modules/translationBar :: translationBar"></template>
<script src="/static/js/modules/translationBar.js"></script>

<script src="/static/js/page/data_application_info.js"></script>
<script src="/static/js/common/navbar.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $(".resouceFile").hover(function(){
            $(".fileIcon").hide();
            $(".downloadIcon").show();
        },function(){
            $(".fileIcon").show();
            $(".downloadIcon").hide();
        });
    });
</script>
</html>
