<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${dataMethodInfo.name}+' | Data Application | OpenGMS'">Data Application | OpenGMS</title>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">


    <link rel="stylesheet" th:href="@{/static/lib/element-ui/theme-chalk/index.css}">
    <link rel="stylesheet" th:href="@{/static/css/base/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static//css/base/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/base/style.css}">
    <link rel="stylesheet" th:href="@{/static/css/base/universal.css}">
    <link rel="stylesheet" th:href="@{/static/css/base/itemInfo.css}">
    <link rel="stylesheet" th:href="@{/static/css/components/file-manager.css}">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/other/jquery-steps.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/other/jquery.tag-editor.css"/>
    <link rel="stylesheet" th:href="@{/static/css/page/model_item_info.css}">
    <link rel="stylesheet" type="text/css" href="/static/js/mxGraph/css/common.css">
    <link rel="stylesheet" href="/static/css/base/userModule.css">
    <link rel="stylesheet" href="/static/css/base/wzhStyle.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/navbar.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/footerResponse.css"/>

    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/wzhFlexContainer.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/wzhStyle.css" />


    <style>
        .img img {
            width: 90px;
            height: 90px;
        }

        .el-dialog__header {
            /*padding: 0px;*/
        }

        /*.mxWindowPane {*/
        /*    !*overflow-x: hidden !important;*!*/
        /*    overflow: unset !important;*/
        /*}*/

    </style>
</head>
<body>
<div id="data_application_info">
    <div th:replace="fragments/navbar :: unlog"></div>

    <div class="clearfix" style="padding:40px 0px;height: auto;position: relative;">
        <translation-bar
                json-file="data_application_info"
                @translate-page="translatePage"
                initial-lang="en-us"
                theme="dark"
                style="position: absolute;top: 10px;right:15px">
        </translation-bar>
        <div class="left-panel el-col">
            <div class="detail">
                <div class="detail_title">
                    <i th:if="${dataMethodInfo.status=='Public'}" class="el-icon-unlock public fontsize-2em pull-right"></i>
                    <i th:if="${dataMethodInfo.status=='Discoverable'}" class="el-icon-unlock discoverable fontsize-2em pull-right"></i>
                    <i th:if="${dataMethodInfo.status=='Private'}" class="el-icon-lock private fontsize-2em pull-right"></i>
                    <!--</el-tooltip>-->
                    <h2 th:utext="${dataMethodInfo.name}"
                        style="display: inline-block;margin:0px 10px;word-wrap:break-word; word-break:break-all;"></h2>

                    <a href="javascript:void(0);" th:if="${dataMethodInfo.status=='Public'&&history!=true}" class='fa fa-pencil fa-2x'
                       aria-hidden='true'
                       @click="edit" style="float: right;">
                    </a>
                    <!--<el-tooltip popper-class="fontsize-15" content="There is another version haven't been reviewed, you can edit it later or contact us." effect="light" placement="left">-->
                        <!--<li th:if="${dataMethodInfo.status=='Public'&&history!=true}" class='fa fa-pencil fa-2x' style="color:#cccccc" aria-hidden='true'></li>-->
                    <!--</el-tooltip>-->

                    <!--<a href="javascript:void(0)" class='fa fa-star-o fa-2x pull-right' aria-hidden='true'></a>-->
                </div>
                <div class="detail_overview">
                    <div  class="img">
                        <!--<img th:case="''" src="/static/img/model/calcModel.png">-->
                        <!--<img src="/static/img/model/logical.png">-->
                        <!--<img th:case="*" th:src="'/static/img'+${dataMethodInfo.image}">-->
                        <div th:unless="${dataMethodInfo.image}">
                            <avatar th:username="${dataMethodInfo.name}" :size="90" :rounded="false"></avatar>
                        </div>
                        <div th:if="${dataMethodInfo.image}">
                            <img th:src="'/static'+${dataMethodInfo.image}" class="image">
                        </div>
                    </div>
                    <div class="info" style="padding-top:0px">
                        <p th:text="${dataMethodInfo.overview}"></p>
                        <div class="tags">
                            <span class="label label-warning">
                                Data Application
                            </span>
                            <span th:if="${dataMethodInfo.contentType=='Code'}" class="label label-info"
                                  style="margin-left: 10px">Source Code</span>
                            <span th:if="${dataMethodInfo.contentType=='Library'}" class="label label-info"
                                  style="margin-left: 10px">Library</span>
                            <span th:if="${dataMethodInfo.contentType=='Service URL'}" class="label label-info"
                                  style="margin-left: 10px">Service</span>
                            <span th:if="${dataMethodInfo.contentType=='Link'}" class="label label-info"
                                  style="margin-left: 10px">dataApplicationInfo</span>
                        </div>
                    </div>

                    <!--<div th:if="${history!=true}" class="detail_option">-->
                        <!--&lt;!&ndash;<a href="javascript:void(0)" class="fa fa-share-square-o" aria-hidden="true"></a>&ndash;&gt;-->
                        <!--&lt;!&ndash;<div th:utext="'&nbsp&nbsp'+${modelInfo.shareCount}">&nbsp&nbsp37</div>&ndash;&gt;-->
                        <!--<span th:if="${dataMethodInfo.contentType=='Package'}">-->
                            <!--<button th:unless="${modelInfo.deploy==true}" class="btn btn-lg btn-info" type="button"-->
                                    <!--@click="dialogVisible = true">Deploy-->
                            <!--</button>-->
                            <!--<button th:if="${modelInfo.deploy==true}" class="btn btn-lg btn-success" type="button"-->
                                    <!--@click="invoke()">-->
                                <!--Invoke-->
                            <!--</button>-->
                        <!--</span>-->

                        <!--<a class="fa fa-eye " aria-hidden="true"></a>-->
                        <!--<div th:utext="'&nbsp&nbsp'+${modelInfo.viewCount}">&nbsp&nbsp341</div>-->
                    <!--</div>-->

                </div>

                <div class="detail_option"><a aria-hidden="true" class="fa fa-eye md-opjjpmhoiojifppkkcdabiobhakljdgm_doc"></a>&nbsp;&nbsp;<span>{{viewCount}}</span></div>
            </div>

            <div id="Contributor0" class="detail_block minScreen">
                <div class="block_head">
                    <div class="head_text" style="padding-left: 10px;">
                        <h4 th:if="${history!=true}">Contributor</h4>
                        <h4 th:if="${history==true}">Modifier</h4>
                    </div>
                </div>
                <div class="block_content">
                    <div class="el-row"
                         style="margin-bottom: 3px;height: 40px; display: flex; justify-content: center; align-items: center;">
                        <user-avatar ref="mainContributorAvatar" style="width:40px;height: 40px;float:left;"></user-avatar>
                        <div class="el-col">
                            <div class="pull-left" style="display: block;margin-left: 15px;">
                                <a th:href="'/profile/'+${user.name}"><h4 th:text="${user.name}" style="padding: 0;">Tom
                                    Marvolo Riddle</h4></a>
                            </div>
                        </div>
                    </div>
                    <div class="el-row">
                        <div class="text-center">
                            <h5 th:if="${history!=true}" th:text="'contributed at '+${date}">contributed at 2018-7-13
                                14:32:18 </h5>
                            <h5 th:if="${history==true}" th:text="'modified at '+${date}">modified at 2018-7-13
                                14:32:18 </h5>
                        </div>
                    </div>
                </div>

            </div>

            <div id="Authorship0" class="detail_block minScreen"
                 th:if="${dataMethodInfo.authorships!=null&&#lists.size(dataMethodInfo.authorships)!=0}">
                <div class="block_head">
                    <div class="head_text" style="padding-left: 10px;padding-right: 15px;display: inline-flex">
                        <h4>Authorship</h4>
                        <el-tooltip popper-class="fontsize-15" effect="light"
                                    content="We deeply understand that a model may be attributed to the efforts of a team. If all author information is not listed here, please click the feedback below."
                                    placement="top"><i class="fa fa-question-circle-o" aria-hidden="true"
                                                       style="margin-top:4px;"></i></el-tooltip>
                    </div>
                </div>
                <div class="block_content text-center" style="padding-left:10px">

                    <div style="text-align: left;" th:each="author,key:${dataMethodInfo.authorships}">
                        <span role="button" tabindex="0" th:class="${key.index==0?'ab':'ab transform180'}" style="float: right;"><a
                                data-toggle="collapse" th:href="'#authorshipPhone'+${key.index}" class="detail-toggle"
                                aria-expanded="true"><i class="fa fa-caret-up" style="font-size: 21px"></i></a></span>
                        <li class="NavHead" style="font-size: 16px;" th:text="${author.name}">NNU_Group</li>
                        <div th:id="'authorshipPhone'+${key.index}" class="panel-collapse"
                             th:class="${key.index==0?'in':'collapse'}" aria-expanded="true"
                             style="">
                            <div class="panel-body" style="padding-left: 20px; padding-top: 7px; padding-right: 0px;">
                                <dl>
                                    <dt th:if="${author.ins!=''}">Affiliation: &nbsp</dt>
                                    <dd th:if="${author.ins!=''}" th:text="${author.ins}"></dd>
                                    <dt th:if="${author.email!=''}">Email: &nbsp</dt>
                                    <dd th:if="${author.email!=''}" th:text="${author.email}">njgis@163.com</dd>
                                    <dt th:if="${author.homepage!=''}">Homepage: &nbsp</dt>
                                    <dd th:if="${author.homepage!=''}"><a th:href="${author.homepage}" target="_blank">View</a>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="description" class="detail_block" th:if="${#lists.size(dataMethodInfo.localizationList)} lt 0">
                <div class="block_head">
                    <div class="head_text">
                        <h4>Detailed Description</h4>
                    </div>
                </div>
                <div class="block_content">
                    <div th:utext="${dataMethodInfo.localizationList[0].description}" id="detail" class="detailIntroducePanel">
                    </div>
                </div>
                <div class="fullPaper text-center hide">
                    <a id="fullPaper" style="cursor:pointer;font-size:16px;">View Full Content<i
                            class="fa fa-angle-down"
                            style="margin-left: 10px;color:red;font-weight: bold"
                            aria-hidden="true"></i></a>
                </div>
            </div>

            <div id="Resource" class="detail_block" style="padding: 10px 20px 0 0;"
                 th:if="${(dataMethodInfo.contentType=='Code'||dataMethodInfo.contentType=='Library'||dataMethodInfo.contentType=='Package')&&(dataMethodInfo.resources!=null&&#lists.size(dataMethodInfo.resources)>0)}">
                <div class="block_head">
                    <div class="head_text">
                        <h4>{{htmlJSON.Resource}}</h4>
                    </div>
                </div>
                <div class="block_content" style="margin-right: 0;">

                    <!--<div class="el-card is-always-shadow">&lt;!&ndash;&ndash;&gt;-->
                    <!--<div class="el-card__body" style="padding: 9px;"><span><i class="el-icon-document"></i>&nbsp;&nbsp; contents</span>-->
                    <!--</div>-->
                    <!--</div>-->

                    <div class="el-card filecontent is-always-shadow" id="browsercont"
                         style=" overflow-y: auto;">

                        <!--</el-row>-->
                        <div class="el-card dataitemisol is-never-shadow"
                             th:each="data,key:${resources}"
                             th:title="${data.name}" shadow="never" th:id="${key.index}"
                             th:key="${key.index}" @click.native="getid(id)"
                             style="width: 150px;">
                            <i class="fas fa-file-download"></i>
                            <a target="_blank"
                               th:href="'/static'+'/dataMethod/'+${dataMethodInfo.contentType}+${data.path}"
                               style="color:black">
                                <div class="resouceFile el-card__body">
                                    <div class="el-row">
<!--                                        <div class="el-col el-col-6">&nbsp;</div>-->
                                        <div class="fileIcon el-col el-col-12" style="margin-left: 30px;">
                                            <img
                                                    th:src="'/static/img/filebrowser/'+${data.suffix}+'.svg'"
                                                    onerror="this.onerror='';src='/static/img/filebrowser/unknow.svg'"
                                                    style="width: 100%;">
                                        </div>
                                        <div style="margin-left: 15px;display: none" class="downloadIcon" >
                                            <img
                                                    th:src="'/static/img/filebrowser/download.png'"
                                                    onerror="this.onerror='';src='/static/img/filebrowser/unknow.svg'">
                                        </div>
                                        <div class="el-col el-col-6">&nbsp;</div>
                                    </div>
                                    <div class="el-row" style="height: 45px;">
                                        <div class="el-col el-col-2">&nbsp;</div>
                                        <div class="el-col el-col-20 fileIcon">
                                            <p th:text="${data.name}" style="overflow: hidden;
                                        overflow-wrap: break-word; word-break: break-all; text-align: center;
                                        display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;line-height: 1.5">
                                            </p>
                                        </div>
                                        <div class="el-col el-col-2">&nbsp;</div>
                                    </div>
                                </div>

<!--                                <div id="imgMask" class="flexCenter" th:if="data!=undefined"-->
<!--                                     style="position: absolute;width: 100px;height: 100px">-->
<!--                                    <div class="fa fa-times imgDelete" @click="deleteImg"></div>-->
<!--                                    <div class="fa fa-pencil imgEditBlock flexCenter" style="" @click="imgFile"></div>-->
<!--                                </div>-->
                            </a>
                        </div>


                    </div>


<!--                    <el-card class="browsermenu">-->
<!--                        <el-button id="dbtn" icon="el-icon-download" @click="downloaddata()" type="text">download-->
<!--                        </el-button>-->
<!--                        <br>-->
<!--                        <el-button id="sbtn" icon="el-icon-share" @click="share" type="text">share</el-button>-->
<!--                    </el-card>-->
                    <!--refresh 白板刷新和全选功能，待进一步完善-->

                    <!--<el-card class="browser">-->
                    <!--<el-button icon="el-icon-refresh" type="text">refresh</el-button><br>-->
                    <!--<el-button icon="el-icon-check" type="text">selectAll</el-button>-->
                    <!--</el-card>-->


                </div>
            </div>

            <div id="link" class="detail_block"
                 th:if="${dataMethodInfo.contentType=='Link'||(dataMethodInfo.contentType=='Service')}">
                <div class="block_head">
                    <div class="head_text">
                        <h4>Link</h4>
                    </div>
                </div>
                <div class="block_content flex">
                    <div id="link-text" class="width:100%">
                        <a th:href="${dataMethodInfo.url}" th:text="${dataMethodInfo.url}" target="_blank">
                            https://geomodeling.njnu.edu.cn/conceptualmodel/4e028983-c8c0-4d98-86cd-85fc16a00d21
                        </a>
                    </div>
                </div>
            </div>

            <div id="invoke" class="detail_block">
                <div class="block_head">
                    <div class="head_text">
                        <h4>{{htmlJSON.ServiceInstance}}</h4>
                    </div>
                </div>
                <div style="padding: 30px;margin-left:20px">
                     <el-table :data="methodsData" style="width: 100%">
                            <el-table-column prop="name" :label="htmlJSON.TableName"></el-table-column>
                            <el-table-column prop="method" :label="htmlJSON.TableMethodType"></el-table-column>
<!--                            <el-table-column prop="serviceId" label = "suiyi" style="display: none"></el-table-column>-->
                            <el-table-column :label="htmlJSON.Operation">
                                <template slot-scope="scope">
                                    <el-tooltip class="item" effect="light" content="You can try to invoke the service" placement="top-start">
                                        <el-button @click = "gotoTask($event)" type="success" class="invokeBtn">
                                            {{htmlJSON.TableInvoke}}
                                        </el-button>
                                    </el-tooltip>
                                </template>
                            </el-table-column>
                             <el-table-column
                                     prop="isPortal"
                                     :label="htmlJSON.TableOrigin"
                                     width="100"
                                    >
                                 <template slot-scope="scope">
                                     <el-tag
                                             :type="scope.row.isPortal == true ? 'primary' : 'success'"
                                             disable-transitions v-if="scope.row.isPortal == true">{{htmlJSON.TablePortal}}</el-tag>
                                     <el-tag
                                             :type="scope.row.isPortal == true ? 'primary' : 'success'"
                                             disable-transitions v-if="scope.row.isPortal == false">{{htmlJSON.TableOtherNode}}</el-tag>
                                 </template>
                             </el-table-column>
                     </el-table>
                    <div class="addNew" style="text-align: center;margin: 10px">
                        <span style="margin-right: 20px">{{htmlJSON.TableInfo}}</span>
<!--                        <el-tooltip class="item" style="margin: 4px" effect="light" content="There are two ways to create services. One is to download-->
<!--                        the deployment package, create services in the personal container, and then bind them.-->
<!--                        The other is to create application services in the personal center. Click the plus sign to jump to-->
<!--                        the personal center to create a service" placement="top-start">-->
                            <el-button  icon="el-icon-plus" @click="addNewDialog=true"></el-button>
<!--                        </el-tooltip>-->
                    </div>
                </div>
            </div>

            <div id="cite" class="detail_block">
                <div class="block_head">
                    <div class="head_text">
                        <h4>{{htmlJSON.HowtoCite}}</h4>
                    </div>
                </div>
                <div class="block_content">
                    <div id="cite-text" class="width:100%">
                        <span th:if="${authorship!=''}"
                              th:text="${authorship}+' ('+${year}+'). '+${dataMethodInfo.name}+', Data Application, OpenGMS, '"></span>
                        <span th:if="${authorship==''}"
                              th:text="${user.name}+' ('+${year}+'). '+${dataMethodInfo.name}+', Data Application, OpenGMS, '">
                            Tom Marvolo Riddle.(2018).Integrated stand growth model data,
                            </span>
                        <a style="word-break:break-all;"
                           th:href="'https://geomodeling.njnu.edu.cn/dataMethod/'+${dataMethodInfo.id}"
                           th:text="'https://geomodeling.njnu.edu.cn/dataMethod/'+${dataMethodInfo.id}">
                            https://geomodeling.njnu.edu.cn/computableModel/4e028983-c8c0-4d98-86cd-85fc16a00d21
                        </a>
                    </div>
                    <div id="copy" class="btn btn-info">
                        Copy
                    </div>
                </div>
            </div>

            <div id="copyright" class="detail_block">
                <div class="block_head">
                    <div class="head_text">
                        <h4>{{htmlJSON.CopyrightAndDisclaimer}}</h4>
                    </div>
                </div>
                <div class="block_content">
                    <div class="copyright_text">
                        {{htmlJSON.CopyrightAndDisclaimerInfo}}
                    </div>
                </div>
            </div>

            <div id="Modifier0" class="detail_block minScreen"
                 th:if="${history!=true}">
                <div class="block_head">
                    <div class="head_text" style="padding-left: 10px;">
                        <h4>History</h4>
                    </div>
                </div>
                <div class="block_content text-center" style="padding-left:10px">

                    <div style="text-align: left;">

                        <div class="panel-body" style="padding-left: 0px; padding-top: 7px; padding-right: 0px;">
                            <dl>
                                <dt>Last modify time :&nbsp</dt>
                                <dd th:text="${lastModifyTime}"></dd>
                            </dl>
                        </div>

                    </div>
                </div>
            </div>

            <div id="QR0" class="detail_block minScreen">
                <div class="block_head">
                    <div class="head_text" style="padding-left: 10px;">
                        <h4>QR Code</h4>
                    </div>
                </div>
                <div class="block_content">

                    <div class="qrcode" style="width:200px;height:200px;margin:0 auto"></div>

                </div>
            </div>

            <div id="comment" class="detail_block">
                <comments></comments>
            </div>
        </div>
        <div class="right-panel el-col" style="border-left: #d2d2d2 solid 1px;margin-left:-1px">
            <div id="Contributor" class="detail_block">
                <div class="block_head">
                    <div class="head_text" style="padding-left: 10px;padding-right: 15px;display: inline-flex">
                        <h4 th:if="${history!=true}">{{htmlJSON.Contributor}}</h4>
                        <h4 th:if="${history==true}">Modifier</h4>
                        <el-tooltip popper-class="fontsize-15" effect="light"
                                    :content="htmlJSON.ContributorInfo"   placement="top">
                            <i class="fa fa-question-circle-o" aria-hidden="true" style="margin-top:4px;"></i>
                        </el-tooltip>
                    </div>
                </div>
                <div class="block_content">
                    <div class="el-row"
                         style="margin-bottom: 3px;height: 40px; display: flex; justify-content: center; align-items: center;">
                        <user-avatar ref="mainContributorAvatar1" style="width:40px;height: 40px;float:left;"></user-avatar>
                        <div class="el-col">
                            <div class="pull-left" style="display: block;margin-left: 15px;">
                                <a th:href="'/profile/'+${user.accessId}"><h4 th:text="${user.name}" style="padding: 0;">Tom
                                    Marvolo Riddle</h4></a>
                            </div>
                        </div>
                    </div>
                    <div class="el-row">
                        <div class="text-center">
                            <h5 th:if="${history!=true}" th:text="'contributed at '+${date}">contributed at 2018-7-13
                                14:32:18 </h5>
                            <h5 th:if="${history==true}" th:text="'modified at '+${date}">modified at 2018-7-13
                                14:32:18 </h5>
                        </div>
                    </div>
                </div>

            </div>

            <div id="Authorship" class="detail_block"
                 >
                <div class="block_head">
                    <div class="head_text" style="padding-left: 10px;padding-right: 15px;display: inline-flex">
                        <h4>{{htmlJSON.Authorship}}</h4>
                        <el-tooltip popper-class="fontsize-15" effect="light"
                                    :content="htmlJSON.AuthorshipInfo" placement="top">
                            <i class="fa fa-question-circle-o" aria-hidden="true" style="margin-top:4px;"></i>
                        </el-tooltip>
                    </div>
                </div>
                <div class="block_content text-center" style="padding-left:10px">

                    <div style="text-align: left;" th:each="author,key:${dataMethodInfo.authorships}">
                        <span role="button" tabindex="0" th:class="${key.index==0?'ab':'ab transform180'}" style="float: right;"><a
                                data-toggle="collapse" th:href="'#authorship'+${key.index}" class="detail-toggle"
                                aria-expanded="true"><i class="fa fa-caret-up" style="font-size: 21px"></i></a></span>
                        <li class="NavHead" style="font-size: 16px;" th:text="${author.name}">NNU_Group</li>
                        <div th:id="'authorship'+${key.index}" class="panel-collapse"
                             th:class="${key.index==0?'in':'collapse'}" aria-expanded="true"
                             style="">
                            <div class="panel-body" style="padding-left: 20px; padding-top: 7px; padding-right: 0px;">
                                <dl>
                                    <dt th:if="${author.ins!=''}">Affiliation: &nbsp</dt>
                                    <dd th:if="${author.ins!=''}" th:text="${author.ins}"></dd>
                                    <dt th:if="${author.email!=''}">Email: &nbsp</dt>
                                    <dd th:if="${author.email!=''}" th:text="${author.email}">njgis@163.com</dd>
                                    <dt th:if="${author.homepage!=''}">Homepage: &nbsp</dt>
                                    <dd th:if="${author.homepage!=''}"><a th:href="${author.homepage}" target="_blank">View</a>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div th:if="${dataMethodInfo.authorships==null||#lists.size(dataMethodInfo.authorships)==0}">
                        <el-tag type="info">{{htmlJSON.AuthorshipInfo2}} <a href="javascript:void(0)" @click=""
                                                                              style="text-decoration: underline">{{htmlJSON.AuthorshipInfo3}}</a>

                        </el-tag>
                    </div>
                    <div th:if="${#lists.size(dataMethodInfo.authorships)>0}">
                        <el-tag type="info">{{htmlJSON.AuthorshipInfo4}}<a href="javascript:void(0)" @click=""
                                                                          style="text-decoration: underline">{{htmlJSON.AuthorshipInfo5}}</a></el-tag>
                    </div>
                </div>
            </div>

            <div id="Modifier" class="detail_block"
                 th:if="${history!=true}">
                <div class="block_head">
                    <div class="head_text" style="padding-left: 10px;">
                        <h4>{{htmlJSON.History}}</h4>
                    </div>
                </div>
                <div class="block_content text-center" style="padding-left:10px">

                    <div style="text-align: left;">

                        <div class="panel-body" style="padding-left: 0px; padding-top: 7px; padding-right: 0px;">
                            <dl>
                                <dt>{{htmlJSON.HistoryInfo}}</dt>
                                <dd th:text="${lastModifyTime}"></dd>
                            </dl>
                        </div>

                    </div>
                </div>
            </div>

            <div id="QR" class="detail_block">
                <div class="block_head">
                    <div class="head_text" style="padding-left: 10px;">
                        <h4>{{htmlJSON.QRCode}}</h4>
                    </div>
                </div>
                <div class="block_content">

                    <div class="qrcode" style="width:200px;height:200px;margin:0 auto"></div>

                </div>
            </div>

        </div>

        <div th:if="${history==true}"
             style="pointer-events:none;position: absolute;top:0;bottom: 0;left: 0;right: 0;background-image: url('/static/img/historyBackground.png')"></div>

    </div>
    <el-dialog
            title="Notice"
            :visible.sync="addNewDialog"
            width="30%">
        <h5>There are two ways to create services. </h5>
        <h5>One is to download the deployment package, create services in the personal container, and then bind them. </h5>
        <h5>The other is to create application services in the personal center. </h5>
        <h5>Click the confirm to jump to the personal center to create a service. </h5>
        <h5 slot="footer" class="dialog-footer">
            <el-button @click="addNewDialog = false">cancel</el-button>
            <el-button type="primary" @click="createService()">confirm</el-button>
        </h5>
    </el-dialog>

    <div th:replace="fragments/footer :: footer"></div>

</div>
<template th:replace="fragments/comments :: comments"></template>
<template th:replace="modules/userAvatar :: userAvatar"></template>
</body>

<script th:inline="javascript">
    var author=[[${user}]];
</script>

<script src="/static/js/common/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/static/js/common/jquery.tag-editor.js"></script>
<script type="text/javascript" src="/static/js/common/jquery-steps.js"></script>
<script type="text/javascript" src="/static/iCheck/jquery.icheck.min.js"></script>
<script src="/static/js/common/md5.js"></script>
<script src="/static/js/tinymce_5.3.2/tinymce/js/tinymce/tinymce.min.js"></script>
<script src="/static/js/common/vue.min.js"></script>
<script src="/static/js/common/axios.min.js"></script>
<script src="/static/element-ui/index.js"></script>
<script src="/static/js/common/qrcode.min.js"></script>
<script src="/static/js/modules/comments.js"></script>
<script src="/static/js/modules/editComputableModelModule.js"></script>
<script src="/static/js/modules/userAvatar.js"></script>
<script src="/static/js/common/copy.js"></script>
<script src="/static/js/common/bootstrap.min.js"></script>
<script src="/static/element-ui/umd/locale/en.js"></script>
<script src="/static/js/common/vue-avatar.min.js"></script>

<!--翻译组件，本页面组件js引入位置不能靠后-->
<template th:replace="modules/translationBar :: translationBar"></template>
<script src="/static/js/modules/translationBar.js"></script>

<script src="/static/js/page/data_application_info.js"></script>
<script src="/static/js/common/navbar.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $(".resouceFile").hover(function(){
            $(".fileIcon").hide();
            $(".downloadIcon").show();
        },function(){
            $(".fileIcon").show();
            $(".downloadIcon").hide();
        });
    });
</script>
</html>
