<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Demo | OpenGMS</title>


    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/index/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/lib/element-ui/theme-chalk/index.css">
    <link rel="stylesheet" href="/static/css/base/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/common/fluent/fluent.css">
    <link rel="stylesheet" href="/static/css/base/style.css">
    <link rel="stylesheet" href="/static/css/base/universal.css">
    <link rel="stylesheet" href="/static/css/base/wzhStyle.css">
    <link rel="stylesheet" href="/static/css/base/wzhFlexContainer.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/navbar.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/common/footerResponse.css" />
    <style>
        .cardborder{
            border: solid 1px #dedede;
            /*border: solid 1px #00c0ff;*/
            border-radius: 10px
        }
        .cardimg{
            height: 35%;
            align-self: center;
            margin-top: 15%;
            margin-bottom: 13%;
            
        }
    </style>

</head>
<body style="">
    <!--<h1 th:text="${name}">Hello World</h1>-->
    <div id="app">
        <div th:replace="fragments/navbar :: unlog"></div>
        <div class="titleSection" style="background-image: url('../static/img/support6.jpeg');background-position-y:  -400px">
            <div class="fullMask text-center fontWhite" ><br><br>
                <h2>Demo</h2>
                <h3>
                    Some examples about how to use OpenGMS.
                </h3>
            </div>
        </div>
<!--        <img class="imgAsTitle" src="../static/img/support2.png" style="">-->
        <div class="clearfix" style="position: relative;" :style="{'min-height':ScreenMinHeight}">
            <div class="grey95" >
                <div class="col-lg-10 col-lg-offset-1 col-md-12">
                    <div class="flexJustAround" style="width: 100%;">
<!--                        <div class="innerBorder"></div>-->
<!--                        <h4 style="font-size: 22px">Common Functions</h4>-->
<!--                        <div class="innerBorder"></div>-->
                    </div>
                    <div class="detail">

                        <el-row justify="center" type="flex" :gutter="20" style="margin: 20px">
                            <el-col :span="15" style="border: 1px black">
                                <div class="cursorPointer quickToolsCard cardborder" :class="docIndex==1?'cardHover':''"
                                     style="height: 200px;display: flex;" @click="showDoc(1)">
                                        <img style="width:33.3%;border-radius: 10px 0 0 10px;" src="/static/img/support10.jpg">
                                        <h3 style="width:66.6%;margin: auto;line-height:40px;">How to run a model online?</h3>
                                </div>
                            </el-col>
                        </el-row>

                        <el-row justify="center" type="flex" :gutter="20" style="margin: 20px">
                            <el-col :span="15" style="border: 1px black">
                                <div class="cursorPointer quickToolsCard cardborder" :class="docIndex==1?'cardHover':''"
                                     style="height: 200px;display: flex;" @click="showDoc(2)">
                                    <img style="width:33.3%;border-radius: 10px 0 0 10px;" src="/static/img/support5.jpg">
                                    <h3 style="width:66.6%;margin: auto;line-height:40px;">How to run a integrated model online?</h3>
                                </div>
                            </el-col>
                        </el-row>

                    </div>
                </div>
            </div>

            <div class="clearfix"  style="padding: 90px 0;background-color: #e4e4e45e">
                <h1 align="center" style="margin:0;"><a href="/help/support">Learn More About OpenGMS →</a></h1>
            </div>
        </div>

        <div th:replace="fragments/footer :: footer"></div>
    </div>
</body>
<script src="/static/js/common/jquery-3.3.1.min.js"></script>
<script src="/static/js/common/vue.min.js"></script>
<script src="/static/js/index/bootstrap.min.js"></script>
<script src="/static/js/common/axios.min.js"></script>
<script src="/static/element-ui/index.js"></script>

<script src="/static/element-ui/umd/locale/en.js"></script>
<script src="/static/js/page/demoNew.js"></script>
<script src="/static/js/common/navbar.js"></script>

</html>