<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact Us | OpenGMS</title>



    <link rel="stylesheet" href="/static/lib/element-ui/theme-chalk/index.css">
    <!--<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">-->

    <link rel="stylesheet" href="/static/css/font-awesome/fonts/fontawesome-webfont.woff">
    <link rel="stylesheet" href="/static/css/font-awesome/fonts/fontawesome-webfont.ttf">
    <link rel="stylesheet" href="/static/css/base/bootstrap.min.css">

    <link rel="stylesheet" href="/static/css/base/fileinput.min.css">
    <link rel="stylesheet" href="/static/css/base/fileinput-rtl.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/fabric/fabric.min.css"/>
    <link rel="stylesheet" href="/static//css/base/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="/static/css/base/mdb/mdb.lite.min.css">
    <link rel="stylesheet" href="/static/css/base/fluent/fluent.css">
    <link rel="stylesheet" href="/static/css/base/universal.css">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="../../assets/css/basic.css" /> -->
    <link rel="stylesheet" href="/static/css/page/user_space.css">
    <link rel="stylesheet" href="/static/css/base/bootstrap-tagsinput.css">

    <link rel="stylesheet" href="/static/css/module/newSideBar.css">

    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/other/jquery-steps.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/other/jquery.tag-editor.css"/>

    <style>
        @font-face{
            font-family:'Multicolore-Regular';
            src: url('../static/css/font-awesome/fonts/Multicolore-Regular.ttf')  format('truetype');
            font-weight:normal;
            font-style:normal;
        }

    </style>
</head>

<body>
<div id="app">
    <div id="loading" v-if="load">
        <div class="loading-center">
            <div class="loading-center-absolute">
                <div class="object"></div>
            </div>
        </div>
    </div>

    <div class="page-container" style="height: 2000px;" v-cloak>
        <head-side-bar :user-infoin-parent="userInfo"></head-side-bar>
        <!--        <div class="innerShadowTop" style="height: 10px">-->
        <!--        </div>-->
        <!--        <div th:replace="fragments/newSideBar :: sidebarNew"></div>-->
        <template id="feedback" th:fragment="feedback">
            <div class="innerShadowCol">

            <div class="page-content clearfix scrollbar el-col-lg-21 el-col-md-20 pageContent acrylicBack"
                 style="margin-left: 240px;"
                 :style="{'height':ScreenMinHeight,'min-height':ScreenMinHeight,'max-height':ScreenMaxHeight}"
                 id="pageContent">
                <!--            <div class="titleContainer"><h4>My Space</h4></div>-->
                <div class="flexColContainer mainContent" style="">
                    <section role="description" class="flexCol flexCenter contentSection" style="margin-top: 30px">
<!--                        <H3 style="font-family: 'Multicolore-Regular'">A<span style="color: #d48634">P</span>PR<span style="color: #00c0ff">E</span>CI<span style="color: #6549D7">A</span>TE <span style="color: #ff7a00"> !</span> </H3>-->
                        <H3 style="font-family: 'Multicolore-Regular'">{{htmlJson.APPRECIATE}}</H3>
                        <p style="text-align: center;font-weight: 500;font-size: 18px ">{{htmlJson.APPRECIATEInfo}}</p>
                    </section>
                    <section class="flexRowContainer flexWrap contentSection">
                        <div class="contentCard flexCol flexColCenter" style="height: 450px;max-width: 800px">
                            <div v-cloak class="col-md-12" style="padding: 0 50px">

                                <div class="panel-body">
                                    <h4 style="margin-left: -5px">{{htmlJson.SendFeedback}}</h4>
                                    <avatar username="aa" :size="90"
                                            :rounded="false"></avatar>
                                </div>

                            </div>

                            <div class="md-form amber-textarea active-amber-textarea-2" style="width: 91%;padding-right: 20px;margin-top: 0">
                                <i class="fas fa-pencil-alt prefix"></i>
                                <textarea id="form24" class="md-textarea form-control" rows="3" style="height: 235px" v-model="content"></textarea>
                                <label for="form24" style="font-size: 14px">{{htmlJson.FeedBackInfo}}</label>
                            </div>
                            <div class="flexJustEnd" style="width: 90%;margin-top: 10px">
                                <button id="changePass"
                                        class="btn btn-noShadow btn-default btn-round btn-block btn-lg"
                                        style="color: #fff;text-transform: capitalize;font-size: 16px;flex:1;max-width: 350px"
                                        @click="send()">{{htmlJson.Send}}
                                </button>
                            </div>

                        </div>

                    </section>
                </div>
            </div>

            </div>
        </template>


    </div>
</div>
</body>
<script src="/static/js/common/jquery-3.3.1.js"></script>
<script src="/static/js/common/jquery.rotate.min.js"></script>
<script src="/static/js/common/bootstrap.min.js"></script>
<script src="/static/js/common/mdb.min.js"></script>
<script src="/static/js/common/piexif.min.js"></script>
<script src="/static/js/common/fileinput.js"></script>

<!--<script src="/static/js/common/echarts.min.js"></script>-->
<!--<script src="/static/js/common/world.js"></script>-->
<script src="/static/js/common/axios.min.js"></script>
<script src="/static/js/common/vue.min.js"></script>

<script src="/static/element-ui/index.js"></script>
<!--<script src="https://unpkg.com/element-ui/lib/index.js"></script>-->
<script src="/static/js/common/bootstrap-tagsinput.js"></script>
<script src="/static/element-ui/umd/locale/en.js"></script>
<!--<script src="/static/js/page/user_space.js"></script>-->
<!--<script src="/static/js/page/userSpace1.js"></script>-->

<script th:replace="fragments/newSideBar :: headSideBar"></script>
<script th:replace="fragments/newSideBar :: sideBarComponent"></script>
<script src="/static/js/page/feedBack.js"></script>
</html>