<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

  <link rel="stylesheet" href="/static/css/other/page.css">
  <link rel="stylesheet" type="text/css" href="/static/js/integratedGraphEditor/styles/grapheditor.css">
  <link rel="stylesheet" href="/static/lib/element-ui/theme-chalk/index.css">

  <script type="text/javascript">
    // Parses URL parameters. Supported parameters are:
    // - lang=xy: Specifies the language of the user interface.
    // - touch=1: Enables a touch-style user interface.
    // - storage=local: Enables HTML5 local storage.
    // - chrome=0: Chromeless mode.
    var urlParams = (function (url) {
      var result = new Object();
      var idx = url.lastIndexOf('?');
      console.log(idx);

      if (idx > 0) {
        var params = url.substring(idx + 1).split('&');

        for (var i = 0; i < params.length; i++) {
          idx = params[i].indexOf('=');

          if (idx > 0) {
            result[params[i].substring(0, idx)] = params[i].substring(idx + 1);
          }
        }
      }

      return result;
    })(window.location.href);

    // Default resources are included in grapheditor resources
    mxLoadResources = false;
    mxBasePath = "/static/js/mxGraph/";
    STYLE_PATH = "/static/js/integratedGraphEditor/styles";
    RESOURCES_PATH = "/static/js/integratedGraphEditor/resources";
    IMAGE_PATH = "/static/js/integratedGraphEditor/images";
    STENCIL_PATH = "/static/js/integratedGraphEditor/stencils";
    EXPORT_URL = "https://geomodeling.njnu.edu.cn/GeoModelingNew/MyTestServlet";
    SAVE_URL = "https://geomodeling.njnu.edu.cn/GeoModelingNew/MyTestServlet";

    var computableModelList = parent.computableModelList;
    // var searchTermsComputableModel = null;
    var hasSearchedTermsComputableModel = [];
    // var allComputableModel = parent.allComputableModel;



  </script>

  <script type="text/javascript">var language = "en";</script>
  <script type="text/javascript" src="/static/js/integratedGraphEditor/js/Init.js"></script>
  <script type="text/javascript" src="/static/js/integratedGraphEditor/deflate/pako.min.js"></script>
  <script type="text/javascript" src="/static/js/integratedGraphEditor/deflate/base64.js"></script>
  <script type="text/javascript" src="/static/js/integratedGraphEditor/jscolor/jscolor.js"></script>
  <script type="text/javascript" src="/static/js/integratedGraphEditor/sanitizer/sanitizer.min.js"></script>
  <script type="text/javascript" src="/static/js/mxGraph/js/mxClient.js"></script>
  <script type="text/javascript" src="/static/js/integratedGraphEditor/js/EditorUi.js"></script>
  <script type="text/javascript" src="/static/js/integratedGraphEditor/js/Editor.js"></script>
  <script type="text/javascript" src="/static/js/integratedGraphEditor/js/Sidebar.js"></script>
  <script type="text/javascript" src="/static/js/integratedGraphEditor/js/Graph.js"></script>
  <script type="text/javascript" src="/static/js/integratedGraphEditor/js/Shapes.js"></script>
  <script type="text/javascript" src="/static/js/integratedGraphEditor/js/Actions.js"></script>
  <script type="text/javascript" src="/static/js/integratedGraphEditor/js/Menus.js"></script>
  <script type="text/javascript" src="/static/js/integratedGraphEditor/js/Format.js"></script>
  <script type="text/javascript" src="/static/js/integratedGraphEditor/js/Toolbar.js"></script>
  <script type="text/javascript" src="/static/js/integratedGraphEditor/js/Dialogs.js"></script>
  <!--<script type="text/javascript" src="/static/js/graphEditor/js/conceptualEditorPlugin.js"></script>-->

  <script src="/static/js/common/jquery-3.3.1.min.js"></script>
  <script src="/static/js/common/vue.min.js"></script>

</head>
<body>

<!-- START WIDGETS -->
<div class="row">

</div>
<!-- END WIDGETS -->

<div class="row">
  <div style="width:100%;border:none">
    <script type="text/javascript">
      // Extends EditorUi to update I/O action states based on availability of backend
      var ui, graph;
      var page = 0;
      (function () {

        var uid = window.sessionStorage.getItem("editConceptualModel_id");

        var editorUiInit = EditorUi.prototype.init;

        EditorUi.prototype.init = function () {
          editorUiInit.apply(this, arguments);

          // Updates action states which require a backend
          if (!Editor.useLocalStorage) {
            mxUtils.post(OPEN_URL, '', mxUtils.bind(this, function (req) {
              var enabled = req.getStatus() != 404;
              this.actions.get('open').setEnabled(enabled || Graph.fileSupport);
              this.actions.get('import').setEnabled(enabled || Graph.fileSupport);
              this.actions.get('save').setEnabled(enabled);
              this.actions.get('saveAs').setEnabled(enabled);
              this.actions.get('export').setEnabled(enabled);
            }));
          }
        };

        // Adds required resources (disables loading of fallback properties, this can only
        // be used if we know that all keys are defined in the language specific file)
        mxResources.loadDefaultBundle = false;
        var bundle = mxResources.getDefaultBundle(RESOURCE_BASE, mxLanguage) ||
                mxResources.getSpecialBundle(RESOURCE_BASE, mxLanguage);

        // Fixes possible asynchronous requests
        mxUtils.getAll([bundle, STYLE_PATH + '/default.xml'], function (xhr) {
          // Adds bundle text to resources
          mxResources.parse(xhr[0].getText());

          // Configures the default graph theme
          var themes = new Object();
          themes[Graph.prototype.defaultThemeName] = xhr[1].getDocumentElement();

          // Main
          var mainUI = new EditorUi(new Editor(urlParams['chrome'] == '0', themes), document.getElementById("container"));
          ui = mainUI;
          graph = ui.editor.graph;
          if (uid != null && uid != "" && uid != "0") {
            $.ajax({
              url: "/conceptualModel/info/" + uid,
              type: "get",
              data: {"mid": uid},
              success: function (result) {
                var data = result.data;
                console.log(data)
                var xml_doc = mxUtils.parseXml(data.cxml);
                xml_doc.documentElement.setAttribute("page", 0);
                mainUI.editor.setGraphXml(xml_doc.documentElement);
                window.onbeforeunload = null;
                window.sessionStorage.setItem("editConceptualModel_id", "");
              }
            })
          }
        }, function () {
          document.body.innerHTML = '<center style="margin-top:10%;">Error loading resource files. Please check browser console.</center>';
        });
        $(document).on("click", ".number", function (e) {
          getModelListByPage(e.target.innerText - 1);
        });
        $(document).on("click", ".btn-prev", function () {
          changePrev();
        });
        $(document).on("click", ".btn-next", function () {
          changeNext();
        });

        $(document).on("click", ".btn-quicknext", function () {
          changePageNext();
        });
        $(document).on("click", ".btn-quickprev", function () {
          changePagePrev();
        });
      })();
    </script>

    <div id="container" class="geEditor" style="left: 0px; top:0px; "></div>


  </div>
</div>

</body>


<script>

  var currentModels = [];
  var currentXml = '';

  var DYNA_STYLE={
    'waitingMA':'rounded=1;whiteSpace=wrap;html=1;strokeWidth=2;fillColor=#5bbbf2;strokeColor=#5bbbf2;',
    'waitingDP':'rounded=1;whiteSpace=wrap;html=1;strokeWidth=2;fillColor=#f6aede;strokeColor=#f6aede;',
    'waitingInput':'rounded=0;shape=process;whiteSpace=wrap;html=1;backgroundOutline=1;strokeWidth=2;strokeColor=#f46161;fillColor=#aadcf8;',
    'waitingOutput':'rounded=0;shape=process;whiteSpace=wrap;html=1;backgroundOutline=1;strokeWidth=2;strokeColor=#449d44;fillColor=#aadcf8;',
    'runningMA':'rounded=1;whiteSpace=wrap;html=1;strokeWidth=2;fillColor=#ffd058;strokeColor=#5bbbf2;',
    'runningDP':'rounded=1;whiteSpace=wrap;html=1;strokeWidth=2;fillColor=#ffd058;strokeColor=#f6aede;',
    'runningInput':'rounded=0;shape=process;whiteSpace=wrap;html=1;backgroundOutline=1;strokeWidth=2;strokeColor=#f46161;fillColor=#ffd058;',
    'runningOutput':'rounded=0;shape=process;whiteSpace=wrap;html=1;backgroundOutline=1;strokeWidth=2;strokeColor=#5ac323;fillColor=#ffd058;',
    'completedMA':'rounded=1;whiteSpace=wrap;html=1;strokeWidth=2;fillColor=#7ad34e;strokeColor=#5bbbf2;',
    'completedDP':'rounded=1;whiteSpace=wrap;html=1;strokeWidth=2;fillColor=#7ad34e;strokeColor=#f6aede;',
    'completedInput':'rounded=0;shape=process;whiteSpace=wrap;html=1;backgroundOutline=1;strokeWidth=2;strokeColor=#449d44;fillColor=#9aee71;',
    'completedOutput':'rounded=0;shape=process;whiteSpace=wrap;html=1;backgroundOutline=1;strokeWidth=2;strokeColor=#449d44;fillColor=#9aee71;',
    'failedMA':'rounded=1;whiteSpace=wrap;html=1;strokeWidth=2;fillColor=#ef6b6b;strokeColor=#5bbbf2;',
    'failedDP':'rounded=1;whiteSpace=wrap;html=1;strokeWidth=2;fillColor=#ef6b6b;strokeColor=#f6aede;',
    'failedInput':'rounded=0;shape=process;whiteSpace=wrap;html=1;backgroundOutline=1;strokeWidth=2;strokeColor=#f46161;fillColor=#ef6b6b;',
    'failedOutput':'rounded=0;shape=process;whiteSpace=wrap;html=1;backgroundOutline=1;strokeWidth=2;strokeColor=#5ac323;fillColor=#ef6b6b;',
  }

  function getCXml() {
    return ui.editor.getGraphXml().outerHTML;
  }

  function setCXml(xml) {

    var x = mxUtils.parseXml(xml).documentElement;
    ui.editor.setGraphXml(x);

  }

  function setNodeStyle(frontId,status) {

    var cells = graph.getModel().cells;
    var models = graph.getModel();
    for (let i in cells) {
      if(cells[i].frontId===frontId){
        // let style = cells[i].getStyle()
        // console.log(style)
        if(cells[i].md5!=undefined){
          cells[i].setStyle(DYNA_STYLE[status+'MA'])

        }else if(cells[i].type==='dataService'){
          cells[i].setStyle(DYNA_STYLE[status+'DP'])
        }
        else if(cells[i].response==0){
          cells[i].setStyle(DYNA_STYLE[status+'Output'])
        }else if(cells[i].response==1){
          cells[i].setStyle(DYNA_STYLE[status+'Input'])
        }

        if(status==='completed'){
          setLinkStyle(cells[i],cells,'shape=process;whiteSpace=wrap;html=1;backgroundOutline=1;strokeWidth=2;strokeColor=#f46161;fillColor=#9aee71;')
        }
        graph.refresh(cells[i])
      }
    }
  }

  function setLinkStyle(cell,cells,style) {
    for(let j in cells){
      if(cells[j].edge==true&&cells[j].source==cell){
        if(cells[j].target.eid!=undefined){
          cells[j].target.setStyle(style)
          graph.refresh(cells[j].target)
        }
        // setLinkStyle(cells[j].target,cells,style)
      }
    }
  }

  function getModels() {
    currentXml = getCXml();

    var models = [];
    var cells = graph.getModel().cells;
    linkDataFlow(cells)
    for (let i in cells) {
      if (cells[i].md5 != undefined ||cells[i].service != undefined) {
        var modelTmp = {};
        modelTmp.name = cells[i].value;
        modelTmp.pid = cells[i].mid;
        modelTmp.description = cells[i].description;
        modelTmp.md5 = cells[i].md5;
        modelTmp.frontId = cells[i].frontId;
        // modelTmp.inputData = getinputData(cells[i], cells);
        modelTmp.inputData = cells[i].inputData;
        // modelTmp.outputData = getoutputData(cells[i], cells,modelTmp);
        setOutput(cells[i])
        modelTmp.outputData =cells[i].outputData;

        models.push(modelTmp);
      }
    }
    currentModels = models;
    return models;
  }

  function linkDataFlow(cells) {//连接数据流，主要用于处理inputevent
    for(let i in cells){
      let cell = cells[i]
      if(cell.edge){//如果是一条线，则去两端寻找
        if(cell.value==null){//说明是手动连接的两个event,则此处有dataFlow
          let fromEvent = cell.source
          let target = cell.target
          let model

          if(target.style.indexOf('condition')!=-1){//如果向下連的是一個條件判斷
            target.link = fromEvent.frontId
          }else if(target.eid != undefined){//向下连接的是一个输入
            for(let edge of target.edges){//找到该模型
              if(edge.value===''){
                model = edge.target
                break;
              }
            }
            for(let input of model.inputData){//对该模型对应event的值修改
              if(input.eventId===target.eid){
                input.type='link'
                input.link=fromEvent.eid//链接的event的id和名字
                input.linkEvent=fromEvent.value
              }else{
                // input.link=''
              }
            }
          }

        }
      }

    }
    for(let j in cells){
      if(cells[j].md5!=undefined){
        if(cells[j].inputData[0].link!=undefined){//有link值，说明该模型已经配置过，忽略
          continue;
        }
        for(let input of cells[j].inputData){
          if(input.link==undefined){
            input.link=''
          }
        }
      }
    }
  }

  function setOutput(model) {//配置output
    for(let output of model.outputData){
      output.type='url'
    }
  }

  function getinputData(model, cells) {
    var inputData = model.inputData;
    var event = {};

    var modelId = model.id;
    for (let i in cells) {
      //寻找input
      if (cells[i].target != null && cells[i].target.id == modelId) {
        let source = cells[i].source.id;
        let input = cells[source];
        let target2 = input.id;
        //寻找input的来源
        for (let j in cells) {
          if (cells[j].target != null && cells[j].target.id == target2) {
            var eid = cells[cells[j].source.id].eid;
            var iName = cells[cells[j].source.id].value;//这个event的名字
            event = {};
            event.state = input.state;
            event.event = input.value;
            event.link = eid; //迭代运行需要两个值来标识,一个是初始值，一个是迭代值 -- wzh
            event.iName = iName;
            event.dataId = input.eid;
            event.type = "link";
            event.optional = input.optional;
            event.description = input.description;
            event.data = input.data;
            inputData.push(event);
          }
        }
      }
    }

    return inputData;
  }

  function getoutputData(model, cells,modelTmp) {//传入modelTmp打上multi标识
    var outputData = [];
    var event = {};
    var source = model.id;
    for (let i in cells) {
      if (cells[i].source != null && cells[i].source.id == source) {
        var output = cells[cells[i].target.id];
        event = {};
        event.state = output.state;
        event.event = output.value;
        event.value = "";
        event.dataId = output.eid;
        event.type = "url";
        event.mutiple = output.multiple;
        if(event.mutiple==true){
          modelTmp.hasMultiOut=true
        }
        outputData.push(event);
      }
    }
    for (var i = 0; i < model.outputData.length; i++) {
      var e = model.outputData[i];
      var flag = false;
      for (var j = 0; j < outputData.length; j++) {
        if (e.eventId == outputData[j].dataId) {
          flag = true;
          break;
        }
      }
      if (flag) continue;
      event = {};
      event.stateName = e.stateName;
      event.eventName = e.eventName;
      event.value = "";
      event.eventId = e.eventId;
      event.type = "url";
      event.optional = e.optional;
      event.eventDesc = e.eventDesc;
      event.data = e.data;
      event.mutiple = e.multiple;
      if(event.mutiple==true){
        modelTmp.hasMultiOut=true
      }
      outputData.push(event);

    }

    return outputData;
  }

  //调用mxGraphModel.js方法删除cell
  function removeTargetCell(target){
    let cells = graph.getModel().cells;
    for(let i in cells){
      if(cells[i].frontId!=undefined&&cells[i].frontId==target.id){
        graph.model.remove(cells[i])
      }
    }
  }

  function setModelView(modelActions,edges){
    for(let modelAction of modelActions){
      ui.sidebar.addModelToGraph(modelAction)
    }

    let cells = graph.getModel().cells;
    for(let edge of edges){
      let target = getCells(edge.target,'frontId')
      let source = getCells(edge.source,'frontId')
      let parent = graph.getDefaultParent();
      try{
        graph.insertEdge(parent, null, '', source, target,  "edgeStyle=orthogonalEdgeStyle;rounded=1;orthogonalLoop=1;jettySize=auto;html=1;exitX=1;exitY=0.5;exitDx=0;exitDy=0;strokeWidth=2;strokeColor=#000066;");
      }catch (e) {

      }
    }
  }

  function getCells(id,text){
    let cells = graph.getModel().cells;
    for(let i in cells){
      if(cells[i][text]===id){
        return cells[i]
      }
    }
  }

  //获得模型
  function getModelListByPage(num) {
    var url = "/computableModel/integratingList";
    $.ajax({
      url: url,
      data: {
        page: num,
        sortType: "default",
        sortAsc: 1,
      },
      type: 'get',
      success: (result) => {
        computableModelList = result;
        $('#number_' + (page + 1)).attr('class', 'number');
        page = num;
        $('#pageModelContainer').empty();
        ui.sidebar.addComputabelModelPage(computableModelList, $('#pageModelContainer')[0]);
        $('#number_' + (page + 1)).attr('class', 'number active');

        // 知识点：jquery选择器和原生选择器之间的区别
        if (page <= 4) {
          if ($('.btn-quickprev').length > 0) {
            $('.btn-quickprev')[0].innerText = '2';
            $('.btn-quickprev')[0].id = 'number_2';
            $('.btn-quickprev')[0].className = 'number';

            $('.number')[2].innerText = '3';
            $('.number')[2].id = 'number_3';

            $('.number')[3].innerText = '4';
            $('.number')[3].id = 'number_4';

            $('.number')[4].innerText = '5';
            $('.number')[4].id = 'number_5';

            if ($('.number')[5].innerText != computableModelList.totalPages) {
              $('.number')[5].innerText = '';
              $('.number')[5].style.minWidth = '0px';
              $('.number')[5].className = 'el-icon more btn-quicknext el-icon-more';
            }
          }

        }
        if (page >= computableModelList.totalPages - 5) {
          if ($('.btn-quicknext').length > 0) {
            $('.btn-quicknext')[0].innerText = (computableModelList.totalPages - 1);
            $('.btn-quicknext')[0].id = 'number_' + (computableModelList.totalPages - 1);
            $('.btn-quicknext')[0].className = 'number';

            var len = $('.number').length;
            $('.number')[len - 3].innerText = '' + (computableModelList.totalPages - 2);
            $('.number')[len - 3].id = 'number_' + (computableModelList.totalPages - 2);

            $('.number')[len - 4].innerText = '' + (computableModelList.totalPages - 3);
            $('.number')[len - 4].id = 'number_' + (computableModelList.totalPages - 3);

            $('.number')[len - 5].innerText = '' + (computableModelList.totalPages - 4);
            $('.number')[len - 5].id = 'number_' + (computableModelList.totalPages - 4);

            if ($('.number')[len - 6].innerText != 1) {
              $('.number')[len - 6].innerText = '';
              $('.number')[len - 6].style.minWidth = '0px';
              $('.number')[len - 6].className = 'el-icon more btn-quickprev el-icon-more';
            }
          }
        }
      }
    })
  }

  //翻页
  function changeNext() {
    if (page >= 4 && page < computableModelList.totalPages - 5) {
      var i = (page + 1) % 3;
      if (i == 0 || i == 1) {
        getModelListByPage(page + 1);
      } else {
        changePageNext();
      }

    } else if ((page >= 0 && page < 4) || (page >= computableModelList.totalPages - 6 && page < computableModelList.totalPages - 1)) {
      getModelListByPage(page + 1);
    }
  }

  function changePrev() {
    if (page == computableModelList.totalPages - 5) {
      changePagePrev();
    } else if (page > 4 && page < computableModelList.totalPages - 5) {
      var i = (page + 1) % 3;
      if (i == 1 || i == 2) {
        getModelListByPage(page - 1);
      } else {
        changePagePrev();
      }
    } else if ((page > 0 && page <= 4) || (page > computableModelList.totalPages - 5 && page <= computableModelList.totalPages - 1)) {
      getModelListByPage(page - 1);
    }
  }

  function changePageNext() {
    var i = Math.floor((page + 1) / 3);
    i = i < 1 ? 1 : i;
    console.log(i);
    $('#number_' + (page + 1)).attr('class', 'number');

    if (page < 5) {
      $('#number_2').text('');
      $('#number_2').attr('class', 'el-icon more btn-quickprev el-icon-more');
      $('#number_2').attr('id', '');
    }

    $('#number_' + 3 * i).text(3 * (i + 1));
    $('#number_' + 3 * i).attr('id', 'number_' + 3 * (i + 1));

    $('#number_' + (3 * i + 1)).text((3 * (i + 1) + 1));
    $('#number_' + (3 * i + 1)).attr('class', 'number active');
    $('#number_' + (3 * i + 1)).attr('id', 'number_' + (3 * (i + 1) + 1));

    $('#number_' + (3 * i + 2)).text((3 * (i + 1) + 2));
    $('#number_' + (3 * i + 2)).attr('id', 'number_' + (3 * (i + 1) + 2));

    page = 3 * (i + 1);
    getModelListByPage(page);


  }

  function changePagePrev() {
    var i = Math.floor((page + 1) / 3);
    $('#number_' + (page + 1)).attr('class', 'number');

    if (page > computableModelList.totalPages - 6) {
      i = Math.floor((computableModelList.totalPages - 2) / 3);

      $('#number_' + (computableModelList.totalPages - 1)).text('');
      $('#number_' + (computableModelList.totalPages - 1)).attr('class', 'el-icon more btn-quicknext el-icon-more');
      $('#number_' + (computableModelList.totalPages - 1)).attr('id', '');


      $('#number_' + (computableModelList.totalPages - 2)).text((3 * (i - 1) + 2));
      $('#number_' + (computableModelList.totalPages - 2)).attr('id', 'number_' + (3 * (i - 1) + 2));

      $('#number_' + (computableModelList.totalPages - 3)).text((3 * (i - 1) + 1));
      $('#number_' + (computableModelList.totalPages - 3)).attr('class', 'number active');
      $('#number_' + (computableModelList.totalPages - 3)).attr('id', 'number_' + (3 * (i - 1) + 1));

      $('#number_' + (computableModelList.totalPages - 4)).text(3 * (i - 1));
      $('#number_' + (computableModelList.totalPages - 4)).attr('id', 'number_' + 3 * (i - 1));
    } else {

      $('#number_' + 3 * i).text(3 * (i - 1));
      $('#number_' + 3 * i).attr('id', 'number_' + 3 * (i - 1));

      $('#number_' + (3 * i + 1)).text((3 * (i - 1) + 1));
      $('#number_' + (3 * i + 1)).attr('class', 'number active');
      $('#number_' + (3 * i + 1)).attr('id', 'number_' + (3 * (i - 1) + 1));

      $('#number_' + (3 * i + 2)).text((3 * (i - 1) + 2));
      $('#number_' + (3 * i + 2)).attr('id', 'number_' + (3 * (i - 1) + 2));
    }

    page = 3 * (i - 1);
    getModelListByPage(page);

  }

  function getMxUtil(){
    return mxUtils
  }

  (function (){
    window.parent.wzhloaded()
  })()

</script>
</html>