<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title th:text="${itemInfo.name}+' | Logical Model | OpenGMS'">Logical Model | OpenGMS</title>


    <link rel="stylesheet" th:href="@{/static/lib/element-ui/theme-chalk/index.css}">
    <link rel="stylesheet" th:href="@{/static/css/base/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/base/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/base/style.css}">
    <link rel="stylesheet" th:href="@{/static/css/base/universal.css}">
    <link rel="stylesheet" th:href="@{/static/css/base/itemInfo.css}">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/iCheck/skins/flat/green.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/other/jquery-steps.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/other/jquery.tag-editor.css"/>
    <link rel="stylesheet" th:href="@{/static/css/page/model_item_info.css}">
    <link rel="stylesheet" type="text/css" href="/static/js/graphEditor/styles/grapheditor.css">
    <link rel="stylesheet" href="/static/css/base/userModule.css">
    <link rel="stylesheet" href="/static/css/base/wzhStyle.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/wzhFlexContainer.css" />

    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/navbar.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/footerResponse.css"/>
    <style>
        .img img {
            width: 90px;
            height: 90px;
        }

        .el-tabs__header {
            padding: 0;
            position: unset;
            margin: 0 0 0px;
        }

        /**
            张硕
            2019.11.14
            控制 format 面板的样式
         */
        .geSidebarContainer.geFormatContainer * {
             -webkit-box-sizing: unset;
             -moz-box-sizing: unset;
             box-sizing: unset;
         }

    </style>
</head>
<body>
<div id="app">
    <div th:replace="fragments/navbar :: unlog"></div>

    <div th:replace="fragments/backToTop :: backtop-down"></div>

    <div class="clearfix" style="padding:40px 0px;height: auto;position: relative;">
        <translation-bar
                json-file="all_model_info"
                @translate-page="translatePage"
                initial-lang="en-us"
                theme="dark"
                style="position: absolute;top: 10px;right:15px">
        </translation-bar>
        <div class="left-panel el-col">

            <div class="detail">
                <div class="detail_title">
                    <!--<a th:if="${history!=true}"-->
                       <!--th:href="${itemInfo.relateModelItem}==null?'/modelItem/repository':'/modelItem/'+${itemInfo.relateModelItem}"-->
                       <!--class="el-icon-arrow-left" style="font-size: 20px"></a>-->

                    <h2 th:utext="${itemInfo.name}"
                        style="display: inline-block;margin:0px 10px;word-wrap:break-word; word-break:break-all;"></h2>
                    <div class="pull-right">
                        <el-tooltip popper-class="fontsize-15" content="Edit" effect="light" placement="top">
                            <a href="javascript:void(0);" th:if="${itemInfo.status=='Public'&&history!=true&&itemInfo.lock!=true}" class='fa fa-pencil fa-2x' aria-hidden='true' @click="edit"></a>
                        </el-tooltip>
                        <el-tooltip popper-class="fontsize-15" content="There is another version haven't been reviewed, you can edit it later or contact us." effect="light" placement="top">
                            <li th:if="${itemInfo.status=='Public'&&history!=true&&itemInfo.lock==true}" class='fa fa-pencil fa-2x' style="color:#cccccc" aria-hidden='true'></li>
                        </el-tooltip>
                        <el-tooltip popper-class="fontsize-15" th:content="${itemInfo.status}" effect="light" placement="top">
                            <i th:if="${itemInfo.status=='Public'}" class="el-icon-unlock public fontsize-2em"></i>
                            <i th:if="${itemInfo.status=='Discoverable'}" class="el-icon-unlock discoverable fontsize-2em"></i>
                            <i th:if="${itemInfo.status=='Private'}" class="el-icon-lock private fontsize-2em"></i>
                        </el-tooltip>
                        <!--<a href="javascript:void(0)" class='fa fa-star-o fa-2x pull-right' aria-hidden='true'></a>-->
                    </div>
                </div>
                <div class="detail_overview">

                    <div th:switch="${#lists.size(itemInfo.imageList)}" class="img">
                        <img th:case="0" src="/static/img/model/logical.png">
                        <img th:case="*" th:src="${loadPath}+${itemInfo.imageList[0]}">
                    </div>

                    <div class="info" style="padding-top:0px">
                        <p th:text="${itemInfo.overview}"></p>
                        <div class="tags">
                            <span class="label label-info">
                                    Logical Model
                            </span>

                        </div>
                    </div>

                    <div th:if="${history!=true}" class="detail_option">
                        <!--<a href="javascript:void(0)" class="fa fa-share-square-o" aria-hidden="true"></a>-->
                        <!--<div th:utext="'&nbsp&nbsp'+${itemInfo.shareCount}">&nbsp&nbsp37</div>-->
                        <a class="fa fa-eye" aria-hidden="true"></a>
                        <div th:utext="'&nbsp&nbsp'+${itemInfo.viewCount}">&nbsp&nbsp341</div>

                    </div>

                </div>

            </div>

            <div id="Contributor0" class="detail_block minScreen">
                <div class="block_head">
                    <div class="head_text" style="padding-left: 10px;padding-right: 15px;display: inline-flex">
                        <h4 th:if="${history!=true}">{{htmlJSON.Contributor}}</h4>
                        <h4 th:if="${history==true}">Modifier</h4>
                        <el-tooltip popper-class="fontsize-15" effect="light" :content="htmlJSON.ContributorInfo" placement="top">
                            <i class="fa fa-question-circle-o" aria-hidden="true" style="margin-top:4px;cursor:help;"></i>
                        </el-tooltip>
                    </div>
                </div>
                <div class="block_content">
                    <div class="el-row"
                         style="margin-bottom: 3px;height: 40px; display: flex; justify-content: center; align-items: center;">
                        <user-avatar ref="mainContributorAvatar" style="width:40px;height: 40px;float:left;"></user-avatar>
                        <div class="el-col">
                            <div class="pull-left" style="display: block;margin-left: 15px;">
                                <a th:href="'/profile/'+${user.accessId}"><h4 th:text="${user.name}" style="padding: 0;">Tom
                                    Marvolo Riddle</h4></a>
                            </div>
                        </div>
                    </div>
                    <div class="el-row">
                        <div class="text-center">
                            <h5 th:if="${history!=true}" th:text="'contributed at '+${date}">contributed at 2018-7-13
                                14:32:18 </h5>
                            <h5 th:if="${history==true}" th:text="'modified at '+${date}">modified at 2018-7-13
                                14:32:18 </h5>
                        </div>
                    </div>
                </div>

            </div>

            <div id="Authorship0" class="detail_block minScreen" th:if="${history!=true && #lists.size(itemInfo.authorships)>0}">
                <div class="block_head">
                    <div class="head_text" style="padding-left: 10px;padding-right: 15px;display: inline-flex">                         <h4>Authorship</h4>                         <el-tooltip popper-class="fontsize-15" effect="light"                                     content="We deeply understand that a model may be attributed to the efforts of a team. If all author information is not listed here, please click the feedback below."                                     placement="top">                             <i class="fa fa-question-circle-o" aria-hidden="true" style="margin-top:4px;cursor:help;"></i>                         </el-tooltip>                     </div>
                </div>
                <div class="block_content text-center" style="padding-left:10px">

                    <div style="text-align: left;" th:each="author,key:${itemInfo.authorships}">
                        <span role="button" tabindex="0" class="ab" style="float: right;"><a
                                data-toggle="collapse" th:href="'#authorshipPhone'+${key.index}" class="detail-toggle"
                                aria-expanded="true"
                                ><i class="fa fa-caret-up" style="font-size: 21px"></i></a></span>
                        <li class="NavHead" style="font-size: 16px;" th:text="${author.name}">NNU_Group</li>
                        <div th:id="'authorshipPhone'+${key.index}" class="panel-collapse"
                             th:class="${key.index==0?'in':'collapse'}" aria-expanded="true" style="">
                            <div class="panel-body" style="padding-left: 20px; padding-top: 7px; padding-right: 0px;">
                                <dl>
                                    <dt th:if="${author.ins!=''}">Affiliation: &nbsp</dt>
                                    <dd th:if="${author.ins!=''}" th:text="${author.ins}"></dd>
                                    <dt th:if="${author.email!=''}">Email: &nbsp</dt>
                                    <dd th:if="${author.email!=''}" th:text="${author.email}">njgis@163.com</dd>
                                    <dt th:if="${author.homepage!=''}">Homepage: &nbsp</dt>
                                    <dd th:if="${author.homepage!=''}"><a th:href="${author.homepage}" target="_blank">View</a>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <!--<div th:if="${itemInfo.authorships==null||#lists.size(itemInfo.authorships)==0}">-->
                        <!--<el-tag type="info">Authorship is unclear, you can <a href="javascript:void(0)" @click="claim"-->
                                                                              <!--style="text-decoration: underline">claim</a>-->
                            <!--the item.-->
                        <!--</el-tag>-->
                    <!--</div>-->
                    <div th:if="${history!=true && #lists.size(itemInfo.authorships)>0}">
                        <el-tag type="info">Is authorship not correct? <a href="javascript:void(0)" @click="feedBack"
                                                                          style="text-decoration: underline">Feedback</a></el-tag>
                    </div>
                </div>
            </div>

            <div id="graph" class="detail_block">
                <div class="block_head">
                    <div class="head_text">
                        <h4>{{htmlJSON.graph}}</h4>
                    </div>
                </div>
                <div class="block_content" style="margin-top:20px;">

                    <el-button th:if="${itemInfo.contentType}=='MxGraph'" typ="text"
                               style="float: right; position: relative" @click="showMxGraph()"> MxGraph
                    </el-button>

                    <el-tabs class="right-content" v-model="activeNameGraph" type="border-card" stretch="true">

                        <el-tab-pane label="Image" name="Image" th:if="${itemInfo.contentType}!='MxGraph'">
                            <center th:each="image:${itemInfo.image}"><img th:src="${loadPath}+${image}">
                            </center>
                        </el-tab-pane>
                        <el-tab-pane label="Image" name="Image" style="position: unset"
                                     th:if="${itemInfo.contentType}=='MxGraph'">
                            <center>
                                <div>
                                    <img th:if="${#lists.size(itemInfo.image)}>0"
                                         th:src="${loadPath}+${itemInfo.image[0]}">
                                    <div th:if="${#lists.size(itemInfo.image)}==0" th:utext="${itemInfo.svg}"/>

                                </div>
                            </center>
                        </el-tab-pane>

                    </el-tabs>

                </div>
            </div>

            <div th:replace="fragments/itemInfoModules :: description"></div>


            <div id="related_models" class="detail_block">
                <div class="block_head">
                    <div class="head_text">
                        <h4>{{htmlJSON.RelateModelItem}}</h4>
                    </div>
                </div>
                <div class="block_content flex">

                    <div class="list_panel clearfix" th:each="relateModelItem:${relateModelItemList}">
                        <a th:href="'/modelItem/'+${relateModelItem.id}" class="img">
                            <div th:switch="${relateModelItem.img}">
                                <img th:case="null" src="/static/img/model/model.png">
                                <img th:case="*" th:src="${relateModelItem.img}">
                            </div>

                        </a>

                        <div class="info" style="margin-top:0px;">
                            <a th:href="'/modelItem/'+${relateModelItem.id}"
                               th:text="${relateModelItem.name}">Ground Water Flow System</a>

                            <p style="margin-top: 0px" th:text="${relateModelItem.description}">ANN-CA uses the artificial
                                neural network method to extract
                                land use change rules in the study area, and then applies the rules to
                                subsequent
                                simulations and predictions.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="cite" class="detail_block">
                <div class="block_head">
                    <div class="head_text">
                        <h4>{{htmlJSON.HowtoCite}}</h4>
                    </div>
                </div>
                <div class="block_content">
                    <div id="cite-text" class="width:100%-50px">
                        <span th:if="${authorship!=''}"
                              th:text="${authorship}+' ('+${year}+'). '+${itemInfo.name}+', Logical Model, OpenGMS, '"></span>
                        <span th:if="${authorship==''}"
                              th:text="${user.name}+' ('+${year}+'). '+${itemInfo.name}+', Logical Model, OpenGMS, '">
                            Tom Marvolo Riddle.(2018).Integrated stand growth model data,
                            </span>
                        <a style="word-break:break-all;"
                           th:href="'https://geomodeling.njnu.edu.cn/logicalModel/'+${itemInfo.id}"
                           th:text="'https://geomodeling.njnu.edu.cn/logicalModel/'+${itemInfo.id}">
                            https://geomodeling.njnu.edu.cn/logicalModel/4e028983-c8c0-4d98-86cd-85fc16a00d21
                        </a>
                    </div>
                    <div id="copy" class="btn btn-info">
                        {{htmlJSON.Copy}}
                    </div>
                </div>
            </div>

            <div id="copyright" class="detail_block">
                <div class="block_head">
                    <div class="head_text">
                        <h4>{{htmlJSON.CopyrightAndDisclaimer}}</h4>
                    </div>
                </div>
                <div class="block_content">
                    <div class="copyright_text">
                        {{htmlJSON.CopyrightAndDisclaimerInfo}}
                    </div>
                </div>
            </div>

            <div id="Modifier0 minScreen" class="detail_block minScreen"
                 th:if="${history!=true&&itemInfo.contributors!=null&&#lists.size(itemInfo.contributors)!=0}">
                <div class="block_head">
                    <div class="head_text" style="padding-left: 10px;">
                        <h4>History</h4>
                    </div>
                </div>
                <div class="block_content text-center" style="padding-left:10px">

                    <div style="text-align: left;">

                        <div class="panel-body" style="padding-left: 0px; padding-top: 7px; padding-right: 0px;">
                            <dl>
                                <dt>Last modifier :&nbsp</dt>
                                <dd><a th:text="${lastModifier.name}" th:href="${'/profile/'+lastModifier.accessId}"
                                       target="_blank"></a></dd>
                                <dt>Last modify time :&nbsp</dt>
                                <dd th:text="${lastModifyTime}"></dd>
                                <dt>Modify times :&nbsp</dt>
                                <dd><span th:text="${#lists.size(itemInfo.versions)+'&nbsp'}"></span><a
                                        th:href="'/version/historyList/logicalModel/'+${itemInfo.id}" target="_blank">View
                                    History</a></dd>
                            </dl>
                        </div>

                    </div>
                </div>
            </div>

            <div id="QR0 minScreen" class="detail_block minScreen">
                <div class="block_head">
                    <div class="head_text" style="padding-left: 10px;">
                        <h4>QR Code</h4>
                    </div>
                </div>
                <div class="block_content">

                    <div class="qrcode" style="width:200px;height:200px;margin:0 auto"></div>

                </div>
            </div>

            <div id="comment minScreen">
                <comments></comments>

            </div>
        </div>
        <div class="right-panel el-col">

            <div id="Contributor" class="detail_block">
                <div class="block_head">
                    <div class="head_text" style="padding-left: 10px;padding-right: 15px;display: inline-flex">
                        <h4 th:if="${history!=true}">{{htmlJSON.Contributor}}</h4>
                        <h4 th:if="${history==true}">Modifier</h4>
                        <el-tooltip popper-class="fontsize-15" effect="light" content="Contributor is the person who contributes the item to OpenGMS, may not be the author of the item." placement="top">
                            <i class="fa fa-question-circle-o" aria-hidden="true" style="margin-top:4px;cursor:help;"></i>
                        </el-tooltip>
                    </div>
                </div>
                <div class="block_content">
                    <div class="el-row"
                         style="margin-bottom: 3px;height: 40px; display: flex; justify-content: center; align-items: center;">
                        <user-avatar ref="mainContributorAvatar1" style="width:40px;height: 40px;float:left;"></user-avatar>
                        <div class="el-col">
                            <div class="pull-left" style="display: block;margin-left: 15px;">
                                <a th:href="'/profile/'+${user.accessId}"><h4 th:text="${user.name}" style="padding: 0;">Tom
                                    Marvolo Riddle</h4></a>
                            </div>
                        </div>
                    </div>
                    <div class="el-row">
                        <div class="text-center">
                            <h5 th:if="${history!=true}" th:text="'contributed at '+${date}">contributed at 2018-7-13
                                14:32:18 </h5>
                            <h5 th:if="${history==true}" th:text="'modified at '+${date}">modified at 2018-7-13
                                14:32:18 </h5>
                        </div>
                    </div>
                </div>

            </div>

            <div id="Authorship" class="detail_block" th:if="${history!=true && #lists.size(itemInfo.authorships)>0}">
                <div class="block_head">
                    <div class="head_text" style="padding-left: 10px;padding-right: 15px;display: inline-flex">                         <h4>Authorship</h4>                         <el-tooltip popper-class="fontsize-15" effect="light"                                     content="We deeply understand that a model may be attributed to the efforts of a team. If all author information is not listed here, please click the feedback below."                                     placement="top">                             <i class="fa fa-question-circle-o" aria-hidden="true" style="margin-top:4px;cursor:help;"></i>                         </el-tooltip>                     </div>
                </div>
                <div class="block_content text-center" style="padding-left:10px">

                    <div style="text-align: left;" th:each="author,key:${itemInfo.authorships}">
                        <span role="button" tabindex="0" th:class="${key.index==0?'ab':'ab transform180'}" style="float: right;"><a
                                data-toggle="collapse" th:href="'#authorship'+${key.index}" class="detail-toggle"
                                aria-expanded="true"><i class="fa fa-caret-up" style="font-size: 21px"></i></a></span>
                        <li class="NavHead" style="font-size: 16px;" th:text="${author.name}">NNU_Group</li>
                        <div th:id="'authorship'+${key.index}" class="panel-collapse"
                             th:class="${key.index==0?'in':'collapse'}" aria-expanded="true" style="">
                            <div class="panel-body" style="padding-left: 20px; padding-top: 7px; padding-right: 0px;">
                                <dl>
                                    <dt th:if="${author.ins!=''}">Affiliation: &nbsp</dt>
                                    <dd th:if="${author.ins!=''}" th:text="${author.ins}"></dd>
                                    <dt th:if="${author.email!=''}">Email: &nbsp</dt>
                                    <dd th:if="${author.email!=''}" th:text="${author.email}">njgis@163.com</dd>
                                    <dt th:if="${author.homepage!=''}">Homepage: &nbsp</dt>
                                    <dd th:if="${author.homepage!=''}"><a th:href="${author.homepage}" target="_blank">View</a>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <!--<div th:if="${itemInfo.authorships==null||#lists.size(itemInfo.authorships)==0}">-->
                        <!--<el-tag type="info">Authorship is unclear, you can <a href="javascript:void(0)" @click="claim"-->
                                                                              <!--style="text-decoration: underline">claim</a>-->
                            <!--the item.-->
                        <!--</el-tag>-->
                    <!--</div>-->
                    <div th:if="${history!=true && #lists.size(itemInfo.authorships)>0}">
                        <el-tag type="info">Is authorship not correct? <a href="javascript:void(0)" @click="feedBack"
                                                                          style="text-decoration: underline">Feedback</a></el-tag>
                    </div>
                </div>
            </div>

            <div id="Modifier" class="detail_block"
                 th:if="${history!=true&&itemInfo.contributors!=null&&#lists.size(itemInfo.contributors)!=0}">
                <div class="block_head">
                    <div class="head_text" style="padding-left: 10px;">
                        <h4>History</h4>
                    </div>
                </div>
                <div class="block_content text-center" style="padding-left:10px">

                    <div style="text-align: left;">

                        <div class="panel-body" style="padding-left: 0px; padding-top: 7px; padding-right: 0px;">
                            <dl>
                                <dt>Last modifier :&nbsp</dt>
                                <dd><a th:text="${lastModifier.name}" th:href="${'/profile/'+lastModifier.accessId}"
                                       target="_blank"></a></dd>
                                <dt>Last modify time :&nbsp</dt>
                                <dd th:text="${lastModifyTime}"></dd>
                                <dt>Modify times :&nbsp</dt>
                                <dd><span th:text="${#lists.size(itemInfo.versions)+'&nbsp'}"></span><a
                                        th:href="'/version/historyList/logicalModel/'+${itemInfo.id}" target="_blank">View
                                    History</a></dd>
                            </dl>
                        </div>

                    </div>
                </div>
            </div>

            <div id="QR" class="detail_block">
                <div class="block_head">
                    <div class="head_text" style="padding-left: 10px;">
                        <h4>{{htmlJSON.QRCode}}</h4>
                    </div>
                </div>
                <div class="block_content">

                    <div class="qrcode" style="width:200px;height:200px;margin:0 auto"></div>

                </div>
            </div>

        </div>

        <div th:if="${history==true}"
             style="pointer-events:none;position: absolute;top:0;bottom: 0;left: 0;right: 0;background-image: url('/static/img/historyBackground.png')"></div>

    </div>

    <div id="mxgraph_popup" :style="{display: graphVisible}"
         style="width: 100%;height:100%;z-index: 999; position:absolute; top:0px">
        <el-button style="z-index: 999; position: absolute;left: 20px;top: 10px;" @click="hideMxGraph()"> Close
        </el-button>
        <div id="container_top" th:if="${itemInfo.contentType}=='MxGraph'"
             style="position:initial;border: 2px solid rgb(223, 223, 223);border-width: 0 1px">
            <div id="container" class="geEditor"
                 style="left: 0; top:0;right: 0;bottom: 0;position: absolute;"
                 th:content="${itemInfo.cXml}"></div>
        </div>
    </div>
    <el-dialog title="Edit Logical Model" class="responseDialog" :visible.sync="editLogicalModelDialog" width="65%">
        <edit-Logical-model-module :model-edit-oid="modelOid"></edit-Logical-model-module>
    </el-dialog>
    <div th:replace="fragments/footer :: footer"></div>

</div>
<template th:replace="modules/editLogicalModelModule :: editLogicalModelModule"></template>
<template th:replace="fragments/comments :: comments"></template>
<template th:replace="modules/userAvatar :: userAvatar"></template>
</body>

<script src="/static/js/common/jquery-3.3.1.min.js"></script>


<script type="text/javascript">
    // Parses URL parameters. Supported parameters are:
    // - lang=xy: Specifies the language of the user interface.
    // - touch=1: Enables a touch-style user interface.
    // - storage=local: Enables HTML5 local storage.
    // - chrome=0: Chromeless mode.
    var urlParams = (function (url) {
        var result = new Object();
        var idx = url.lastIndexOf('?');

        if (idx > 0) {
            var params = url.substring(idx + 1).split('&');

            for (var i = 0; i < params.length; i++) {
                idx = params[i].indexOf('=');

                if (idx > 0) {
                    result[params[i].substring(0, idx)] = params[i].substring(idx + 1);
                }
            }
        }

        return result;
    })(window.location.href);

    // Default resources are included in grapheditor resources
    mxLoadResources = false;
    mxBasePath = "/static/js/mxGraph/";
    STYLE_PATH = "/static/js/graphEditor/styles";
    RESOURCES_PATH = "/static/js/graphEditor/resources";
    IMAGE_PATH = "/static/js/graphEditor/images";
    STENCIL_PATH = "/static/js/graphEditor/stencils";
    // EXPORT_URL = "https://geomodeling.njnu.edu.cn/GeoModelingNew/MyTestServlet";
    // SAVE_URL = "https://geomodeling.njnu.edu.cn/GeoModelingNew/MyTestServlet";

    editModel = false;
</script>
<script type="text/javascript" src="/static/js/graphEditor/js/Init.js"></script>
<script type="text/javascript" src="/static/js/graphEditor/deflate/pako.min.js"></script>
<script type="text/javascript" src="/static/js/graphEditor/deflate/base64.js"></script>
<script type="text/javascript" src="/static/js/graphEditor/jscolor/jscolor.js"></script>
<script type="text/javascript" src="/static/js/graphEditor/sanitizer/sanitizer.min.js"></script>
<script type="text/javascript" src="/static/js/mxGraph/js/mxClient.js"></script>
<script type="text/javascript" src="/static/js/graphEditor/js/EditorUi.js"></script>
<script type="text/javascript" src="/static/js/graphEditor/js/Editor.js"></script>
<script type="text/javascript" src="/static/js/graphEditor/js/Sidebar.js"></script>
<script type="text/javascript" src="/static/js/graphEditor/js/Graph.js"></script>
<script type="text/javascript" src="/static/js/graphEditor/js/Shapes.js"></script>
<script type="text/javascript" src="/static/js/graphEditor/js/Actions.js"></script>
<script type="text/javascript" src="/static/js/graphEditor/js/Menus.js"></script>
<script type="text/javascript" src="/static/js/graphEditor/js/Format.js"></script>
<script type="text/javascript" src="/static/js/graphEditor/js/Toolbar.js"></script>
<script type="text/javascript" src="/static/js/graphEditor/js/Dialogs.js"></script>
<script type="text/javascript">
    // Extends EditorUi to update I/O action states based on availability of backend
    (function () {

        var editorUiInit = EditorUi.prototype.init;

        EditorUi.prototype.init = function () {
            editorUiInit.apply(this, arguments);

            // Updates action states which require a backend
            if (!Editor.useLocalStorage) {
                mxUtils.post(OPEN_URL, '', mxUtils.bind(this, function (req) {
                    var enabled = req.getStatus() != 404;
                    this.actions.get('open').setEnabled(enabled || Graph.fileSupport);
                    this.actions.get('import').setEnabled(enabled || Graph.fileSupport);
                    this.actions.get('save').setEnabled(enabled);
                    this.actions.get('saveAs').setEnabled(enabled);
                    this.actions.get('export').setEnabled(enabled);
                }));
            }
        };

        // Adds required resources (disables loading of fallback properties, this can only
        // be used if we know that all keys are defined in the language specific file)
        mxResources.loadDefaultBundle = false;
        var bundle = mxResources.getDefaultBundle(RESOURCE_BASE, mxLanguage) ||
            mxResources.getSpecialBundle(RESOURCE_BASE, mxLanguage);

        // Fixes possible asynchronous requests
        mxUtils.getAll([bundle, STYLE_PATH + '/default.xml'], function (xhr) {
            // Adds bundle text to resources
            mxResources.parse(xhr[0].getText());

            // Configures the default graph theme
            var themes = new Object();
            themes[Graph.prototype.defaultThemeName] = xhr[1].getDocumentElement();

            // Main
            if ($("#container").length != 0) {
                mainUI = new EditorUi(new Editor(urlParams['chrome'] == '0', themes), document.getElementById("container"));

                var xml_doc = mxUtils.parseXml($("#container").attr("content"));
                xml_doc.documentElement.setAttribute("page", 0);
                mainUI.editor.setGraphXml(xml_doc.documentElement);
                window.onbeforeunload = null;
                //
                // document.getElementsByTagName('svg').scrollTop=100;//通过scrollTop设置滚动到100位置
                // document.getElementsByTagName('svg').scrollLeft=200;//通过scrollTop设置滚动到200位置
            }
        }, function () {
            document.body.innerHTML = '<center style="margin-top:10%;">Error loading resource files. Please check browser console.</center>';
        });
    })();
</script>

<script th:inline="javascript">
    var author=[[${user}]];
</script>

<script type="text/javascript" src="/static/iCheck/jquery.icheck.min.js"></script>
<script type="text/javascript" src="/static/js/common/jquery.tag-editor.js"></script>
<script type="text/javascript" src="/static/js/common/jquery-steps.js"></script>
<script src="/static/js/tinymce_5.3.2/tinymce/js/tinymce/tinymce.min.js"></script>
<script src="/static/js/common/md5.js"></script>
<script src="/static/js/common/vue.min.js"></script>
<script src="/static/js/common/axios.min.js"></script>
<script src="/static/element-ui/index.js"></script>
<script src="/static/js/common/qrcode.min.js"></script>

<!--翻译组件，本页面组件js引入位置不能靠后-->
<template th:replace="modules/translationBar :: translationBar"></template>
<script src="/static/js/modules/translationBar.js"></script>

<script src="/static/js/modules/userAvatar.js"></script>
<script src="/static/js/page/logical_model.js"></script>
<script src="/static/js/modules/comments.js"></script>
<script src="/static/js/common/copy.js"></script>
<script src="/static/js/common/bootstrap.min.js"></script>
<script src="/static/element-ui/umd/locale/en.js"></script> <script src="/static/element-ui/umd/locale/zh-CN.js"></script>
<script src="/static/js/common/navbar.js"></script>
<script src="/static/js/modules/editLogicalModelModule.js"></script>

</html>