<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Log In | OpenGMS</title>


    <link rel="stylesheet" href="/static/lib/element-ui/theme-chalk/index.css">
    <link rel="stylesheet" href="/static/css/base/bootstrap.min.css">
    <link rel="stylesheet" href="/static//css/base/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/base/style.css">
    <link rel="stylesheet" href="/static/css/base/universal.css">
    <link rel="stylesheet" href="/static/css/base/wzhStyle.css">
    <link rel="stylesheet" href="/static/css/base/wzhFlexContainer.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/navbar.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/footerResponse.css" />
    <style>
        .el-form-item__content .el-button--primary{
            /*margin:0 10px 10px 0;*/
        }
        .el-button+.el-button{
            margin:0px;
        }
        .loginCard{
            max-width: 500px;
            min-width: 350px;
            margin: auto;
        }
        .notAllowed{
            cursor: not-allowed;
            color: #C0C4CC;
            pointer-events:none
        }
    </style>

</head>
<body>
    <!--<h1 th:text="${name}">Hello World</h1>-->
    <div id="app" v-cloak>
        <div th:replace="fragments/navbar :: unlog"></div>
        <div class="alert alert-warning fade in text-center" th:if="${notice}">
            <button type="button" class="close close-sm" data-dismiss="alert">
                <i class="fa fa-times"></i>
            </button>
            <strong style="font-size: 16px;font-weight: normal" th:text="${notice}">Warning!</strong>
        </div>
        <div class="el-row" style="margin-top:30px;margin-bottom: 30px;">
            <el-col class="" style="width: 100%">
                <div class="loginCard el-card is-always-shadow">
                    <div slot="header" class="clearfix el-card__header" style="text-align: center;">
                        <span style="font-weight: bold;font-size: 20px">Log In</span>
                    </div>
                    <div  style="margin-top: 30px">
                        <el-col :span="20" :offset="1">
                            <el-form label-position="right" :model="ruleForm" status-icon :rules="rules" ref="ruleForm" label-width="110px" class="demo-ruleForm" size="medium">
                                <el-form-item label="Email">
                                    <el-input type="text" v-model="ruleForm.account" autocomplete="off" placeholder="email address" :disabled="loadActiveIndex"></el-input>
                                </el-form-item>
                                <el-form-item label="Password">
                                    <el-input type="password" v-model="ruleForm.password" autocomplete="off" placeholder="password" :disabled="loadActiveIndex"></el-input>
                                </el-form-item>
                                <el-form-item :class="{notAllowed:loadActiveIndex}">
                                    <!--<el-checkbox label="Remember email and password" name="type" v-model="ruleForm.remember" :disabled="loadActiveIndex"></el-checkbox>-->
                                    <!--<br/>-->
                                    Forget your password ? <a href="javascript:void(0)" id="resetPW" @click="resetPWDclick" :class="{notAllowed:loadActiveIndex}">Reset</a>
                                </el-form-item>

                                <el-form-item>
                                    <el-button type="primary" @click="submitForm('ruleForm')" :loading="loadActiveIndex" style="width: 90px">Log In</el-button>
                                    <el-button @click="window.location.href='/user/register'" :disabled="loadActiveIndex" style="width: 90px">Sign Up</el-button>
                                </el-form-item>
                            </el-form>
                        </el-col>
                    </div>
                </div>
            </el-col>
        </div>
        <div th:replace="fragments/footer :: footer"></div>

        <el-dialog title="Reset Password" :visible.sync="resetPassFormVisible" :close-on-click-modal="false" width="40%"  :before-close="resetCancel">
            <el-steps :space="500" :active="guideActive" finish-status="success" align-center>
                <el-step description="Send verification code"></el-step>
                <el-step description="Submit new password"></el-step>
            </el-steps>
            <el-form v-show="guideActive==0">
                <el-form-item label="Email">
                    <div class="flexAlignCenter">
                        <el-input v-model="resetPassForm.email" autocomplete="off" >
                        </el-input>
                        <el-button class="noMargin" v-if="!sendingCode" type="primary" plain @click="sendCode">Send Code</el-button>
                        <el-button class="noMargin"  v-if="sendingCode" icon="el-icon-loading"></el-button>
                    </div>

                </el-form-item>
            </el-form>
            <el-form v-show="guideActive==1">
                <div class="wzhTagContainer flexCol flexAlignCenter">
                    <p style="text-align: center">We have send a email with a verification code to you</p>
                    <p style="text-align: center">Please enter the code into the input behind, then enter your new password to reset it.</p>
                </div>
                <el-form-item label="Verification Code" >
                    <el-input v-model="resetPassForm.verifyCode" autocomplete="new-password"></el-input>
                </el-form-item>
                <el-form-item label="New Password">
                    <el-input v-model="resetPassForm.newPass" autocomplete="new-password" show-password></el-input>
                </el-form-item>
            </el-form>

            <div slot="footer" class="dialog-footer">
                <el-button @click="resetCancel">Cancel</el-button>
                <el-button type="primary" @click="guideActive--" v-show="guideActive==1" plain style="float:left">Previous</el-button>
                <el-button type="primary" @click="resetPassword" v-show="guideActive==1">Submit</el-button>
            </div>
        </el-dialog>
    </div>
</body>
<script th:inline="javascript">
    var preUrl=[[${preUrl}]];
</script>
    <script src="/static/js/common/md5.js"></script>
    <script src="/static/js/common/sha256.js"></script>
    <script src="/static/js/common/jquery-3.3.1.min.js"></script>
    <script src="/static/js/common/vue.min.js"></script>
    <script src="/static/js/common/axios.min.js"></script>
    <script src="/static/element-ui/index.js"></script>
    <script src="/static/js/page/login.js"></script>
    <script src="/static/element-ui/umd/locale/en.js"></script> <script src="/static/js/common/navbar.js"></script>
</html>