<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>User Manual | OpenGMS</title>


    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/index/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/lib/element-ui/theme-chalk/index.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/index/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/base/bootstrap.min.css">
    <link rel="stylesheet" href="/static//css/base/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/base/style.css">
    <link rel="stylesheet" href="/static/css/base/universal.css">
    <link rel="stylesheet" href="/static/css/page/manual.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/navbar.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/footerResponse.css" />
</head>
<body>
    <!--<h1 th:text="${name}">Hello World</h1>-->
    <div id="app">
        <div th:replace="fragments/navbar :: unlog"></div>

        <div class="leftMenu" style="margin-top: 62px;margin-bottom: 0px">
            <h1 style="width: 260px;">User Manual</h1>
            <div class="toc">
                <ul class="level1">
                    <li>
                        <a href="#registerAndlogin" title="portalUsage">
                            <i class="fa fa-caret-down" style="font-size: 16px;color: #999999"></i>
                            <span>Portal Usage Manual</span>
                            <ul class="level2">
                                <li class="leaf">
                                    <a href="#registerAndlogin" title="Load">
                                        <i class="fa fa-caret-down" style="font-size: 16px;color: #999999"></i>
                                        <span>Register and Login</span>
                                        <ul class="level3">
                                            <li>
                                                <a href="#register_title" title="Register">
                                                    <i class="fa fa-dot-circle-o" style="font-size: 8px;color: #999999"></i>
                                                    <span>Register</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#login_title" title="Login">
                                                    <i class="fa fa-dot-circle-o" style="font-size: 8px;color: #999999"></i>
                                                    <span>Login</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </a> </li>

                                <li class="leaf">
                                    <a href="#shareEnvironment" title="Sharing">
                                        <i class="fa fa-caret-down" style="font-size: 16px;color: #999999"></i>
                                        <span>Sharing Environment</span>
                                    </a>
                                    <ul class="level3">
                                        <li class="leaf">
                                            <a href="#modelRepository" title="Model Repository">
                                                <i class="fa fa-caret-down" style="font-size: 16px;color: #999999"></i>
                                                <span>Repository</span>
                                                <ul class="level4">
                                                    <li class="leaf">
                                                        <a href="#modelItemRepository" title="Model Items">
                                                            <i class="fa  fa-dot-circle-o" style="font-size: 8px;color: #999999"></i>
                                                            <span>Model Items</span>
                                                            <ul class="level5">
                                                                <li class="leaf">
                                                                    <a href="#modelClassification" title="Model Classification">
                                                                        <i class="fa  fa-dot-circle-o" style="font-size: 8px;color: #999999"></i>
                                                                        <span>Model Classification</span>
                                                                    </a>
                                                                </li>
                                                                <li class="leaf">
                                                                    <a href="#modelItemCreating" title="Model Item Creating">
                                                                        <i class="fa  fa-dot-circle-o" style="font-size: 8px;color: #999999"></i>
                                                                        <span>Model Item Creating</span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#conceptModelRepository" title="Concept Model">
                                                            <i class="fa fa-dot-circle-o" style="font-size: 8px;color: #999999"></i>
                                                            <span>Concept Model</span>
                                                        </a>
                                                    </li>
                                                    <li class="leaf">
                                                        <a href="#model_service_demo" title="model_service_demo">
                                                            <i class="fa  fa-dot-circle-o" style="font-size: 8px;color: #999999"></i>
                                                            <span>Computable Model</span>
                                                        </a>
                                                        <ul class="level5">
                                                            <li>
                                                                <a href="#choose_computable_model" title="choose_computable_model">
                                                                    <i class="fa  fa-dot-circle-o" style="font-size: 8px;color: #999999"></i>
                                                                    <span>Choose computable model</span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#select_computable_server" title="select_computable_server">
                                                                    <i class="fa  fa-dot-circle-o" style="font-size: 8px;color: #999999"></i>
                                                                    <span>Select computable server</span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#config_anad_execute_model" title="config_anad_execute_model">
                                                                    <i class="fa  fa-dot-circle-o" style="font-size: 8px;color: #999999"></i>
                                                                    <span>Config and execute model</span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#get_model_output" title="get_model_output">
                                                                    <i class="fa  fa-dot-circle-o" style="font-size: 8px;color: #999999"></i>
                                                                    <span>Get model output</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <!--<li>
                                    <a href="#calcRepository" title="Computing Model">
                                        <i class="fa fa-dot-circle-o" style="font-size: 8px;color: #999999"></i>
                                        <span>Computing Model</span>
                                    </a>
                                </li>-->
                                                </ul>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul></a>
                    </li>
                </ul>
                <li>
                    <a href="#" title="Service Container">
                        <i class="fa fa-caret-down" style="font-size: 16px;color: #999999"></i>
                        <span>Service Container</span>
                        <ul class="level3">
                            <li class="leaf">
                                <a href="#Definition" title="Definition">
                                    <i class="fa fa-dot-circle-o" style="font-size: 8px;color: #999999"></i>
                                    <span>Definition</span>
                                </a>
                            </li>
                            <li class="leaf">
                                <a href="#ComponentsIntroduction" title="Components Introduction">
                                    <i class="fa fa-caret-down" style="font-size: 16px;color: #999999"></i>
                                    <span>Components Introduction</span>
                                </a>
                                <ul class="level4">
                                    <li>
                                        <a href="#ServiceContainerConsole" title="Service Container Console">
                                            <i class="fa fa-dot-circle-o" style="font-size: 8px;color: #999999"></i>
                                            <span>Service Container Console</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#ServiceContainer" title="Service Container">
                                            <i class="fa fa-dot-circle-o" style="font-size: 8px;color: #999999"></i>
                                            <span>Service Container</span>
                                            <ul class="level5">
                                                <li class="leaf">
                                                    <a href="#Homepage" title="Homepage">
                                                        <i class="fa  fa-dot-circle-o" style="font-size: 8px;color: #999999"></i>
                                                        <span>Homepage</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#ServicesList" title="Services List">
                                                        <i class="fa fa-dot-circle-o" style="font-size: 8px;color: #999999"></i>
                                                        <span>Services List</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#ServiceInstances" title="Service Instances">
                                                        <i class="fa fa-dot-circle-o" style="font-size: 8px;color: #999999"></i>
                                                        <span>Service Instances</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#InvokingRecords" title="Invoking Records">
                                                        <i class="fa fa-dot-circle-o" style="font-size: 8px;color: #999999"></i>
                                                        <span>Invoking Records</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#ServiceDeployment" title="Service Deployment">
                                                        <i class="fa fa-dot-circle-o" style="font-size: 8px;color: #999999"></i>
                                                        <span>Service Deployment</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#NoticePage" title="Notice Page">
                                                        <i class="fa fa-dot-circle-o" style="font-size: 8px;color: #999999"></i>
                                                        <span>Notice Page</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#SettingPage" title="Setting Page">
                                                        <i class="fa fa-dot-circle-o" style="font-size: 8px;color: #999999"></i>
                                                        <span>Setting Page</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </a>
                                    </li>
                                </ul>
                        </ul>
                    </a>
                </li>

                <li>
                    <a href="#desktop" title="model_service_demo">
                        <i class="fa fa-caret-down" style="font-size: 16px;color: #999999"></i>
                        <span>Desktop</span>
                        <ul class="level3">
                            <li class="leaf">
                                <a href="#search_server" title="search_server">
                                    <i class="fa  fa-dot-circle-o" style="font-size: 8px;color: #999999"></i>
                                    <span>Search Server</span>
                                </a>
                            </li>
                            <li class="leaf">
                                <a href="#get_service" title="get_service">
                                    <i class="fa  fa-dot-circle-o" style="font-size: 8px;color: #999999"></i>
                                    <span>Get Services</span>
                                </a>
                            </li>
                            <li class="leaf">
                                <a href="#invoke_services" title="invoke_services">
                                    <i class="fa  fa-dot-circle-o" style="font-size: 8px;color: #999999"></i>
                                    <span>Invoke Services</span>
                                </a>
                            </li>
                            <li class="leaf">
                                <a href="#manage_task" title="manage_task">
                                    <i class="fa  fa-dot-circle-o" style="font-size: 8px;color: #999999"></i>
                                    <span>Manage Task</span>
                                </a>
                            </li>
                            <li class="leaf">
                                <a href="#visualization" title="visualization">
                                    <i class="fa  fa-dot-circle-o" style="font-size: 8px;color: #999999"></i>
                                    <span>Visualization</span>
                                </a>
                            </li>
                        </ul>
                    </a>
                </li>
                </ul>
                </li>
                </ul>
            </div>
        </div>
        <div class="mainContainer" style="margin-top: 62px;margin-bottom: 0px">
            <!--<div class="topBar">-->
                <!--<button class="btn btn-transparent pull-right" style="margin-top: 3px;margin-right: 10px">-->
                    <!--<i class="fa fa-download"></i>下载全部文档</button>-->
            <!--</div>-->
            <div class="documentPanel">
                <h1 id="registerAndlogin">Register and Login</h1>
                <p>Before using the OpenGMS platform, you can create an account of your own to use our platform with higher
                    privileges, the specific operations are as follows:</p>
                <h2 id="register_title">Register</h2>
                <p>First of all, click Login in the navigation bar, then click Sign Up to register and then fill in your own
                    relevant information to have your own account. At last, click on Sign Up.The specific operation interfaces
                    are as follows:
                </p>
                <p>
                    <img src="/static/img/help/helpDocument/register1.png" class="img-responsive">
                </p>
                <p>
                    <img src="/static/img/help/helpDocument/SignUp1.png" class="img-responsive">
                </p>
                <p>
                    <img src="/static/img/help/helpDocument/SignUp2.png" class="img-responsive">
                </p>
                <h2 id="login_title">Login</h2>
                <p>
                    If you have an account, just log in. After logging in to your account, click on your account name and you will be able to
                    enter your personal space. The specific interface is as follows:</p>
                <p>
                    <img src="/static/img/help/helpDocument/login.png" class="img-responsive">
                </p>
                <br>
                <h1 id="shareEnvironment">Sharing</h1>
                <h2 id="modelRepository">Mode Repository</h2>
                <p>
                    The model Repository includes a model item repository, a conceptual model repository and a calculation model repository.
                    Each repository is an exhibition of resources owned by the platform, and each repository is related to
                    each other.
                    <br/>
                </p>
                <h3 id="modelItemRepository">Model Item Repository</h3>
                <!--<p>所有模型条目简要信息展示，用户可点击按钮（查看模型条目），则可跳转单个模型条目详细信息描述页面。操作如图：</p>
        <p>
            <img data-gifffer="./img/help/helpDocument/1.gif" class="img-responsive">
        </p>-->
                <h4 id="modelClassification">Model Classification</h4>
                <p>According to the national standard，We designed a set of geographic analysis model metadata to describe the
                    characteristics of a geographic analysis model, such as classification identification information, scope
                    of application, model performance, parameter types, operating conditions, modeling principles, solution
                    methods, integration mode and so on. The metadata applies to the areas of geographic analysis models’
                    computation, integration, sharing and services.
                    <br/> According to the earth system science classification system, we classify the geologic analysis models,
                    and the geologic analysis model classifies the models according to their contents, modeling methods,
                    and organizational levels. The following is a classification system based on the earth system science
                    classification system. There are three levels of directories and you can search and browse the model
                    according to the type of model you want to know.
                </p>
                <p>
                    <img src="/static/img/help/helpDocument/EarthSystemClassification.png" class="img-responsive">
                </p>
                <br>
                <p>
                    In the navigation bar, you can see the model items page by clicking Model Items under Model. The panel on the left is the
                    model repository, you can choose the model type you are interested in according to the classification.
                    Each type of model item is sorted by click volume by default. At the same time, you can also choose to
                    sort according to the first letter of the model name or model creation time.
                    <br/> If you know the model name, you can search for the model name in the search bar to find it. You can
                    also quickly filter the model based on the model tags you are interested in.The specific interface is
                    as follows:
                </p>
                <p>
                    <img src="/static/img/help/helpDocument/ModelItem.png" class="img-responsive">
                </p>
                <br/>

                <p>
                    Click on the View to see the metadata information for the model, including the basic information of the model, the creation
                    time of the model and the information of the model publisher. And many models also have related conceptual
                    models and calculation models.
                    <br/> At the bottom of the model information page there will be a corresponding link and the provider of this
                    model, you can click More to jump to the corresponding conceptual model and calculation model page.The
                    model metadata information interface is as follows:
                </p>
                <p>
                    <img src="/static/img/help/helpDocument/MetadataInformation.png" class="img-responsive">
                </p>
                <br/>

                <h4 id="modelItemCreating">Model Item Creating</h4>
                <p>The previous content describes how to register and login an account, which you can click Register and Login
                    to view.
                    <br/>
                </p>
                <!--<p>
            <img src="/static/img/help/helpDocument/SignUp1.png" class="img-responsive" >
        </p>
        <p>
            <img src="/static/img/help/helpDocument/SignUp2.png" class="img-responsive" >
        </p>
        <p>After logging in to your account, click on your account name and you will be able to enter your personal space.
        </p>
        <p>
            <img src="/static/img/help/helpDocument/SignUp3.png" class="img-responsive" >
        </p>
        <br/>-->

                <p>Click on your account name and enter your personal space.Click Model Items on the left panel of the personal
                    space page and you can see the button for creating a model item. Click the button and you can fill in
                    the information for the model which you want to create.The interface looks like this:</p>
                <p>
                    <img src="/static/img/help/helpDocument/ModelItemCreating1.jpg" class="img-responsive">
                </p>
                <p>
                    In Step 1 is to give a brief introduction of the model you created. First click on the model's category, then fill in your
                    model's name, label, profile, image and you can choose Show On Index or not.
                    <br/> Then click Step 2. In this step, add the basic information of the model, you can modify the font style
                    as well as insert Media, Image, Link and Table.
                </p>
                <p>
                    <img src="/static/img/help/helpDocument/ModelItemCreating2.png" class="img-responsive">
                </p>
                <p>
                    <img src="/static/img/help/helpDocument/ModelItemCreating3.png" class="img-responsive">
                </p>
                <p>After saving your model, click Model Items on the left panel to see the model item you created. It shows
                    the time of the model you created and the information about the model you added. Click Edit on the right
                    to edit your model item. Click Delete to delete the model item you created.</p>
                <p>
                    <img src="/static/img/help/helpDocument/ModelItemCreating4.png" class="img-responsive">
                </p>
                </br>
                <p>
                    <img data-gifffer="./img/help/helpDocument/5.gif" class="img-responsive">
                </p>
                <h1 id="conceptModelRepository">Concept Model Repository</h1>
                <P>
                    The steps to operate the concept model are shown in the following diagram:
                    <br/>
                </P>
                <p>
                    <img data-gifffer="./img/help/helpDocument/conceptual_model.gif" class="img-responsive">
                </p>
                <h2 id="model_service_demo">Conceptual Model service using demo</h2>
                <p>Computable model can support user to upload their own data, invoke model service and get result. The content
                    below show you how to invoke model service step by step.</p>
                <h3 id="choose_computable_model">Choose computable model</h3>
                <p>To invoke model service, first check the computable model list. On the menu the link is on model -> model
                    instance -> computable model. The list page have all the computable model and its simple description
                    and you can choose one model to see the further information.</p>
                <p>
                    <img src="/static/img/help/helpDocument/compute_list.png" class="img-responsive">
                </p>
                <h3 id="select_computable_server">Select computable server</h3>
                <p>In the detail page, you can get computable model information, environment information, availible server information.To
                    invoke a model service, please ensure you have already logged in first then select one of the availible
                    server.
                </p>
                <p>
                    <img src="/static/img/help/helpDocument/compute_detail.png" class="img-responsive">
                </p>
                <h3 id="config_anad_execute_model">Config and execute model</h3>
                <p>In the execution page, there are two function panel. one is diagram panel, model is divided into different
                    ellipses which we called states, you can click on the state to view the state information panel on the
                    right. The panel describe the model behaviour and the structure of model input and output data.</p>
                <p>
                    <img src="/static/img/help/helpDocument/compute_diagram.png" class="img-responsive">
                </p>
                <p>By click the invoke button on the left, right function panel will change to invoke panel. In this panel input
                    data should be uploaded and output data should be given a filename. To have a quick try of running model,
                    you can select test data by clicking the test button. After all of the data prepared, click the start
                    button to run the model. You can stay on the page to waiting for the result or you can leave this page
                    and check the result in your userspace.</p>
                <p>
                    <img src="/static/img/help/helpDocument/compute_execute.png" class="img-responsive">
                </p>
                <h3 id="get_model_output">Get model output data</h3>
                <p>Click on the upper right corner to jump to userspace page. All of your model invoke records are in the task
                    panel. You can search the model name or check the create time of task to locate your task, and download
                    the output files.
                </p>
                <p>
                    <img src="/static/img/help/helpDocument/compute_userspace.png" class="img-responsive">
                </p>
                <h1 id="Definition">Definition</h1>
                <p>Service container is a lightweight software which publish geo-analysis models to services in the web environment
                    and manage them. It can be downloaded in the portal site of the OpenGMS. In the package, there is a console
                    that can start the container.</p>
                <br>
                <h1 id="ComponentsIntroduction">Components Introduction</h1>
                <p>The service container of geo-analysis models consist of three components, including service container console,
                    service container and database. Service container is the most important component of the system. Database
                    is make up by MongoDB and it is used to store the information of model services, records and data. Service
                    container console is a tool to start database and service container.</p>
                <h1 id="ServiceContainerConsole">Service Container Console</h1>
                <p>As shown in Figure 1, the console has the functions of starting and stopping Database and Service Container,
                    including Database management and Service Container management. Before start Service Container, user
                    must start Database. </p>
                <p>
                    <img src="/static/img/service_container/1.jpg" class="img-responsive">
                    <span class="figuretext">Fig. 1 Service Container Console</span>
                </p>
                <p>As shown in Figure 2, there are four functions in Opera of menu. On the first one button Firewall Setting,
                    administrator could set firewall indoor rule to let service users to access services in service container.
                    The second, Service List, and third, Management Page are to open service list page and management page.
                    The Exit is to close this application.</p>
                <p>
                    <img src="/static/img/service_container/2.jpg" class="img-responsive">
                    <span class="figuretext">Fig. 2 Operations in Service Container</span>
                </p>
                <h1 id="ServiceContainer">Service Container</h1>
                <h2 id="Homepage">Homepage</h2>
                <p>As shown in Figure 3, Service Container consists of four components, including Local Services, Notice, Data
                    Cache and Settings.</p>
                <p>
                    <img src="/static/img/service_container/3.jpg" class="img-responsive">
                    <span class="figuretext">Fig. 3 Homepage of Service Container</span>
                </p>
                <br>
                <h2 id="ServicesList">Services List</h2>
                <p>As shown in Figure 4, model users can get local model services in the list of model services on local machine.
                    In the list, you can get all of the local model services and change the status of the model service,
                    such as online or not. The users can invoke, delete and register the model services in this page (the
                    deleting model service must be offline). After model service registered, it will become an available
                    computing model on the portal, as shown in Figure 5. Click Details to see the details of the model, as
                    shown in Figure 6. Click Invoking to access data preparation page and ready to invoke model service,
                    as shown in Figure 7.</p>
                <p>
                    <img src="/static/img/service_container/4.jpg" class="img-responsive">
                    <span class="figuretext">Fig. 4 Model Service List</span>
                </p>
                <p>
                    <img src="/static/img/service_container/5.jpg" class="img-responsive">
                    <span class="figuretext">Fig. 5 Registered Model Service in Portal</span>
                </p>
                <p>
                    <img src="/static/img/service_container/6.jpg" class="img-responsive">
                    <span class="figuretext">Fig. 6 Details of Model Service</span>
                </p>
                <p>
                    <img src="/static/img/service_container/7.jpg" class="img-responsive">
                    <span class="figuretext">Fig. 7 Invoking of Model Service</span>
                </p>
                <h2 id="ServiceInstances">Service Instances</h2>
                <p> As shown in Figure 8, user get the list of model services which is running. The user can pause, kill the
                    running instances or get the detail of running records.
                </p>
                <p>
                    <img src="/static/img/service_container/8.jpg" class="img-responsive">
                    <span class="figuretext">Fig. 8 Model Instance List</span>
                </p>
                <br>
                <h2 id="InvokingRecords">Invoking Records</h2>
                <p> As shown in Figure 9, user get statistic information about invoking. Figure 10 shows the list of invoking
                    records. By clicking detail, user could get more detail about the record, as shown in Figure 11.
                </p>
                <p>
                    <img src="/static/img/service_container/9.jpg" class="img-responsive">
                    <span class="figuretext">Fig. 9 Model Records Statistic</span>
                </p>
                </p>
                <p>
                    <img src="/static/img/service_container/10.jpg" class="img-responsive">
                    <span class="figuretext">Fig. 10 Model Records List</span>
                </p>
                </p>
                <p>
                    <img src="/static/img/service_container/11.jpg" class="img-responsive">
                    <span class="figuretext">Fig. 11 Model Record Detail</span>
                </p>
                <h2 id="ServiceDeployment">Service Deployment</h2>
                <p>
                    As shown in Figure 12, user can deploy model services by uploading model service packages.
                </p>
                <p>
                    <img src="/static/img/service_container/12.jpg" class="img-responsive">
                    <span class="figuretext">Fig. 12 Model Deployment</span>
                </p>
                </p>
                <h2 id="NoticePage">Notice Page</h2>
                <p>
                    As shown in Figure 13, the notice page is the list of all notice about service starting, stopping and deleted.
                </p>
                <p>
                    <img src="/static/img/service_container/13.jpg" class="img-responsive">
                    <span class="figuretext">Fig. 13 Notice Page</span>
                </p>
                <h4 id="SettingPage">Setting Page</h4>
                <p>
                    As shown in Figure 14 and 15, in the setting page, users can get status and information of the local machine, such as CPU
                    usage, database settings and local port settings. In addition, users can register model service container
                    t on the portal, and make it as a member of the computing resource on the portal.
                </p>
                <p>
                    <img src="/static/img/service_container/14.jpg" class="img-responsive">
                    <span class="figuretext">Fig. 14 Status in Setting Page</span>
                </p>
                <p>
                    <img src="/static/img/service_container/15.jpg" class="img-responsive">
                    <span class="figuretext">Fig. 15 Information in Setting Page</span>
                </p>

                <h2 id="desktop">Desktop</h2>
                <p>Using OGMS desktop software, you can invoke model services from the container which is in your local area
                    network or in internet. In order to deal with the big data of model, you can deploy model container on
                    the computer in your local area network and data don't need to transmit by internet. also you can manage
                    running model and visual the model result by destop.</p>
                <h3 id="search_server">Search Server</h3>
                <p>Click server button on the left menu to go to the server panel. This panel shows the all of the container
                    which have connected to desktop, you can add your own container or delete other container.</p>
                <p>
                    <img src="/static/img/help/helpDocument/desktop_server list.png" class="img-responsive">
                </p>
                <h3 id="get_service">Get Services</h3>
                <p>Click ModelRes or DataRes button on the left menu to go to the model or data service panel. This panel show
                    all of the service from the container desktop connected. you can check the service detail information
                    or add to your favor list by the button on the service item.</p>
                <p>
                    <img src="/static/img/help/helpDocument/desktop_model service list.png" class="img-responsive">
                </p>
                <h3 id="invoke_services">Invoke Services</h3>
                <p>Click favor button on the left menu to go to the favor panel. Select the service you want to invoke and go
                    to config the service.</p>
                <p>
                    <img src="/static/img/help/helpDocument/desktop_favor list.png" class="img-responsive">
                </p>
                <p>In the config service, you check the diagram of model state information and prepare your data just as in
                    the portal. You can save your configur</p>
                <p>
                    <img src="/static/img/help/helpDocument/desktop_model config.png" class="img-responsive">
                </p>
                <p>
                    <img src="/static/img/help/helpDocument/desktop_refactor config.png" class="img-responsive">
                </p>
                <h3 id="manage_task">Manage Task</h3>
                <p>Click task button on the left menu to go to the task panel. There are three state of task. To run task is
                    the task which is ready to run. Running task is the rate of task progress. Finish task are tasks which
                    have finished and are able to download its result data or view result.</p>
                <p>
                    <img src="/static/img/help/helpDocument/desktop_task list.png" class="img-responsive">
                </p>
                <p>
                    <img src="/static/img/help/helpDocument/desktop_task running.png" class="img-responsive">
                </p>
                <h3 id="visualization">Visualization</h3>
                <p>Select the right visualization method for your task result.</p>
                <p>
                    <img src="/static/img/help/helpDocument/desktop_visual list.png" class="img-responsive">
                </p>
                <p>View your task result. The picture below shows the task result of wind fields.</p>
                <p>
                    <img src="/static/img/help/helpDocument/desktop_visual.png" class="img-responsive">
                </p>
            </div>
        </div>

    </div>
</body>
    <script src="/static/js/common/jquery-3.3.1.min.js"></script>
    <script src="/static/js/common/vue.min.js"></script>
    <script src="/static/js/index/bootstrap.min.js"></script>
    <script src="/static/js/common/axios.min.js"></script>
    <script src="/static/element-ui/index.js"></script>
    <script src="/static/js/page/manual.js"></script>

    <script src="/static/element-ui/umd/locale/en.js">
    </script> <script src="/static/js/common/navbar.js"></script>
</html>