<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>Statistics | OpenGMS</title>

</head>
<body>
<div id="app" style="font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, Arial, sans-serif;">


        <div id="opengmsStats" style="height:60px;background-color:#080a0e;border-radius: 5px;display: flex;align-items: center;justify-content: center;min-width:600px">
            <a href="https://geomodeling.njnu.edu.cn">
                <img src="https://geomodeling.njnu.edu.cn/static/img/logo.png" style="height: 50px;"/>
            </a>
            <span style="color: white;font-size: 26px;margin:20px 0 0 10px;font-weight: bold;">Statistic Report</span>
        </div>

    <div class="content" style="width:600px;margin: auto;font-size: 14px;">
        <!--<div style="background-color: #ecf5ff;-->
    <!--padding: 15px;-->
    <!--margin: 30px 0 10px 0;-->
    <!--line-height: 25px;-->
    <!--font-size: 16px;-->
    <!--color: #409eff;-->
    <!--border: 1px solid #d9ecff;-->
    <!--border-radius: 4px;-->
    <!--box-sizing: border-box;-->
   <!--">-->
            <!--<b>Open Geographic Modeling and Simulation Platform (OpenGMS)</b> supports sharing geographic resources and provides a community for collaboration works among researchers in various disciplines.-->
            <!--There are more than 3500 geographic models in our platform.-->
            <!--We are the founder of Open Modeling Alliance, and have been added to the Trusted Digital Repositories for Software of CoMSES Net.-->

        <!--</div>-->
        <p style="margin-top:50px">
            <span th:text="'Dear Dr. '+${name}+':'">Dear XXX:</span><br/>
            <div th:text="'Here is a quarterly statistic report of your '+${type}+' in OpenGMS up to '+${time}+' :'"></div>

        </p>
        <div style="background-color: #f4f4f5;
                padding: 15px;
                margin: 35px 0 10px 0;
                line-height: 25px;
                font-size: 16px;
                color: #909399;
                border: 1px solid #e9e9eb;
                border-radius: 4px;
                box-sizing: border-box;
               ">
           <h3 style="margin-top:10px;margin:auto">Subscribed Model Catalog</h3>
            <ul>
                <li th:each="model,index:${modelList}"><a th:href="'#'+${model.oid}" th:text="${model.name}">computable model</a><a th:if="${model.pdfPath!=null}" th:href="'https://geomodeling.njnu.edu.cn'+${model.pdfPath}"><img alt="Export" style="width:38px;height:35px;" src="https://geomodeling.njnu.edu.cn/static/img/pdf.png"/></a></li>
            </ul>
        </div>
        <div th:each="model,index:${modelList}" th:id="${model.oid}">
            <div style="padding:20px 0;flex-wrap:nowrap;border-bottom: 1px solid rgb(170, 170, 170);">
                <div style="display: inline-block; display: flex;flex-wrap:wrap;align-items: center;justify-content: center;width:100%;margin-bottom:30px;">
                    <a style="width:100%;text-align: center;" th:href="'https://geomodeling.njnu.edu.cn/computableModel/'+${model.oid}">
                        <li><h3 style="margin:10px 0;" th:text="${model.name}">SWAT_Model</h3></li>
                    </a>
                </div>

                <div style="display: flex;border-top: 1px solid rgb(170, 170, 170);padding-top:20px;">

                    <div style="display: inline-block; border-right: 1px solid rgb(170, 170, 170);display: flex;flex-wrap:wrap;align-items: center;justify-content: center;width:49.8%">
                        <h3 style="width:100%;text-align: center;font-weight: 500;margin:10px 0;">View Times</h3>
                        <h3 style="margin:10px 0;" th:text="${model.quarterView}+' / '+${model.viewCount}">4251</h3>
                        <h4 style="width:100%;text-align: center;font-weight: 500;margin:10px 0;">( Latest Quarter / Total )</h4>
                    </div>
                    <div style="display: inline-block;display: flex;flex-wrap:wrap;align-items: center;justify-content: center;width:50%">
                        <h3 style="width:100%;text-align: center;font-weight: 500;margin:10px 0;">Invoke Times</h3>
                        <h3 style="margin:10px 0;" th:text="${model.quarterInvoke}+' / '+${model.invokeCount}">254</h3>
                        <h4 style="width:100%;text-align: center;font-weight: 500;margin:10px 0;">( Latest Quarter / Total )</h4>
                    </div>
                    <!--<div style="display: inline-block; display: flex;flex-wrap:wrap;align-items: center;justify-content: center;width:33.3%">-->
                        <!--<h3 style="width:100%;text-align: center;font-weight: 500;margin:10px 0;">Download Times</h3>-->
                        <!--<h3 style="margin:10px 0;" th:text="${model.download}">254</h3>-->
                        <!--<h4 style="width:100%;text-align: center;font-weight: 500;margin:10px 0;">( Total )</h4>-->
                    <!--</div>-->
                </div>

                <!--<h3 th:if="${model.download!=null&&model.download>0}" style="text-align: center;font-weight: normal;padding: 20px 0 0;margin-bottom: 0;border-top: 1px solid rgb(170, 170, 170);">Total Download Times: <b th:text="${model.download}"></b></h3>-->
            </div>
            <div style="padding-top:20px; text-align: center;">
                <img style='height:360px;margin:20px auto 25px' th:if="${model.lineChart!=null}" th:src="'cid:'+${model.lineChart}" />
                <img style='height:360px;margin:20px auto 15px' th:if="${model.barChart!=null}" th:src="'cid:'+${model.barChart}" />
                <img th:style="@{(${model.pieChart2!=null} ? 'float:left;width:300px;margin:5px auto 0px;' : 'width:300px;margin:5px auto 0px;')}" th:if="${model.pieChart!=null}" th:src="'cid:'+${model.pieChart}"  />
                <img style='width:300px;margin:5px auto 0px' th:if="${model.pieChart2!=null}" th:src="'cid:'+${model.pieChart2}" />
                <!--<img sty le='height:360px;margin:0 auto 25px' th:if="${model.mapChart!=null}" th:src="'cid:'+${model.mapChart}" />-->
            </div>
            <div style="display:flex;justify-content: space-between;margin-top:30px">
                <a href="#opengmsStats">← Back To Top</a>
                <a th:href="'https://geomodeling.njnu.edu.cn/statistics/computableModel/'+${model.oid}">More Information→</a>
            </div>
            <br/>
            <br/>
        </div>
        <div>
            Please visit your <a th:href="'https://geomodeling.njnu.edu.cn/user/fchangeSubscribedModelList?id='+${id}">User Space</a> to view more models' statistics information or custom subscribed model list.
            <br/><br/>
            Sincerely,<br/>
            OpenGMS Team<br/>
            <a href='https://geomodeling.njnu.edu.cn'>https://geomodeling.njnu.edu.cn</a>
            <br/>
        </div>
    </div>
    <div style="background-color:#2e3033;color:white;border-radius: 5px;min-width:600px;text-align: center">
        <h3 style="margin:0 auto;padding: 2em 2.2em 0.3em 2.2em;font-style: italic;font-weight: 400;text-align: left;width:600px">OpenGMS is a platform that<br/>
            <span style="margin-right:10px;">•</span>supports open web-distributed integrated modelling and simulation;<br/>
            <span style="margin-right:10px;">•</span>supports sharing of 3500+ model resources and 20000+ data resources;<br/>
            <span style="margin-right:10px;">•</span>is recommended by well-known organizations and communities (e.g., CoMSES Net, CSDMS, OMF, OpenMI).</h3>
        <hr style="width:600px;margin:15px auto"/>
        <h4 style="margin-bottom:10px;font-weight: 400;">Copyright © 2011-2021 OpenGMS. All Rights Reserved.</h4>
        <h4 style="margin:0;padding-bottom:3em;font-weight: 400">You can <a style="color:#0097e2;" th:href="'https://geomodeling.njnu.edu.cn/user/changeSubscribedModelList?id='+${id}">custom subscribed model list</a>, or <a style="color:#0097e2;" th:href="'https://geomodeling.njnu.edu.cn/user/unsubscribe?id='+${id}" target="_blank">unsubscribe</a> this report. </h4>
    </div>


</div>

</body>

</html>