<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Model Application | OpenGMS</title>
    <meta name="keywords" content="opengms, geographic model, geo-analysis model"/>
    <meta name="description" content="OpenGMS supports sharing your resources in geographic modeling and simulation. Also, this platform provides a community for collaboration works among researchers in various disciplines. Through the sharing and collaboration works, this platform contributes to building resource libraries, leaving them for the next generation, and ultimately advance in knowledge."/>
    <script src="/static/js/common/vue.min.js"></script>
    <script src="/static/js/common/vue-avatar.min.js"></script>
    <script src="/static/element-ui/index.js"></script>

    <link rel="stylesheet" href="/static/lib/element-ui/theme-chalk/index.css">

    <link rel="stylesheet" href="/static/css/base/bootstrap.min.css">
    <link rel="stylesheet" href="/static//css/base/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/base/style.css">
    <link rel="stylesheet" href="/static/css/base/universal.css">
    <link rel="stylesheet" href="/static/css/base/list.css">
    <link rel="stylesheet" href="/static/css/base/tree.css">
    <!--<link rel="stylesheet" href="/static//css/base/fluent/fluent.css">-->
    <link rel="stylesheet" href="/static//css/base/fabric/fabric.min.css">
    <link rel="stylesheet" href="/static/css/other/bootstrap-select.css">
    <link rel="stylesheet" href="/static/css/page/model_items.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/navbar.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/footerResponse.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/wzhFlexContainer.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/wzhStyle.css" />
    <style>

        .el-radio-button--small .el-radio-button__inner{
            font-size: 14px;
        }

        .detail_option{
            margin-top: -7px;
        }

        .minScreen_hide {
            display: inline-block;
        }

        @media only screen and (max-width: 700px){

            .detail_option{
                margin-top: 0;
            }

            .minScreen_hide {
                display: none;
            }

        }

        @media only screen and (max-width: 1297px){

            .wzhSection{
                width: 40% !important;
            }

            .middleSection{
                margin-right: 0 !important;
            }
        }

        @media only screen and (max-width: 853px){

            .wzhSection{
                width: 100% !important;
                margin-right: 0 !important;
            }

        }


    </style>
</head>
<body>
<div id="app" v-cloak>
    <div th:replace="fragments/navbar :: unlog"></div>

    <div class="clearfix" style="margin-bottom: 40px;">
        <div class="mainContent">

            <!--<div class="el-row" style="border-bottom: 0px solid #d8d8d8">-->
                <!--<div>-->
                    <!--<h2 class="main-title">Model Application</h2>-->
                    <!--<h4 class="sub-title">The practical application of models.</h4>-->
                <!--</div>-->
                <!--<a class="cursorPointer hoverLineBtn" style="font-size: 17px;margin-top:10px;" href="/modelItem/repository">Model repository-->
                    <!--<i style="font-size: 13px;margin-left: 5px" class="ms-Icon ms-Icon&#45;&#45;ChevronRight"></i>-->
                <!--</a>-->
            <!--</div>-->
            <div class="el-row">
                <h2 class="main-title">{{htmlJSON.PageName}}</h2>
                <!--<el-button type="primary">All</el-button>-->
                <!--<el-button @click="window.location.href='/modelItem/repository1'">1</el-button>-->
                <!--<el-button @click="window.location.href='/modelItem/repository2'">2</el-button>-->
                <h4 class="sub-title">{{htmlJSON.PageIntro}}</h4>
                <translation-bar
                        json-file="modelApplication"
                        @translate-page="translatePage"
                        initial-lang="en-us"
                        theme="dark"
                        style="position: absolute;top: 10px;right:15px"></translation-bar>
                <hr>
            </div>
            <div class="flexJustCenter flexWrap">
                <section class="wzhSection darkSide"
                         style="display:inline-block;flex: 1;margin-right:20px;min-width:360px;">
                    <div class="wzhSectionContainer" style="background-color: #9387e0">
                        <!--<div class="imgContainerW50 right0" style="background-image:url(/static/img/work.png);background-size:contain"></div>-->
                        <div class="w100 flexCol flexJustBetween flexAlignCenter">
                            <!--<div class="imgContainerW100" style="background-image:url(/static/img/model/modelExcution.png);height: 225px"></div>-->
                            <div>
                                <div class="noMargin sectionTitle">
                                    <p>
                                        {{htmlJSON.ModelExecution}}
                                    </p>
                                </div>

                                <div class="sectionDescribe" style="margin-top: 10px">
                                    <p>{{htmlJSON.ModelExecution1}}</p>
                                    <p>{{htmlJSON.ModelExecution2}}</p>
                                </div>

                            </div>
                            <img src="/static/img/work.png" style="height: 30%;align-self: center;"/>
                            <button class="wzhBtn nutBtn plainBtn hoverPurple" @click="loadExecutionGuide()"
                                    style="align-self:flex-end">
                                <p style="font-size: 2.0rem;font-weight: 600;font-family: Aktiv Grotesk">{{htmlJSON.TryIt}}</p>
                            </button>
                        </div>
                    </div>
                </section>
                <section class="wzhSection middleSection" style="display:inline-block;flex: 1;margin-right:20px;min-width:360px;">
                    <div class="wzhSectionContainer" style="background-color: #80bfff">
                        <!--<div class="imgContainerW50 right0" style="background-image:url(/static/img/model/modelExcution.png);background-position-y: -18px"></div>-->
                        <div class="w100 flexCol flexJustBetween flexAlignCenter">
                            <div>
                                <div class="noMargin sectionTitle">
                                    <p>
                                        {{htmlJSON.ModelIntegration}}
                                    </p>
                                </div>

                            <div class="sectionDescribe"  style="margin-top: 10px">
                                <p>{{htmlJSON.ModelIntegration1}}</p>
                                <p>{{htmlJSON.ModelIntegration2}}</p>
                            </div>

                            </div>
                            <img src="/static/img/work.png" style="height: 30%;align-self: center;"/>
                            <button class="wzhBtn nutBtn plainBtn hoverJblue"
                                    @click="loadIntegratedGuideDialog"
                                    style="align-self:flex-end">
                                <p style="font-size: 2.0rem;font-weight: 600;font-family: Aktiv Grotesk">{{htmlJSON.TryIt}}</p>
                            </button>
                        </div>
                    </div>
                </section>
                <section class="wzhSection darkSide" style="display:inline-block;flex: 1;min-width:360px;">
                    <div class="wzhSectionContainer" style="background-color: #ecb6b6">
                        <!--<div class="imgContainerW50 right0" style="background-image:url(/static/img/model/modelExcution.png);background-position-y: -18px"></div>-->
                        <div class="w100 flexCol flexJustBetween flexAlignCenter">
                            <div>
                                <div class="noMargin sectionTitle">
                                    <p>
                                        {{htmlJSON.ParameterOptimization}}
                                    </p>
                                </div>

                                <div class="sectionDescribe" style="margin-top: 10px">
                                    <p>{{htmlJSON.ParameterOptimization1}}</p>
                                    <p>{{htmlJSON.ParameterOptimization2}}</p>
                                </div>

                            </div>
                            <img src="/static/img/work.png" style="height: 30%;align-self: center;"/>
                            <button class="wzhBtn nutBtn plainBtn hoverOrange" @click="loadParamOptimaGuideDialog()" style="align-self: center">
                                <p style="font-size: 2.0rem;font-weight: 600;font-family: Aktiv Grotesk">{{htmlJSON.UnderConstruct}} </p>
                            </button>
                        </div>
                    </div>
                </section>

            </div>
            <el-dialog :title=htmlJSON.ModelExecution center :visible.sync="modelExecutionDialog" width="58%">
                <el-steps :active="guideActive" finish-status="success" align-center>
                    <el-step title="Step 1" :description=htmlJSON.ModelExecDialog1 ></el-step>
                    <el-step title="Step 2" :description=htmlJSON.ModelExecDialog2></el-step>
                    <el-step title="Step 3" :description=htmlJSON.ModelExecDialog3></el-step>
                </el-steps>
                <div class="flexCenter" v-show="guideActive==0" >
                    <img src="/static/img/guide/modelExecuteGuide1.png" style="height: 381px">
                </div>
                <div class="flexCenter"  v-show="guideActive==1" >
                    <img src="/static/img/guide/modelExecuteGuide2.png" style="height: 381px">
                </div>
                <div class="flexCenter"  v-show="guideActive==2" >
                    <img src="/static/img/guide/modelExecuteGuide3.png" style="height: 381px">
                </div>

                <div style="margin-top: 10px">
                    <el-button @click="modelExecutionDialog = false" style="float:left">{{htmlJSON.Cancel}}</el-button>
                    <el-button type="primary" v-if="guideActive==2" style="float:right"
                               @click="window.open('/computableModel/selecttask')">{{htmlJSON.EnterNow}}</el-button>
                    <el-button v-if="guideActive<2" @click="guideActive++" type="primary" plain style="float:right">{{htmlJSON.Next}}</el-button>
                    <el-button v-if="guideActive>0" @click="guideActive--" type="primary" plain style="float:right">{{htmlJSON.Previous}}</el-button>
                </div>


            </el-dialog>

            <el-dialog :title=htmlJSON.ModelIntegration center :visible.sync="integratedModelDialog" width="58%">
                <el-steps :active="guideActive" finish-status="success" align-center>
                    <el-step title="Step 1" :description=htmlJSON.ModelIntegerDialog1></el-step>
                    <el-step title="Step 2" :description=htmlJSON.ModelIntegerDialog2></el-step>
                    <el-step title="Step 3" :description=htmlJSON.ModelIntegerDialog3></el-step>
                </el-steps>
                <div class="flexCenter" v-show="guideActive==0" >
                    <img src="/static/img/guide/integratedGuide1.png" style="height: 381px">
                </div>
                <div class="flexCenter"  v-show="guideActive==1" >
                    <img src="/static/img/guide/integratedGuide2.png" style="height: 381px">
                </div>
                <div class="flexCenter"  v-show="guideActive==2" >
                    <img src="/static/img/guide/integratedGuide3.png" style="height: 381px">
                </div>

                <div style="margin-top: 10px">
                    <el-button @click="integratedModelDialog = false" style="float:left">{{htmlJSON.Cancel}}</el-button>
                    <el-button type="primary" v-if="guideActive==2" style="float:right"
                               @click="window.open('/computableModel/integratedModel')">{{htmlJSON.EnterNow}}</el-button>
                    <el-button v-if="guideActive<2" @click="guideActive++" type="primary" plain  style="float:right">{{htmlJSON.Next}}</el-button>
                    <el-button v-if="guideActive>0" @click="guideActive--" type="primary" plain style="float:right">{{htmlJSON.Previous}}</el-button>
                </div>


            </el-dialog>

            <el-dialog :title=htmlJSON.ParameterOptimization center :visible.sync="paramOptimaDialog" width="58%">
                <el-steps :active="guideActive" finish-status="success" align-center>
                    <el-step title="Step 1" description=""></el-step>
                    <el-step title="Step 2" description=""></el-step>
                    <el-step title="Step 3" description=""></el-step>
                </el-steps>
                <div class="flexCenter" v-show="guideActive==0" >
                    <img src="/static/img/guide/paramOptimaGuide1.png" style="height: 381px">
                </div>
                <div class="flexCenter"  v-show="guideActive==1" >
                    <img src="/static/img/guide/paramOptimaGuide2.png" style="height: 381px">
                </div>
                <div class="flexCenter"  v-show="guideActive==2" >
                    <img src="/static/img/guide/paramOptimaGuide3.png" style="height: 381px">
                </div>

                <div style="margin-top: 10px">
                    <el-button @click="integratedModelDialog = false" style="float:left">{{htmlJSON.Cancel}}</el-button>
                    <el-button type="primary" v-if="guideActive==2" style="float:right"
                               @click="underConstruction">{{htmlJSON.UnderConstruct}}</el-button>
                    <el-button v-if="guideActive<2" @click="guideActive++" type="primary" plain style="float:right">{{htmlJSON.Next}}</el-button>
                    <el-button v-if="guideActive>0" @click="guideActive--" type="primary" plain style="float:right">{{htmlJSON.Previous}}</el-button>
                </div>


            </el-dialog>

            <el-dialog title="Deployed models" :visible.sync="loadDeployedModelDialog" :close-on-click-modal="false">
               <div v-loading="loading">
                   <div class="flexRow flexJustCenter" style="margin-top: 12px; margin-left: 10px;">
                       <div class="flexRow flexColCenter" style="width: 50%;mini-width:250px">
                           <input placeholder="Search for ..." v-model="searchText" class="noBorderInput miniInput" @keyup.enter="searchDeployedModel(1)">
                       </div>
                       <i class="fa fa-search cursorPointer" style="font-size: 18px;" @click="searchDeployedModel(1)"></i>
                   </div>
                   <el-table style="padding-left:10px "
                             :data="deployedModel">
                       <el-table-column
                               label="Name"
                       >
                           <template slot-scope="scope">
                               <a class="cursorPointer" :href="'/computableModel/'+scope.row.oid">{{scope.row.name}}</a>
                           </template>
                       </el-table-column>
                       <el-table-column
                               label="Contributor"
                               prop="author"
                       >
                           <template slot-scope="scope">
                               <a class="cursorPointer" @click="viewUser(scope.row.authorId)">{{scope.row.author}}</a>
                           </template>
                       </el-table-column>
                       <el-table-column
                               label="Option"
                               width="180"
                       >
                           <template slot-scope="scope">
                               <el-button size="mini" round type="success" @click="invokeModel(scope.row.oid)">Invoke</el-button>
                           </template>
                       </el-table-column>
                   </el-table>
                   <el-pagination style="text-align: center;margin-top:20px"
                                  @current-change="handlePageChange"
                                  :current-page="pageOption.currentPage"
                                  layout="total, prev, pager, next, jumper"
                                  :page-size="6"
                                  :total="pageOption.total">
                   </el-pagination>

               </div>
               <div slot="footer" class="dialog-footer">
<!--                   <span style="float:left;font-size: 16px">Or you can click <a style="cursor:pointer" @click="jump">here</a> to create a new one.</span>-->
<!--                   <el-button @click="">Cancel</el-button>-->
                   <el-button type="primary" plain @click="loadDeployedModelDialog = false;">Close</el-button>
               </div>
          </el-dialog>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>

</div>

</body>

<script src="/static/js/common/jquery-3.3.1.min.js"></script>

<script src="/static/js/common/axios.min.js"></script>
<script src="/static/js/common/bootstrap.js"></script>
<script src="/static/js/common/bootstrap-select.js"></script>

<script src="/static/element-ui/umd/locale/en.js"></script> <script src="/static/element-ui/umd/locale/zh-CN.js"></script>

<!--翻译组件，本页面组件js引入位置不能靠后-->
<template th:replace="modules/translationBar :: translationBar"></template>
<script src="/static/js/modules/translationBar.js"></script>

<script src="/static/js/page/modelApplication.js"></script>
<script src="/static/js/common/navbar.js"></script>
</html>
