<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title th:text="${itemInfo.name}+' | Spatiotemporal Reference | OpenGMS'">Spatiotemporal Reference | OpenGMS</title>

    <link href="/static/css/base/bootstrap.min.css" rel="stylesheet">
    <!--<link rel="stylesheet" th:href="@{/static/ol/ol.css}">-->
    <link rel="stylesheet" th:href="@{/static/leaflet/leaflet.css}">
    <link rel="stylesheet" th:href="@{/static/css/base/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/lib/element-ui/theme-chalk/index.css">
    <link rel="stylesheet" th:href="@{/static/css/base/style.css}">
    <link rel="stylesheet" th:href="@{/static/css/base/universal.css}">
    <link rel="stylesheet" th:href="@{/static/css/base/itemInfo.css}">
    <link rel="stylesheet" th:href="@{/static/css/base/wzhFlexContainer.css}">
    <link rel="stylesheet" th:href="@{/static/css/base/wzhStyle.css}">
    <link rel="stylesheet" th:href="@{/static/css/page/model_item_info.css}">
    <link rel="stylesheet" th:href="@{/static/css/page/repositoryInfo.css}">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/navbar.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/footerResponse.css" />

    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/wzhFlexContainer.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/wzhStyle.css" />

    <style>
        .blockEdit{
            display:none;
            margin-top:-5px;
            background-color:white;
            float:right;
            padding-left:10px;
            padding-right:5px;
        }
        #description h1{
            font-size: 24px;
        }
        #description h2{
            font-size: 22px;
        }
        #description h3{
            font-size: 20px;
        }
        #description h4{
            font-size: 18px;
        }

        .fullPaper{
            position:relative;
            padding-top:100px;
            margin-top:-110px;
            background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(255,255,255,0)),color-stop(90%, #fff));
            background-image: linear-gradient(-180deg,rgba(255,255,255,0) 0%,#fff 90%);
            margin-bottom:20px;
        }

        .el-tabs--border-card{
            box-shadow:none;
            -webkit-box-shadow:none;
        }

        .modal-content{
            border-radius: 0!important;
        }

        .form-control{
            border-radius: 0!important;
        }

        .leaflet-container{
            background: #eee!important;
        }
        .is-disabled input{
            color: #6f7276!important;
        }
        .batchInputButton{
            color: #039bd9;
            margin-top: 10px;
            position: absolute;
            bottom:0px;
            margin-bottom: 5px;
        }
        .batchInputButton:hover{
            text-decoration:underline ;
        }
        .uploadCenter{
            display: flex;
            flex-direction: column;
            align-self: center;
        }

        .uploadCenter .el-upload.el-upload--text{
            display: flex;
            flex-direction: column;
            align-self: center;
            justify-content: center;
        }
        input[type=file] {
            display: none;
        }
    </style>
</head>
<body>
<div id="app" v-cloak>
    <div th:replace="fragments/navbar :: unlog"></div>

    <div th:replace="fragments/backToTop :: backtop-down"></div>

    <div class="clearfix" style="padding:40px 0px;height: auto;position: relative;">
        <translation-bar
                json-file="spatialReferenceInfo"
                @translate-page="translatePage"
                with-comments="true"
                initial-lang="en-us"
                with-item-info-modules="true"
                theme="dark"
                style="position: absolute;top: 10px;right:15px">
        </translation-bar>
        <div class="left-panel el-col">
            <div th:replace="fragments/itemInfoModules :: itemTitle(${itemInfo},true)"></div>
            <div th:replace="fragments/itemInfoModules :: alias(${itemInfo})"></div>

            <div th:replace="fragments/itemInfoModules :: contributor_sm" ></div>

            <div th:replace="fragments/itemInfoModules :: spatial_Knowledge_Graph0" ></div>

            <div th:replace="fragments/itemInfoModules :: classifications(${classifications}, true)"></div>

            <div th:replace="fragments/itemInfoModules :: spatial_transform"></div>

<!--            description-->
            <div th:replace="fragments/itemInfoModules :: community_description"></div>

            <div id="cite" class="detail_block">
                <div class="block_head">
                    <div class="head_text">
                        <h4>{{htmlJSON.HowtoCite}}</h4>
                    </div>
                </div>
                <div class="block_content">
                    <div id="cite-text">
                        <span th:text="${user.name}+' ('+${year}+'). '+${itemInfo.name}+', Spatiotemporal Reference, OpenGMS, '">
                        Tom Marvolo Riddle.(2018).Integrated stand growth model data,
                        </span>
                        <a style="word-break:break-all;" th:href="'https://geomodeling.njnu.edu.cn/repository/spatialReference/'+${itemInfo.id}"
                           th:text="'https://geomodeling.njnu.edu.cn/repository/spatialReference/'+${itemInfo.id}">
                            https://geomodeling.njnu.edu.cn/modelItem/4e028983-c8c0-4d98-86cd-85fc16a00d21
                        </a>
                    </div>
                    <div id="copy" class="btn btn-info">
                        Copy
                    </div>
                </div>
            </div>

            <div th:replace="fragments/itemInfoModules :: copyright"></div>

            <div id="Modifier0" class="detail_block minScreen"
                 th:if="${history!=true&&itemInfo.contributors!=null&&#lists.size(itemInfo.contributors)!=0}">
                <div th:replace="fragments/itemInfoModules :: History(${lastModifier}, ${lastModifyTime})"></div>

            </div>

            <div th:replace="fragments/itemInfoModules :: QR_sm"></div>

            <div id="comment" class="detail_block">
                <comments :html-Json="htmlJSON"></comments>
            </div>

        </div>

        <div class="right-panel el-col">

            <div th:replace="fragments/itemInfoModules :: contributor_lg" ></div>

            <div id="Knowledge_Graph" class="detail_block" style="display: none">
                <div class="block_head">
                    <div class="head_text" style="padding-left: 10px;">
                        <h4>Map</h4>
                    </div>
                </div>
                <div class="block_content" style="height: 200px" id="map">

                </div>
            </div>

            <div id="Modifier" class="detail_block"
                 th:if="${history!=true&&itemInfo.contributors!=null&&#lists.size(itemInfo.contributors)!=0}">
                <div th:replace="fragments/itemInfoModules :: History(${lastModifier}, ${lastModifyTime})"></div>

            </div>
            <div th:replace="fragments/itemInfoModules :: QR_lg"></div>


        </div>

        <div th:if="${history==true}"
             style="pointer-events:none;position: absolute;top:0;bottom: 0;left: 0;right: 0;background-image: url('/static/img/historyBackground.png')"></div>

    </div>

    <el-dialog title="Spatial references" :visible.sync="loadSpatialDialog">
        <div v-loading="loading">
            <div class="flexRow flexJustCenter" style="margin-top: 12px; margin-left: 10px;">
                <div class="flexRow flexColCenter" style="width: 50%;mini-width:250px">
                    <input placeholder="Search for ..." v-model="searchText" class="noBorderInput miniInput" @keyup.enter="searchSpatialReference(1)">
                </div>
                <i class="fa fa-search cursorPointer" style="font-size: 18px;" @click="searchSpatialReference(1)"></i>
            </div>
            <el-table style="padding-left:10px "
                      :data="searchResult">
                <el-table-column
                        label="Name"
                        prop="name"
                >
                    <template slot-scope="scope">
                        <a class="cursorPointer" @click="window.open('/repository/spatialReference/'+scope.row.oid)">{{scope.row.name}}</a>
                    </template>
                </el-table-column>
                <el-table-column
                        label="Contributor"
                >
                    <template slot-scope="scope">
                        <a class="cursorPointer" v-if="scope.row.author!='unknown'" @click="window.open('/user/'+scope.row.author)" >{{scope.row.author}}</a>
                        <p v-else>{{scope.row.author}}</p>
                    </template>
                </el-table-column>
                <el-table-column
                        label="Option"
                        width="180"
                >
                    <template slot-scope="scope">
                        <el-button size="mini" round type="success" @click="loadCoordinate(scope.row)">Select</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <el-pagination style="text-align: center;margin-top:20px"
                           @current-change="handlePageChange"
                           :current-page="pageOption.currentPage"
                           layout="total, prev, pager, next, jumper"
                           :page-size="6"
                           :total="pageOption.total">
            </el-pagination>

        </div>
        <div slot="footer" class="dialog-footer">
            <el-button @click="loadSpatialDialog = false;">Cancel</el-button>
<!--            <el-button type="primary" @click="confirm()">OK</el-button>-->
        </div>
    </el-dialog>

    <el-dialog title="Batch input transform" :visible.sync="batchSpatialInputDialog" width="60%">
        <el-card style="width: 100%;min-height: 310px" v-loading="batchSpatialLoading">
            <div class="flexJustAround flexAlignCenter flexWrap">
                <div>
                    <div class="flexJustBetween flexAlignCenter inputForm">
                        <h5><span style="color: #7d7d7d">Input coordinate system: </span> {{inputCoordinate.name}}</h5>
                        <el-button size="mini" round type="primary" plain @click="loadSpatialReferenceClick(0)">Select</el-button>
                    </div>
                    <div class="flexJustBetween flexAlignCenter inputForm">
                        <h5><span style="color: #7d7d7d">Output coordinate system: </span> {{outputCoordinate.name}}</h5>
                        <el-button size="mini" round type="primary" plain @click="loadSpatialReferenceClick(0)">Select</el-button>
                    </div>
                    <div class="flexJustBetween flexAlignCenter inputForm">
                        <h5><span style="color: #7d7d7d">Uploaded file: </span></h5>
                        <div>
                            <el-tooltip v-if="csvFile.length>0" :content="csvFile[0].name" placement="bottom-start">
                                <div class="quickToolsCard flexAlignCenter positionRelative" style="margin-right: 12px;" v-for="csv in csvFile">
                                    <div class="cursorPointer">
                                        <div class="cornerButton flexCenter"  @click.prevent="uploadRemove">
                                            <i class="el-icon-close " style="font-size: 12px;color: #d40202"></i>
                                        </div>
                                    </div>
                                    <img src="/static/img/filebrowser/csv.svg" style="width: 32px">

                                </div>
                            </el-tooltip>
                        </div>
                    </div>
                    <el-upload
                            class="uploadCenter"
                            drag
                            ref="upload"
                            accept=".csv"
                            :on-change="uploadChange"
                            :on-remove="uploadRemove"
                            :auto-upload="false"
                            :show-file-list="false"
                            :multiple="false">
                        <i class="el-icon-upload"></i>
                        <div class="el-upload__text">Drop the file here, or<em> click </em>to upload.</div>
                    </el-upload>
                </div>
                <div class="innerBorderCol" style="height: 300px"></div>
                <div class="textContainer">
                    <p>The type of the file should only be <span style="color: #0473fa;">csv</span>.</p>
                    <p>And the content of it should be formed as the following:</p>
                    <p>the first column is filled with the x-coordinate or the longtitude
                        <br>of points,
                        <br>the second column is filled with the y-coordinate or the latitude.</p>
                    <img src="/static/img/filebrowser/csvExample.png">
                </div>

            </div>
        </el-card>

        <div slot="footer" class="dialog-footer">
            <el-button type="primary" @click="batchinputTransform">Transform</el-button>
            <el-button @click="loadSpatialDialog = false;">Cancel</el-button>
            <!--            <el-button type="primary" @click="confirm()">OK</el-button>-->
        </div>
    </el-dialog>

    <el-dialog title="Batch transform result" :visible.sync="batchSpatialOutputDialog" width="28%" center>
        <div class="flexCenter">
            <i style="font-size: 68px;color: #5ec23a" class="fa fa-check-circle "></i>
        </div>
        <div slot="footer" class="dialog-footer">
            <el-button type="primary" plain @click="downloadSpatialOutput">Download</el-button>
            <el-button @click="copySpatialOutput">Copy url</el-button>
            <el-button type="primary" @click="addSpatialOutputToDataSpace" :disabled="useroid==null">Add to my space</el-button>
            <!--            <el-button type="primary" @click="confirm()">OK</el-button>-->
        </div>
    </el-dialog>

    <!--                el-dialog放在这一层-->
    <el-dialog :visible.sync="addOutputToMyDataVisible" title="Add Output to My Data"
               width="35%">
        <el-card style="min-height: 300px;">
            <el-tree
                    :data="folderTree"
                    ref="folderTree2"
                    node-key="id"
                    highlight-current = true
                    default-expand-all
                    :expand-on-click-node="false"
            >
                                            <span class="custom-tree-node" slot-scope="{ node, data }">
                                                <span>{{ node.label }}</span>
                                            </span>
            </el-tree>
        </el-card>
        <span slot="footer" class="dialog-footer">
                                        <el-button class="pull-left" type="primary" icon="el-icon-folder-add"
                                                   @click="addFolderinTree(2)">Add new folder</el-button>
                                        <el-button @click="addOutputToMyDataVisible = false">Cancel</el-button>
                                        <el-button type="primary"
                                                   @click="addOutputToDataServer7DataSpace()">OK</el-button>
                                    </span>
    </el-dialog>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Add Localization</h4>
                </div>
                <div class="modal-body">
                    <form id="addConceptLocalizationForm" role="form" method="post">
                        <div class="form-group hidden">
                            <input type="text" name="id" class="form-control" th:value="${itemInfo.id}">
                        </div>
                        <div class="form-group">
                            <label>Language</label>
                            <input type="text" name="language" class="form-control" placeholder="Please Input Language">
                        </div>
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" name="name" class="form-control" placeholder="Please Input Name">
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea name="desc" class="form-control" placeholder="Please Input Description"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">cancle</button>
                    <button type="button" class="btn btn-primary" onclick="submitFrom()">Ok</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <div th:replace="fragments/footer :: footer"></div>

</div>
<template th:replace="fragments/comments :: comments"></template>
<template th:replace="modules/userAvatar :: userAvatar"></template>
</body>

<script type="text/javascript" src="/static/js/common/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/static/js/common/bootstrap.min.js"></script>
<script src="/static/js/common/vue.min.js"></script>
<script src="/static/js/common/axios.min.js"></script>
<script src="/static/element-ui/index.js"></script>
<script src="/static/js/modules/userAvatar.js"></script>
<script src="/static/js/modules/comments.js"></script>
<script src="/static/js/common/copy.js"></script>
<script src="/static/js/common/vue-avatar.min.js"></script>
<script src="/static/js/common/qrcode.min.js"></script>
<script src="/static/ol/proj4.js"></script>
<!--<script src="../../static/ol/ol.js"></script>-->
<script src="/static/leaflet/leaflet.js"></script>
<script src="/static/leaflet/proj4leaflet.js"></script>
<script th:inline="javascript">
    var spatialRfInPage = [[${itemInfo}]]
    var projcs = [[${itemInfo.wkt}]];
    var proj_name = [[${itemInfo.name}]];
    var author=[[${user}]];
    var classifications = [[${classifications}]];
</script>

<!--翻译组件，本页面组件js引入位置不能靠后-->
<template th:replace="modules/translationBar :: translationBar"></template>
<script src="/static/element-ui/umd/locale/en.js"></script> <script src="/static/element-ui/umd/locale/zh-CN.js"></script>
<script src="/static/js/modules/translationBar.js"></script>

<script type="text/javascript" src="/static/js/page/repositoryInfo.js"></script>


<script src="/static/js/common/navbar.js"></script>
<script>
    function submitFrom() {
        var arry = $("#addConceptLocalizationForm").serializeArray();
        var object = {};
        for(var i =0;i<arry.length;i++){
            var item = arry[i];
            object[item["name"]] = item["value"];
            if(item["name"]==="language"&&item["value"].trim().length<1){
                alert("Please enter language");
                return;
            }
            if(item["name"]==="name"&&item["value"].trim().length<1){
                alert("Please enter name");
                return;
            }
        }

        $.ajax({
            url:"/repository/addSpatialReferenceLocalization",
            data:object,
            type:"post",
            success:function (result) {
                if(result.data==="ok"){
                    window.location.reload();
                }
            }
        })
    }

    if(projcs){
        proj4.defs(proj_name,projcs);
    }
    $.ajax({
        url:"/static/geoJson/world.json",
        type:"get",
        success:function (geojson) {
            console.log(geojson);
            var map = L.map('map',{attributionControl:false});
            if(projcs){
                geojson["crs"] = {
                    type:"name",
                    properties: {
                        name: proj_name
                    }
                };
            }
            var geojsonLayer = L.Proj.geoJson(geojson, {
                style: {
                    color: "#000",
                    weight: 0.3
                }
            }).addTo(map);
            map.fitBounds(geojsonLayer.getBounds());
        }
    })


</script>
</html>