<!--support页面与demo页面公用模板，后台传值type区分-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title th:if="${type=='sup'}" >Support Document | OpenGMS</title>
    <title th:if="${type=='demo'}" >Demo Document | OpenGMS</title>

    <link rel="stylesheet" href="/static/lib/element-ui/theme-chalk/index.css">
    <link rel="stylesheet" href="/static/css/base/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/common/fluent/fluent.css">
    <link rel="stylesheet" href="/static/css/base/style.css">
    <link rel="stylesheet" href="/static/css/base/universal.css">
    <link rel="stylesheet" href="/static/css/base/wzhStyle.css">
    <link rel="stylesheet" href="/static/css/base/wzhFlexContainer.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/navbar.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/common/footerResponse.css" />

    <style>
        .fixed{
            position: fixed;
            top: 30px;
        }

        #contentsTree{
            max-height:calc(100vh - 195px) ;
        }
        .treeContainer{
            overflow: hidden;
        }
    </style>

</head>
<body>
<div v-cloak id="app">
    <div th:replace="fragments/navbar :: unlog"></div>
    <div th:replace="fragments/backToTop :: backtop-down"></div>
    <div class="clearfix" style="position: relative;"
         :style="{'min-height':ScreenMinHeight}">
        <div class="clearfix" style="height: 100%;">
            <div th:if="${type=='sup'}" class="clearfix titleImg_small fontWhite" style="background-image: url('/static/img/bled_clip.jpg');background-position-y: 600px;">
                <h3 style="text-align: center;margin-top: 30px">OpenGMS<span class="h_lite"> Learn And Support</span></h3>
                <h5 style="text-align: center;margin-top: 20px">Let's learn what is provided by OpenGMS!</h5>
            </div>
            <div th:if="${type=='demo'}" class="clearfix titleImg_small fontWhite" style="background-image: url('/static/img/bled_clip.jpg');background-position-y: 600px;">
                <h3 style="text-align: center;margin-top: 30px">Demo<span class="h_lite"> Document</span></h3>
                <h5 style="text-align: center;margin-top: 20px">Let's learn what can we do in OpenGMS!</h5>
            </div>

            <div class="col-lg-10 col-lg-offset-1 col-md-12 clearfix" style="padding: 5px 0">
                <el-row :gutter="40" >

                    <el-col id="leftPanel" :span="sectionTitleSpan" style="position: sticky;top:0px">
                        <div class="treeContainer" id="sidebarMenu">
                            <div class="flexJustBetween">
                                <div class=" lineButton" style="margin: 15px 15px 15px 13px;width: 63px" >
                                    <a type="info" @click="backClick">&larr;&nbsp;Back</a>
                                    <div class="hoverLine"></div>
                                </div>
                                <div class="cursorPointer" style="margin: 15px 15px 15px 13px;" @click="foldTree()">
                                    <i class="fa fa-bars"></i>
                                </div>
                            </div>

                            <el-tree
                                    id="contentsTree"
                                    class="wzhScrollbar"
                                    :data="sectionData"
                                    @node-click="anchorClick"
                                    ref="contentsTree">
                            </el-tree>
                        </div>
                    </el-col>
                    <el-col :span="sectionSpan" style="margin-bottom: 30px;">
                        <h3 style="padding: 0 20px 0 20px; color: #0a6999" th:text="${name}">Introduction to OpenGMS</h3>
                        <hr>
                        <div class="clearfix docSection " style="background-color: white;padding: 0 20px 0px" >
                            <section class="wordSpace" v-for="section in supportDoc" :id="generateId(section.title)" >
                                <h3 class="h_lite" >{{section.title}}</h3>
                                <p v-html="section.content"></p>
                            </section>
                        </div>
                    </el-col>
                </el-row>
                <!--<h5 class="phoneCenter"><a class="cursorPointer">Download</a> this support document.</h5>-->
                <!--<div class="flexAlignCenter phoneCenter">-->
                    <!--<h5 style="margin-right: 15px">Still have problems?</h5>-->
                    <!--<el-button round size="mini" type="primary" @click="" plain>Contact us</el-button>-->
                <!--</div>-->
            </div>
            <div class="floatBlock commentContent "
                 ref="commentCard" @mouseenter="unfoldSide" @mouseleave="foldSide"
                 style="background-color: rgba(4,162,255,0.88);width: 213.8px;">
                <div v-if="commentSended"  class="floatBlockContent" style="height: 20px;">
                    <p class="noMargin"  >Thank you for your comment.</p>
                </div>
                <div v-else class=" flexCol flexAlignCenter floatBlockContent" style="height: 46px;" >
                    <p>Was this document helpful?</p>
                    <el-radio-group   v-model="isHelpful"  size="mini" @change="sendComment()">
                        <el-radio label="1">Yes</el-radio>
                        <el-radio label="2">No</el-radio>
                    </el-radio-group>
                </div>

            </div>
            <div class="fullScreenComment" ref="fullCommentCard" style="width: 100%">
                <div v-if="commentSended"  class="flexCenter" style="height: 46px;">
                    <p class="noMargin"  >Thank you for your comment.</p>
                </div>
                <div v-else class=" flexAlignCenter flexJustAround floatBlockContent" style="height: 46px;background-color: #04a2ff" >
                    <p class="noMargin">Was this document helpful?</p>
                    <el-radio-group   v-model="isHelpful"  size="mini" @change="sendComment()" >
                        <el-radio label="1">Yes</el-radio>
                        <el-radio label="2">No</el-radio>
                    </el-radio-group>
                </div>
            </div>
        </div>


    </div>
    <div th:replace="fragments/footer :: footer"></div>

</div>
</body>
<script th:inline="javascript">
    var type = [[${type}]]
</script>
<script src="/static/js/common/jquery-3.3.1.min.js"></script>
<script src="/static/js/common/vue.min.js"></script>
<script src="/static/js/index/bootstrap.min.js"></script>
<script src="/static/js/common/axios.min.js"></script>
<script src="/static/element-ui/index.js"></script>
<script src="/static/element-ui/umd/locale/en.js"></script>

<!--数据以json变量形式存储在js文件中，按需添加到页面对应位置-->
<script th:if="${name=='How to use a model online'}" src="/static/js/help/demo/demo1.js"></script>
<script th:if="${name=='How to run a integrated model online'}" src="/static/js/help/demo/demo2.js"></script>

<script th:if="${name=='Introduce to OpenGMS'}" src="/static/js/help/support/introductiontoOpenGMS.js"></script>
<script th:if="${name=='Model Resource'}" src="/static/js/help/support/modelResource.js"></script>
<script th:if="${name=='Data Resource'}" src="/static/js/help/support/dataResource.js"></script>
<script th:if="${name=='Service and Reuse'}" src="/static/js/help/support/serviceandReuse.js"></script>
<script th:if="${name=='Server Nodes'}" src="/static/js/help/support/serverNodes.js"></script>
<script th:if="${name=='Community'}" src="/static/js/help/support/community.js"></script>
<script th:if="${name=='Thematic Center'}" src="/static/js/help/support/thematicCenter.js"></script>
<script th:if="${name=='User Center'}" src="/static/js/help/support/userCenter.js"></script>

<script src="/static/js/page/supportDoc.js"></script>
<script src="/static/js/common/navbar.js"></script>
</html>
