<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Data Template Repository | OpenGMS</title>
    <script src="/static/js/common/vue.min.js"></script>
    <script src="/static/js/common/vue-avatar.min.js"></script>
    <script src="/static/element-ui/index.js"></script>

    <link rel="stylesheet" href="/static/lib/element-ui/theme-chalk/index.css">

    <link rel="stylesheet" href="/static/css/base/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/base/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/base/style.css">
    <link rel="stylesheet" href="/static/css/base/universal.css">
    <link rel="stylesheet" href="/static/css/base/list.css">
    <link rel="stylesheet" href="/static/css/base/tree.css">
    <link rel="stylesheet" href="/static/css/other/bootstrap-select.css">
    <link rel="stylesheet" href="/static/css/page/model_items.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/footerResponse.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/navbar.css" />
    <link rel="stylesheet" href="/static/driver/driver.min.css"/>

    <link rel="stylesheet" href="/static/css/base/wzhFlexContainer.css">
    <link rel="stylesheet" href="/static/css/base/wzhStyle.css">

</head>
<body>
<div id="app" v-cloak>
    <div th:replace="fragments/navbar :: unlog"></div>

    <div th:replace="fragments/backToTop :: backtop-up"></div>

    <div class="clearfix" style="margin-bottom: 40px;">

        <div class="guide el-backtop el-icon-question" title="Help" @click="showDriver"></div>

        <div class="mainContent">

            <div class="el-row">
                <h2 class="main-title">{{htmlJSON.PageName}}</h2>
                <h4 class="sub-title">{{htmlJSON.PageIntro}}</h4>
                <button id="contributeBtn"  class="btn btn-success btn-lg" style="font-size: 15px;margin-left:10px;vertical-align: baseline;" @click="contribute()">{{htmlJSON.Contribute}}</button>
                <translation-bar
                        json-file="templateRepository"
                        @translate-page="translatePage"
                        initial-lang="en-us"
                        theme="dark"
                        style="position: absolute;top: -10px;right:15px">
                </translation-bar>
                <hr>
            </div>
            <div class="el-col el-col-6 minScreen_maxWidth" style="margin-top:29px;">

                <el-card class="box-card categoryList" >
                    <div slot="header" class="clearfix text-center">
                        <span style="font-size: 20px;color:#444">{{htmlJSON.RepositoryCollections}}</span>
                    </div>
                    <el-tree
                            id="tree1"
                            ref="tree1"
                            :data="treeData"
                            :highlight-current="true"
                            :expand-on-click-node="false"
                            node-key="id"
                            :default-expanded-keys="[1]"
                            :current-node-key="100"
                            @current-change="handleCurrentChange"
                            :props="defaultProps">
                    </el-tree>
                    <el-tree
                            style="display: none;"
                            id="tree2"
                            ref="tree2"
                            :data="treeData"
                            show-checkbox
                            node-key="id"
                            :default-expanded-keys="[]"
                            :default-checked-keys="[100]"
                            @check-change="handleCheckChange"
                            :props="defaultProps">
                    </el-tree>
                </el-card>
            </div>

            <div class="el-col el-col-18 minScreen_maxWidth">
                <div class="searcherPanel">
                    <div class="searcherInputPanel" @keydown.enter="search()">
                        <input id="searchBox" type="text" :placeholder="htmlJSON.SearchHolding" v-model="searchText">
                        <button @click="search()">{{htmlJSON.Search}}</button>

                    </div>
                </div>

                <div class="progressPanel">
                    <span class="barControl">
                        <div class="barContro_space">
                            <span class="progress_line" :class="{active:pageOption.progressBar}"></span>
                        </div>
                    </span>
                </div>

                <div role="alert" class="alert alert-info" style="margin-bottom: 2px;">
                    <strong class="minScreen_curClass">{{htmlJSON.CurrentClass}}{{currentClass}} </strong>
                    <strong v-if="pageOption.progressBar" style="float: right;">{{htmlJSON.Loading}} </strong>
                    <strong v-if="!pageOption.progressBar" style="float: right;">{{pageOption.total}} {{htmlJSON.items}}</strong>


                </div>

                <div class="modelPanel" v-loading="pageOption.progressBar">
                    <div v-if="pageOption.searchResult.length>0" style="margin:10px 0">
                        <div style="float:left;margin: 4px 0 4px 15px;">
                            <span style="font-weight: bold;margin-right:5px;">{{htmlJSON.SortBy}}</span>
                            <el-dropdown trigger="click" @command="changeSortField" style="cursor:pointer;">
                            <span class="el-dropdown-link">
                                {{sortTypeName}}<i class="el-icon-arrow-down el-icon--right"></i>
                            </span>
                                <el-dropdown-menu slot="dropdown">
                                    <el-dropdown-item command="viewCount">{{htmlJSON.ViewCount[0]}}</el-dropdown-item>
                                    <el-dropdown-item command="name">{{htmlJSON.Name[0]}}</el-dropdown-item>
                                    <el-dropdown-item command="createTime">{{htmlJSON.CreateTime[0]}} </el-dropdown-item>

                                </el-dropdown-menu>
                            </el-dropdown>
                            <el-dropdown trigger="click" @command="changeSortOrder" style="cursor:pointer;">
                            <span class="el-dropdown-link">
                                {{sortOrder}}<i class="el-icon-arrow-down el-icon--right"></i>
                            </span>
                                <el-dropdown-menu slot="dropdown">
                                    <el-dropdown-item command="Asc.">{{htmlJSON.Asc[0]}}</el-dropdown-item>
                                    <el-dropdown-item command="Desc.">{{htmlJSON.Desc[0]}}</el-dropdown-item>
                                </el-dropdown-menu>
                            </el-dropdown>
                        </div>
                        <el-pagination style="text-align: right;"
                                       @current-change="handlePageChange"
                                       :current-page="pageOption.currentPage"
                                       :pager-count="5"
                                       layout="prev, pager, next"
                                       :total="pageOption.total">
                        </el-pagination>
                    </div>
                    <div class="content-body">
                        <div v-cloak class="list-item" v-for="(template,key) in pageOption.searchResult">
                            <div class="detail_title">
                                <el-tooltip popper-class="fontsize-15" effect="light" :content="template.status" placement="left">
                                    <i v-if="template.status=='Public'" class="el-icon-unlock public fontsize-24 pull-right"></i>
                                    <i v-if="template.status=='Discoverable'" class="el-icon-unlock discoverable fontsize-24 pull-right"></i>
                                </el-tooltip>
                                <a :class="template.viewCount>500?'hot':''" :href="'/repository/template/'+ template.id" target="_blank">{{template.name}}&nbsp&nbsp</a>
                            </div>
                            <div class="detail_overview">
                                <a class="img" :href="'/repository/template/'+ template.id" target="_blank">
                                    <avatar :username="template.name" :size="90" :rounded="false"></avatar>
                                    <!--<img v-if="modelItem.image!=''" :src="modelItem.image" style="width:90px;height: 90px;">-->

                                </a>

                                <div class="info">
                                    <p>{{template.description}}</p>
                                    <!--<div class="tags" v-if="modelItem.keywords.length>0">-->
                                    <!--<span class="badge badge-info" v-for="keyword in modelItem.keywords">{{keyword.toUpperCase()}}</span>-->
                                    <!--</div>-->
                                </div>
                            </div>
                            <hr>
                            <div class="detail_bottom">
                                <div style="display:inline-block;float: left;">
                                    <!--<img :src="pageOption.users[key].image==''?'/static/img/icon/default.png':pageOption.users[key].image" class="round_icon" style="margin-top:-5px;width:30px;height: 30px;display: inline-block;">-->
                                    <!--<a :href="'/profile/'+ pageOption.users[key].id" target="_blank" style="display: inline-block;margin-left: 5px;"><h4>{{pageOption.users[key].name}}</h4></a>-->
                                    <a :href="'/profile/'+ pageOption.users[key].userId">
<!--                                        <img :src="pageOption.users[key].avatar==''?'/static/img/icon/default.png':'/static'+pageOption.users[key].avatar" class="round_icon" style="margin-top: -5px; width: 30px; height: 30px; display: inline-block;">-->
                                        <user-avatar :email="pageOption.users[key].email"
                                                     style="margin-top:-5px;width:30px;height: 30px;display: inline-block;">
                                        </user-avatar>
                                    </a>
                                    <a :href="'/profile/'+ pageOption.users[key].userId" target="_blank" style="display: inline-block; margin-left: 5px;"><h4>{{pageOption.users[key].name}}</h4></a>
                                    <h4 class="screen_view">{{htmlJSON.contributeStr}}{{template.createTime.substring(0,10)}} </h4>
                                    <h4 class="mobile_view">{{template.createTime.substring(0,10)}} </h4>
                                </div>
                                <div class="detail_option">
                                    <a class="fa fa-eye" aria-hidden="true"></a>&nbsp&nbsp{{template.viewCount}}
                                    <!--<a href="javascript:void(0)" class="fa fa-thumbs-o-up" aria-hidden="true"></a>&nbsp&nbsp{{modelItem.thumbsUpCount}}-->
                                </div>
                                <br>
                            </div>
                        </div>
                        <div v-if="pageOption.searchResult.length==0" class="list-item" style="
                                font-size: 26px;
                                font-style: italic;
                                text-align: center;
                                font-weight: 100;
                                padding-top: 60px;
                                padding-bottom: 61px;
                            ">
                            <span v-if="pageOption.progressBar">&nbsp;</span>
                            <span v-if="!pageOption.progressBar">{{htmlJSON.noResult}}</span>
                        </div>
                    </div>
                    <el-pagination style="text-align: center;margin-top:20px" v-if="pageOption.paginationShow && pageOption.searchResult.length>0"
                                   @current-change="handlePageChange"
                                   :current-page="pageOption.currentPage"
                                   layout="total, prev, pager, next, jumper"
                                   :total="pageOption.total">
                    </el-pagination>
                </div>
            </div>

        </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>

</div>

<template th:replace="modules/userAvatar :: userAvatar"></template>
<!--翻译组件，本页面组件js引入位置不能靠后-->
<template th:replace="modules/translationBar :: translationBar"></template>
</body>

<script src="/static/js/common/jquery-3.3.1.min.js"></script>

<script src="/static/js/common/axios.min.js"></script>
<script src="/static/js/common/bootstrap.js"></script>
<script src="/static/js/common/bootstrap-select.js"></script>
<script src="/static/driver/driver.min.js"></script>

<script src="/static/element-ui/umd/locale/en.js"></script> <script src="/static/element-ui/umd/locale/zh-CN.js"></script>
<script src="/static/js/modules/translationBar.js"></script>

<script src="/static/js/modules/userAvatar.js"></script>
<script src="/static/js/apidoc/communityApi.js"></script>
<script src="/static/js/page/templateRepository.js"></script>


<script src="/static/js/common/bootstrap.min.js"></script>

<script src="/static/js/common/navbar.js"></script>

</html>