<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title th:text="${itemInfo.name}+' | Unit & Metric | OpenGMS'">Unit & Metric | OpenGMS</title>
    <link href="/static/css/base/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/lib/element-ui/theme-chalk/index.css">
    <link rel="stylesheet" th:href="@{/static/css/base/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/base/style.css}">
    <link rel="stylesheet" th:href="@{/static/css/base/universal.css}">
    <link rel="stylesheet" th:href="@{/static/css/base/itemInfo.css}">
    <link rel="stylesheet" th:href="@{/static/css/page/model_item_info.css}">
    <link rel="stylesheet" th:href="@{/static/css/page/repositoryInfo.css}">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/navbar.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/footerResponse.css" />

    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/wzhFlexContainer.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/wzhStyle.css" />


    <style>
        .blockEdit{
            display:none;
            margin-top:-5px;
            background-color:white;
            float:right;
            padding-left:10px;
            padding-right:5px;
        }
        #description h1{
            font-size: 24px;
        }
        #description h2{
            font-size: 22px;
        }
        #description h3{
            font-size: 20px;
        }
        #description h4{
            font-size: 18px;
        }

        .fullPaper{
            position:relative;
            padding-top:100px;
            margin-top:-110px;
            background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(255,255,255,0)),color-stop(90%, #fff));
            background-image: linear-gradient(-180deg,rgba(255,255,255,0) 0%,#fff 90%);
            margin-bottom:20px;
        }

        .el-tabs--border-card{
            box-shadow:none;
            -webkit-box-shadow:none;
        }

        .modal-content{
            border-radius: 0!important;
        }

        .form-control{
            border-radius: 0!important;
        }
    </style>
</head>
<body>
<div id="app" v-cloak>
    <div th:replace="fragments/navbar :: unlog"></div>

    <div th:replace="fragments/backToTop :: backtop-down"></div>

    <div class="clearfix" style="padding:40px 0px;height: auto;position: relative;">

        <translation-bar
                json-file="unitInfo"
                @translate-page="translatePage"
                with-comments="true"
                initial-lang="en-us"
                with-item-info-modules="true"
                theme="dark"
                style="position: absolute;top: 10px;right:15px">
        </translation-bar>
        <div class="left-panel el-col">
            <div th:replace="fragments/itemInfoModules :: itemTitle(${itemInfo},true)"></div>

            <div th:replace="fragments/itemInfoModules :: alias(${itemInfo})"></div>

            <div th:replace="fragments/itemInfoModules :: contributor_sm" ></div>

            <div th:replace="fragments/itemInfoModules :: classifications(${classifications}, true)"></div>

            <div th:replace="fragments/itemInfoModules :: unit_transform"></div>

            <div th:replace="fragments/itemInfoModules :: community_description"></div>

            <div id="cite" class="detail_block">
                <div class="block_head">
                    <div class="head_text">
                        <h4>{{htmlJSON.HowtoCite}}</h4>
                    </div>
                </div>
                <div class="block_content">
                    <div id="cite-text">

                        <span th:text="${user.name}+' ('+${year}+'). '+${itemInfo.name}+', Unit & Metric, OpenGMS, '">
                        Tom Marvolo Riddle.(2018).Integrated stand growth model data,
                        </span>
                        <a style="word-break:break-all;" th:href="'https://geomodeling.njnu.edu.cn/repository/unit/'+${itemInfo.id}"
                           th:text="'https://geomodeling.njnu.edu.cn/repository/unit/'+${itemInfo.id}">
                        </a>
                    </div>
                    <div id="copy" class="btn btn-info">
                        {{htmlJSON.Copy}}
                    </div>
                </div>
            </div>

            <div th:replace="fragments/itemInfoModules :: copyright"></div>

            <div id="Modifier0" class="detail_block minScreen"
                 th:if="${history!=true&&itemInfo.contributors!=null&&#lists.size(itemInfo.contributors)!=0}">
                <div th:replace="fragments/itemInfoModules :: History(${lastModifier}, ${lastModifyTime},'unit')"></div>


            </div>

            <div th:replace="fragments/itemInfoModules :: QR_sm"></div>

            <div id="comment" class="detail_block">
                <comments :html-Json="htmlJSON"></comments>
            </div>
        </div>

        <div class="right-panel el-col">
            <div th:replace="fragments/itemInfoModules :: contributor_lg" ></div>

            <div id="Modifier" class="detail_block"
                 th:if="${history!=true&&itemInfo.contributors!=null&&#lists.size(itemInfo.contributors)!=0}">
                <div th:replace="fragments/itemInfoModules :: History(${lastModifier}, ${lastModifyTime},'unit')"></div>

            </div>

            <div th:replace="fragments/itemInfoModules :: QR_lg"></div>

        </div>

        <div th:if="${history==true}"
             style="pointer-events:none;position: absolute;top:0;bottom: 0;left: 0;right: 0;background-image: url('/static/img/historyBackground.png')"></div>

    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Add Localization</h4>
                </div>
                <div class="modal-body">
                    <form id="addConceptLocalizationForm" role="form" method="post">
                        <div class="form-group hidden">
                            <input type="text" name="id" class="form-control" th:value="${itemInfo.id}">
                        </div>
                        <div class="form-group">
                            <label>Language</label>
                            <input type="text" name="language" class="form-control" placeholder="Please Input Language">
                        </div>
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" name="name" class="form-control" placeholder="Please Input Name">
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea name="desc" class="form-control" placeholder="Please Input Description"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">cancle</button>
                    <button type="button" class="btn btn-primary" onclick="submitFrom()">Ok</button>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <div th:replace="fragments/footer :: footer"></div>

</div>
<template th:replace="fragments/comments :: comments"></template>
<template th:replace="modules/userAvatar :: userAvatar"></template>
</body>

<script th:inline="javascript">
    var author=[[${user}]];
    var classifications = [[${classifications}]];
</script>

<script type="text/javascript" src="/static/js/common/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/static/js/common/bootstrap.min.js"></script>
<script src="/static/js/common/vue.min.js"></script>
<script src="/static/js/common/vue-avatar.min.js"></script>
<script src="/static/element-ui/index.js"></script>
<script src="/static/js/common/qrcode.min.js"></script>
<script src="/static/js/modules/userAvatar.js"></script>

<script th:inline="javascript">
    var oidcvt = [[${oid_cvt}]];
    var infoname = [[${itemInfo.name}]];
</script>

<!--翻译组件，本页面组件js引入位置不能靠后-->
<template th:replace="modules/translationBar :: translationBar"></template>
<script src="/static/element-ui/umd/locale/en.js"></script> <script src="/static/element-ui/umd/locale/zh-CN.js"></script>
<script src="/static/js/modules/translationBar.js"></script>

<script type="text/javascript" src="/static/js/page/repositoryInfo.js"></script>
<script src="/static/js/modules/comments.js"></script>
<script src="/static/js/common/copy.js"></script>
<script src="/static/js/common/bootstrap.min.js"></script>

<script src="/static/js/common/navbar.js"></script>
<script>
    function submitFrom() {
        var arry = $("#addConceptLocalizationForm").serializeArray();
        var object = {};
        for(var i =0;i<arry.length;i++){
            var item = arry[i];
            object[item["name"]] = item["value"];
            if(item["name"]==="language"&&item["value"].trim().length<1){
                alert("Please enter language");
                return;
            }
            if(item["name"]==="name"&&item["value"].trim().length<1){
                alert("Please enter name");
                return;
            }
        }

        $.ajax({
            url:"/repository/addUnitLocalization",
            data:object,
            type:"post",
            success:function (result) {
                if(result.data==="ok"){
                    window.location.reload();
                }
            }
        })
    }
</script>
</html>