<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Space | OpenGMS</title>



    <link rel="stylesheet" href="/static/lib/element-ui/theme-chalk/index.css">
    <!--<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">-->

    <link rel="stylesheet" href="/static/css/font-awesome/fonts/fontawesome-webfont.woff">
    <link rel="stylesheet" href="/static/css/font-awesome/fonts/fontawesome-webfont.ttf">
    <link rel="stylesheet" href="/static/css/base/bootstrap.min.css">

    <link rel="stylesheet" href="/static//css/base/fileinput.min.css">
    <link rel="stylesheet" href="/static//css/base/fileinput-rtl.min.css">

    <link rel="stylesheet" href="/static//css/base/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/static//css/base/fabric/fabric.min.css"/>
    <link rel="stylesheet" href="/static//css/base/mdb/mdb.lite.min.css">
    <link rel="stylesheet" href="/static//css/base/fluent/fluent.css">
    <link rel="stylesheet" href="/static/css/base/universal.css">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="../../assets/css/basic.css" /> -->
    <link rel="stylesheet" href="/static/css/page/user_space.css">
    <link rel="stylesheet" href="/static/css/base/bootstrap-tagsinput.css">

    <link rel="stylesheet" href="/static/css/module/newSideBar.css">

    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/other/jquery-steps.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/other/jquery.tag-editor.css"/>

    <style>

    </style>
</head>

<body>
<div id="app">
    <div id="loading" v-if="load">
        <div class="loading-center">
            <div class="loading-center-absolute">
                <div class="object"></div>
            </div>
        </div>
    </div>

    <div class="page-container" style="height: 2000px;" v-cloak>
        <head-side-bar :user-infoin-parent="userInfo" :curIndexParent="curIndex"></head-side-bar>
        <template id="userModel" th:fragment="userModel">
            <div class="innerShadowCol">
                <div class="page-content clearfix scrollbar el-col-lg-21 el-col-md-20 pageContent acrylicBack"
                     style="margin-left: 240px;"
                     :style="{'height':ScreenMinHeight,'min-height':ScreenMinHeight,'max-height':ScreenMaxHeight}"
                     id="pageContent">
                    <!--            <div class="titleContainer"><h4>My Space</h4></div>-->
                    <div class="flexColContainer mainContent" style="">
                        <section role="description" class="flexCol flexCenter contentSection">
                            <h3>Model</h3>
                            <h5>You can manage your model here</h5>
                        </section>
                        <section class="flexRowContainer flexWrap contentSection">
                            <div class="contentCard flexCol flexColCenter">
                                <div class="content_h68 flexRow noPadding">
                                    <div class="content_w68 flexCol flexJustAround">
                                        <div class="flexAlignCenter ">
                                            <h4>Model Item</h4>
                                            <div class="numTag bluePlain" style="margin-left: 5px">

                                                <p class="noMargin" style="">{{countInfo.modelItem}}</p>
                                            </div>
                                        </div>
                                        <p>You can manage Model Items provided by yourself or create a new one</p>
                                    </div>
                                    <div class="flexCenter content_w32" style="">
                                        <img class="square_80" style="" src="../../static/img/model/model.png">
                                    </div>
                                </div>
                                <!--                            <div class="innerBorderGrey89"></div>-->
                                <div class="content_h32 flexCol noPadding" style="width: 100%;height: 32%;
                            background-image: linear-gradient(to right, #fdf9f4 0%, #ebf6f8 100%);">
                                    <div class="flexColCenter" style="width: 100%;height: 100%;background-color: rgba(255, 255, 255, 0.2)">
                                        <div class="flexRow flexColCenter flexJustAround " style="width: 100%;margin-left: 5%">
                                            <div class="lineButton flexCol" @click="manageItem(1)">
                                                <p style="margin-block-end: 0">manage</p>
                                                <div class="hoverLine"></div>
                                            </div>
                                            <div class="btn btn-info btn-round btn-noShadow" style="" @click="creatItem(1)">create new <span><i
                                                    class="fa fa-arrow-right"></i></span></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="contentCard flexCol flexColCenter">
                                <div class="content_h68 flexRow noPadding">
                                    <div class="content_w68 flexCol flexJustAround">
                                        <div class="flexAlignCenter ">
                                            <h4>Conceptual Model</h4>
                                            <div class="numTag bluePlain" style="margin-left: 5px">
                                                <p class="noMargin" style="">{{countInfo.conceptualModel}}</p>
                                            </div>
                                        </div>
                                        <p>You can manage Conceptual Models provided by yourself or create a new one</p>
                                    </div>
                                    <div class="flexCenter content_w32" style="">
                                        <img class="square_80" style="" src="../../static/img/model/conceptual.png">
                                    </div>
                                </div>
                                <!--                            <div class="innerBorderGrey89"></div>-->
                                <div class="content_h32 flexCol noPadding" style="width: 100%;height: 32%;
                            background-image: linear-gradient(to right, #fdf9f4 0%, #ebf6f8 100%);">
                                    <div class="flexColCenter" style="width: 100%;height: 100%;background-color: rgba(255, 255, 255, 0.2)">
                                        <div class="flexRow flexColCenter flexJustAround " style="width: 100%;margin-left: 5%">
                                            <div class="lineButton flexCol" @click="manageItem(2)">
                                                <p style="margin-block-end: 0">manage</p>
                                                <div class="hoverLine"></div>
                                            </div>
                                            <div class="btn btn-info btn-round btn-noShadow" style="" @click="creatItem(2)">create new <span><i
                                                    class="fa fa-arrow-right"></i></span></div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div class="contentCard flexCol flexColCenter">
                                <div class="content_h68 flexRow noPadding">
                                    <div class="content_w68 flexCol flexJustAround">
                                        <div class="flexAlignCenter ">
                                            <h4>Logical Model</h4>
                                            <div class="numTag bluePlain" style="margin-left: 5px">
                                                <p class="noMargin" style="">{{countInfo.logicalModel}}</p>
                                            </div>
                                        </div>
                                        <p>You can manage Logical Models provided by yourself or create a new one</p>
                                    </div>
                                    <div class="flexCenter content_w32" style="">
                                        <img class="square_80" style="" src="../../static/img/model/logical.png">
                                    </div>
                                </div>
                                <!--                            <div class="innerBorderGrey89"></div>-->
                                <div class="content_h32 flexCol noPadding" style="width: 100%;height: 32%;
                            background-image: linear-gradient(to right, #fdf9f4 0%, #ebf6f8 100%);">
                                    <div class="flexColCenter" style="width: 100%;height: 100%;background-color: rgba(255, 255, 255, 0.2)">
                                        <div class="flexRow flexColCenter flexJustAround " style="width: 100%;margin-left: 5%">
                                            <div class="lineButton flexCol" @click="manageItem(3)">
                                                <p style="margin-block-end: 0">manage</p>
                                                <div class="hoverLine"></div>
                                            </div>
                                            <div class="btn btn-info btn-round btn-noShadow" style="" @click="creatItem(3)">create new <span><i
                                                    class="fa fa-arrow-right"></i></span></div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div class="contentCard flexCol flexColCenter">
                                <div class="content_h68 flexRow noPadding">
                                    <div class="content_w68 flexCol flexJustAround">
                                        <div class="flexAlignCenter ">
                                            <h4>Computable Model</h4>
                                            <div class="numTag bluePlain" style="margin-left: 5px">
                                                <p class="noMargin" style="">{{countInfo.computableModel}}</p>
                                            </div>
                                        </div>
                                        <p>You can manage Computable Models provided by yourself or create a new one</p>
                                    </div>
                                    <div class="flexCenter content_w32" style="">
                                        <img class="square_80" style="" src="../../static/img/model/calcModel.png">
                                    </div>
                                </div>
                                <!--                            <div class="innerBorderGrey89"></div>-->
                                <div class="content_h32 flexCol noPadding" style="width: 100%;height: 32%;
                            background-image: linear-gradient(to right, #fdf9f4 0%, #ebf6f8 100%);">
                                    <div class="flexColCenter" style="width: 100%;height: 100%;background-color: rgba(255, 255, 255, 0.2)">
                                        <div class="flexRow flexColCenter flexJustAround " style="width: 100%;margin-left: 5%">
                                            <div class="lineButton flexCol" @click="manageItem(4)">
                                                <p style="margin-block-end: 0">manage</p>
                                                <div class="hoverLine"></div>
                                            </div>
                                            <div class="btn btn-info btn-round btn-noShadow" style="" @click="creatItem(4)">create new <span><i
                                                    class="fa fa-arrow-right"></i></span></div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </section>
                    </div>


                </div>
            </div>
        </template>

        </div>


    </div>
</div>
</body>
<script src="/static/js/common/jquery-3.3.1.js"></script>
<script src="/static/js/common/jquery.rotate.min.js"></script>
<script src="/static/js/common/bootstrap.min.js"></script>
<script src="/static/js/common/mdb.min.js"></script>
<script src="/static/js/common/piexif.min.js"></script>
<script src="/static/js/common/fileinput.js"></script>
<script src="/static/js/common/bootstrap-treeview.js"></script>

<script type="text/javascript" src="/static/js/tinymce/tinymce.min.js"></script>


<!--<script src="/static/js/common/echarts.min.js"></script>-->
<!--<script src="/static/js/common/world.js"></script>-->
<script src="/static/js/common/axios.min.js"></script>
<script src="/static/js/common/vue.min.js"></script>

<!--<script src="http://code.jquery.com/jquery-latest.min.js"></script>-->
<script type="text/javascript" src="/static/js/common/jquery-steps.js"></script>
<script src="/static/element-ui/index.js"></script>
<!--<script src="https://unpkg.com/element-ui/lib/index.js"></script>-->

<script type="text/javascript" src="/static/js/common/jquery.tag-editor.js"></script>
<script src="/static/js/common/bootstrap-tagsinput.js"></script>
<script src="/static/element-ui/umd/locale/en.js"></script> <script src="/static/element-ui/umd/locale/zh-CN.js"></script>
<!--<script src="/static/js/page/user_space.js"></script>-->
<!--<script src="/static/js/page/userSpace1.js"></script>-->
<script th:replace="fragments/newSideBar :: headSideBar"></script>
<script th:replace="fragments/newSideBar :: sideBarComponent"></script>
<script src="/static/js/page/userModel.js"></script>
</html>