<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>userTheme</title>



    <link rel="stylesheet" href="/static/lib/element-ui/theme-chalk/index.css">
    <!--<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">-->

    <link rel="stylesheet" href="/static/css/font-awesome/fonts/fontawesome-webfont.woff">
    <link rel="stylesheet" href="/static/css/font-awesome/fonts/fontawesome-webfont.ttf">
    <link rel="stylesheet" href="/static/css/base/bootstrap.min.css">

    <link rel="stylesheet" href="/static/css/base/fileinput.min.css">
    <link rel="stylesheet" href="/static/css/base/fileinput-rtl.min.css">

    <link rel="stylesheet" href="/static/css/base/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/fabric/fabric.min.css"/>
    <link rel="stylesheet" href="/static/css/base/mdb/mdb.lite.min.css">
    <link rel="stylesheet" href="/static/css/base/fluent/fluent.css">
    <link rel="stylesheet" href="/static/css/base/universal.css">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="../../assets/css/basic.css" /> -->
    <link rel="stylesheet" href="/static/css/base/bootstrap-tagsinput.css">
    <link rel="stylesheet" href="/static/css/page/user_space.css">
    <link rel="stylesheet" href="/static/css/module/newSideBar.css">

    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/other/jquery-steps.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/other/jquery.tag-editor.css"/>

    <style>

    </style>
</head>

<body class="ms-Fabric">
<div id="app">
    <div id="loading" v-if="load">
        <div class="loading-center">
            <div class="loading-center-absolute">
                <div class="object"></div>
            </div>
        </div>
    </div>

    <div class="page-container" style="height: 2000px;" v-cloak>
<!--        <head-side-bar :user-infoin-parent="userInfo"></head-side-bar>-->
        <template id="userTheme" th:fragment="userTheme">
            <div class="innerShadowCol">
                <div  class="page-content clearfix scrollbar el-col-lg-21 el-col-md-20 pageContent acrylicBack"
                          style="margin-left: 240px;padding-bottom: 100px"
                          :style="{'height':ScreenMinHeight,'min-height':ScreenMinHeight,'max-height':ScreenMaxHeight}"
                          id="pageContent">
                        <!--            <div class="titleContainer"><h4>My Space</h4></div>-->
                        <div class="flexColContainer mainContent" style="padding:20px 10px;max-width: 1120px">
                            <section role="description" class="flexCol flexCenter contentSection">
                                <h3>{{htmlJson.Theme}}</h3>
                                <h5>{{htmlJson.ThemeInfo}}</h5>

                            </section>
                            <section class="flexJustBetween flexColCenter contentSection"
                                     style="max-width: 1050px">
                                <div class="flexRowContainer flexColCenter">
                                    <div class="flexRow flexColCenter" style="margin-top: 12px;margin-left: 10px;">

                                        <div class="searchContainer flexRow flexColCenter">
                                            <input class="noBorderInput" :placeholder="htmlJson.SearchFor"
                                                   v-model="searchText" @keyup.enter="searchItems(1)">
                                        </div>
                                        <i class="fa fa-search" style="font-size: 18px;" @click="searchItems(1)"></i>
                                    </div>
                                </div>
                            <!--                        <h5>You can manager your model and data here</h5>-->
                            <div class="btn btn-info btn-round btn-noShadow" style="margin-top: 20px"
                                 @click="creatItem(1)">
                                {{htmlJson.CreateNew}} <span><i class="fa fa-arrow-right"></i></span>
                            </div>
                        </section>
                        <section class="flexRowContainer flexWrap listSection" style="max-width: 1050px">
                            <div v-if="await" class="progress-cover progress-cover-primary" style="margin-top: 100px;">
                                <div class="progress progress-medium fluent-position">
                                    <span class="progress-span"></span>
                                    <span class="progress-span"></span>
                                    <span class="progress-span"></span>
                                    <span class="progress-span"></span>
                                    <span class="progress-span"></span>
                                </div>
                            </div>
                            <div v-for="(theme,index) in searchResult" :key="index"
                                 class="contentCard_w100 flexCol flexColCenter">
                                <div class="content_h32 flexRow noPadding">
                                    <div class="content_w68 flexJustStart">
                                        <div class="flexColCenter w100">
                                            <a class="w100" :href="'/repository/theme/'+theme.id"
                                               @click="setSession('themeInfo_id',theme.model_oid)">
                                                <h4 class="itemTitle">{{theme.themename}}</h4></a>
                                        </div>

                                    </div>
                                    <div class="content_w32 flexJustAround flexColCenter buttonZone">
                                        <el-tooltip popper-class="fontsize-15" effect="light" :content="theme.status" placement="left">
                                            <i v-if="theme.status=='Public'" class="el-icon-unlock public fontsize-20 pull-right"></i>
                                            <i v-if="theme.status=='Discoverable'" class="el-icon-unlock discoverable fontsize-20 pull-right"></i>
                                            <i v-if="theme.status=='Private'" class="el-icon-lock private fontsize-20 pull-right"></i>
                                        </el-tooltip>
                                        <div class="lineButton flexJustStart flexColCenter" @click="editItem(1,theme.id)">
                                            <i class="fa fa-edit" style="margin-right: 5px"></i>
                                            <div class="lineButton flexCol">
                                                <p style="margin-block-end: 0">Edit</p>
                                                <div class="hoverLine"></div>
                                            </div>
                                        </div>
                                        <div class="btn btn-danger btn-round btn-noShadow waves-effect waves-light flexCenter"
                                             @click="deleteItem(theme.id)">
                                            <i class="fa fa-trash-o"></i>
                                            <p>Delete</p>

                                        </div>

                                    </div>
                                </div>
                                <!--                            <div class="innerBorderGrey89"></div>-->
                                <div class="content_h68 flexCol noPadding" style="width: 100%;
                            background-image: linear-gradient(to right, #fdf9f4 0%, #ebf6f8 100%);">
                                    <div class="flexRow"
                                         style="width: 100%;height: 100%;background-color: rgba(255, 255, 255, 0.2)">
                                        <div class="flexRow " style="width: 100%;">
                                            <div class="content_w100" style="padding-top: 20px">
                                                <div class="flexJustStart flexAlignStrench overviewContainer" style="">
                                                    <div>
                                                        <b style="margin-right: 25px;">Overview:</b>
                                                    </div>
                                                    <div>
                                                        <p class="threeLine" style="">{{theme.description}}</p>
                                                    </div>
                                                </div>
                                                <p><b style="margin-right: 3px">Create Time:</b> {{formatDate(theme.createTime)}}</p>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>

                            <h4 style="margin:80px auto;color: #666666" v-if="searchResult.length==0&&!await ">{{htmlJson.NoFound}}</h4>

                            <nav v-if="searchResult.length!=0&&!await" class="flexCenter" style="width: 100%;position: relative"  aria-label="Page navigation example">
                                <div class="flexCenter totalContainer">
                                    <p class="noMargin">Total Num: </p>
                                    <h5 style="margin: 0 0 1px 0">{{totalNum}}</h5>
                                </div>
                                <ul class="pagination pagination-circle pg-blue wzhPageControl flexJustAround">
                                    <li class="page-item" :class="curPage!=1?'':'disabled'" @click="changePage(1)"><a
                                            class="page-link"
                                            style="border-radius: 10%;background-color: inherit">First</a></li>
                                    <li class="page-item " :class="curPage!=1?'':'disabled'"
                                        @click="changePage(curPage-1)">
                                        <a class="page-link" aria-label="Previous">
                                            <span aria-hidden="true" style="font-weight: 700;">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                    <li class="page-item " :class="curPage==page?'active':''" v-for="page in pageList">
                                        <a class="page-link btn-round"
                                           @click="changePage(page)">{{page}}</a></li>
                                    <li class="page-item" :class="curPage!=totalPage?'':'disable'"
                                        @click="changePage(curPage+1)">
                                        <a class="page-link" aria-label="Next">
                                            <span aria-hidden="true" style="font-weight: 700;">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                    <li class="page-item" :class="curPage!=totalPage?'':'disabled'"
                                        @click="changePage(totalPage)">
                                        <a class="page-link">Last</a></li>

                                </ul>


                            </nav>
                        </section>
                    </div>


                </div>
            </div>
        </template>
            <!--        </div>-->


        </div>
    </div>
</div>
</body>
<script src="/static/js/common/jquery-3.3.1.js"></script>
<script src="/static/js/common/jquery.rotate.min.js"></script>
<script src="/static/js/common/bootstrap.min.js"></script>
<script src="/static/js/common/mdb.min.js"></script>
<script src="/static/js/common/piexif.min.js"></script>
<script src="/static/js/common/fileinput.js"></script>
<script src="/static/js/common/bootstrap-treeview.js"></script>

<script type="text/javascript" src="/static/js/tinymce/tinymce.min.js"></script>


<!--<script src="/static/js/common/echarts.min.js"></script>-->
<!--<script src="/static/js/common/world.js"></script>-->
<script src="/static/js/common/axios.min.js"></script>
<script src="/static/js/common/vue.min.js"></script>
<script src="/static/js/common/vue-router.js"></script>
<script src="/static/js/common/axios.min.js"></script>
<!--<script src="http://code.jquery.com/jquery-latest.min.js"></script>-->
<script type="text/javascript" src="/static/js/common/jquery-steps.js"></script>
<script src="/static/element-ui/index.js"></script>
<!--<script src="https://unpkg.com/element-ui/lib/index.js"></script>-->

<script type="text/javascript" src="/static/js/common/jquery.tag-editor.js"></script>
<script src="/static/js/common/bootstrap-tagsinput.js"></script>
<script src="/static/element-ui/umd/locale/en.js"></script> <script src="/static/element-ui/umd/locale/zh-CN.js"></script>
<!--<script th:replace="fragments/newSideBar :: headSideBar"></script>-->
<!--<script th:replace="fragments/newSideBar :: sideBarComponent"></script>-->
<!--<script src="/static/js/page/userSpace1.js"></script>-->

<!--<script src="/static/js/page/userTheme.js"></script>-->
</html>