<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<template id="userSpaceHome" th:fragment="userSpaceHome">
    <div>
        <div class="innerShadowCol">
            <div class="page-content clearfix scrollbar el-col-lg-21 el-col-md-20 pageContent acrylicBack" style="margin-left: 240px;"
                 :style="{'height':ScreenMinHeight,'min-height':ScreenMinHeight,'max-height':ScreenMaxHeight}"
                 id="pageContent">
                <!--            <div class="titleContainer"><h4>My Space</h4></div>-->
                <div class="flexColContainer mainContent" style="">
                    <section role="description" class="flexCol flexCenter contentSection">
                        <h3>My Space</h3>
                        <h5>You can manage your model and data here</h5>
                    </section>
                    <section class="flexRowContainer flexWrap contentSection">
                        <div class="contentCard flexRowContainer flexColCenter">
                            <div class="content_w68 flexCol" style="align-items: flex-start;padding-left: 25px">
                                <div class="flexJustStart" style="height: 51px">
                                    <img class="imgInTitle" src="/static/img/model/model.png">
                                    <h4 style="font-size: 22px">Model</h4>
                                </div>

                                <p style="font-size: 16px">You can manage model provided by yourself</p>
                                <div class="flexCol flexCenter " style="">
<!--                                    <div class="lineButton flexCol" @click="manageItem(1)">-->
<!--                                        <p style="margin-block-end: 0">Manage My Model</p>-->
<!--                                        <div class="hoverLine"></div>-->
<!--                                    </div>-->
                                </div>
                            </div>
                            <div class="innerBorderCol"></div>
                            <div class="content_w32">
<!--                                <img src="/static/img/model/model.png">-->
                                <h4 style="margin-top: 15px;">Manage</h4>
                                <h4>my</h4>
                                <h4>model</h4>
                                <button class="circleMiddle flexCenter" style="margin: 14px 0 0 0px;font-size: 17px" @click="manageItem(1)">
                                    <i class="fa fa-arrow-right" style="margin-bottom: 1px"></i>
                                </button>
                            </div>
                        </div>
                        <div class="contentCard flexRowContainer flexColCenter">
                            <div class="content_w68 flexCol" style="align-items: flex-start;padding-left: 25px">
                                <div class="flexJustStart" style="height: 51px">
                                    <i class="fa fa-database imgInTitle" style="font-size: 22px;color: #05c4ff"></i>
                                    <h4 style="font-size: 22px">Data</h4>
                                </div>
                                <p style="font-size: 16px">You can manage data provided by yourself</p>
<!--                                <div class="flexCol flexCenter " style="">-->
<!--                                    <div class="lineButton flexCol" @click="manageItem(2)">-->
<!--                                        <p style="margin-block-end: 0">Manage My Data</p>-->
<!--                                        <div class="hoverLine"></div>-->
<!--                                    </div>-->
<!--                                </div>-->
                            </div>
                            <div class="innerBorderCol"></div>
                            <div class="content_w32">
                                <h4 style="margin-top: 15px;">Manage</h4>
                                <h4>my</h4>
                                <h4>data</h4>
                                <button class="circleMiddle flexCenter" style="margin: 14px 0 0 0px;font-size: 17px" @click="manageItem(2)">
                                    <i class="fa fa-arrow-right" style="margin-bottom: 1px"></i>
                                </button>
                            </div>
                        </div>
                        <div class="contentCard flexRowContainer flexColCenter">
                            <div class="content_w68 flexCol" style="align-items: flex-start;padding-left: 25px">
                                <div class="flexJustStart" style="height: 51px">
                                    <i class="el-icon-s-tools imgInTitle" style="font-size: 22px;color: #05c4ff;"></i>
                                    <h4 style="font-size: 22px">Task</h4>
                                </div>
                                <p style="font-size: 16px">You can manage task provided by yourself</p>
<!--                                <div class="flexCol flexCenter " style="">-->
<!--                                    <div class="lineButton flexCol" @click="manageItem(3)">-->
<!--                                        <p style="margin-block-end: 0">View my task</p>-->
<!--                                        <div class="hoverLine"></div>-->
<!--                                    </div>-->
<!--                                </div>-->
                            </div>
                            <div class="innerBorderCol"></div>
                            <div class="content_w32">
                                <h4 style="margin-top: 15px;">Manage</h4>
                                <h4>my</h4>
                                <h4>task</h4>
                                <button class="circleMiddle flexCenter" style="margin: 14px 0 0 0px;font-size: 17px" @click="manageItem(3)">
                                    <i class="fa fa-arrow-right" style="margin-bottom: 1px"></i>
                                </button>
                            </div>
                        </div>
                        <div class="contentCard flexRowContainer flexColCenter">
                            <div class="content_w68 flexCol " style="align-items: flex-start;padding-left: 25px">
                                <div class="flexJustStart" >
                                    <i data-icon-name="HomeGroup" aria-hidden="true" class="ms-Icon root-43"
                                       style="font-size: 22px;font-weight: 600; color: #05c4ff;margin: 9px 6.5px 12px -1px;"></i>
                                    <h4 style="font-size: 22px">Community</h4>
                                </div>

                                <p style="font-size: 16px">You can manage community provided by yourself</p>
<!--                                <div class="flexCol flexCenter " style="">-->
<!--                                    <div class="lineButton flexCol " @click="manageItem(4)">-->
<!--                                        <p style="margin-block-end: 0">Manage My Community</p>-->
<!--                                        <div class="hoverLine"></div>-->
<!--                                    </div>-->
<!--                                </div>-->
                            </div>
                            <div class="innerBorderCol"></div>
                            <div class="content_w32">
                                <h4 style="margin-top: 15px;">Manage</h4>
                                <h4>my</h4>
                                <h4>community</h4>
                                <button class="circleMiddle flexCenter" style="margin: 14px 0 0 0px;font-size: 17px" @click="manageItem(4)">
                                    <i class="fa fa-arrow-right" style="margin-bottom: 1px"></i>
                                </button>
                            </div>
                        </div>

<!--           quicktools-->
                        <div class="flexRowContainer flexColCenter flexJustAround" style="width: 100%;margin-top:  18px;padding: 0 10px">
                            <div class="innerBorder" style="flex: 1;"></div>
                            <h4 class="flexColCenter" style="margin: 0 5px"><i class="ms-Icon ms-Icon--Toolbox" style="margin-top: 2px;font-weight: 600"></i>&nbspQuick Tools</h4>
                            <div class="innerBorder" style="flex: 1;"></div>
                        </div>
                        <div class="contentCard_w100 flexRowContainer flexCenter" style="margin-top: 12px;height: 110px">
                            <div class="square_80 flexCol flexColCenter cursorPointer quickToolsCard" @click="intergrateModel()">
                                <img width="45px"  src="../../static/img/model/invoke.png">
                                <h5 style="text-align: center;margin-top: 5px">Integrated Modeling</h5>
                            </div>
                            <div class="square_80 flexCol flexColCenter cursorPointer quickToolsCard" @click="window.location.href='../modelItem/application'">
                                <i class="ms-Icon ms-Icon--WebAppBuilderFragment" style="font-size: 37px;color: #05c4ff;height: 49px;margin-top: -3px;"></i>
                                <div class="flexAlignCenter" style="height: 30px">
                                    <h5 style="text-align: center;margin-top: 5px">Model Application</h5>
                                </div>
                            </div>
                            <div class="square_80 flexCol flexColCenter cursorPointer quickToolsCard" @click="openTheme()">
                                <i class="el-icon-s-order" style="font-size: 42px;color: #05c4ff;margin-bottom: 4px;"></i>
                                <div class="flexAlignCenter" style="height: 30px">
                                    <h5 style="text-align: center;margin-top: 5px">Theme</h5>
                                </div>
                            </div>
                        </div>
<!--                        <div>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>-->
                    </section>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modelTable" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title w-100" id="myModalLabel">Quick tools - Invoke</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" >
                        <div style="max-width: 660px;margin: auto">
                            <el-table
                                    :data="tableData"
                                    style="width: 100%">
                                <el-table-column
                                        prop="date"
                                        label="Model"
                                        width="280">
                                </el-table-column>
                                <el-table-column
                                        prop="name"
                                        label="Contributor"
                                        width="200">
                                </el-table-column>
                                <el-table-column
                                        prop="address"
                                        label="">
                                </el-table-column>
                            </el-table>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

</body>
</html>