<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>Version</title>
  <link rel="stylesheet" href="/static/lib/element-ui/theme-chalk/index.css">
  <link rel="stylesheet" href="/static/css/page/message_confirm.css">
  <link rel="stylesheet" href="/static/css/base/navbar.css">
  <link rel="stylesheet" href="/static/css/base/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/base/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" media="screen" href="/static/iCheck/skins/flat/green.css"/>
  <link rel="stylesheet" href="/static/css/base/universal.css">

</head>
<body>

<div id="app">
  <head-side-bar :user-infoin-parent="userInfo"></head-side-bar>

<template id="userVersion" th:fragment="userVersion">
  <div>
    <div class="innerShadowCol">
      <div class="page-content clearfix scrollbar el-col-lg-21 el-col-md-20 pageContent"
           style="margin-left: 240px;overflow-x: hidden"
           :style="{'height':ScreenMinHeight,'min-height':ScreenMinHeight,'max-height':ScreenMaxHeight}">

        <div style="margin-top: 70px; display: flex; justify-content: space-around;">
          <h2>{{htmlJson.Version}}</h2>
        </div>

        <div style="display: flex;justify-content: center;">
          <div class="contentCard flexCol flexColCenter" style="height: 700px;max-width: 1200px">
            <div style="display: flex; justify-content: space-around;flex-direction: column; align-items: center;width: 95%;">
              <br/>
              <div style="width: 100%;">
                <el-tabs type="border-card"  stretch @tab-click="handleParentTabChange">
                  <el-tab-pane  :label="htmlJson.MySubmission">
                    <el-tabs type="border-card" v-model="activeName"   stretch  >
                      <el-tab-pane name="0" :label="htmlJson.UncheckedVersion">
<!--                        self unchecked version-->
                        <div style="width: 100%;">
                          <el-table
                                  :data="versionTableData"
                                  stripe
                                  height="400"
                                  style="width: 100%"
                                  :default-sort = "{prop: 'date', order: 'descending'}">
                            <el-table-column
                                    prop="date"
                                    label="Date"
                                    width="160"
                                    sortable>
                              <template slot="header" slot-scope="scope">
                                <span>{{htmlJson.Date}}</span>
                              </template>
                              <template slot-scope="scope">
                                <h5>{{ scope.row.submitTime }}</h5>
                              </template>
                            </el-table-column>
                            <el-table-column
                                    prop="name"
                                    min-width="200"
                                    show-overflow-tooltip>
                              <template slot="header" slot-scope="scope">
                                <span>{{htmlJson.ItemName}}</span>
                              </template>
                              <template slot-scope="scope">
                                <h5>{{ scope.row.itemName }}</h5>
                              </template>
                            </el-table-column>
                            <el-table-column
                                    prop="type"
                                    min-width="120"
                                    show-overflow-tooltip>
                              <template slot="header" slot-scope="scope">
                                <span>{{htmlJson.Type}}</span>
                              </template>
                              <template slot-scope="scope">
                                <h5>{{ scope.row.type }}</h5>
                              </template>
                            </el-table-column>
                            <el-table-column
                                    prop="name"
                                    min-width="180"
                                    show-overflow-tooltip>
                              <template slot="header" slot-scope="scope">
                                <span>{{htmlJson.Editor}}</span>
                              </template>
                              <template slot-scope="scope">
                                <h5>{{ scope.row.editor }}</h5>
                              </template>
                            </el-table-column>
                            <el-table-column min-width="250">
                              <template slot="header" slot-scope="scope">
                                <span>{{htmlJson.Conduct}}</span>
                              </template>
                              <template slot-scope="scope">
                                <el-button
                                        type="primary"
                                        size="mini"
                                        @click="viewVersionById(scope.row.type,scope.row.id)">{{htmlJson.View}}</el-button>
                                <!--<el-button-->
                                <!--        type="success"-->
                                <!--        size="mini"-->
                                <!--        @click="acceptVersionById(scope.row.id)">{{htmlJson.Accept}}</el-button>-->
                                <!--<el-button-->
                                <!--        type="warning"-->
                                <!--        size="mini"-->
                                <!--        @click="rejectVersionById(scope.row.id)">{{htmlJson.Reject}}</el-button>-->
                              </template>
                            </el-table-column>
                          </el-table>
                          <el-divider></el-divider>
                        </div>
                        <el-divider></el-divider>
                        <div style="display: flex; justify-content: space-around;">
                          <el-pagination
                                  background
                                  layout="total,prev, pager, next"
                                  @size-change="handleSizeChange"
                                  @current-change="handleCurrentChange"
                                  :current-page.sync="currentPage"
                                  :page-sizes="[10, 20, 30, 40]"
                                  :page-size="pageSize"
                                  :total="totalCount">
                          </el-pagination>
                        </div>

                      </el-tab-pane>
                      <el-tab-pane name="1" :label="htmlJson.AcceptedVersion" >
<!--                        self accept version-->
                        <div style="width: 100%;">
                          <el-table
                                  :data="versionTableData"
                                  stripe
                                  height="400"
                                  style="width: 100%"
                                  :default-sort = "{prop: 'date', order: 'descending'}">
                            <el-table-column
                                    prop="date"
                                    width="160"
                                    sortable>
                              <template slot="header" slot-scope="scope">
                                <span>{{htmlJson.Date}}</span>
                              </template>
                              <template slot-scope="scope">
                                <h5>{{ scope.row.submitTime }}</h5>
                              </template>
                            </el-table-column>
                            <el-table-column
                                    prop="name"
                                    min-width="200"
                                    show-overflow-tooltip>
                              <template slot="header" slot-scope="scope">
                                <span>{{htmlJson.ItemName}}</span>
                              </template>
                              <template slot-scope="scope">
                                <h5>{{ scope.row.itemName }}</h5>
                              </template>
                            </el-table-column>
                            <el-table-column
                                    prop="name"
                                    min-width="120"
                                    show-overflow-tooltip>
                              <template slot="header" slot-scope="scope">
                                <span>{{htmlJson.Type}}</span>
                              </template>
                              <template slot-scope="scope">
                                <h5>{{ scope.row.type }}</h5>
                              </template>
                            </el-table-column>
                            <el-table-column
                                    prop="name"
                                    min-width="180"
                                    show-overflow-tooltip>
                              <template slot="header" slot-scope="scope">
                                <span>{{htmlJson.Editor}}</span>
                              </template>
                              <template slot-scope="scope">
                                <h5>{{ scope.row.editor }}</h5>
                              </template>
                            </el-table-column>
                            <el-table-column min-width="250">
                              <template slot="header" slot-scope="scope">
                                <span>{{htmlJson.Conduct}}</span>
                              </template>
                              <template slot-scope="scope">
                                <el-button
                                        type="primary"
                                        size="mini"
                                        @click="viewVersionById(scope.row.type,scope.row.id)">{{htmlJson.View}}</el-button>
                              </template>
                            </el-table-column>
                          </el-table>
                          <el-divider></el-divider>
                        </div>
                        <el-divider></el-divider>
                        <div style="display: flex; justify-content: space-around;">
                          <el-pagination
                                  background
                                  layout="total,prev, pager, next"
                                  @size-change="handleSizeChange"
                                  @current-change="handleCurrentChange"
                                  :current-page.sync="currentPage"
                                  :page-sizes="[10, 20, 30, 40]"
                                  :page-size="pageSize"
                                  :total="totalCount">
                          </el-pagination>
                        </div>

                      </el-tab-pane>
                      <el-tab-pane name="2" :label="htmlJson.RejectedVersion" >
<!--                        self rejected version-->
                        <div style="width: 100%;">
                          <el-table
                                  :data="versionTableData"
                                  stripe
                                  height="400"
                                  style="width: 100%"
                                  :default-sort = "{prop: 'date', order: 'descending'}">
                            <el-table-column
                                    prop="date"
                                    width="160"
                                    sortable>
                              <template slot="header" slot-scope="scope">
                                <span>{{htmlJson.Date}}</span>
                              </template>
                              <template slot-scope="scope">
                                <h5>{{ scope.row.submitTime }}</h5>
                              </template>
                            </el-table-column>
                            <el-table-column
                                    prop="name"
                                    min-width="200"
                                    show-overflow-tooltip>
                              <template slot="header" slot-scope="scope">
                                <span>{{htmlJson.ItemName}}</span>
                              </template>
                              <template slot-scope="scope">
                                <h5>{{ scope.row.itemName }}</h5>
                              </template>
                            </el-table-column>
                            <el-table-column
                                    prop="name"
                                    min-width="120"
                                    show-overflow-tooltip>
                              <template slot="header" slot-scope="scope">
                                <span>{{htmlJson.Type}}</span>
                              </template>
                              <template slot-scope="scope">
                                <h5>{{ scope.row.type }}</h5>
                              </template>
                            </el-table-column>
                            <el-table-column
                                    prop="name"
                                    min-width="180"
                                    show-overflow-tooltip>
                              <template slot="header" slot-scope="scope">
                                <span>{{htmlJson.Editor}}</span>
                              </template>
                              <template slot-scope="scope">
                                <h5>{{ scope.row.editor }}</h5>
                              </template>
                            </el-table-column>
                            <el-table-column min-width="250">
                              <template slot="header" slot-scope="scope">
                                <span>{{htmlJson.Editor}}</span>
                              </template>
                              <template slot-scope="scope">
                                <el-button
                                        type="primary"
                                        size="mini"
                                        @click="viewVersionById(scope.row.type,scope.row.id)">{{htmlJson.View}}</el-button>
                              </template>
                            </el-table-column>
                          </el-table>
                          <el-divider></el-divider>
                        </div>
                        <el-divider></el-divider>
                        <div style="display: flex; justify-content: space-around;">
                          <el-pagination
                                  background
                                  layout="total,prev, pager, next"
                                  @size-change="handleSizeChange"
                                  @current-change="handleCurrentChange"
                                  :current-page.sync="currentPage"
                                  :page-sizes="[10, 20, 30, 40]"
                                  :page-size="pageSize"
                                  :total="totalCount">
                          </el-pagination>
                        </div>

                      </el-tab-pane>
                    </el-tabs>

                  </el-tab-pane>
                  <el-tab-pane :label="htmlJson.OthersReview" >
                    <el-tabs v-model="activeName"  type="border-card" stretch >
                      <el-tab-pane name="3" :label="htmlJson.UncheckedVersion">
<!--                        other unchecked version-->
                        <div style="width: 100%;">
                          <el-table
                                  :data="versionTableData"
                                  stripe
                                  height="400"
                                  style="width: 100%"
                                  :default-sort = "{prop: 'date', order: 'descending'}">
                            <el-table-column
                                    prop="date"
                                    width="160"
                                    sortable>
                              <template slot="header" slot-scope="scope">
                                <span>{{htmlJson.Date}}</span>
                              </template>
                              <template slot-scope="scope">
                                <h5>{{ scope.row.submitTime }}</h5>
                              </template>
                            </el-table-column>
                            <el-table-column
                                    prop="name"
                                    min-width="200"
                                    show-overflow-tooltip>
                              <template slot="header" slot-scope="scope">
                                <span>{{htmlJson.ItemName}}</span>
                              </template>
                              <template slot-scope="scope">
                                <h5>{{ scope.row.itemName }}</h5>
                              </template>
                            </el-table-column>
                            <el-table-column
                                    prop="name"
                                    min-width="120"
                                    show-overflow-tooltip>
                              <template slot="header" slot-scope="scope">
                                <span>{{htmlJson.Type}}</span>
                              </template>
                              <template slot-scope="scope">
                                <h5>{{ scope.row.type }}</h5>
                              </template>
                            </el-table-column>
                            <el-table-column
                                    prop="name"
                                    min-width="180"
                                    show-overflow-tooltip>
                              <template slot="header" slot-scope="scope">
                                <span>{{htmlJson.Editor}}</span>
                              </template>
                              <template slot-scope="scope">
                                <h5>{{ scope.row.editor }}</h5>
                              </template>
                            </el-table-column>
                            <el-table-column label="Conduct" min-width="250">
                              <template slot="header" slot-scope="scope">
                                <span>{{htmlJson.Conduct}}</span>
                              </template>
                              <template slot-scope="scope">
                                <el-button
                                        type="primary"
                                        size="mini"
                                        @click="viewVersionById(scope.row.type,scope.row.id)">{{htmlJson.View}}</el-button>
                                <el-button
                                        type="success"
                                        size="mini"
                                        @click="acceptVersionById(scope.row.id)">{{htmlJson.Accept}}</el-button>
                                <el-button
                                        type="warning"
                                        size="mini"
                                        @click="rejectVersionById(scope.row.id)">{{htmlJson.Reject}}</el-button>
                              </template>
                            </el-table-column>
                          </el-table>
                          <el-divider></el-divider>
                        </div>
                        <el-divider></el-divider>
                        <div style="display: flex; justify-content: space-around;">
                          <el-pagination
                                  background
                                  layout="total,prev, pager, next"
                                  @size-change="handleSizeChange"
                                  @current-change="handleCurrentChange"
                                  :current-page.sync="currentPage"
                                  :page-sizes="[10, 20, 30, 40]"
                                  :page-size="pageSize"
                                  :total="totalCount">
                          </el-pagination>
                        </div>

                      </el-tab-pane>
                      <el-tab-pane name="4" :label="htmlJson.AcceptedVersion">
<!--                        other Accepted version-->
                        <div style="width: 100%;">
                          <el-table
                                  :data="versionTableData"
                                  stripe
                                  height="400"
                                  style="width: 100%"
                                  :default-sort = "{prop: 'date', order: 'descending'}">
                            <el-table-column
                                    prop="date"
                                    width="160"
                                    sortable>
                              <template slot="header" slot-scope="scope">
                                <span>{{htmlJson.Date}}</span>
                              </template>
                              <template slot-scope="scope">
                                <h5>{{ scope.row.submitTime }}</h5>
                              </template>
                            </el-table-column>
                            <el-table-column
                                    prop="name"
                                    min-width="200"
                                    show-overflow-tooltip>
                              <template slot="header" slot-scope="scope">
                                <span>{{htmlJson.ItemName}}</span>
                              </template>
                              <template slot-scope="scope">
                                <h5>{{ scope.row.itemName }}</h5>
                              </template>
                            </el-table-column>
                            <el-table-column
                                    prop="name"
                                    min-width="120"
                                    show-overflow-tooltip>
                              <template slot="header" slot-scope="scope">
                                <span>{{htmlJson.Type}}</span>
                              </template>
                              <template slot-scope="scope">
                                <h5>{{ scope.row.type }}</h5>
                              </template>
                            </el-table-column>
                            <el-table-column
                                    prop="name"
                                    min-width="180"
                                    show-overflow-tooltip>
                              <template slot="header" slot-scope="scope">
                                <span>{{htmlJson.Editor}}</span>
                              </template>
                              <template slot-scope="scope">
                                <h5>{{ scope.row.editor }}</h5>
                              </template>
                            </el-table-column>
                            <el-table-column  min-width="250">
                              <template slot="header" slot-scope="scope">
                                <span>{{htmlJson.Conduct}}</span>
                              </template>
                              <template slot-scope="scope">
                                <el-button
                                        type="primary"
                                        size="mini"
                                        @click="viewVersionById(scope.row.type,scope.row.id)">{{htmlJson.View}}</el-button>
                              </template>
                            </el-table-column>
                          </el-table>
                          <el-divider></el-divider>
                        </div>
                        <el-divider></el-divider>
                        <div style="display: flex; justify-content: space-around;">
                          <el-pagination
                                  background
                                  layout="total,prev, pager, next"
                                  @size-change="handleSizeChange"
                                  @current-change="handleCurrentChange"
                                  :current-page.sync="currentPage"
                                  :page-sizes="[10, 20, 30, 40]"
                                  :page-size="pageSize"
                                  :total="totalCount">
                          </el-pagination>
                        </div>

                      </el-tab-pane>
                      <el-tab-pane name="5" :label="htmlJson.RejectedVersion">
<!--                        other Rejected version-->
                        <div style="width: 100%;">
                          <el-table
                                  :data="versionTableData"
                                  stripe
                                  height="400"
                                  style="width: 100%"
                                  :default-sort = "{prop: 'date', order: 'descending'}">
                            <el-table-column
                                    prop="date"
                                    width="160"
                                    sortable>
                              <template slot="header" slot-scope="scope">
                                <span>{{htmlJson.Date}}</span>
                              </template>
                              <template slot-scope="scope">
                                <h5>{{ scope.row.submitTime }}</h5>
                              </template>
                            </el-table-column>
                            <el-table-column
                                    prop="name"
                                    min-width="200"
                                    show-overflow-tooltip>
                              <template slot="header" slot-scope="scope">
                                <span>{{htmlJson.ItemName}}</span>
                              </template>
                              <template slot-scope="scope">
                                <h5>{{ scope.row.itemName }}</h5>
                              </template>
                            </el-table-column>
                            <el-table-column
                                    prop="name"
                                    min-width="120"
                                    show-overflow-tooltip>
                              <template slot="header" slot-scope="scope">
                                <span>{{htmlJson.Type}}</span>
                              </template>
                              <template slot-scope="scope">
                                <h5>{{ scope.row.type }}</h5>
                              </template>
                            </el-table-column>
                            <el-table-column
                                    prop="name"
                                    min-width="180"
                                    show-overflow-tooltip>
                              <template slot="header" slot-scope="scope">
                                <span>{{htmlJson.Editor}}</span>
                              </template>
                              <template slot-scope="scope">
                                <h5>{{ scope.row.editor }}</h5>
                              </template>
                            </el-table-column>
                            <el-table-column min-width="250">
                              <template slot="header" slot-scope="scope">
                                <span>{{htmlJson.Conduct}}</span>
                              </template>
                              <template slot-scope="scope">
                                <el-button
                                        type="primary"
                                        size="mini"
                                        @click="viewVersionById(scope.row.type,scope.row.id)">{{htmlJson.View}}</el-button>
                              </template>
                            </el-table-column>
                          </el-table>
                          <el-divider></el-divider>
                        </div>
                        <el-divider></el-divider>
                        <div style="display: flex; justify-content: space-around;">
                          <el-pagination
                                  background
                                  layout="total,prev, pager, next"
                                  @size-change="handleSizeChange"
                                  @current-change="handleCurrentChange"
                                  :current-page.sync="currentPage"
                                  :page-sizes="[10, 20, 30, 40]"
                                  :page-size="pageSize"
                                  :total="totalCount">
                          </el-pagination>
                        </div>

                      </el-tab-pane>
                    </el-tabs>

                  </el-tab-pane>

                </el-tabs>



              </div>


            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


</template>


</div>

</body>
<script src="/static/js/common/jquery-3.3.1.min.js"></script>
<script src="/static/js/common/vue.min.js"></script>
<script src="/static/js/common/vue-avatar.min.js"></script>
<script src="/static/element-ui/index.js"></script>
<script src="/static/element-ui/umd/locale/en.js"></script> <script src="/static/element-ui/umd/locale/zh-CN.js"></script>
<script src="/static/js/page/userVersion.js"></script>

<script src="https://cdn.jsdelivr.net/npm/jutils-src"></script>
</html>