<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>websocket example</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <!--引入websocket-->
    <script src="/static/lib/sockjs-client/1.1.2/sockjs.min.js"></script>
    <script src="/static/lib/stomp-websocket/2.3.3/stomp.min.js"></script>
</head>
<body>

<h1>Websocket Example</h1>
<h1>F12看打印的日志</h1>

<script>
    let topNav = new Vue({
        el: '#topNav',
        data: function(){
            return {
                stompClient:null,
            }
        },

        mounted(){
            this.connect();
        },


        methods: {
            connect() {
                let socket = new SockJS('/websocket');
                // 创建一个stomp实例发起连接请求
                this.stompClient = Stomp.over(socket);
                this.stompClient.connect({}, frame => {
                    // 订阅的地址比服务端配置的地址多了"/user"前缀，
                    // 是因为SimpMessagingTemplate类中自动添加了路径前缀
                    this.stompClient.subscribe('/user/subscribe/receiveNotice', res => {
                        console.log("msg:", JSON.parse(res.body));
                        // let msg = JSON.parse(res.body)
                        // this.$notify.info({
                        //     title: '消息',
                        //     message: msg
                        // });
                    });
                });
            }
        }
    })
</script>

</body>
</html>