<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8">
    <title>editClassification</title>
</head>
<body>
<template id="editClassificationModule" th:fragment="editClassificationModule">
    <div>
        <div class="form-horizontal">
            <div class="form-group">
                <label for="parentNode"
                       class="col-sm-2 control-label"><span class="xing">* </span>Classifications</label>
                <div class="col-sm-10">
                                                                            <textarea class="form-control"
                                                                                      id="parentNode"
                                                                                      v-model="clsStr"
                                                                                      readonly></textarea>
                </div>
            </div>
        </div>
        <!--        <el-card style="width:50%;float:left;">-->
        <!--            <div slot="header" class="clearfix text-center">-->
        <!--                <span style="font-size: 20px;color:#444">Model Classifications 1</span>-->
        <!--            </div>-->
        <!--            <el-tree style="height: 260px;overflow: auto"-->
        <!--                     class="wzhScrollbar"-->
        <!--                     id="tree2"-->
        <!--                     ref="tree2"-->
        <!--                     :data="treeData"-->
        <!--                     show-checkbox-->
        <!--                     node-key="id"-->
        <!--                     :default-expanded-keys="[1,64]"-->

        <!--                     @check-change="handleCheckChange"-->
        <!--                     :props="defaultProps">-->
        <!--            </el-tree>-->
        <!--        </el-card>-->
        <el-card style="width:100%;">
            <div slot="header" class="clearfix text-center">
                <span style="font-size: 20px;color:#444">Model Classifications</span>
            </div>
            <el-tree style="height: 260px;overflow: auto"
                     class="wzhScrollbar"
                     id="tree"
                     ref="tree"
                     :data="treeData"
                     show-checkbox
                     node-key="id"
                     :default-expanded-keys="defaultExpand"

                     @check-change="handleCheckChange"
                     :props="defaultProps">
            </el-tree>
        </el-card>
    </div>
</template>
</body>
</html>