<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<template id="linkRelatedItemModule" th:fragment="linkRelatedItemModule">
    <div>
        <div style="padding: 8px 16px;
                        background-color: #ecf8ff;
                        border-radius: 4px;
                        border-left: 5px solid #50bfff;
                        margin: 0 0 10px;">
            <p style="font-size: 14px;color: #5e6d82;line-height: 1.5em;margin:0;">{{htmlJson.LinkRelatedFromRepositoryOrCreate}}.&nbsp;&nbsp;&nbsp;&nbsp;<a style="cursor:pointer;text-decoration: underline" @click="jump">{{htmlJson.CreateNew}}</span></a>></p>
        </div>

        <div class="flexAlignStart flexJustCenter">
            <el-card shadow="never" class="box-card" style="width:40%;margin-right: 1%;float: left;">
                <div slot="header" class="clearfix">
                    <span>{{htmlJson.RelatedItems}}</span>

                </div>
                <el-table
                        :data="tableData_model"
                        ref="leftTable"
                        :max-height="tableMaxHeight">
                    <!--<el-table-column type="expand">-->
                    <!--<template slot-scope="props">-->
                    <!--<el-form label-position="left" inline class="demo-table-expand">-->
                    <!--<el-form-item label="Contributor">-->
                    <!--<span>{{ props.row.author }}</span>-->
                    <!--</el-form-item>-->

                    <!--</el-form>-->
                    <!--</template>-->
                    <!--</el-table-column>-->

                    <el-table-column Label="Relation" v-if="relateItemType=='modelItem'">
                        <template slot-scope="props">
                            <el-tooltip popper-class="fontsize-15" effect="light"
                                        :content="itemInfo.name +' '+  props.row.relation.toLowerCase() + ' ' + props.row.name"
                                        placement="top">
                                <el-select v-model="props.row.relation" value-key="props.row.relation" placeholder="Select">
                                    <el-option-group
                                            v-for="group in options"
                                            :key="group.label"
                                            :label="group.label">
                                        <el-option
                                                v-for="item in group.options"
                                                :key="item.value"
                                                :label="item.value"
                                                :value="item.value">
                                        </el-option>
                                    </el-option-group>
                                </el-select>

                            </el-tooltip>
                        </template>


                    </el-table-column>

                    <el-table-column
                            label="Name">
                        <template slot-scope="props">
                            <a :href="'/'+relateItemType+'/'+props.row.oid" target="_blank">{{props.row.name}}</a>
                        </template>
                    </el-table-column>

                    <el-table-column fixed="right" label=" " width="60">
                        <template slot-scope="scope">
                            <!--<el-button-->
                            <!--v-if="relateItemType=='concept'||relateItemType=='spatialReference'||relateItemType=='template'||relateItemType=='unit'"-->
                            <!--size="mini"-->
                            <!--type="danger"-->
                            <!--@click="handleDelete(scope.$index, scope.row)">Remove-->
                            <!--</el-button>-->
                            <!--<el-button-->
                            <!--v-else-->
                            <!--:disabled="scope.row.author_uid!=userUid&&scope.row.author!=userUid&&scope.row.userName!=userUid"-->
                            <!--size="mini"-->
                            <!--type="danger"-->
                            <!--@click="handleDelete(scope.$index, scope.row)">Remove-->
                            <!--</el-button>-->

                            <el-button

                                    size="mini"
                                    type="danger"
                                    icon="el-icon-close" circle
                                    @click="handleDelete(scope.$index, scope.row)">
                            </el-button>


                        </template>
                    </el-table-column>
                </el-table>
            </el-card>

            <el-tabs type="border-card" :stretch="true" v-model="activeName_dialog" style="width:59%;float: left;">
                <el-tab-pane name="my" :label="htmlJson.MyRepository">

                    <el-input :placeholder="htmlJson.noNameTip" v-model="pageOption_my.relateSearch" class="input-with-select"
                              clearable="true" @keyup.enter.native="searchInit()">
                        <el-button slot="append" icon="el-icon-search" @click="searchInit()"></el-button>
                    </el-input>
                    <el-table
                            :data="pageOption_my.searchResult"
                            style="margin-top:17px;"
                            show-overflow-tooltip
                            :max-height="tableMaxHeight">
                        <el-table-column type="expand">
                            <template slot-scope="props">
                                <el-form label-position="left" inline class="demo-table-expand">
                                    <el-form-item label="Overview">
                                        <span>{{ props.row.description }}</span>
                                    </el-form-item>

                                </el-form>
                            </template>
                        </el-table-column>
                        <el-table-column sortable='custom'
                                         label="Name">
                            <template slot-scope="props">
                                <a :href="'/repository/'+relateItemType+'/'+props.row.oid"
                                   target="_blank">{{props.row.name}}</a>
                            </template>
                        </el-table-column>
                        <!--<el-table-column-->
                        <!--label="Contributor"-->
                        <!--prop="author">-->
                        <!--</el-table-column>-->
                        <el-table-column fixed="right" label=" " width="60">
                            <template slot-scope="scope">
                                <el-button
                                        v-if="!isCurrentItem(scope.row)&&!hasAdded(scope.row)"
                                        size="mini"
                                        type="success"
                                        icon="el-icon-plus" circle
                                        @click="handleEdit(scope.$index, scope.row)">
                                </el-button>
                                <el-button
                                        v-if="hasAdded(scope.row)"
                                        size="mini"
                                        type="danger"
                                        icon="el-icon-close" circle
                                        @click="handleDelete(scope.$index, scope.row)">
                                </el-button>

                            </template>
                        </el-table-column>
                    </el-table>
                    <el-pagination style="text-align: center;margin-top:20px"
                                   @current-change="handlePageChange"
                                   :pager-count="6"
                                   :current-page="pageOption_my.currentPage"
                                   layout="total, prev, pager, next, jumper"
                                   :page-size="pageOption_my.pageSize"
                                   :total="pageOption_my.total">
                    </el-pagination>
                </el-tab-pane>
                <el-tab-pane name="all" :label="htmlJson.AllRepository">

                    <el-input placeholder="Please enter name..." v-model="pageOption_all.relateSearch" class="input-with-select"
                              clearable="true" @keyup.enter.native="searchInit('all')">
                        <el-button slot="append" icon="el-icon-search" @click="searchInit('all')"></el-button>
                    </el-input>
                    <el-table
                            :data="pageOption_all.searchResult"
                            style="margin-top:17px;"

                            show-overflow-tooltip
                            @sort-change="relationSortChange"
                            :max-height="tableMaxHeight">
                        <el-table-column type="expand">
                            <template slot-scope="props">
                                <el-form label-position="left" inline class="demo-table-expand">
                                    <el-form-item label="Overview">
                                        <span>{{ props.row.description }}</span>
                                    </el-form-item>

                                </el-form>
                            </template>
                        </el-table-column>
                        <el-table-column sortable='custom'
                                         label="Name">
                            <template slot-scope="props">
                                <a :href="'/repository/'+relateItemType+'/'+props.row.oid"
                                   target="_blank">{{props.row.name}}</a>
                            </template>
                        </el-table-column>
                        <!--<el-table-column-->
                        <!--label="Contributor"-->
                        <!--prop="author">-->
                        <!--</el-table-column>-->
                        <el-table-column fixed="right" label=" " width="60">
                            <template slot-scope="scope">
                                <el-button
                                        v-if="!isCurrentItem(scope.row)&&!hasAdded(scope.row)"
                                        size="mini"
                                        type="success"
                                        icon="el-icon-plus" circle
                                        @click="handleEdit(scope.$index, scope.row)">
                                </el-button>
                                <el-button
                                        v-if="hasAdded(scope.row)"
                                        size="mini"
                                        type="danger"
                                        icon="el-icon-close" circle
                                        @click="handleDelete(scope.$index, scope.row)">
                                </el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    <el-pagination style="text-align: center;margin-top:20px"
                                   @current-change="handlePageChange"
                                   :pager-count="6"
                                   :current-page="pageOption_all.currentPage"
                                   layout="total, prev, pager, next, jumper"
                                   :page-size="pageOption_all.pageSize"
                                   :total="pageOption_all.total">
                    </el-pagination>
                </el-tab-pane>
            </el-tabs>

        </div>

        <div v-if="ownConfirmButton" class="flexAlignCenter flexJustEnd" style="margin-top: 10px">
            <!--<span style="float:left;font-size: 16px">Or you can click <a style="cursor:pointer" @click="jump">here</a> to create a new one.</span>-->
                <el-button v-if="inDialog" @click="closeFatherDialog">{{htmlJson.Cancel}}</el-button>
                <el-button type="primary" @click="confirm()">{{htmlJson.OK}}</el-button>

        </div>
    </div>
</template>
</body>
</html>