<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>User Data</title>



  <link rel="stylesheet" href="/static/lib/element-ui/theme-chalk/index.css">
  <!--<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">-->

  <link rel="stylesheet" href="/static/css/font-awesome/fonts/fontawesome-webfont.woff">
  <link rel="stylesheet" href="/static/css/font-awesome/fonts/fontawesome-webfont.ttf">
  <link rel="stylesheet" href="/static/css/base/bootstrap.min.css">

  <link rel="stylesheet" href="/static/css/base/fileinput.min.css">
  <link rel="stylesheet" href="/static/css/base/fileinput-rtl.min.css">
  <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/fabric/fabric.min.css"/>
  <link rel="stylesheet" href="/static//css/base/font-awesome/css/font-awesome.min.css">

  <link rel="stylesheet" href="/static/css/base/mdb/mdb.lite.min.css">
  <link rel="stylesheet" href="/static/css/base/fluent/fluent.css">
  <link rel="stylesheet" href="/static/css/base/universal.css">
  <!-- <link rel="stylesheet" type="text/css" media="screen" href="../../assets/css/basic.css" /> -->
  <link rel="stylesheet" href="/static/css/page/user_space.css">
  <link rel="stylesheet" href="/static/css/base/bootstrap-tagsinput.css">

  <link rel="stylesheet" href="/static/css/module/newSideBar.css">

  <link rel="stylesheet" type="text/css" media="screen" href="/static/css/other/jquery-steps.css"/>
  <link rel="stylesheet" type="text/css" media="screen" href="/static/css/other/jquery.tag-editor.css"/>

  <style>

  </style>
</head>

<body>
<div id="app">
  <template id="userDataSpaceModule" th:fragment="userDataSpaceModule">
    <div style="height: 100%;">

      <!--el-dialog放在这一层-->
      <section class="flexRowContainer flexWrap contentSection" style="max-width: 100%;height: 100%;min-height: 300px;">
            <div class="page-content-wrap" style="height: 100%;width: 100%;">

              <div class="col-md-12 col-sm-12 showHidden" :class="{showActive:dataChosenIndex==1}"
                   style="height: 100%">
                <div class="panel panel-success" style="border: none;height: 100%;overflow: hidden">
                  <div style="height: 100%">
                    <el-card class="filebrowserfunction" shadow="never">

                      <el-row id="" class="filebrowser flexAlignCenter" shadow="never">

                        <el-col :span="18" shadow="never">
                          <!--<el-button  id="selectalldata" icon="el-icon-check"  >sellect all</el-button>-->
                          <!--//todo upload-->
                          <button id="uploadButton" class="dwload btn btn-info btn-round"
                                  v-if="myFileShown.length==0||myFileShown[0].label!='All Folder'"
                                  @click="uploadClick(0)">
                            <i class="glyphicon glyphicon-upload"></i><span style="font-size: 15px">Upload</span>
                          </button>
                          <button class="dwload btn btn-info btn-round" @click="addFolderInPath">
                            <i class="glyphicon glyphicon-plus-sign"></i><span
                                  style="font-size: 15px">Add folder</span>
                          </button>
                          <!--                                                        <button class="dwload btn btn-info btn-round"-->
                          <!--                                                                v-if="downloadDataSet.length>0" @click="userDownload">-->
                          <!--                                                            <i class="glyphicon glyphicon-download"></i><span-->
                          <!--                                                                style="font-size: 15px">Download</span>-->
                          <!--                                                        </button>-->
                          <button class="dwload btn btn-primary btn-round" v-if="pasteTargetItem.id"
                                  @click="pasteFile">
                            <i style="font-size: 16px" class="fa fa-clipboard"></i><span
                                  style="font-size: 15px">Paste</span>
                          </button>
<!--                          <button class="dwload btn btn-secondary btn-round"-->
<!--                                  @click="allFileShareAsDataItem()">-->
<!--                            <i class="glyphicon glyphicon-share"></i><span style="font-size: 15px">Share as Data Item</span>-->
<!--                          </button>-->
                          <button class="dwload btn btn-danger btn-round" v-if="downloadDataSet.length>0&&deleteButton"
                                  @click="deleteAll()">
                            <i class="glyphicon glyphicon-share"></i><span style="font-size: 15px">Delete all</span>
                          </button>
<!--                          <button class="dwload btn btn-success btn-round" v-if="downloadDataSet.length==1"-->
<!--                                  @click="selectData()">-->
<!--                            <i class="glyphicon glyphicon-share"></i><span style="font-size: 15px">Select Data</span>-->
<!--                          </button>-->


                        </el-col>
                        <el-col :span="6" style="float: right">
                          <el-input id="searchinput"
                                    placeholder="file name..."
                                    v-model="searchContent"
                                    @keyup.enter.native="keywordsSearch()"
                          >
                            <el-button slot="append" icon="el-icon-search"
                                       @click="keywordsSearch()"></el-button>

                          </el-input>
                        </el-col>
                      </el-row>
                    </el-card>
                    <div class="infoBar" role="alert" id="outputDataChosen">
                      <div>
                        <span><i class="el-icon-document"></i>&nbsp&nbsp You have selected:</span>&nbsp;&nbsp;&nbsp;
                        <span v-if="downloadDataSetName.length==0">no data..</span>
                        <span v-for="item in downloadDataSetName">{{item.name}}<span
                                v-if="item.package==false">.{{item.suffix}}</span>, </span>
                      </div>
                      <div class="flexRowContainer">
                      </div>

                    </div>
                    <el-row style="height: calc(100% - 100px);">
                      <el-col :span="24" id="filePlate" class="fileTemplate" style="height: 100%">
                        <el-card class="fileContainer" style="height:100%;width:100%" id="browsercont1"
                                 v-loading="managerloading"
                                 :style="{display:fileSpaceIndex==1?'flex':'none'}">
                          <div style="width: 100%;height: 27px;margin-left: -5px;display: flex;justify-content: space-between;align-items: center">
                            <div class="showPathContainer">
                              <div class="squareButton" id="backFatherBtn" @click="backToFather">
                                <i class="fa fa-arrow-left" style="margin-right:2px "></i>
                              </div>
                              <div class="squareButton" id="refreshPackageBtn"
                                   @click="refreshPackage(1)">
                                <i class="fa fa-refresh" style="font-weight: 600;transition: .5s ease-out"></i>
                              </div>
                              <div class="showPathContainer" style="margin-left: 10px">
                                <div>path</div>
                                :
                                <div v-for="(path,index) in pathShown"
                                     v-if="searchContentShown==''"
                                     :style="{color:index==pathShown.length-1?'#222222':'#666666'}">
                                  /{{path.name}}
                                </div>
                                <div v-if="searchContentShown!=undefined&&searchContentShown!=''" style="font-style: italic">
                                  search results of '{{searchContentShown}}'
                                </div>
                              </div>
                            </div>

<!--                            <p style="font-style: italic;color: #999999;float: right;margin: 0">-->
<!--                              Left or right click can call out some function</p>-->
                          </div>
                          <h4 v-if="myFileShown.length==0" style="margin-top: 30px;text-align: center;color: #999999">
                            No content to show
                          </h4>
                          <div>

                          </div>
                          <div class="wzhScrollbar" style="height: calc(100% - 50px);">
                            <el-row  style="width: 100%" :gutter="10"
                                    v-if="myFileShown.length!=0">
                              <el-col :span="fileCard" v-for="(item,key) in myFileShown">
                                <div :title="showtitle(item)"
                                     class="el-card dataitemisol" shadow="never"
                                     :id="generateId(key)"
                                     :class="(   isSelected(downloadDataSet,item))?'clickdataitem':''"
                                     :key="key"

                                     @mouseover="addDataClass($event,item)"
                                     @mouseout="removeClass($event,item)"
                                >
                                  <el-row style="height: 80%"
                                          @dblclick.native="getPackageContent($event,item,key)">
                                    <el-col :span="5">&nbsp
                                      <div class="squareButtonMini flexCenter"
                                           style="margin: 4px;float: inherit;cursor: pointer"
                                           @click="singleClick($event,item)"
                                           v-if="item.folder==false">
                                        <i style="font-size: 16px;color:#1b7cde"
                                           :style="{display:(isSelected(downloadDataSet,item))?'block':'none'}"
                                           class="fa fa-check"></i>
                                      </div>
                                    </el-col>
                                    <el-col :span="15" style="height: 100%;">
                                      <img class="fileImg" :src="getImg(item)" align="middle"
                                           onerror=src="/static/img/filebrowser/unknow.svg"
                                           style="height: 100%;width:100%;object-fit: contain;cursor: pointer">
                                    </el-col>
                                    <el-col :span="4">&nbsp
                                      <div v-if="item.upload==true"
                                           style="margin-right: 5px;margin-top: 4px;float: right">
                                        <i class="fa fa-user-circle-o"
                                           style="font-size: 16px;color:#1b7cde"></i>
                                      </div>
                                    </el-col>
                                  </el-row>
                                  <el-row type="flex" justify="center" v-show="renameIndex!=item.id"
                                          v-if="item" class="fileName"
                                          @click.native="getPackageContent($event,item,key)"
                                          style="cursor: pointer">
                                    <p style="text-align: center;word-break: break-all;" v-if="item">
                                      {{item.name}}</p>
                                    <p v-if="item.suffix">.</p>
                                    <p v-if="item.suffix">{{item.suffix}}</p>
                                  </el-row>
                                  <el-row type="flex" justify="center" v-show="renameIndex==item.id"
                                          v-if="item" class="renameContainer">
                                    <input class="wzhMicroInput InputCenter renameFileInput">
                                    <p v-if="item.suffix">.{{item.suffix}}</p>
                                    <div class="squareButton23 flexCenter"
                                         style="position: absolute; right:calc(20% - 23px) ;background-color: #07b9ff;cursor: pointer"
                                         @click="renameConfirm">
                                      <i class="fa fa-check"
                                         style="margin-right:2px;color: whitesmoke "></i>
                                    </div>

                                  </el-row>
                                  <!--menu item -->
                                </div>
                              </el-col>
                            </el-row>

                          </div>
                          <el-row style="padding-top:10px;">
                            <el-progress :text-inside="true" :stroke-width="20" :percentage="capacityPercent" :format="processBarFormat" :color="customColors" style="width: calc(100% - 100px);display: inline-block;"></el-progress>
                            Max: {{toDecimal1(capacity/1073741824)}} GB
                          </el-row>
                        </el-card>

                      </el-col>
                    </el-row>
                    <el-card v-show="rightMenuShow" class="browsermenu" ref="browsermenu">
                      <el-button id="dbtn" @click="right_download()" v-if="!rightTargetItem.package"
                                 type="text">Download
                      </el-button>
                      <br v-if="!rightTargetItem.package">
                      <el-button id="dbtn" @click="copyFile()" v-if="!rightTargetItem.package"
                                 type="text">Copy
                      </el-button>
                      <br v-if="!rightTargetItem.package">
                      <!--                                    <el-button id="dbtn" @click="pasteFile()" v-if="!rightTargetItem.package" type="text">paste</el-button>-->
                      <!--                                    <br v-if="!rightTargetItem.package">-->
                      <el-button id="dbtn" @click="right_deleteFile()" type="text">Delete</el-button>
                      <br>
                      <el-button id="sbtn" @click="right_share" v-if="!rightTargetItem.package" type="text">Link</el-button>
                      <br v-if="!rightTargetItem.package">
                      <el-button id="sbtn" @click="rename" type="text"
                      >
                        Rename
                      </el-button>
                      <!--                                    <el-button id="sbtn" @click="relatedModels_dataManager()" type="text">relatedModels-->
                      <!--                                    </el-button>-->
                    </el-card>


                  </div>



                </div>
              </div>

            </div>
          </section>


<!--        <textarea id="detail" style="display: none"-->
<!--                  placeholder="Input detail about the data here."></textarea>-->
      <el-dialog
              modal-append-to-body append-to-body
              title="Upload Data"
              :visible.sync="uploadDialogVisible"
              width="32%"
              :before-close="uploadBeforeClose"
      >


        <!--<div class="file-loading">-->

        <!--<input id="file-1"   type="file" multiple class="file" data-overwrite-initial="false" data-min-file-count="1" data-theme="fas">-->
        <!--</div>-->


        <div class="uploaded" v-loading="uploadLoading">
          <div  class="headProgressContainer" v-show="progressFlag">
            <el-progress class="headProgress" type="circle" :percentage="uploadProgress"></el-progress>
          </div>
          <div class="form-group flexColContainer">
            <label style="margin-right:5px;font-size: 1.4rem">Name :</label>
            <el-input v-model="uploadName" placeholder="Dataset name"></el-input>
          </div>

          <div class="form-group flexColContainer">
            <label style="margin-right:5px;font-size: 1.4rem">Data template :</label>
            <el-select
                    v-model="selectValue"
                    filterable
                    remote
                    reserve-keyword
                    placeholder="Enter data template name to search"
                    :remote-method="remoteMethod"
                    :loading="selectLoading">
              <el-option
                      v-for="item in options"
                      :key="item.oid"
                      :label="item.name"
                      :value="item.oid">
              </el-option>
            </el-select>
          </div>

          <div class="form-group flexColContainer">
            <label style="margin-right:5px;font-size: 1.4rem">Storage path :</label>
            <div class="flexJustBetween">
              <div class="showPathContainer" style="margin-left: 10px;margin-bottom: 5px"
                   v-if="uploadInPath==0">
                <div v-for="(path,index) in selectedPath" @click="selectFolder"
                     style="text-decoration:underline;cursor: pointer"> /{{path.label}}
                </div>
              </div>
              <el-button type="primary" plain size="mini" @click="selectFolder"
                         v-if="uploadInPath==0">Change
              </el-button>
            </div>

            <div class="showPathContainer" style="margin-left: 10px;margin-bottom: 5px"
                 v-if="uploadInPath==1">
              <div v-for="(path,index) in pathShown"> /{{path.name}}</div>
            </div>
            <!--                                                    <el-button style="margin-left: calc(50% - 180px)" type="primary"-->
            <!--                                                               @click="selectPathClick">Select-->
            <!--                                                    </el-button>-->
          </div>
          <div class="form-group flexColContainer" style="margin-bottom: -15px">
            <label style="margin-right:5px;font-size: 1.4rem">Upload files :</label>
            <el-button size="mini" type="primary" plain @click="selectFile()" style="margin-top: 5px">Select File</el-button>
          </div>
          <el-upload
                  class="upload-demo wzhScrollbar customUpload"
                  multiple="true"
                  ref="upload"
                  :on-change="uploadChange"
                  :on-remove="uploadRemove"
                  :on-success="handleSuccess"
                  :file-list="uploadFileList"
                  :auto-upload="false" style="min-height: 35px;max-height: 99px;margin-top: 15px">
            <el-button id="uploadFile" style="display:none" slot="trigger" size="small"
                       type="primary">选取文件
            </el-button>

          </el-upload>

        </div>

        <span slot="footer" class="dialog-footer">
                                <el-button @click="uploadClose">
                                    Cancel
                                </el-button>

                                <el-button type="primary" @click="submitUpload">
                                    Confirm
                                </el-button>
                            </span>
      </el-dialog>

      <el-dialog append-to-body :visible.sync="addFolderIndex" title="Add New Folder" width="32%">
        <div class="showPathContainer">
          <div class="containerWithBorder">path</div>
          :
          <div v-for="(path,index) in pathShown"
               :style="{color:index==pathShown.length-1?'#222222':'#666666'}">
            /{{path.name}}
          </div>
          /..
        </div>
        <el-input placeholder="Please input the name of the new folder"
                  v-model="newFolderName"
                  style="width: calc(100% - 10px);margin:5px 5px 0"></el-input>
        <span slot="footer" class="dialog-footer">
                        <el-button @click="addFolderIndex = false">Cancel</el-button>
                        <el-button type="primary" style="margin-right: 5px"
                                   icon="el-icon-folder-add" @click="addFolder()">Confirm</el-button>
                                                </span>
      </el-dialog>

      <el-dialog append-to-body
              title="Select Folder"
              :visible.sync="selectFolderVisible"
              width="550px"
      >

        <div class=""
             style="min-height: 305px;padding: 10px 15px;font-size: 16px;font-family: sans-serif">
          <!--                                            <el-card style="min-height: 300px;width: 95%">-->
          <el-tree
                  :data="folderTree"
                  label="'name'"
                  ref="folderTree"
                  node-key="uid"
                  highlight-current
                  default-expand-all
                  :expand-on-click-node="false"
          >
            <span class="custom-tree-node" slot-scope="{ node, data }">
              <span>{{ data.name }}</span>
            </span>
          </el-tree>
          <!--                                            </el-card>-->
        </div>
        <div class="modal-footer">
                                               <span>
                                                   <el-button class="pull-left" type="primary" icon="el-icon-folder-add"
                                                              @click="addFolderinTree('myData')">Add new folder</el-button>
                                                   <el-button @click="closeSelectFolder">Cancel</el-button>
                                                   <el-button type="primary" @click="confirmFolder()">OK</el-button>
                                               </span>
        </div>
      </el-dialog>

      <el-dialog append-to-body id="allFileShareDialog" top="40px" width="80%" title="Sharing as Data Item"
                 :visible.sync="allFileTaskSharingVisible" center="true" :before-close="handleCloseandInit"
                 @close="closeAndClear">

        <el-steps style="margin-bottom: 15px;" align-center :active="taskSharingActive"
                  finish-status="success">
          <el-step class="taskSharingStep" title="Select Data"></el-step>
          <el-step class="taskSharingStep" title="Basic Info"></el-step>
          <el-step class="taskSharingStep" title="Detailed Description"></el-step>
          <el-step class="taskSharingStep" title="Authorship"></el-step>
        </el-steps>
        <h5 style="font-style: italic;color: #999999;margin-top: 0px">
          You have select &nbsp<span style="text-decoration: underline;font-style: normal;cursor: pointer"
                                     @click="checkSelectedFile()">{{multipleSelection.length+multipleSelectionMyData.length}} data</span>
          .</h5>
        </el-tree>
        <div class="containerWithDottedLine"
             style=" border-color: #289ec2;max-height: 500px;min-height:150px;">
          <ul class="ulTree dataItemShare" :style="{display:(taskSharingActive==0?'block':'none')}">
            <li style="cursor: pointer" @click="dataTreeClick(1)"><span
                    class="el-tree-node__expand-icon el-icon-caret-right treeLi"></span>
              <span style="font-size: 16px;margin-left: 5px">My Uploaded Data</span></li>
            <li class="flexLi">
              <el-card shadow="never" style="width: 99%;margin-left: 1%">
                <el-table
                        ref="multipleTableMyData"
                        :data="databrowser"
                        tooltip-effect="dark"
                        stripe
                        style="width: 100%"
                        @select="handleSelectionChangeMyData">
                  <el-table-column
                          type="selection"
                          width="55">
                  </el-table-column>
                  <el-table-column
                          label="Name"
                          prop="fileName"

                  >
                  </el-table-column>
                  <el-table-column
                          label="Type"
                          prop="suffix"
                  >
                  </el-table-column>
                  <el-table-column
                          label="Upload Time"
                          prop="createDate"
                  >
                  </el-table-column>
                </el-table>
              </el-card>
            </li>
            <li style="cursor: pointer" @click="dataTreeClick(2)"><span
                    class="el-tree-node__expand-icon el-icon-caret-right treeLi"></span>
              <span style="font-size: 16px;margin-left: 5px">Output Data</span></li>
            <ul class="flexLi" style="margin-left: 18px">
              <div class="filePackageList">
                <li v-for="(item,index) in userTaskFullInfo.tasks"
                    @click="dropPackageContent(item,index)">
                  <span class="el-tree-node__expand-icon el-icon-caret-right treeChildLi"></span>
                  <span style="font-size: 16px;margin-left: 8px">{{item.computableName}}@{{formatDate(item.runTime)}}</span>
                  <div class="packageContent">
                    <el-card shadow="never">
                      <el-table
                              ref="multipleTableDataSharing"
                              :data="taskDataList"
                              tooltip-effect="dark"

                              style="width: 100%"
                              @select="handleSelectionChange">
                        <el-table-column
                                type="selection"
                                width="55">
                        </el-table-column>
                        <el-table-column
                                prop="type"
                                label="Type"
                                width="120"
                                :filters="[{ text: 'Input', value: 'Input' }, { text: 'Output', value: 'Output' }]"
                                :filter-method="filterType"
                                filter-placement="bottom-start"
                                filter-multiple="false"
                                show-overflow-tooltip>
                          <template slot-scope="scope">
                            <el-tag
                                    :type="scope.row.type === 'Input' ? 'primary' : 'success'"
                                    disable-transitions>{{scope.row.type}}
                            </el-tag>
                          </template>
                        </el-table-column>
                        <el-table-column
                                label="Name"
                        >
                          <template slot-scope="scope">{{ scope.row.tag }}</template>
                        </el-table-column>
                        <el-table-column
                                prop="event"
                                label="Event"
                        >
                        </el-table-column>
                        <el-table-column
                                prop="statename"
                                label="State"
                                :filters="stateFilters"
                                :filter-method="filterState"
                                filter-placement="bottom-start"
                                show-overflow-tooltip>
                        </el-table-column>


                        <el-table-column
                                label="Download"
                                width="120">
                          <template slot-scope="scope">
                            <el-button
                                    size="mini"
                                    type="default"
                                    @click="downloadSingle(scope.row.url)">
                              Download
                            </el-button>
                          </template>
                        </el-table-column>
                      </el-table>
                    </el-card>
                  </div>
                </li>
              </div>
            </ul>
            <li style="cursor: pointer" @click="dataTreeClick(3)"><span
                    class="el-tree-node__expand-icon el-icon-caret-right treeLi"></span>
              <span style="font-size: 16px;margin-left: 5px">Fork Data</span></li>
            <li class="flexLi">
              <el-card shadow="never" style="width: 99%;margin-left: 1%">
                <el-table>

                </el-table>
              </el-card>

            </li>
          </ul>
          <el-card class="dataItemShare" :style="{display:(taskSharingActive==1?'block':'none')}"
                   shadow="never">
            <el-col :span="6" style="overflow-y: scroll;height: 550px;">
              <el-collapse>

                <el-collapse-item v-for="(item,index) in categoryTree"
                                  :title=item.key :name=index :key="index">

                  <el-button v-for="it in item.value" type="text"
                             @click="chooseTaskDataCate(it,$event)">{{it.category}}
                  </el-button>

                </el-collapse-item>
              </el-collapse>
            </el-col>
            <el-col :span="18" class="col-md-9 col-sm-8">
              <el-form label-position="right" label-width="90px" :model="taskDataForm">
                <el-form-item label="Categories" required>
                  <el-input v-model="taskDataForm.categoryText" type="textarea" rows="2"
                            :disabled="true"></el-input>
                </el-form-item>
                <el-form-item label="Name" required>
                  <el-input v-model="taskDataForm.name"></el-input>
                </el-form-item>
                <el-form-item label="Keywords" required>
                  <el-input v-model="taskDataForm.keywords"
                            id="taskDataKeywordsAll"></el-input>
                </el-form-item>
                <el-form-item label="Overview" required>
                  <el-input v-model="taskDataForm.description" type="textarea"
                            rows="5"></el-input>
                </el-form-item>
              </el-form>
            </el-col>
          </el-card>
          <el-card class="dataItemShare" :style="{display:(taskSharingActive==2?'block':'none')}"
                   shadow="never">
                                      <textarea id="taskDataDetailAll"
                                                placeholder="Input detail about the data here."></textarea>

          </el-card>
          <el-card class="dataItemShare" :style="{display:(taskSharingActive>=3?'block':'none')}"
                   shadow="never">
            <div class="panel" style="border:none">

              <div class="panel-body">
                <div class="col-md-10 col-md-offset-1">

                  <div class="panel-group " id="accordion2All">
                    <div id="providersPanelAll" class="panel">

                      <div id="provider_bodyAll"
                           class="panel-collapse collapse in"
                           style="height: auto;">
                        <div class="panel-body providers"
                             style="padding:0px">
                          <div class='panel panel-primary taskDataAuthorship'>
                            <div class='panel-heading info-head'>
                              <h4 class='panel-title'>
                                <a class='accordion-toggle collapsed'
                                   style="color:white"
                                   data-toggle='collapse'
                                   data-target='#user1'
                                   href="javascript:;">
                                  NEW
                                </a>
                              </h4>
                              <a href="javascript:;"
                                 class="fa fa-times author_close"
                                 style="float:right;margin-top:8px;color:white"></a>
                            </div>
                            <div id='user1All'
                                 class='panel-collapse collapse in'>
                              <div class='panel-body user-contents'>
                                <div class='user-attr'>
                                  <div>
                                    <lable class='control-label col-sm-2 text-center'
                                           style='font-weight: bold;'>
                                      Name:
                                    </lable>
                                    <div class='input-group col-sm-10'>
                                      <input type='text'
                                             name="name"
                                             class='form-control'>
                                    </div>
                                  </div>
                                  <div style="margin-top:10px">
                                    <lable class='control-label col-sm-2 text-center'
                                           style='font-weight: bold;'>
                                      Affiliation:
                                    </lable>
                                    <div class='input-group col-sm-10'>
                                      <input type='text'
                                             name="ins"
                                             class='form-control'>
                                    </div>
                                  </div>
                                  <div style="margin-top:10px">
                                    <lable class='control-label col-sm-2 text-center'
                                           style='font-weight: bold;'>
                                      Email:
                                    </lable>
                                    <div class='input-group col-sm-10'>
                                      <input type='text'
                                             name="email"
                                             class='form-control'>
                                    </div>
                                  </div>
                                  <div style="margin-top:10px">
                                    <lable class='control-label col-sm-2 text-center'
                                           style='font-weight: bold;'>
                                      Homepage:
                                    </lable>
                                    <div class='input-group col-sm-10'>
                                      <input type='text'
                                             name="homepage"
                                             class='form-control'>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <button type="button"
                                class="btn btn-success btn-lg btn-block user-add"
                                style="border-radius: 3px;border-top-left-radius: 0px;border-top-right-radius: 0px">
                          Add
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </el-card>
        </div>


        <div class="btn-list">
          <el-button type="primary" :style="{visibility:(taskSharingActive>0?'visible':'hidden')}"
                     style="min-width: 90px" @click="taskSharingPre()">
            previous
          </el-button>


          <el-button type="primary" v-if="taskSharingActive<3" style="min-width: 88px"
                     @click="taskSharingNext()">
            next
          </el-button>
          <el-button type="success" v-if="taskSharingActive>=3" style="min-width: 90px"
                     @click="taskSharingFinish()">
            conform
          </el-button>

        </div>

      </el-dialog>

      <el-dialog append-to-body title="Selected data" center="true">
        <el-card shadow="never" style="width: 99%;margin-left: 1%">
          <el-table
                  ref="multipleTable"
                  :data="multipleSelection"
                  tooltip-effect="dark"
                  stripe
                  style="width: 100%"
                  @selection-change="handleSelectionChange">
            <el-table-column
                    type="selection"
                    width="55">
            </el-table-column>
            <el-table-column
                    label="Name"
                    prop="fileName"

            >
            </el-table-column>
            <el-table-column
                    label="Upload Time"
                    prop="createDate"
            >
            </el-table-column>
          </el-table>
        </el-card>
      </el-dialog>


    </div>


  </template>
</div>
</body>
<script src="/static/js/common/jquery-3.3.1.js"></script>
<script src="/static/js/common/jquery.rotate.min.js"></script>
<script src="/static/js/common/bootstrap.min.js"></script>
<script src="/static/js/common/mdb.min.js"></script>
<script src="/static/js/common/piexif.min.js"></script>
<script src="/static/js/common/fileinput.js"></script>
<script src="/static/js/common/bootstrap-treeview.js"></script>

<script type="text/javascript" src="/static/js/tinymce/tinymce.min.js"></script>

<script src="/static/js/common/axios.min.js"></script>
<script src="/static/js/common/vue.min.js"></script>

<script type="text/javascript" src="/static/js/common/jquery-steps.js"></script>
<script src="/static/element-ui/index.js"></script>

<script type="text/javascript" src="/static/js/common/jquery.tag-editor.js"></script>
<script src="/static/js/common/bootstrap-tagsinput.js"></script>
<script src="/static/element-ui/umd/locale/en.js"></script>
<script src="/static/js/page/userDataSpace.js"></script>
<script src="/static/js/page/create-dataItem.js"></script>
</html>