h2{
    margin: 0;
}
h4{
    margin:0px;
    padding-right:10px;
    font-size: 20px;
}
p{
    font-family: 'Lato', sans-serif;
}

.detail_block{
    margin:8px 15px;
}
.block_head{
    background-image: url("../../img/paraTitle-line_c5e6d61.png");
    border-left: solid 10px #339fff;
}
.head_text{
    color:#525C8E;
    display: inline-block;
    background-color: white;
    padding-left: 10px;
}

.right-panel > .block_head{
    background-image: url("../../img/paraTitle-line_c5e6d61.png");
}
.right-panel > .head_text{
    color:#525C8E;
    display: inline-block;
    background-color: white;
}

.block_content{
    margin:20px 20px;
}

.detail{
    padding:15px;
}

.detail_option{
    float:right;
}
.detail_option a{
    margin-left: 20px;
}
.img{
    float:left;
}
.info{
    margin-left: 110px;
    display: block;
    padding-top:5px;
    min-height: 77px;
}
.info a{
    font-size:18px;
}

.user{
    margin: 20px 0px;
}

.detail_option a{
    color:#404040;
    font-size: 18px
}

.detail_overview{
    padding:20px;
}

.line{
    margin:20px 0px;
}

.el-carousel__item h3 {
    text-align: center;
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 200px;
    margin: 0;
}

.el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
}
/*full-text*/
.fullPaper {
    position: relative;
    padding-top: 100px;
    margin-top: -110px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(90%, #fff));
    background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0) 0%, #fff 90%);
    margin-bottom: 20px;
}
/*related models*/
.relatedModelsInfo{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
#tab-first,#tab-second,#tab-third{
    font-size: larger;
    font-weight: bolder
}
/*每一项related model 的card*/
.models_margin_style{
    margin-top: 10px;
    margin-bottom: 10px;
}

/* 挑到related模型*/
.selectedModels{
    border: orange 2px solid;
}

.transform180{
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.transform360{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.ab{
    transition: transform .3s;
    height: 20px;
    display: flex;
    align-items: center;
}

/*.filebrowserfunction{*/
    /*background: -webkit-linear-gradient(#ffffff, #e4e4e4); !* Safari 5.1 - 6.0 *!*/
    /*background: -o-linear-gradient(#ffffff, #e4e4e4); !* Opera 11.1 - 12.0 *!*/
    /*background: -moz-linear-gradient(#ffffff, #e4e4e4); !* Firefox 3.6 - 15 *!*/
    /*background: linear-gradient(#ffffff, #e4e4e4); !* 标准的语法（必须放在最后） *!*/
/*}*/
/*.dataitemisol{*/
    /*width: 18%;*/
    /*height: 120px ;*/
    /*margin-right:9px;*/
    /*margin-top:5px;*/
    /*float:left;*/
    /*border: none;*/

/*}*/
/*.dataitemisol:hover{*/
    /*cursor: pointer;*/
/*}*/
/*.clickdataitem{*/
    /*border: 2px solid #72d600eb;*/
    /*background-color: #acff9c3d;*/

/*}*/
/*.browsermenu{*/
    /*width: 120px;*/
    /*position: absolute;*/
    /*z-index: 99;*/

    /*display: none;*/

/*}*/
/*.browser{*/
    /*width: 120px;*/
    /*position: absolute;*/
    /*z-index: 99;*/

    /*display: none;*/
/*}*/
/*.filebrowserfunction{*/
    /*height: 80px;*/
/*}*/
/*.filebrowser .el-button{*/
    /*background-color:transparent;*/
/*}*/
/*.dall {*/
    /*margin-top:10px ;*/
    /*background: -webkit-linear-gradient(#ffffff, #e4e4e4); !* Safari 5.1 - 6.0 *!*/
    /*background: -o-linear-gradient(#ffffff, #e4e4e4); !* Opera 11.1 - 12.0 *!*/
    /*background: -moz-linear-gradient(#ffffff, #e4e4e4); !* Firefox 3.6 - 15 *!*/
    /*background: linear-gradient(#ffffff, #e4e4e4); !* 标准的语法（必须放在最后） *!*/
/*}*/


