.spinner {
    background: url(/static/img/input-spinner.gif) right no-repeat !important;
}

.itemSelector{
    overflow-x: hidden;
    position: absolute;
    height: 100%;
    z-index: 9;
}

.drawerHandler{
    height: 40px;
    width: 22px;
    border-radius:0 5px 5px 0;
    position: absolute;
    top:calc(50% - 40px);
    left: 100%;
    border: 1px #e6e6e6 solid;
    background-color: #f5f5f5;
    z-index: 9;
    color: #888888;
    cursor: pointer;
    transition: .2s;
}

.drawerHandler:hover{
    background-color: #ffffff;
}

#tree1 {
    max-height: 516px;
    overflow: auto;
}

.el-dialog__header {
    text-align: center;
}

.el-dialog__title {
    line-height: 24px;
    font-size: 22px;
}

.integratedContained {
    height: 780px;
    background: #f5f5f5;
    border-radius: 3px;
    box-shadow: 0 3.2px 7.2px 0 rgba(0, 0, 0, .132), 0 0.6px 1.8px 0 rgba(0, 0, 0, .108);
    overflow: hidden;
    margin-bottom: 5px;
    position: relative;
}

.sideTabs .el-tabs__content{
    height: calc(100% - 50px);
    padding: 5px;
}

.dataBusContainer{
    position: relative;
    margin: 5px 0;
    background-color: #ffffff;
    border: 1px solid hsl(0 0% 90% / 1);
}

.dataBusContainer::before{
    /*content:'';*/
    width: 100%;
    height: 100%;
    background-color: #91919159;
    position: absolute;
    z-index: 1;
}
.lightingDataItem{
    z-index: 2;
    transition: .2s;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 3.2px 7.2px 0px, rgba(0, 0, 0, 0.114) 0px 0.6px 2px 0px;
}
.dataFlowRoad{
    position: absolute;
    z-index: -1;
    transition: .2s;
}
.dataFlowLink{
    height: 0px;
    margin-bottom: 1px;
    border: #3f000085 dashed 1px;

}
.fullScreenMx{
    /*flex: 1 1 0%;*/
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 11;
}

.toolBar{
    width: 100%;
    background: #ffffff;
    border-bottom: 1px solid #c4c4c4;
    padding: 2px ;
}

.itemCard{
    width: 200px;
    height: 50px;
    margin: 15px 5px;
    cursor: pointer;
    background-color:#5bbbf2 ;
    border-radius: 8px;
    position: relative;
}

.startCell{
    cursor: pointer;
    width: 89px;
    height: 55px;
    border-radius: 50%;
    border:2px solid;
    background-color: #439efc;
    font-family: "Times New Roman";
    font-size: 16px;
}

.conditionCell{
    cursor: pointer;
    width: 54px;
    height: 54px;
    transform: rotateZ(45deg)skew(-15deg,-15deg);
    border:2px solid;
    background-color: #fff2cc;
    font-family: "Times New Roman";
    font-size: 16px;
}

.endCell{
    cursor: pointer;
    width: 89px;
    height: 54px;
    border-radius: 99px;
    border:2px solid;
    background-color: #ec3f3f;
    font-family: "Times New Roman";
    font-size: 16px;
}