hr{
    border-color: #d8d8d8;
    margin: 0px;
}
h4{
    margin:0px;
}

.el-card__header{
    padding:10px 20px;
    background-color: #eaeaea;
}

.el-card__body {
    padding: 15px 10px;
}

.el-tree{
    color:#48494a;
}

a:focus,a:active,a:hover,h3:hover{
    text-decoration:none;
    outline:0;
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    transition:all .3s
}

.fa-3x{
    font-size: 40px;
}

.main-title{
    padding-right: 10px;
    display: inline-block;
}
.sub-title{
    display: inline-block;
    color: #a9a9a9;
}

.criteriaPanel{
    padding:15px;
    padding-bottom:5px;
    background:#f5f5f5;
    border:1px solid #d2d2d2;
    height:auto;
    width:100%;
}
.criteriaPanel:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.connect{
    padding:6px 8px;
}

.searcherPanel{
    margin-top:30px;
}
.searcherPanel .searcherInputPanel {
    display: inline-flex;
    width: 100%;
}
.searcherPanel .searcherInputPanel input{
    font-size: 14px;
    line-height: 28px;
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding: 5px 10px;
    color: #999;
    border: 1px solid #2277da;
}

.searcherPanel .searcherInputPanel button{
    background: #008af1;
    border: none;
    height: 40px;
    color: #fff;
    text-align: center;
    width: 92px;
    font-size: 14px;
    cursor: pointer;
    vertical-align: middle;
}
.searcherPanel .searcherInputPanel button:hover,
.searcherPanel .searcherInputPanel button:active
{
    background: #0070cc;
}
.searcherPanel .fa-angle-double-down{
    padding:0px 5px;
    color: #1989FA;
}
.searcherPanel .fa-angle-double-down:hover{
    color: #0070cc;
}

.searcherInputPanel input{
    transition: .2s;
}

.searcherInputPanel input:focus{
    border-width: 2px;
}

.progressPanel .barControl{
    width: 30%;
    margin: 0 auto;
}
.progressPanel .barControl .barContro_space{
    border-radius: 5px;
}
.progressPanel .barControl .barContro_space .progress_line{
    height: 3px;
    width: 0%;
    border-radius: 2px;
    background: #008af1;
    display: block;
}
.progressPanel .barControl .barContro_space .progress_line.active{
    -webkit-animation:progressbar 0.75s;
    animation:progressbar 0.75s;
    animation-fill-mode:forwards;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes progressbar {
    from {
        width:0
    }
    to {
        width:80%
    }
}
/* Standard syntax */
@keyframes progressbar {
    from {
        width:0
    }
    to {
        width:80%
    }
}

.tools a,
.tools a:link,
.tools a:visited,
.tools a:active
{
    padding:10px;
    background:#e3e4e8 ;
    color:#858582;
    text-decoration:none;
    border-radius: 3px;
}
.tools a:hover{
    background:#65cea7;
    color:#fff;
}
.line{
    /*height:50px;*/
    overflow: visible;
    margin-bottom:5px;
}
.line:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.line #query{
    background: #008af1;
    border: none;
    height: 40px;
    color: #fff;
    text-align: center;
    width: 92px;
    font-size: 14px;
    cursor: pointer;
    vertical-align: middle;
}

.catlog .el-button{
    margin-top: -15px;
    float: left;
    margin-left: 15px;
}

.catlog .el-button--text{
    font-weight: bold;
    color: #409EFF;
}

.catlog .el-button--text:hover{
    color: black;
}


/*data items*/
.el-collapse-item__header {
    /*border-bottom-color: transparent;*/
    font-size:larger;
    /*font-weight:600;*/
    /*background: #fafaff;*/
    font-family: inherit;
    margin-left: 10px;
}
.el-collapse-item__header:active{
    margin-left: 10px;
}

.el-collapse-item .el-button{


    /*font-weight: 700;*/
    float: left;
    margin-left: 18px;
    font-style: oblique;
}

.el-collapse-item .el-button:hover{
    color: #7796ff;
}

.el-collapse-item .el-button--text {
    color: #2b305b;
}
.bootstrap-tagsinput{
    width: 100%;
}



.thematic_author{
    display: inline-table;
}







